In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Cargar bases

In [2]:
cols_usar = ['Equipo', 'tiempo', 'Minuto.video', 'Evento', 'Subevento',
       'Jugador.1', 'Jugador.2', 'coord.inicial',
       'coord.final', 'partido', 'segundos', 'remate-Gol', 'remate-Fuera',
       'remate-Al-arco', 'remate-Interceptado', 'remate-Cabeza',
       'pase-Asistencia', 'pase-Completado', 'pase-Incompleto',
       'pase-Inteligente', 'centro-Asistencia', 'centro-Completado',
       'centro-Interceptado', 'centro-Bloqueado', 'centro-Fuera',
       'duelo-Aereo-Perdido', 'duelo-Aereo-Ganado',
       'duelo-Disputa-suelo-Perdida', 'duelo-Disputa-suelo-Ganada',
       'duelo-Gambeta-contra-Ganada', 'duelo-Gambeta-contra-Perdida',
       'duelo-Gambeta-favor-Perdida', 'duelo-Gambeta-favor-Ganada',
       'duelo-Pivote-Perdido', 'duelo-Pivote-Ganado', 'falta-Cometida',
       'falta-Recibida', 'falta-Penal-cometido', 'falta-Penal-recibido',
       'falta-Offside', 'falta-Tarjeta-amarilla', 'falta-Tarjeta-roja',
       'recuperacion-Robo', 'recuperacion-Encontrada',
       'recuperacion-Intercepcion-suelo', 'recuperacion-Intercepcion-aereo',
       'recuperacion-Intercepcion-anticipo', 'recuperacion-Disputa-suelo',
       'parado-Lateral-interceptado', 'parado-Lateral-completado',
       'parado-Corner-interceptado', 'parado-Corner-completado',
       'parado-Tiro-libre-incompleto','parado-Tiro-libre-completado', 'perdida-Gambeta', 'perdida-Robo',
       'perdida-Intercepcion', 'perdida-Error-tecnico', 'perdida-Balon-fuera',
       'perdida-Error-tactico', 'perdida-Atajada', 'arquero-Gol-rival',
       'arquero-Atajada', 'arquero-Intercepcion-aerea', 'arquero-Intercepcion',
       'arquero-Anticipo', 'arquero-Saque-mano', 'arquero-Saque-pie',
       'arquero-Saque-meta']

In [3]:
x_max = 273
y_max = 165

# Temporada 02 - 2022

## Fecha 1 - Gimnasia

In [4]:
data211 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha1_gimnasia-tabla_filtros2.csv')
data211.head()

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/06/09,Gimnasia,GELP_FECHA1T,13:51:08,16:13:33,duelo,NaN,00:22:41,00:22:41,0.0,...,0,0,0,0,0,NaN,191.362583,NaN,3.890036,NaN
1,2022/06/09,Gimnasia,GELP_FECHA1T,13:51:08,16:13:33,perdida,NaN,00:22:42,00:22:42,0.0,...,0,0,0,0,0,NaN,211.670705,NaN,26.015066,NaN
2,2022/06/09,Gimnasia,GELP_FECHA1T,13:51:08,16:13:33,recuperacion,NaN,00:22:44,00:22:44,0.0,...,0,0,0,0,0,NaN,215.068522,NaN,38.557102,NaN
3,2022/06/09,Gimnasia,GELP_FECHA1T,13:51:08,16:13:33,duelo,NaN,00:22:54,00:22:54,0.0,...,0,0,0,0,0,NaN,146.483256,NaN,81.224530,NaN
4,2022/06/09,Gimnasia,GELP_FECHA1T,13:51:08,16:13:33,perdida,NaN,00:22:54,00:22:54,0.0,...,0,0,0,0,0,NaN,150.213901,NaN,80.508624,NaN

In [5]:
data212 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha1_gimnasia-tabla_filtros.csv')
data212 = data212[data212.Evento != 'perdida'].reset_index(drop=True)
data212.head()

,Session.Start.Date,tiempo,partido,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:22:36,00:22:36,0.0,...,0,0,0,0,0,11.0,94.970794,113.583386,67.036769,75.245988
1,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:22:39,00:22:39,0.0,...,0,0,0,0,0,13.0,119.651672,148.801403,67.776946,14.558089
2,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:22:50,00:22:50,0.0,...,0,0,0,0,0,17.0,178.909709,218.455376,95.020145,63.883298
3,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:22:59,00:22:59,0.0,...,0,0,0,0,0,16.0,196.466184,188.332083,91.660884,28.843762
4,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,remate pie,NaN,00:23:02,00:23:02,0.0,...,0,0,0,0,0,22.0,204.832888,243.249617,39.242926,76.292686

In [6]:
data21 = pd.concat([data211, data212])
#data21 = data211

In [7]:
data21['Equipo'] = 'Estudiantes'
data21['Minuto.video'] = 10
data21 = data21[cols_usar]

## Fecha 2 - Aldosivi

In [8]:
data221 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha2_aldosivi-tabla_filtros.csv')
data221.head()

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/06/13,Aldosivi,ALDOSIVI_FECHA2_ACCIONES,11:04:15,13:13:33,perdida,NaN,00:12:40,00:12:40,0.0,...,0,0,0,0,0,10.0,55.580669,120.032733,148.846974,35.158805
1,2022/06/13,Aldosivi,ALDOSIVI_FECHA2_ACCIONES,11:04:15,13:13:33,recuperacion,NaN,00:13:02,00:13:02,0.0,...,0,0,0,0,0,NaN,125.892854,NaN,30.326662,NaN
2,2022/06/13,Aldosivi,ALDOSIVI_FECHA2_ACCIONES,11:04:15,13:13:33,perdida,NaN,00:13:17,00:13:17,0.0,...,0,0,0,0,0,9.0,82.870794,70.996555,139.192474,136.522403
3,2022/06/13,Aldosivi,ALDOSIVI_FECHA2_ACCIONES,11:04:15,13:13:33,duelo,NaN,00:13:20,00:13:20,0.0,...,0,0,0,0,0,NaN,5.818923,NaN,162.000000,NaN
4,2022/06/13,Aldosivi,ALDOSIVI_FECHA2_ACCIONES,11:04:15,13:13:33,recuperacion,NaN,00:13:21,00:13:21,0.0,...,0,0,0,0,0,NaN,35.862442,NaN,160.344938,NaN

In [9]:
data222 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha2_aldosivi-tabla_filtros2.csv')
data222 = data222[data222.Evento != 'perdida'].reset_index(drop=True)
data222.head()

,Session.Start.Date,tiempo,partido,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/07/03,pases aldosivi,Aldosivi,15:51:19,18:00:37,pase,NaN,00:12:32,00:12:32,0.0,...,0,0,0,1,0,5.0,17.339309,38.800396,62.666291,115.817193
1,2022/07/03,pases aldosivi,Aldosivi,15:51:19,18:00:37,pase,NaN,00:12:39,00:12:39,0.0,...,0,0,0,0,0,10.0,61.655288,109.724160,146.579062,16.536673
2,2022/07/03,pases aldosivi,Aldosivi,15:51:19,18:00:37,pase,NaN,00:13:14,00:13:14,0.0,...,0,0,0,0,0,8.0,104.853444,50.208196,38.381522,63.858211
3,2022/07/03,pases aldosivi,Aldosivi,15:51:19,18:00:37,pase,NaN,00:13:17,00:13:17,0.0,...,0,0,0,0,0,9.0,55.994321,65.971307,68.963612,148.997486
4,2022/07/03,pases aldosivi,Aldosivi,15:51:19,18:00:37,pase,NaN,00:13:45,00:13:45,0.0,...,0,0,0,0,0,24.0,208.598153,245.101276,127.126054,134.510335

In [10]:
data22 = pd.concat([data221, data222])
# data22 = data221

In [11]:
data22['Equipo'] = 'Estudiantes'
data22['Minuto.video'] = 10
data22 = data22[cols_usar]

## Fecha 3 - Sarmiento

In [12]:
data231 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha3_sarmiento-tabla_filtros.csv')
data231.head()

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/06/18,Sarmiento,SARMIENTO_ACCIONESFINAL,17:25:55,19:40:45,duelo,NaN,00:15:51,00:15:51,0.0,...,0,0,0,0,0,NaN,127.733912,NaN,8.209872,NaN
1,2022/06/18,Sarmiento,SARMIENTO_ACCIONESFINAL,17:25:55,19:40:45,recuperacion,NaN,00:15:52,00:15:52,0.0,...,0,0,0,0,0,NaN,128.498912,NaN,38.505594,NaN
2,2022/06/18,Sarmiento,SARMIENTO_ACCIONESFINAL,17:25:55,19:40:45,perdida,NaN,00:16:03,00:16:03,0.0,...,0,0,0,0,0,NaN,177.661607,NaN,63.848860,NaN
3,2022/06/18,Sarmiento,SARMIENTO_ACCIONESFINAL,17:25:55,19:40:45,recuperacion,NaN,00:16:22,00:16:22,0.0,...,0,0,0,0,0,NaN,21.283588,NaN,162.000000,NaN
4,2022/06/18,Sarmiento,SARMIENTO_ACCIONESFINAL,17:25:55,19:40:45,perdida,NaN,00:16:25,00:16:25,0.0,...,0,0,0,0,0,NaN,7.960795,NaN,155.977511,NaN

In [13]:
data232 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha3_sarmiento-tabla_filtros2.csv')
data232 = data232[data232.Evento != 'perdida'].reset_index(drop=True)
data232.head()

,Session.Start.Date,tiempo,partido,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/07/09,pases,Sarmiento,19:36:18,21:51:08,pase,NaN,00:15:56,00:15:56,0.0,...,0,0,0,0,0,8.0,92.116943,58.797670,24.353000,75.008183
1,2022/07/09,pases,Sarmiento,19:36:18,21:51:08,pase,NaN,00:15:59,00:15:59,0.0,...,0,0,0,0,0,17.0,71.432311,213.559132,74.642071,89.279873
2,2022/07/09,pases,Sarmiento,19:36:18,21:51:08,pase,NaN,00:16:45,00:16:45,0.0,...,0,0,0,0,0,9.0,32.296777,76.046567,134.875117,155.227110
3,2022/07/09,pases,Sarmiento,19:36:18,21:51:08,pase,NaN,00:16:47,00:16:47,0.0,...,0,0,0,0,0,8.0,45.218241,52.828475,156.223927,81.508607
4,2022/07/09,pases,Sarmiento,19:36:18,21:51:08,falta,NaN,00:16:50,00:16:50,0.0,...,0,0,0,0,0,NaN,46.435034,NaN,67.238016,NaN

In [14]:
data23 = pd.concat([data231, data232])
# data23 = data231

In [15]:
data23['Equipo'] = 'Estudiantes'
data23['Minuto.video'] = 10
data23 = data23[cols_usar]

## Fecha 4 - Independiente

In [16]:
data241 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha4_independiente-tabla_filtros.csv')
data241.head()

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/06/24,Independiente,INDEPTE_FECHA4_ACCIONES,09:44:36,11:56:36,pelota parada,NaN,00:15:41,00:15:41,0.0,...,0,0,0,0,0,9.0,4.763467,63.889392,155.938367,147.631671
1,2022/06/24,Independiente,INDEPTE_FECHA4_ACCIONES,09:44:36,11:56:36,perdida,NaN,00:15:41,00:15:41,0.0,...,0,0,0,0,0,9.0,39.713705,74.248164,162.000000,154.162803
2,2022/06/24,Independiente,INDEPTE_FECHA4_ACCIONES,09:44:36,11:56:36,recuperacion,NaN,00:16:07,00:16:07,0.0,...,0,0,0,0,0,NaN,50.230007,NaN,142.661235,NaN
3,2022/06/24,Independiente,INDEPTE_FECHA4_ACCIONES,09:44:36,11:56:36,perdida,NaN,00:16:10,00:16:10,0.0,...,0,0,0,0,0,NaN,60.341614,NaN,140.716605,NaN
4,2022/06/24,Independiente,INDEPTE_FECHA4_ACCIONES,09:44:36,11:56:36,recuperacion,NaN,00:19:35,00:19:35,0.0,...,0,0,0,0,0,NaN,85.955701,NaN,36.345088,NaN

In [17]:
data242 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha4_independiente-tabla_filtros2.csv')
data242 = data242[data242.Evento != 'perdida'].reset_index(drop=True)
data242.head()

,Session.Start.Date,tiempo,partido,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/07/06,independiente,Independiente,17:20:45,19:32:44,pase,NaN,00:16:35,00:16:35,0.0,...,0,0,0,1,0,2.0,6.118970,30.440638,74.778914,56.481372
1,2022/07/06,independiente,Independiente,17:20:45,19:32:44,pase,NaN,00:16:42,00:16:42,0.0,...,0,0,0,0,0,9.0,79.339418,66.166123,34.965286,132.749944
2,2022/07/06,independiente,Independiente,17:20:45,19:32:44,pase,NaN,00:16:47,00:16:47,0.0,...,0,0,0,0,0,4.0,76.313099,42.497743,136.840942,66.151231
3,2022/07/06,independiente,Independiente,17:20:45,19:32:44,pase,NaN,00:16:50,00:16:50,0.0,...,0,0,0,0,0,7.0,19.200292,68.293527,82.221678,2.930160
4,2022/07/06,independiente,Independiente,17:20:45,19:32:44,pase,NaN,00:16:55,00:16:55,0.0,...,0,0,0,0,0,8.0,67.553323,58.107109,23.868604,77.252642

In [18]:
data24 = pd.concat([data241, data242])
# data24 = data241

In [19]:
data24['Equipo'] = 'Estudiantes'
data24['Minuto.video'] = 10
data24 = data24[cols_usar]

## Fecha 5 - Newells

In [20]:
data251 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha5_newells-tabla_filtros.csv')
data251.head()

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/06/29,Newells,NEWELLS_FECHA5ACCIONES,11:22:28,13:37:18,perdida,NaN,00:18:43,00:18:43,0.0,...,0,0,0,0,0,NaN,199.647221,NaN,130.355271,NaN
1,2022/06/29,Newells,NEWELLS_FECHA5ACCIONES,11:22:28,13:37:18,pelota parada,NaN,00:19:03,00:19:03,0.0,...,0,0,0,0,0,18.0,142.371393,208.057107,150.320478,151.795980
2,2022/06/29,Newells,NEWELLS_FECHA5ACCIONES,11:22:28,13:37:18,perdida,NaN,00:19:19,00:19:19,0.0,...,0,0,0,0,0,17.0,151.161197,193.862641,13.092023,83.183299
3,2022/06/29,Newells,NEWELLS_FECHA5ACCIONES,11:22:28,13:37:18,recuperacion,NaN,00:19:20,00:19:20,0.0,...,0,0,0,0,0,NaN,156.418644,NaN,88.216687,NaN
4,2022/06/29,Newells,NEWELLS_FECHA5ACCIONES,11:22:28,13:37:18,perdida,NaN,00:19:39,00:19:39,0.0,...,0,0,0,0,0,NaN,79.384975,NaN,25.961749,NaN

In [21]:
data252 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha5_newells-tabla_filtros2.csv')
data252 = data252[data252.Evento != 'perdida'].reset_index(drop=True)
data252.head()

,Session.Start.Date,tiempo,partido,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/07/13,pases Newells,Newells,13:04:47,15:19:37,pase,NaN,00:18:29,00:18:29,0.0,...,0,0,0,0,0,11.0,150.273337,119.231393,82.053293,91.307659
1,2022/07/13,pases Newells,Newells,13:04:47,15:19:37,pase,NaN,00:18:33,00:18:33,0.0,...,0,0,0,0,0,9.0,88.953359,80.114737,92.916749,123.009878
2,2022/07/13,pases Newells,Newells,13:04:47,15:19:37,pase,NaN,00:18:38,00:18:38,0.0,...,0,0,0,0,0,15.0,65.332869,146.781376,130.044702,155.141366
3,2022/07/13,pases Newells,Newells,13:04:47,15:19:37,pase,NaN,00:19:05,00:19:05,0.0,...,0,0,0,0,0,18.0,215.021608,183.387491,136.639923,123.114333
4,2022/07/13,pases Newells,Newells,13:04:47,15:19:37,pase,NaN,00:19:10,00:19:10,0.0,...,0,0,0,0,0,14.0,201.152574,177.163279,74.207076,65.669339

In [22]:
data25 = pd.concat([data251, data252])
# data25 = data251

In [23]:
data25['Equipo'] = 'Estudiantes'
data25['Minuto.video'] = 10
data25 = data25[cols_usar]

## Fecha 6 - Arsenal

In [24]:
data261 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha6_arsenal-tabla_filtros.csv')
data261.head()

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/07/03,Arsenal,ARSENALF6_ACCIONES,21:11:15,23:13:34,perdida,NaN,00:05:56,00:05:56,0.0,...,0,0,0,0,0,10.0,0.034713,113.052158,71.679038,4.804217
1,2022/07/03,Arsenal,ARSENALF6_ACCIONES,21:11:15,23:13:34,recuperacion,NaN,00:05:58,00:05:58,0.0,...,0,0,0,0,0,NaN,58.824173,NaN,30.497567,NaN
2,2022/07/03,Arsenal,ARSENALF6_ACCIONES,21:11:15,23:13:34,perdida,NaN,00:06:04,00:06:04,0.0,...,0,0,0,0,0,13.0,123.750370,144.407450,17.220973,27.273362
3,2022/07/03,Arsenal,ARSENALF6_ACCIONES,21:11:15,23:13:34,recuperacion,NaN,00:06:28,00:06:28,0.0,...,0,0,0,0,0,NaN,95.043315,NaN,19.985803,NaN
4,2022/07/03,Arsenal,ARSENALF6_ACCIONES,21:11:15,23:13:34,pelota parada,NaN,00:07:05,00:07:05,0.0,...,0,0,0,0,0,19.0,244.033096,242.683072,25.461975,9.927469

In [25]:
data262 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha6_arsenal-tabla_filtros2.csv')
data262 = data262[data262.Evento != 'perdida'].reset_index(drop=True)
data262.head()

,Session.Start.Date,tiempo,partido,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/07/11,Pases Arsenal,Arsenal,21:22:05,23:24:23,pase,NaN,00:04:23,00:04:23,0.0,...,0,0,0,0,0,9.0,62.658381,78.916693,125.392116,123.372336
1,2022/07/11,Pases Arsenal,Arsenal,21:22:05,23:24:23,pase,NaN,00:05:51,00:05:51,0.0,...,0,0,0,1,0,13.0,14.746873,151.068396,66.778342,4.068515
2,2022/07/11,Pases Arsenal,Arsenal,21:22:05,23:24:23,pase,NaN,00:08:25,00:08:25,0.0,...,0,0,0,1,0,5.0,8.795250,26.400820,68.604450,105.680818
3,2022/07/11,Pases Arsenal,Arsenal,21:22:05,23:24:23,pase,NaN,00:08:35,00:08:35,0.0,...,0,0,0,0,0,15.0,22.744966,154.422821,121.005022,123.145075
4,2022/07/11,Pases Arsenal,Arsenal,21:22:05,23:24:23,falta,NaN,00:09:45,00:09:45,0.0,...,0,0,0,0,0,NaN,178.540140,NaN,8.131569,NaN

In [26]:
data26 = pd.concat([data261, data262])
# data26 = data261

In [27]:
data26['Equipo'] = 'Estudiantes'
data26['Minuto.video'] = 10
data26 = data26[cols_usar]

## Fecha 7 - Central Cordoba

In [28]:
data271 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha7_cco-tabla_filtros.csv')
data271.head()

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/07/11,Central Cordoba,CCO_ACCIONES2,11:28:18,13:38:23,recuperacion,NaN,00:08:21,00:08:21,0.0,...,0,0,0,0,0,NaN,51.654366,NaN,29.459838,NaN
1,2022/07/11,Central Cordoba,CCO_ACCIONES2,11:28:18,13:38:23,perdida,NaN,00:08:24,00:08:24,0.0,...,0,0,0,0,0,14.0,91.505321,179.177117,17.774495,87.871944
2,2022/07/11,Central Cordoba,CCO_ACCIONES2,11:28:18,13:38:23,recuperacion,NaN,00:09:00,00:09:00,0.0,...,0,0,0,0,0,NaN,117.267329,NaN,125.872529,NaN
3,2022/07/11,Central Cordoba,CCO_ACCIONES2,11:28:18,13:38:23,pelota parada,NaN,00:09:14,00:09:14,0.0,...,0,0,0,0,0,18.0,107.045283,188.420982,153.561661,127.651920
4,2022/07/11,Central Cordoba,CCO_ACCIONES2,11:28:18,13:38:23,pelota parada,NaN,00:09:48,00:09:48,0.0,...,0,0,0,0,0,24.0,255.579053,268.795134,144.215742,134.746167

In [29]:
data272 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha7_cco-tabla_filtros2.csv')
data272 = data272[data272.Evento != 'perdida'].reset_index(drop=True)
data272.head()

,Session.Start.Date,tiempo,partido,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/07/14,central cordoba,Central Cordoba,11:05:27,13:15:32,pase,NaN,00:09:51,00:09:51,0.0,...,0,0,0,0,0,15.0,269.071460,144.500988,162.000000,135.036338
1,2022/07/14,central cordoba,Central Cordoba,11:05:27,13:15:32,remate pie,NaN,00:09:56,00:09:56,0.0,...,0,0,0,0,0,22.0,171.127447,253.068608,153.832610,81.204630
2,2022/07/14,central cordoba,Central Cordoba,11:05:27,13:15:32,remate pie,NaN,00:10:26,00:10:26,0.0,...,0,0,0,0,0,22.0,242.462688,263.099597,118.200310,69.746379
3,2022/07/14,central cordoba,Central Cordoba,11:05:27,13:15:32,remate pie,NaN,00:11:05,00:11:05,0.0,...,0,0,0,0,0,22.0,211.242465,262.963721,137.001423,75.786311
4,2022/07/14,central cordoba,Central Cordoba,11:05:27,13:15:32,pase,NaN,00:11:44,00:11:44,0.0,...,0,0,0,0,0,13.0,175.137110,155.939678,10.451402,16.473955

In [30]:
data27 = pd.concat([data271, data272])
# data27 = data271

In [31]:
data27['Equipo'] = 'Estudiantes'
data27['Minuto.video'] = 10
data27 = data27[cols_usar]

## Fecha 8 - Tigre

In [32]:
data281 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha8_tigre-tabla_filtros.csv')
data281.head()

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/07/19,Tigre,TIGRE_ACCIONES2,12:11:42,14:24:07,pelota parada,NaN,00:18:27,00:18:27,0.0,...,0,0,0,0,0,12.0,48.841775,113.185634,125.392633,125.998949
1,2022/07/19,Tigre,TIGRE_ACCIONES2,12:11:42,14:24:07,perdida,NaN,00:18:28,00:18:28,0.0,...,0,0,0,0,0,12.0,78.424970,90.293205,147.994606,128.714634
2,2022/07/19,Tigre,TIGRE_ACCIONES2,12:11:42,14:24:07,recuperacion,NaN,00:18:29,00:18:29,0.0,...,0,0,0,0,0,NaN,90.287899,NaN,155.464006,NaN
3,2022/07/19,Tigre,TIGRE_ACCIONES2,12:11:42,14:24:07,perdida,NaN,00:19:51,00:19:51,0.0,...,0,0,0,0,0,21.0,267.385272,242.517335,35.423863,82.028975
4,2022/07/19,Tigre,TIGRE_ACCIONES2,12:11:42,14:24:07,pelota parada,NaN,00:20:01,00:20:01,0.0,...,0,0,0,0,0,16.0,192.066585,189.427884,18.381916,22.987380

In [33]:
data282 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha8_tigre-tabla_filtros2.csv')
data282 = data282[data282.Evento != 'perdida'].reset_index(drop=True)
data282.head()

,Session.Start.Date,tiempo,partido,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/07/20,Pases tigre,Tigre,15:54:37,18:07:03,falta,NaN,00:18:50,00:18:50,0.0,...,0,0,0,0,0,NaN,70.737490,NaN,16.971166,NaN
1,2022/07/20,Pases tigre,Tigre,15:54:37,18:07:03,pase,NaN,00:20:03,00:20:03,0.0,...,0,0,0,0,0,16.0,196.735724,213.556106,7.087370,15.886475
2,2022/07/20,Pases tigre,Tigre,15:54:37,18:07:03,pase,NaN,00:20:05,00:20:05,0.0,...,0,0,0,0,0,21.0,222.888741,248.769088,41.209513,78.070137
3,2022/07/20,Pases tigre,Tigre,15:54:37,18:07:03,pase,NaN,00:20:57,00:20:57,0.0,...,0,0,0,1,0,2.0,21.534530,7.634156,77.788423,23.846668
4,2022/07/20,Pases tigre,Tigre,15:54:37,18:07:03,pase,NaN,00:21:05,00:21:05,0.0,...,0,0,0,0,0,5.0,40.254599,19.133356,23.056375,122.572878

In [34]:
data28 = pd.concat([data281, data282])
#data28 = data281

In [35]:
data28['Equipo'] = 'Estudiantes'
data28['Minuto.video'] = 10
data28 = data28[cols_usar]

## Fecha 9 - Barracas

In [36]:
data291 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha9_barracas-tabla_filtros.csv')
data291.head()

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/07/23,Barracas,BARRACAS_ACCIONES2,11:24:18,13:24:03,perdida,NaN,00:02:18,00:02:18,0.0,...,0,0,0,0,0,17.0,95.588090,208.343253,157.217077,78.788987
1,2022/07/23,Barracas,BARRACAS_ACCIONES2,11:24:18,13:24:03,recuperacion,NaN,00:02:21,00:02:21,0.0,...,0,0,0,0,0,NaN,211.711566,NaN,97.023803,NaN
2,2022/07/23,Barracas,BARRACAS_ACCIONES2,11:24:18,13:24:03,perdida,NaN,00:02:35,00:02:35,0.0,...,0,0,0,0,0,NaN,222.131032,NaN,3.065144,NaN
3,2022/07/23,Barracas,BARRACAS_ACCIONES2,11:24:18,13:24:03,recuperacion,NaN,00:02:58,00:02:58,0.0,...,0,0,0,0,0,NaN,18.680254,NaN,32.112822,NaN
4,2022/07/23,Barracas,BARRACAS_ACCIONES2,11:24:18,13:24:03,perdida,NaN,00:03:18,00:03:18,0.0,...,0,0,0,0,0,18.0,83.852541,221.585639,158.395987,125.937226

In [37]:
data292 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha9_barracas-tabla_filtros2.csv')
data292 = data292[data292.Evento != 'perdida'].reset_index(drop=True)
data292.head()

,Session.Start.Date,tiempo,partido,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/07/24,pases barracas central,Barracas,13:43:45,15:43:30,pase,NaN,00:01:33,00:01:33,0.0,...,0,0,0,0,0,21.0,123.757639,229.752415,64.635924,65.514192
1,2022/07/24,pases barracas central,Barracas,13:43:45,15:43:30,arquero,NaN,00:01:49,00:01:49,0.0,...,0,0,0,0,0,NaN,216.362810,NaN,30.747521,NaN
2,2022/07/24,pases barracas central,Barracas,13:43:45,15:43:30,pase,NaN,00:01:57,00:01:57,0.0,...,0,0,1,0,0,5.0,16.067100,7.959203,98.953429,136.057524
3,2022/07/24,pases barracas central,Barracas,13:43:45,15:43:30,pase,NaN,00:02:03,00:02:03,0.0,...,0,0,0,0,0,2.0,22.621981,8.420868,124.103161,26.740428
4,2022/07/24,pases barracas central,Barracas,13:43:45,15:43:30,pase,NaN,00:02:07,00:02:07,0.0,...,0,0,0,0,0,4.0,20.562757,27.619406,29.360996,99.124054

In [38]:
data29 = pd.concat([data291, data292])
# data29 = data291

In [39]:
data29['Equipo'] = 'Estudiantes'
data29['Minuto.video'] = 10
data29 = data29[cols_usar]

## Ahora las uno

In [40]:
# df = pd.concat([data1, data2])
# df = pd.concat([df,data5])
# df = pd.concat([df,data6])
# df = pd.concat([df,data7])
# df = pd.concat([df,data8])
# df = pd.concat([df,data9])
# df = pd.concat([df,data10])
# df = pd.concat([df,data11])
# df = pd.concat([df,data12])
# df = pd.concat([df,data13])
#df.sample(15)
#df = data13
df2 = pd.concat([data21, data22,data23,data24,data25,data26,data27,data28,data29])
#df2 = data24

In [41]:
df2['Temporada'] = "Temp 02-2022"

In [42]:
df2.partido.value_counts()

Tigre              615
Sarmiento          593
Newells            580
Arsenal            556
Gimnasia           543
Central Cordoba    517
Independiente      507
Aldosivi           450
Barracas           448
Name: partido, dtype: int64

## Unir las dos temporadas

In [43]:
#dftotal = pd.concat([df,df2]).reset_index(drop=True)
dftotal = df2

In [44]:
dftotal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 202
Data columns (total 70 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Equipo                              4809 non-null   object
 1   tiempo                              4809 non-null   object
 2   Minuto.video                        4809 non-null   int64
 3   Evento                              4809 non-null   object
 4   Subevento                           4771 non-null   object
 5   Jugador.1                           4765 non-null   float64
 6   Jugador.2                           2769 non-null   object
 7   coord.inicial                       4772 non-null   object
 8   coord.final                         2738 non-null   object
 9   partido                             4809 non-null   object
 10  segundos                            4809 non-null   float64
 11  remate-Gol                          4809 non-null   int64
 12  remate-Fuera                        4809 non-null   int64
 13  remate-Al-arco                      4809 non-null   int64
 14  remate-Interceptado                 4809 non-null   int64
 15  remate-Cabeza                       4809 non-null   int64
 16  pase-Asistencia                     4809 non-null   int64
 17  pase-Completado                     4809 non-null   int64
 18  pase-Incompleto                     4809 non-null   int64
 19  pase-Inteligente                    4809 non-null   int64
 20  centro-Asistencia                   4809 non-null   int64
 21  centro-Completado                   4809 non-null   int64
 22  centro-Interceptado                 4809 non-null   int64
 23  centro-Bloqueado                    4809 non-null   int64
 24  centro-Fuera                        4809 non-null   int64
 25  duelo-Aereo-Perdido                 4809 non-null   int64
 26  duelo-Aereo-Ganado                  4809 non-null   int64
 27  duelo-Disputa-suelo-Perdida         4809 non-null   int64
 28  duelo-Disputa-suelo-Ganada          4809 non-null   int64
 29  duelo-Gambeta-contra-Ganada         4809 non-null   int64
 30  duelo-Gambeta-contra-Perdida        4809 non-null   int64
 31  duelo-Gambeta-favor-Perdida         4809 non-null   int64
 32  duelo-Gambeta-favor-Ganada          4809 non-null   int64
 33  duelo-Pivote-Perdido                4809 non-null   int64
 34  duelo-Pivote-Ganado                 4809 non-null   int64
 35  falta-Cometida                      4809 non-null   int64
 36  falta-Recibida                      4809 non-null   int64
 37  falta-Penal-cometido                4809 non-null   int64
 38  falta-Penal-recibido                4809 non-null   int64
 39  falta-Offside                       4809 non-null   int64
 40  falta-Tarjeta-amarilla              4809 non-null   int64
 41  falta-Tarjeta-roja                  4809 non-null   int64
 42  recuperacion-Robo                   4809 non-null   int64
 43  recuperacion-Encontrada             4809 non-null   int64
 44  recuperacion-Intercepcion-suelo     4809 non-null   int64
 45  recuperacion-Intercepcion-aereo     4809 non-null   int64
 46  recuperacion-Intercepcion-anticipo  4809 non-null   int64
 47  recuperacion-Disputa-suelo          4809 non-null   int64
 48  parado-Lateral-interceptado         4809 non-null   int64
 49  parado-Lateral-completado           4809 non-null   int64
 50  parado-Corner-interceptado          4809 non-null   int64
 51  parado-Corner-completado            4809 non-null   int64
 52  parado-Tiro-libre-incompleto        4809 non-null   int64
 53  parado-Tiro-libre-completado        4809 non-null   int64
 54  perdida-Gambeta                     4809 non-null   int64
 55  perdida-Robo                        4809 non-null   int64
 56  perdida-Intercepcion                4809 non-null   int64
 57  perdida-Error-tecnico               4809 non-null   int64
 58  perdida-Balon-fuera                 4809 non-null   int64
 59  perdida-Error-tactico               4809 non-null   int64
 60  perdida-Atajada                     4809 non-null   int64
 61  arquero-Gol-rival                   4809 non-null   int64
 62  arquero-Atajada                     4809 non-null   int64
 63  arquero-Intercepcion-aerea          4809 non-null   int64
 64  arquero-Intercepcion                4809 non-null   int64
 65  arquero-Anticipo                    4809 non-null   int64
 66  arquero-Saque-mano                  4809 non-null   int64
 67  arquero-Saque-pie                   4809 non-null   int64
 68  arquero-Saque-meta                  4809 non-null   int64
 69  Temporada                           4809 non-null   object
dtypes: float64(2), int64(59), object(9)
memory usage: 2.6+ MB

## Meter los apellidos

In [45]:
formaciones = pd.read_excel('../Datos generados para la app/Formaciones Reserva 2022.xlsx')
formaciones.head()

    Partido  Numero_jugador  Apellido   Estado     Temporada
0  Gimnasia             1.0    Zozaya  Titular  Temp 02-2022
1  Gimnasia             6.0  Burdisso  Titular  Temp 02-2022
2  Gimnasia             2.0    Flores  Titular  Temp 02-2022
3  Gimnasia             3.0  T. NuÃ±ez  Titular  Temp 02-2022
4  Gimnasia             4.0   Caccace  Titular  Temp 02-2022

In [46]:
dftotal2 = dftotal.merge(formaciones,how='left',left_on=(['Temporada','partido','Jugador.1']), right_on=(['Temporada','Partido','Numero_jugador']))
dftotal2.sample(15)

,Equipo,tiempo,Minuto.video,Evento,Subevento,Jugador.1,Jugador.2,coord.inicial,coord.final,partido,...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,Temporada,Partido,Numero_jugador,Apellido,Estado
2144,Estudiantes,NEWELLS_FECHA5ACCIONES,10,recuperacion,robo,10.0,NaN,"76,72",NaN,Newells,...,0,0,0,0,0,Temp 02-2022,Newells,10.0,N. Palavecino,Titular
2560,Estudiantes,pases Newells,10,pase,corto,5.0,3,"161,18","179,17",Newells,...,0,0,0,0,0,Temp 02-2022,Newells,5.0,J. Ascacibar,Titular
1672,Estudiantes,INDEPTE_FECHA4_ACCIONES,10,pelota parada,lateral largo,3.0,9,"39,33","52,15",Independiente,...,0,0,0,0,0,Temp 02-2022,Independiente,3.0,T. NuÃ±ez,Titular
904,Estudiantes,pases aldosivi,10,gol,directa,9.0,NaN,"272,68",NaN,Aldosivi,...,0,0,0,0,0,Temp 02-2022,Aldosivi,9.0,Guzman,Titular
2660,Estudiantes,pases Newells,10,falta,recibida,5.0,NaN,"173,40",NaN,Newells,...,0,0,0,0,0,Temp 02-2022,Newells,5.0,J. Ascacibar,Titular
1330,Estudiantes,pases,10,pase,corto,3.0,5,"178,3","91,17",Sarmiento,...,0,0,0,0,0,Temp 02-2022,Sarmiento,3.0,T. NuÃ±ez,Titular
3376,Estudiantes,CCO_ACCIONES2,10,recuperacion,encontrada,3.0,NaN,"10,29",NaN,Central Cordoba,...,0,0,0,0,0,Temp 02-2022,Central Cordoba,3.0,T. NuÃ±ez,Titular
3895,Estudiantes,TIGRE_ACCIONES2,10,recuperacion,intercepcion anticipo,2.0,NaN,"77,152",NaN,Tigre,...,0,0,0,0,0,Temp 02-2022,Tigre,2.0,Burdisso,Titular
4575,Estudiantes,BARRACAS_ACCIONES2,10,perdida,interceptado,8.0,23,"196,29","247,41",Barracas,...,0,0,0,0,0,Temp 02-2022,Barracas,8.0,PiÃ±eiro,Titular
3011,Estudiantes,Pases Arsenal,10,pase,corto,3.0,5,"58,37","60,39",Arsenal,...,0,0,0,0,0,Temp 02-2022,Arsenal,3.0,Valdez,Titular
1041,Estudiantes,SARMIENTO_ACCIONESFINAL,10,duelo,aereo,9.0,NaN,"156,88",NaN,Sarmiento,...,0,0,0,0,0,Temp 02-2022,Sarmiento,9.0,Guzman,Titular
2592,Estudiantes,pases Newells,10,pase,corto,6.0,8,"69,30","91,92",Newells,...,0,0,0,0,0,Temp 02-2022,Newells,6.0,S. NuÃ±ez,Titular
4119,Estudiantes,Pases tigre,10,pase,corto,6.0,2,"77,22","48,84",Tigre,...,0,0,0,0,0,Temp 02-2022,Tigre,6.0,Ojeda,Titular
3674,Estudiantes,central cordoba,10,pase,corto,16.0,8,"241,158","267,102",Central Cordoba,...,0,0,0,0,0,Temp 02-2022,Central Cordoba,16.0,Aguilera,Suplente
2152,Estudiantes,NEWELLS_FECHA5ACCIONES,10,recuperacion,duelo,6.0,NaN,"90,86",NaN,Newells,...,0,0,0,0,0,Temp 02-2022,Newells,6.0,S. NuÃ±ez,Titular

In [47]:
dftotal2.to_csv("../Datos generados para la app/reserva22-completo.csv",index=False)