In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Cargar bases

In [79]:
cols_usar = ['Equipo', 'tiempo', 'Minuto.video', 'Evento', 'Subevento',
       'Jugador.1', 'Jugador.2', 'coord.inicial',
       'coord.final', 'partido', 'segundos', 'remate-Gol', 'remate-Fuera',
       'remate-Al-arco', 'remate-Interceptado', 'remate-Cabeza',
       'pase-Asistencia', 'pase-Completado', 'pase-Incompleto',
       'pase-Inteligente', 'centro-Asistencia', 'centro-Completado',
       'centro-Interceptado', 'centro-Bloqueado', 'centro-Fuera',
       'duelo-Aereo-Perdido', 'duelo-Aereo-Ganado',
       'duelo-Disputa-suelo-Perdida', 'duelo-Disputa-suelo-Ganada',
       'duelo-Gambeta-contra-Ganada', 'duelo-Gambeta-contra-Perdida',
       'duelo-Gambeta-favor-Perdida', 'duelo-Gambeta-favor-Ganada',
       'duelo-Pivote-Perdido', 'duelo-Pivote-Ganado', 'falta-Cometida',
       'falta-Recibida', 'falta-Penal-cometido', 'falta-Penal-recibido',
       'falta-Offside', 'falta-Tarjeta-amarilla', 'falta-Tarjeta-roja',
       'recuperacion-Robo', 'recuperacion-Encontrada',
       'recuperacion-Intercepcion-suelo', 'recuperacion-Intercepcion-aereo',
       'recuperacion-Intercepcion-anticipo', 'recuperacion-Disputa-suelo',
       'parado-Lateral-interceptado', 'parado-Lateral-completado',
       'parado-Corner-interceptado', 'parado-Corner-completado',
       'parado-Tiro-libre-incompleto','parado-Tiro-libre-completado', 'perdida-Gambeta', 'perdida-Robo',
       'perdida-Intercepcion', 'perdida-Error-tecnico', 'perdida-Balon-fuera',
       'perdida-Error-tactico', 'perdida-Atajada', 'arquero-Gol-rival',
       'arquero-Atajada', 'arquero-Intercepcion-aerea', 'arquero-Intercepcion',
       'arquero-Anticipo', 'arquero-Saque-mano', 'arquero-Saque-pie',
       'arquero-Saque-meta']

In [80]:
x_max = 273
y_max = 165

# Temporada 02 - 2022

## Fecha 1 - Gimnasia

In [81]:
data211 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha1_gimnasia-tabla_filtros2.csv')
data211.head()

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/06/09,Gimnasia,GELP_FECHA1T,13:51:08,16:13:33,duelo,NaN,00:22:41,00:22:41,0.0,...,0,0,0,0,0,NaN,191.362583,NaN,3.890036,NaN
1,2022/06/09,Gimnasia,GELP_FECHA1T,13:51:08,16:13:33,perdida,NaN,00:22:42,00:22:42,0.0,...,0,0,0,0,0,NaN,211.670705,NaN,26.015066,NaN
2,2022/06/09,Gimnasia,GELP_FECHA1T,13:51:08,16:13:33,recuperacion,NaN,00:22:44,00:22:44,0.0,...,0,0,0,0,0,NaN,215.068522,NaN,38.557102,NaN
3,2022/06/09,Gimnasia,GELP_FECHA1T,13:51:08,16:13:33,duelo,NaN,00:22:54,00:22:54,0.0,...,0,0,0,0,0,NaN,146.483256,NaN,81.224530,NaN
4,2022/06/09,Gimnasia,GELP_FECHA1T,13:51:08,16:13:33,perdida,NaN,00:22:54,00:22:54,0.0,...,0,0,0,0,0,NaN,150.213901,NaN,80.508624,NaN

In [82]:
data212 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha1_gimnasia-tabla_filtros.csv')
data212 = data212[data212.Evento != 'perdida'].reset_index(drop=True)
data212.head()

,Session.Start.Date,tiempo,partido,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:22:36,00:22:36,0.0,...,0,0,0,0,0,11.0,94.970794,113.583386,67.036769,75.245988
1,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:22:39,00:22:39,0.0,...,0,0,0,0,0,13.0,119.651672,148.801403,67.776946,14.558089
2,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:22:50,00:22:50,0.0,...,0,0,0,0,0,17.0,178.909709,218.455376,95.020145,63.883298
3,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:22:59,00:22:59,0.0,...,0,0,0,0,0,16.0,196.466184,188.332083,91.660884,28.843762
4,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,remate pie,NaN,00:23:02,00:23:02,0.0,...,0,0,0,0,0,22.0,204.832888,243.249617,39.242926,76.292686

In [83]:
data21 = pd.concat([data211, data212])
#data21 = data211

In [84]:
data21['Equipo'] = 'Estudiantes'
data21['Minuto.video'] = 10
data21 = data21[cols_usar]

## Fecha 2 - Aldosivi

In [85]:
data221 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha2_aldosivi-tabla_filtros.csv')
data221.head()

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/06/13,Aldosivi,ALDOSIVI_FECHA2_ACCIONES,11:04:15,13:13:33,perdida,NaN,00:12:40,00:12:40,0.0,...,0,0,0,0,0,10.0,55.580669,120.032733,148.846974,35.158805
1,2022/06/13,Aldosivi,ALDOSIVI_FECHA2_ACCIONES,11:04:15,13:13:33,recuperacion,NaN,00:13:02,00:13:02,0.0,...,0,0,0,0,0,NaN,125.892854,NaN,30.326662,NaN
2,2022/06/13,Aldosivi,ALDOSIVI_FECHA2_ACCIONES,11:04:15,13:13:33,perdida,NaN,00:13:17,00:13:17,0.0,...,0,0,0,0,0,9.0,82.870794,70.996555,139.192474,136.522403
3,2022/06/13,Aldosivi,ALDOSIVI_FECHA2_ACCIONES,11:04:15,13:13:33,duelo,NaN,00:13:20,00:13:20,0.0,...,0,0,0,0,0,NaN,5.818923,NaN,162.000000,NaN
4,2022/06/13,Aldosivi,ALDOSIVI_FECHA2_ACCIONES,11:04:15,13:13:33,recuperacion,NaN,00:13:21,00:13:21,0.0,...,0,0,0,0,0,NaN,35.862442,NaN,160.344938,NaN

In [86]:
data222 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha2_aldosivi-tabla_filtros2.csv')
data222 = data222[data222.Evento != 'perdida'].reset_index(drop=True)
data222.head()

,Session.Start.Date,tiempo,partido,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/07/03,pases aldosivi,Aldosivi,15:51:19,18:00:37,pase,NaN,00:12:32,00:12:32,0.0,...,0,0,0,1,0,5.0,17.339309,38.800396,62.666291,115.817193
1,2022/07/03,pases aldosivi,Aldosivi,15:51:19,18:00:37,pase,NaN,00:12:39,00:12:39,0.0,...,0,0,0,0,0,10.0,61.655288,109.724160,146.579062,16.536673
2,2022/07/03,pases aldosivi,Aldosivi,15:51:19,18:00:37,pase,NaN,00:13:14,00:13:14,0.0,...,0,0,0,0,0,8.0,104.853444,50.208196,38.381522,63.858211
3,2022/07/03,pases aldosivi,Aldosivi,15:51:19,18:00:37,pase,NaN,00:13:17,00:13:17,0.0,...,0,0,0,0,0,9.0,55.994321,65.971307,68.963612,148.997486
4,2022/07/03,pases aldosivi,Aldosivi,15:51:19,18:00:37,pase,NaN,00:13:45,00:13:45,0.0,...,0,0,0,0,0,24.0,208.598153,245.101276,127.126054,134.510335

In [87]:
data22 = pd.concat([data221, data222])
# data22 = data221

In [88]:
data22['Equipo'] = 'Estudiantes'
data22['Minuto.video'] = 10
data22 = data22[cols_usar]

## Fecha 3 - Sarmiento

In [89]:
data231 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha3_sarmiento-tabla_filtros.csv')
data231.head()

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/06/18,Sarmiento,SARMIENTO_ACCIONESFINAL,17:25:55,19:40:45,duelo,NaN,00:15:51,00:15:51,0.0,...,0,0,0,0,0,NaN,127.733912,NaN,8.209872,NaN
1,2022/06/18,Sarmiento,SARMIENTO_ACCIONESFINAL,17:25:55,19:40:45,recuperacion,NaN,00:15:52,00:15:52,0.0,...,0,0,0,0,0,NaN,128.498912,NaN,38.505594,NaN
2,2022/06/18,Sarmiento,SARMIENTO_ACCIONESFINAL,17:25:55,19:40:45,perdida,NaN,00:16:03,00:16:03,0.0,...,0,0,0,0,0,NaN,177.661607,NaN,63.848860,NaN
3,2022/06/18,Sarmiento,SARMIENTO_ACCIONESFINAL,17:25:55,19:40:45,recuperacion,NaN,00:16:22,00:16:22,0.0,...,0,0,0,0,0,NaN,21.283588,NaN,162.000000,NaN
4,2022/06/18,Sarmiento,SARMIENTO_ACCIONESFINAL,17:25:55,19:40:45,perdida,NaN,00:16:25,00:16:25,0.0,...,0,0,0,0,0,NaN,7.960795,NaN,155.977511,NaN

In [90]:
data232 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha3_sarmiento-tabla_filtros2.csv')
data232 = data232[data232.Evento != 'perdida'].reset_index(drop=True)
data232.head()

,Session.Start.Date,tiempo,partido,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/07/09,pases,Sarmiento,19:36:18,21:51:08,pase,NaN,00:15:56,00:15:56,0.0,...,0,0,0,0,0,8.0,92.116943,58.797670,24.353000,75.008183
1,2022/07/09,pases,Sarmiento,19:36:18,21:51:08,pase,NaN,00:15:59,00:15:59,0.0,...,0,0,0,0,0,17.0,71.432311,213.559132,74.642071,89.279873
2,2022/07/09,pases,Sarmiento,19:36:18,21:51:08,pase,NaN,00:16:45,00:16:45,0.0,...,0,0,0,0,0,9.0,32.296777,76.046567,134.875117,155.227110
3,2022/07/09,pases,Sarmiento,19:36:18,21:51:08,pase,NaN,00:16:47,00:16:47,0.0,...,0,0,0,0,0,8.0,45.218241,52.828475,156.223927,81.508607
4,2022/07/09,pases,Sarmiento,19:36:18,21:51:08,falta,NaN,00:16:50,00:16:50,0.0,...,0,0,0,0,0,NaN,46.435034,NaN,67.238016,NaN

In [91]:
data23 = pd.concat([data231, data232])
# data23 = data231

In [92]:
data23['Equipo'] = 'Estudiantes'
data23['Minuto.video'] = 10
data23 = data23[cols_usar]

## Fecha 4 - Independiente

In [93]:
data241 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha4_independiente-tabla_filtros.csv')
data241.head()

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/06/24,Independiente,INDEPTE_FECHA4_ACCIONES,09:44:36,11:56:36,pelota parada,NaN,00:15:41,00:15:41,0.0,...,0,0,0,0,0,9.0,4.763467,63.889392,155.938367,147.631671
1,2022/06/24,Independiente,INDEPTE_FECHA4_ACCIONES,09:44:36,11:56:36,perdida,NaN,00:15:41,00:15:41,0.0,...,0,0,0,0,0,9.0,39.713705,74.248164,162.000000,154.162803
2,2022/06/24,Independiente,INDEPTE_FECHA4_ACCIONES,09:44:36,11:56:36,recuperacion,NaN,00:16:07,00:16:07,0.0,...,0,0,0,0,0,NaN,50.230007,NaN,142.661235,NaN
3,2022/06/24,Independiente,INDEPTE_FECHA4_ACCIONES,09:44:36,11:56:36,perdida,NaN,00:16:10,00:16:10,0.0,...,0,0,0,0,0,NaN,60.341614,NaN,140.716605,NaN
4,2022/06/24,Independiente,INDEPTE_FECHA4_ACCIONES,09:44:36,11:56:36,recuperacion,NaN,00:19:35,00:19:35,0.0,...,0,0,0,0,0,NaN,85.955701,NaN,36.345088,NaN

In [94]:
data242 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha4_independiente-tabla_filtros2.csv')
data242 = data242[data242.Evento != 'perdida'].reset_index(drop=True)
data242.head()

,Session.Start.Date,tiempo,partido,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/07/06,independiente,Independiente,17:20:45,19:32:44,pase,NaN,00:16:35,00:16:35,0.0,...,0,0,0,1,0,2.0,6.118970,30.440638,74.778914,56.481372
1,2022/07/06,independiente,Independiente,17:20:45,19:32:44,pase,NaN,00:16:42,00:16:42,0.0,...,0,0,0,0,0,9.0,79.339418,66.166123,34.965286,132.749944
2,2022/07/06,independiente,Independiente,17:20:45,19:32:44,pase,NaN,00:16:47,00:16:47,0.0,...,0,0,0,0,0,4.0,76.313099,42.497743,136.840942,66.151231
3,2022/07/06,independiente,Independiente,17:20:45,19:32:44,pase,NaN,00:16:50,00:16:50,0.0,...,0,0,0,0,0,7.0,19.200292,68.293527,82.221678,2.930160
4,2022/07/06,independiente,Independiente,17:20:45,19:32:44,pase,NaN,00:16:55,00:16:55,0.0,...,0,0,0,0,0,8.0,67.553323,58.107109,23.868604,77.252642

In [95]:
data24 = pd.concat([data241, data242])
# data24 = data241

In [96]:
data24['Equipo'] = 'Estudiantes'
data24['Minuto.video'] = 10
data24 = data24[cols_usar]

## Fecha 5 - Newells

In [97]:
data251 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha5_newells-tabla_filtros.csv')
data251.head()

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/06/29,Newells,NEWELLS_FECHA5ACCIONES,11:22:28,13:37:18,perdida,NaN,00:18:43,00:18:43,0.0,...,0,0,0,0,0,NaN,199.647221,NaN,130.355271,NaN
1,2022/06/29,Newells,NEWELLS_FECHA5ACCIONES,11:22:28,13:37:18,pelota parada,NaN,00:19:03,00:19:03,0.0,...,0,0,0,0,0,18.0,142.371393,208.057107,150.320478,151.795980
2,2022/06/29,Newells,NEWELLS_FECHA5ACCIONES,11:22:28,13:37:18,perdida,NaN,00:19:19,00:19:19,0.0,...,0,0,0,0,0,17.0,151.161197,193.862641,13.092023,83.183299
3,2022/06/29,Newells,NEWELLS_FECHA5ACCIONES,11:22:28,13:37:18,recuperacion,NaN,00:19:20,00:19:20,0.0,...,0,0,0,0,0,NaN,156.418644,NaN,88.216687,NaN
4,2022/06/29,Newells,NEWELLS_FECHA5ACCIONES,11:22:28,13:37:18,perdida,NaN,00:19:39,00:19:39,0.0,...,0,0,0,0,0,NaN,79.384975,NaN,25.961749,NaN

In [98]:
data252 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha5_newells-tabla_filtros2.csv')
data252 = data252[data252.Evento != 'perdida'].reset_index(drop=True)
data252.head()

,Session.Start.Date,tiempo,partido,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/07/13,pases Newells,Newells,13:04:47,15:19:37,pase,NaN,00:18:29,00:18:29,0.0,...,0,0,0,0,0,11.0,150.273337,119.231393,82.053293,91.307659
1,2022/07/13,pases Newells,Newells,13:04:47,15:19:37,pase,NaN,00:18:33,00:18:33,0.0,...,0,0,0,0,0,9.0,88.953359,80.114737,92.916749,123.009878
2,2022/07/13,pases Newells,Newells,13:04:47,15:19:37,pase,NaN,00:18:38,00:18:38,0.0,...,0,0,0,0,0,15.0,65.332869,146.781376,130.044702,155.141366
3,2022/07/13,pases Newells,Newells,13:04:47,15:19:37,pase,NaN,00:19:05,00:19:05,0.0,...,0,0,0,0,0,18.0,215.021608,183.387491,136.639923,123.114333
4,2022/07/13,pases Newells,Newells,13:04:47,15:19:37,pase,NaN,00:19:10,00:19:10,0.0,...,0,0,0,0,0,14.0,201.152574,177.163279,74.207076,65.669339

In [99]:
data25 = pd.concat([data251, data252])
# data25 = data251

In [100]:
data25['Equipo'] = 'Estudiantes'
data25['Minuto.video'] = 10
data25 = data25[cols_usar]

## Fecha 6 - Arsenal

In [101]:
data261 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha6_arsenal-tabla_filtros.csv')
data261.head()

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/07/03,Arsenal,ARSENALF6_ACCIONES,21:11:15,23:13:34,perdida,NaN,00:05:56,00:05:56,0.0,...,0,0,0,0,0,10.0,0.034713,113.052158,71.679038,4.804217
1,2022/07/03,Arsenal,ARSENALF6_ACCIONES,21:11:15,23:13:34,recuperacion,NaN,00:05:58,00:05:58,0.0,...,0,0,0,0,0,NaN,58.824173,NaN,30.497567,NaN
2,2022/07/03,Arsenal,ARSENALF6_ACCIONES,21:11:15,23:13:34,perdida,NaN,00:06:04,00:06:04,0.0,...,0,0,0,0,0,13.0,123.750370,144.407450,17.220973,27.273362
3,2022/07/03,Arsenal,ARSENALF6_ACCIONES,21:11:15,23:13:34,recuperacion,NaN,00:06:28,00:06:28,0.0,...,0,0,0,0,0,NaN,95.043315,NaN,19.985803,NaN
4,2022/07/03,Arsenal,ARSENALF6_ACCIONES,21:11:15,23:13:34,pelota parada,NaN,00:07:05,00:07:05,0.0,...,0,0,0,0,0,19.0,244.033096,242.683072,25.461975,9.927469

In [102]:
data262 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha6_arsenal-tabla_filtros2.csv')
data262 = data262[data262.Evento != 'perdida'].reset_index(drop=True)
data262.head()

,Session.Start.Date,tiempo,partido,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/07/11,Pases Arsenal,Arsenal,21:22:05,23:24:23,pase,NaN,00:04:23,00:04:23,0.0,...,0,0,0,0,0,9.0,62.658381,78.916693,125.392116,123.372336
1,2022/07/11,Pases Arsenal,Arsenal,21:22:05,23:24:23,pase,NaN,00:05:51,00:05:51,0.0,...,0,0,0,1,0,13.0,14.746873,151.068396,66.778342,4.068515
2,2022/07/11,Pases Arsenal,Arsenal,21:22:05,23:24:23,pase,NaN,00:08:25,00:08:25,0.0,...,0,0,0,1,0,5.0,8.795250,26.400820,68.604450,105.680818
3,2022/07/11,Pases Arsenal,Arsenal,21:22:05,23:24:23,pase,NaN,00:08:35,00:08:35,0.0,...,0,0,0,0,0,15.0,22.744966,154.422821,121.005022,123.145075
4,2022/07/11,Pases Arsenal,Arsenal,21:22:05,23:24:23,falta,NaN,00:09:45,00:09:45,0.0,...,0,0,0,0,0,NaN,178.540140,NaN,8.131569,NaN

In [103]:
data26 = pd.concat([data261, data262])
# data26 = data261

In [104]:
data26['Equipo'] = 'Estudiantes'
data26['Minuto.video'] = 10
data26 = data26[cols_usar]

## Fecha 7 - Central Cordoba

In [105]:
data271 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha7_cco-tabla_filtros.csv')
data271.head()

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/07/11,Central Cordoba,CCO_ACCIONES2,11:28:18,13:38:23,recuperacion,NaN,00:08:21,00:08:21,0.0,...,0,0,0,0,0,NaN,51.654366,NaN,29.459838,NaN
1,2022/07/11,Central Cordoba,CCO_ACCIONES2,11:28:18,13:38:23,perdida,NaN,00:08:24,00:08:24,0.0,...,0,0,0,0,0,14.0,91.505321,179.177117,17.774495,87.871944
2,2022/07/11,Central Cordoba,CCO_ACCIONES2,11:28:18,13:38:23,recuperacion,NaN,00:09:00,00:09:00,0.0,...,0,0,0,0,0,NaN,117.267329,NaN,125.872529,NaN
3,2022/07/11,Central Cordoba,CCO_ACCIONES2,11:28:18,13:38:23,pelota parada,NaN,00:09:14,00:09:14,0.0,...,0,0,0,0,0,18.0,107.045283,188.420982,153.561661,127.651920
4,2022/07/11,Central Cordoba,CCO_ACCIONES2,11:28:18,13:38:23,pelota parada,NaN,00:09:48,00:09:48,0.0,...,0,0,0,0,0,24.0,255.579053,268.795134,144.215742,134.746167

In [106]:
data272 = pd.read_csv('../Datos generados para la app/reserva02-22-fecha7_cco-tabla_filtros2.csv')
data272 = data272[data272.Evento != 'perdida'].reset_index(drop=True)
data272.head()

,Session.Start.Date,tiempo,partido,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,2022/07/14,central cordoba,Central Cordoba,11:05:27,13:15:32,pase,NaN,00:09:51,00:09:51,0.0,...,0,0,0,0,0,15.0,269.071460,144.500988,162.000000,135.036338
1,2022/07/14,central cordoba,Central Cordoba,11:05:27,13:15:32,remate pie,NaN,00:09:56,00:09:56,0.0,...,0,0,0,0,0,22.0,171.127447,253.068608,153.832610,81.204630
2,2022/07/14,central cordoba,Central Cordoba,11:05:27,13:15:32,remate pie,NaN,00:10:26,00:10:26,0.0,...,0,0,0,0,0,22.0,242.462688,263.099597,118.200310,69.746379
3,2022/07/14,central cordoba,Central Cordoba,11:05:27,13:15:32,remate pie,NaN,00:11:05,00:11:05,0.0,...,0,0,0,0,0,22.0,211.242465,262.963721,137.001423,75.786311
4,2022/07/14,central cordoba,Central Cordoba,11:05:27,13:15:32,pase,NaN,00:11:44,00:11:44,0.0,...,0,0,0,0,0,13.0,175.137110,155.939678,10.451402,16.473955

In [107]:
data27 = pd.concat([data271, data272])
# data27 = data271

In [108]:
data27['Equipo'] = 'Estudiantes'
data27['Minuto.video'] = 10
data27 = data27[cols_usar]

In [109]:
# df = pd.concat([data1, data2])
# df = pd.concat([df,data5])
# df = pd.concat([df,data6])
# df = pd.concat([df,data7])
# df = pd.concat([df,data8])
# df = pd.concat([df,data9])
# df = pd.concat([df,data10])
# df = pd.concat([df,data11])
# df = pd.concat([df,data12])
# df = pd.concat([df,data13])
#df.sample(15)
#df = data13
df2 = pd.concat([data21, data22,data23,data24,data25,data26,data27])
#df2 = data24

In [110]:
df2['Temporada'] = "Temp 02-2022"

In [111]:
df2.partido.value_counts()

Sarmiento          593
Newells            580
Arsenal            556
Gimnasia           543
Central Cordoba    517
Independiente      507
Aldosivi           450
Name: partido, dtype: int64

## Unir las dos temporadas

In [112]:
#dftotal = pd.concat([df,df2]).reset_index(drop=True)
dftotal = df2

In [113]:
dftotal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3746 entries, 0 to 261
Data columns (total 70 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Equipo                              3746 non-null   object
 1   tiempo                              3746 non-null   object
 2   Minuto.video                        3746 non-null   int64
 3   Evento                              3746 non-null   object
 4   Subevento                           3717 non-null   object
 5   Jugador.1                           3713 non-null   float64
 6   Jugador.2                           2126 non-null   object
 7   coord.inicial                       3718 non-null   object
 8   coord.final                         2106 non-null   object
 9   partido                             3746 non-null   object
 10  segundos                            3746 non-null   float64
 11  remate-Gol                          3746 non-null   int64
 12  remate-Fuera                        3746 non-null   int64
 13  remate-Al-arco                      3746 non-null   int64
 14  remate-Interceptado                 3746 non-null   int64
 15  remate-Cabeza                       3746 non-null   int64
 16  pase-Asistencia                     3746 non-null   int64
 17  pase-Completado                     3746 non-null   int64
 18  pase-Incompleto                     3746 non-null   int64
 19  pase-Inteligente                    3746 non-null   int64
 20  centro-Asistencia                   3746 non-null   int64
 21  centro-Completado                   3746 non-null   int64
 22  centro-Interceptado                 3746 non-null   int64
 23  centro-Bloqueado                    3746 non-null   int64
 24  centro-Fuera                        3746 non-null   int64
 25  duelo-Aereo-Perdido                 3746 non-null   int64
 26  duelo-Aereo-Ganado                  3746 non-null   int64
 27  duelo-Disputa-suelo-Perdida         3746 non-null   int64
 28  duelo-Disputa-suelo-Ganada          3746 non-null   int64
 29  duelo-Gambeta-contra-Ganada         3746 non-null   int64
 30  duelo-Gambeta-contra-Perdida        3746 non-null   int64
 31  duelo-Gambeta-favor-Perdida         3746 non-null   int64
 32  duelo-Gambeta-favor-Ganada          3746 non-null   int64
 33  duelo-Pivote-Perdido                3746 non-null   int64
 34  duelo-Pivote-Ganado                 3746 non-null   int64
 35  falta-Cometida                      3746 non-null   int64
 36  falta-Recibida                      3746 non-null   int64
 37  falta-Penal-cometido                3746 non-null   int64
 38  falta-Penal-recibido                3746 non-null   int64
 39  falta-Offside                       3746 non-null   int64
 40  falta-Tarjeta-amarilla              3746 non-null   int64
 41  falta-Tarjeta-roja                  3746 non-null   int64
 42  recuperacion-Robo                   3746 non-null   int64
 43  recuperacion-Encontrada             3746 non-null   int64
 44  recuperacion-Intercepcion-suelo     3746 non-null   int64
 45  recuperacion-Intercepcion-aereo     3746 non-null   int64
 46  recuperacion-Intercepcion-anticipo  3746 non-null   int64
 47  recuperacion-Disputa-suelo          3746 non-null   int64
 48  parado-Lateral-interceptado         3746 non-null   int64
 49  parado-Lateral-completado           3746 non-null   int64
 50  parado-Corner-interceptado          3746 non-null   int64
 51  parado-Corner-completado            3746 non-null   int64
 52  parado-Tiro-libre-incompleto        3746 non-null   int64
 53  parado-Tiro-libre-completado        3746 non-null   int64
 54  perdida-Gambeta                     3746 non-null   int64
 55  perdida-Robo                        3746 non-null   int64
 56  perdida-Intercepcion                3746 non-null   int64
 57  perdida-Error-tecnico               3746 non-null   int64
 58  perdida-Balon-fuera                 3746 non-null   int64
 59  perdida-Error-tactico               3746 non-null   int64
 60  perdida-Atajada                     3746 non-null   int64
 61  arquero-Gol-rival                   3746 non-null   int64
 62  arquero-Atajada                     3746 non-null   int64
 63  arquero-Intercepcion-aerea          3746 non-null   int64
 64  arquero-Intercepcion                3746 non-null   int64
 65  arquero-Anticipo                    3746 non-null   int64
 66  arquero-Saque-mano                  3746 non-null   int64
 67  arquero-Saque-pie                   3746 non-null   int64
 68  arquero-Saque-meta                  3746 non-null   int64
 69  Temporada                           3746 non-null   object
dtypes: float64(2), int64(59), object(9)
memory usage: 2.0+ MB

## Meter los apellidos

In [114]:
formaciones = pd.read_excel('../Datos generados para la app/Formaciones Reserva 2022.xlsx')
formaciones.head()

         Partido  Numero_jugador   Apellido   Estado     Temporada
0  Independiente             1.0     Zozaya  Titular  Temp 01-2022
1  Independiente             3.0  Fernandez  Titular  Temp 01-2022
2  Independiente             6.0   S. Nuñez  Titular  Temp 01-2022
3  Independiente             2.0     Flores  Titular  Temp 01-2022
4  Independiente             4.0    Rosales  Titular  Temp 01-2022

In [115]:
dftotal2 = dftotal.merge(formaciones,how='left',left_on=(['Temporada','partido','Jugador.1']), right_on=(['Temporada','Partido','Numero_jugador']))
dftotal2.sample(15)

,Equipo,tiempo,Minuto.video,Evento,Subevento,Jugador.1,Jugador.2,coord.inicial,coord.final,partido,...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,Temporada,Partido,Numero_jugador,Apellido,Estado
2330,Estudiantes,NEWELLS_FECHA5ACCIONES,10,recuperacion,robo,2.0,NaN,"26,124",NaN,Newells,...,0,0,0,0,0,Temp 02-2022,Newells,2.0,Flores,Titular
370,Estudiantes,Temp2Fecha1,10,pase,medio,8.0,6,"181,6","110,77",Gimnasia,...,0,0,0,0,0,Temp 02-2022,Gimnasia,8.0,Benedetti,Titular
2785,Estudiantes,ARSENALF6_ACCIONES,10,pelota parada,lateral corto,3.0,11,"263,2","248,15",Arsenal,...,0,0,0,0,0,Temp 02-2022,Arsenal,3.0,Valdez,Titular
1306,Estudiantes,pases,10,pase,corto,7.0,3,"204,84","185,7",Sarmiento,...,0,0,0,0,0,Temp 02-2022,Sarmiento,7.0,Arango,Titular
2845,Estudiantes,ARSENALF6_ACCIONES,10,perdida,error tecnico,7.0,NaN,"101,85",NaN,Arsenal,...,0,0,0,0,0,Temp 02-2022,Arsenal,7.0,Arango,Titular
3118,Estudiantes,Pases Arsenal,10,pase,corto,22.0,7,"178,31","150,28",Arsenal,...,0,0,0,0,0,Temp 02-2022,Arsenal,22.0,M. Ascacibar,Suplente
286,Estudiantes,Temp2Fecha1,10,pase,largo,2.0,Rival,"128,35","199,9",Gimnasia,...,0,0,0,0,0,Temp 02-2022,Gimnasia,2.0,Flores,Titular
3175,Estudiantes,Pases Arsenal,10,pase,corto,5.0,8,"159,78","158,157",Arsenal,...,0,0,0,0,0,Temp 02-2022,Arsenal,5.0,J. Ascacibar,Titular
3656,Estudiantes,central cordoba,10,pase,largo,3.0,18,"101,30","199,8",Central Cordoba,...,0,0,0,0,0,Temp 02-2022,Central Cordoba,3.0,T. Nuñez,Titular
2659,Estudiantes,pases Newells,10,arquero,rebote/despeje,1.0,NaN,"73,93",NaN,Newells,...,0,0,0,0,0,Temp 02-2022,Newells,1.0,Pourtau,Titular
1886,Estudiantes,independiente,10,pase,corto,9.0,11,"173,124","149,145",Independiente,...,0,0,0,0,0,Temp 02-2022,Independiente,9.0,Guzman,Titular
3523,Estudiantes,central cordoba,10,pase,s arquero pie,1.0,9,"8,87","255,63",Central Cordoba,...,0,0,0,1,0,Temp 02-2022,Central Cordoba,1.0,Iacovich,Titular
3097,Estudiantes,Pases Arsenal,10,pase,corto,6.0,5,"92,124","59,61",Arsenal,...,0,0,0,0,0,Temp 02-2022,Arsenal,6.0,Burdisso,Titular
2014,Estudiantes,independiente,10,falta,hecha,9.0,NaN,"236,15",NaN,Independiente,...,0,0,0,0,0,Temp 02-2022,Independiente,9.0,Guzman,Titular
616,Estudiantes,ALDOSIVI_FECHA2_ACCIONES,10,perdida,intercepcion aereo,1.0,9,"56,89","161,99",Aldosivi,...,0,0,0,0,0,Temp 02-2022,Aldosivi,1.0,Zozaya,Titular

In [116]:
dftotal2.to_csv("../Datos generados para la app/reserva22-completo.csv",index=False)