In [241]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import glob
import os
#pd.set_option('display.max_rows', 200)

# Carga de datos

In [242]:
# merging the files
files_joined = os.path.join('..\\..\\datos etiquetas\\Semis - River', "*.csv")

# Return a list of all joined files
list_files = glob.glob(files_joined)

#print("** Merging multiple csv files into a single pandas dataframe **")
# Merge files by joining all files
data = pd.concat(map(pd.read_csv, list_files), ignore_index=True)

In [243]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Session Start Date   161 non-null    object
 1   Event                161 non-null    object
 2   Session Name         161 non-null    object
 3   Session Start        161 non-null    object
 4   Session End          161 non-null    object
 5   Tag Description      161 non-null    object
 6   Tag Notes            0 non-null      float64
 7   Tag Start            161 non-null    object
 8   Tag End              161 non-null    object
 9   Tag Duration (secs)  161 non-null    float64
 10  Dificultad           4 non-null      object
 11  Zonas_final          159 non-null    object
 12  Jugador2             91 non-null     object
 13  Jugador              156 non-null    float64
 14  Zonas                157 non-null    float64
 15  Categoria            157 non-null    object
 16  Optional Column      0 non-null      float64
dtypes: float64(5), object(12)
memory usage: 21.5+ KB

In [244]:
# data.columns = ['Session Start Date','partido','tiempo','Session Start',
#        'Session End','Evento','Tag Notes','Tag Start', 'Tag End',
#        'Tag Duration (secs)','coord inicial','Subevento','Jugador 2','Jugador 1','coord final','Optional Column']

data.columns = ['Session Start Date','partido','tiempo','Session Start',
       'Session End','Evento','Tag Notes','Tag Start', 'Tag End',
       'Tag Duration (secs)','Dificultad','coord final','Jugador 2','Jugador 1','coord inicial','Subevento','Optional Column']

In [245]:
'''TIEMPO'''

from datetime import timedelta

def seconder(x):
    hr, mins, secs = map(float, x.split(':'))
    td = timedelta(hours= hr, minutes=mins, seconds=secs)
    return td.total_seconds()
data['segundos'] = data['Tag Start'].apply(seconder)

In [246]:
data = data.append(data.iloc[-1,:]).reset_index(drop=True)
data.loc[-1,'Evento'] = np.nan
data.loc[-1,'Subevento'] = np.nan
data = data.drop_duplicates()
data = data.reset_index(drop=True)

In [247]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Session Start Date   161 non-null    object
 1   partido              161 non-null    object
 2   tiempo               161 non-null    object
 3   Session Start        161 non-null    object
 4   Session End          161 non-null    object
 5   Evento               161 non-null    object
 6   Tag Notes            0 non-null      float64
 7   Tag Start            161 non-null    object
 8   Tag End              161 non-null    object
 9   Tag Duration (secs)  161 non-null    float64
 10  Dificultad           4 non-null      object
 11  coord final          159 non-null    object
 12  Jugador 2            91 non-null     object
 13  Jugador 1            156 non-null    float64
 14  coord inicial        157 non-null    float64
 15  Subevento            157 non-null    object
 16  Optional Column      0 non-null      float64
 17  segundos             161 non-null    float64
dtypes: float64(6), object(12)
memory usage: 22.9+ KB

In [248]:
data

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),Dificultad,coord final,Jugador 2,Jugador 1,coord inicial,Subevento,Optional Column,segundos
0,2022/05/29,River,completo,18:28:07,21:01:17,Falta,NaN,00:27:49,00:27:49,0.0,NaN,Volver,NaN,1.0,4.0,Recibida,NaN,1669.0
1,2022/05/29,River,completo,18:28:07,21:01:17,Pase,NaN,00:27:58,00:27:58,0.0,NaN,17,9,10.0,14.0,corto,NaN,1678.0
2,2022/05/29,River,completo,18:28:07,21:01:17,Perdida,NaN,00:27:59,00:27:59,0.0,NaN,Volver,NaN,9.0,17.0,Interceptado,NaN,1679.0
3,2022/05/29,River,completo,18:28:07,21:01:17,Pase,NaN,00:28:06,00:28:06,0.0,NaN,11,6,2.0,11.0,corto,NaN,1686.0
4,2022/05/29,River,completo,18:28:07,21:01:17,Pase,NaN,00:28:09,00:28:09,0.0,NaN,17,10,6.0,11.0,largo,NaN,1689.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,2022/05/29,River,completo,18:28:07,21:01:17,Pase,NaN,02:19:36,02:19:36,0.0,NaN,12,11,4.0,9.0,medio,NaN,8376.0
158,2022/05/29,River,completo,18:28:07,21:01:17,Pase,NaN,02:19:41,02:19:41,0.0,NaN,15,13,11.0,18.0,corto,NaN,8381.0
159,2022/05/29,River,completo,18:28:07,21:01:17,Pase,NaN,02:19:44,02:19:44,0.0,NaN,17,22,13.0,15.0,medio,NaN,8384.0
160,2022/05/29,River,completo,18:28:07,21:01:17,Perdida,NaN,02:19:44,02:19:44,0.0,NaN,Volver,NaN,13.0,15.0,Interceptado,NaN,8384.0
161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [249]:
#data['segundos'] = np.random.randint(1, 600, data.shape[0])
#data

In [250]:
'''CORREGIR MAYUSCULAS Y COSAS DE EVENTOS'''

data['Evento'] = data['Evento'].str.lower().str.strip()
data['Subevento'] = data['Subevento'].str.lower().str.strip()

# Estadisticas basicas

In [251]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       remate atajable              4
              salvada/atajada              4
falta         hecha                        9
              offside                      2
              recibida                     8
gol           directa                      3
gol rival     indirecta                    1
pase          corto                       49
              inteligente                  1
              largo                        8
              medio                       20
              s arquero mano               1
              s arquero pie                8
perdida       balon afuera fondo           2
              balon afuera lateral         1
              interceptado                23
              robo                         5
remate cabeza facil                        2
remate pie    corta distancia              4
tarjeta       amarilla                     2

In [252]:
data.groupby(['Jugador 1','Evento','Subevento']).size().to_frame('cantidad')

                                            cantidad
Jugador 1 Evento        Subevento
1.0       arquero       remate atajable            4
                        salvada/atajada            4
          falta         recibida                   1
          pase          largo                      2
                        medio                      1
...                                              ...
13.0      pase          medio                      1
          perdida       interceptado               1
22.0      perdida       balon afuera fondo         1
                        robo                       2
          remate cabeza facil                      1

[71 rows x 1 columns]

# Filtros para la app

Disparos
---
- gol
- fuera
- al arco
- interceptado
- cabeza

Pase
---
- asistencia
- completado
- interceptado
- fuera
- inteligente

Centros
---
- asistencia
- completado
- interceptado
- bloqueado
- fuera

Duelos
---
- ganado
- perdido
- duelo aereo
- disputa suelo
- gambeta en contra
- gambeta a favor
- pivote

Faltas
---
- falta cometida
- falta recibida
- penal
- tarjeta amarilla
- tarjeta roja
- off-side

Recuperacion
---
- robo
- encontradas
- intercepcion suelo
- intercepcion aereo
- intercepcion anticipo
- disputa suelo

Pelota parada
---
- lateral completado
- lateral interceptado
- corner completado
- corner interceptado
- tiro libre

Perdida
---
- gambeta a favor
- robo
- intercepcion suelo
- intercepcion aereo
- error tecnico
- balon afuera
- genero situacion rival
- genero gol rival
- atajada rival

Arquero
---
- gol en contra
- atajada facil
- atajada dificil
- mano a mano
- rebote
- intercepcion aereo
- intercepcion aereo anticipo
- completado
- interceptado
- saque arquero pie
- saque arquero mano
- saque meta
- pase


LO QUE HAY QUE HACER ES CREAR UNA COLUMNA POR CADA UNO DE ESOS FILTROS CON 0-1. QUEDAR CON UNA SOLA FILA POR ACCION.

In [253]:
data_eventos = data.copy()
data_eventos.shape

(162, 18)

# Disparos

- gol: siempre tiene que haber un disparo antes de un gol? Que pasa cuando es en contra, por ejemplo. Asegurarse que siempre antes de un gol poner disparo porque si no no lo toma aca
- fuera: asegurarse de poner que pasa siempre despues de los remates
- al arco: tiene que haber una perdida en evento y atajada en subevento, desupes de un remate
- interceptado
- cabeza

In [254]:
#gol
'''si data[i] es remate y data[i+1] es gol'''

data_eventos['remate-Gol'] = 0
for i in range(len(data_eventos)-1):
    #if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') | (data_eventos.loc[i,'Evento']=='pelota parada'):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') :
        if (data_eventos.loc[i+1,'Evento']=='gol'):
            data_eventos.loc[i,'remate-Gol'] = 1
data_eventos.loc[data_eventos['remate-Gol'] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),Dificultad,coord final,Jugador 2,Jugador 1,coord inicial,Subevento,Optional Column,segundos,remate-Gol
35,2022/05/29,River,completo,18:28:07,21:01:17,remate pie,NaN,00:41:34,00:41:34,0.0,NaN,22,Rival,11.0,20.0,corta distancia,NaN,2494.0,1
63,2022/05/29,River,completo,18:28:07,21:01:17,remate pie,NaN,00:57:48,00:57:48,0.0,NaN,Volver,NaN,9.0,22.0,corta distancia,NaN,3468.0,1
130,2022/05/29,River,completo,18:28:07,21:01:17,remate cabeza,NaN,02:01:51,02:01:51,0.0,NaN,Volver,NaN,9.0,21.0,facil,NaN,7311.0,1

In [255]:
#fuera
'''si data[i] es remate y data[i+1] es perdida balon fuera'''
colname = 'remate-Fuera'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza'):
        if (data_eventos.loc[i+1,'Evento']=='perdida'):
            if('balon afuera' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),Dificultad,coord final,Jugador 2,Jugador 1,coord inicial,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera
139,2022/05/29,River,completo,18:28:07,21:01:17,remate pie,NaN,02:09:34,02:09:34,0.0,NaN,22,Rival,11.0,21.0,corta distancia,NaN,7774.0,0,1
152,2022/05/29,River,completo,18:28:07,21:01:17,remate cabeza,NaN,02:17:00,02:17:00,0.0,NaN,Volver,NaN,22.0,21.0,facil,NaN,8220.0,0,1

In [256]:
#al arco
'''si data[i] es remate y data[i+1] es perdida atajada'''

colname = 'remate-Al-arco'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza'):
        if (data_eventos.loc[i+1,'Evento']=='perdida'): 
            if('atajada' in data_eventos.loc[i+1,'Subevento'] ):
                data_eventos.loc[i,colname] = 1
        if (data_eventos.loc[i+1,'Evento']=='gol'):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,coord final,Jugador 2,Jugador 1,coord inicial,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco
35,2022/05/29,River,completo,18:28:07,21:01:17,remate pie,NaN,00:41:34,00:41:34,0.0,...,22,Rival,11.0,20.0,corta distancia,NaN,2494.0,1,0,1
63,2022/05/29,River,completo,18:28:07,21:01:17,remate pie,NaN,00:57:48,00:57:48,0.0,...,Volver,NaN,9.0,22.0,corta distancia,NaN,3468.0,1,0,1
130,2022/05/29,River,completo,18:28:07,21:01:17,remate cabeza,NaN,02:01:51,02:01:51,0.0,...,Volver,NaN,9.0,21.0,facil,NaN,7311.0,1,0,1

In [257]:
#bloqueado
'''si data[i] es remate y data[i] es remate bloqueado o data[i+1] es perdida error tecnico'''

colname = 'remate-Interceptado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') :
        if (data_eventos.loc[i,'Subevento'] == 'remate bloqueado'): 
            data_eventos.loc[i,colname] = 1
        elif(data_eventos.loc[i+1,'Evento']=='perdida'):
            if('error tecnico' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado]
Index: []

[0 rows x 22 columns]

In [258]:
#cabeza
'''si data[i] es remate cabeza'''

colname = 'remate-Cabeza'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='remate cabeza'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Jugador 1,coord inicial,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza
130,2022/05/29,River,completo,18:28:07,21:01:17,remate cabeza,NaN,02:01:51,02:01:51,0.0,...,9.0,21.0,facil,NaN,7311.0,1,0,1,0,1
152,2022/05/29,River,completo,18:28:07,21:01:17,remate cabeza,NaN,02:17:00,02:17:00,0.0,...,22.0,21.0,facil,NaN,8220.0,0,1,0,0,1

# Pase

- asistencia
- completado
- interceptado
- fuera
- inteligente

In [259]:
data[data.Evento=='pase'].groupby(['Evento','Subevento']).size().to_frame('cantidad')

                       cantidad
Evento Subevento
pase   corto                 49
       inteligente            1
       largo                  8
       medio                 20
       s arquero mano         1
       s arquero pie          8

In [260]:
data[(data.Evento=='pase')]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),Dificultad,coord final,Jugador 2,Jugador 1,coord inicial,Subevento,Optional Column,segundos
1,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:27:58,00:27:58,0.0,NaN,17,9,10.0,14.0,corto,NaN,1678.0
3,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:28:06,00:28:06,0.0,NaN,11,6,2.0,11.0,corto,NaN,1686.0
4,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:28:09,00:28:09,0.0,NaN,17,10,6.0,11.0,largo,NaN,1689.0
6,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:28:51,00:28:51,0.0,NaN,6,10,6.0,5.0,corto,NaN,1731.0
7,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:29:15,00:29:15,0.0,NaN,15,9,11.0,12.0,corto,NaN,1755.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:19:10,02:19:10,0.0,NaN,14,22,1.0,3.0,s arquero pie,NaN,8350.0
156,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:19:33,02:19:33,0.0,NaN,9,4,11.0,9.0,corto,NaN,8373.0
157,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:19:36,02:19:36,0.0,NaN,12,11,4.0,9.0,medio,NaN,8376.0
158,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:19:41,02:19:41,0.0,NaN,15,13,11.0,18.0,corto,NaN,8381.0
159,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:19:44,02:19:44,0.0,NaN,17,22,13.0,15.0,medio,NaN,8384.0

In [261]:
data_eventos.head()

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Jugador 1,coord inicial,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza
0,2022/05/29,River,completo,18:28:07,21:01:17,falta,NaN,00:27:49,00:27:49,0.0,...,1.0,4.0,recibida,NaN,1669.0,0,0,0,0,0
1,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:27:58,00:27:58,0.0,...,10.0,14.0,corto,NaN,1678.0,0,0,0,0,0
2,2022/05/29,River,completo,18:28:07,21:01:17,perdida,NaN,00:27:59,00:27:59,0.0,...,9.0,17.0,interceptado,NaN,1679.0,0,0,0,0,0
3,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:28:06,00:28:06,0.0,...,2.0,11.0,corto,NaN,1686.0,0,0,0,0,0
4,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:28:09,00:28:09,0.0,...,6.0,11.0,largo,NaN,1689.0,0,0,0,0,0

In [262]:
#asistencia
'''si data[i] es pase, data[i+1] es remate y data[i+2] es gol'''
colname = 'pase-Asistencia'
data_eventos[colname] = 0
for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Evento']=='pase'):
        if ('remate' in data_eventos.loc[i+1,'Evento']):
            if (data_eventos.loc[i+2,'Evento']=='gol'):
                data_eventos.loc[i,colname] = 1
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,coord inicial,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia
34,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:41:30,00:41:30,0.0,...,10.0,inteligente,NaN,2490.0,0,0,0,0,0,1
62,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:57:46,00:57:46,0.0,...,21.0,corto,NaN,3466.0,0,0,0,0,0,1
129,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:01:52,02:01:52,0.0,...,18.0,medio,NaN,7312.0,0,0,0,0,0,1

In [263]:
##completado
'''si data[i] es pase no bloqueado y data[i+1] no es perdida interceptado o balon afuera'''

colname = 'pase-Completado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']!='centro aereo') & (data_eventos.loc[i,'Subevento']!='s arquero mano') & (data_eventos.loc[i,'Subevento']!='bloqueado'):
        if (data_eventos.loc[i+1,'Evento'] != 'perdida') | (data_eventos.loc[i,'Jugador 1'] != data_eventos.loc[i+1,'Jugador 1']) | (data_eventos.loc[i+1,'Subevento'] == 'offside' ):
            data_eventos.loc[i,colname] = 1
        
        #elif ('intercep' not in data_eventos.loc[i+1,'Subevento']) & ('balon afuera' not in data_eventos.loc[i+1,'Subevento']) & ('encontrad' not in data_eventos.loc[i+1,'Subevento']):
        #    data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado
1,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:27:58,00:27:58,0.0,...,corto,NaN,1678.0,0,0,0,0,0,0,1
3,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:28:06,00:28:06,0.0,...,corto,NaN,1686.0,0,0,0,0,0,0,1
4,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:28:09,00:28:09,0.0,...,largo,NaN,1689.0,0,0,0,0,0,0,1
6,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:28:51,00:28:51,0.0,...,corto,NaN,1731.0,0,0,0,0,0,0,1
7,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:29:15,00:29:15,0.0,...,corto,NaN,1755.0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:16:26,02:16:26,0.0,...,s arquero pie,NaN,8186.0,0,0,0,0,0,0,1
154,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:19:10,02:19:10,0.0,...,s arquero pie,NaN,8350.0,0,0,0,0,0,0,1
156,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:19:33,02:19:33,0.0,...,corto,NaN,8373.0,0,0,0,0,0,0,1
157,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:19:36,02:19:36,0.0,...,medio,NaN,8376.0,0,0,0,0,0,0,1
158,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:19:41,02:19:41,0.0,...,corto,NaN,8381.0,0,0,0,0,0,0,1

In [264]:
data_eventos.loc[data_eventos[colname] == 1].Subevento.value_counts()

corto            47
medio            18
largo             5
s arquero pie     4
inteligente       1
Name: Subevento, dtype: int64

In [265]:
#interceptado
'''si data[i] es pase no bloqueado y data[i+1] es perdida interceptado'''

colname = 'pase-Interceptado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']!='pase bloqueado') & (data_eventos.loc[i,'Subevento']!='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
            if ('intercep' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado,pase-Interceptado
1,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:27:58,00:27:58,0.0,...,NaN,1678.0,0,0,0,0,0,0,1,1
4,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:28:09,00:28:09,0.0,...,NaN,1689.0,0,0,0,0,0,0,1,1
7,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:29:15,00:29:15,0.0,...,NaN,1755.0,0,0,0,0,0,0,1,1
19,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:35:09,00:35:09,0.0,...,NaN,2109.0,0,0,0,0,0,0,1,1
26,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:40:11,00:40:11,0.0,...,NaN,2411.0,0,0,0,0,0,0,1,1
32,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:40:56,00:40:56,0.0,...,NaN,2456.0,0,0,0,0,0,0,1,1
45,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:48:22,00:48:22,0.0,...,NaN,2902.0,0,0,0,0,0,0,1,1
50,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:55:04,00:55:04,0.0,...,NaN,3304.0,0,0,0,0,0,0,1,1
65,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:59:01,00:59:01,0.0,...,NaN,3541.0,0,0,0,0,0,0,1,1
68,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,01:00:58,01:00:58,0.0,...,NaN,3658.0,0,0,0,0,0,0,0,1
72,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,01:01:59,01:01:59,0.0,...,NaN,3719.0,0,0,0,0,0,0,0,1
84,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,01:09:03,01:09:03,0.0,...,NaN,4143.0,0,0,0,0,0,0,1,1
91,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,01:11:22,01:11:22,0.0,...,NaN,4282.0,0,0,0,0,0,0,0,1
100,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,01:38:28,01:38:28,0.0,...,NaN,5908.0,0,0,0,0,0,0,0,1
108,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,01:43:37,01:43:37,0.0,...,NaN,6217.0,0,0,0,0,0,0,1,1
112,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,01:48:19,01:48:19,0.0,...,NaN,6499.0,0,0,0,0,0,0,0,1
117,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,01:54:08,01:54:08,0.0,...,NaN,6848.0,0,0,0,0,0,0,0,1
124,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:00:19,02:00:19,0.0,...,NaN,7219.0,0,0,0,0,0,0,0,1
134,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:04:21,02:04:21,0.0,...,NaN,7461.0,0,0,0,0,0,0,0,1
137,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:07:42,02:07:42,0.0,...,NaN,7662.0,0,0,0,0,0,0,0,1
141,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:11:25,02:11:25,0.0,...,NaN,7885.0,0,0,0,0,0,0,0,1
146,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:14:28,02:14:28,0.0,...,NaN,8068.0,0,0,0,0,0,0,1,1
159,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:19:44,02:19:44,0.0,...,NaN,8384.0,0,0,0,0,0,0,0,1

In [266]:
#fuera
'''si data[i] es pase no bloqueado y data[i+1] es perdida fuera'''

colname = 'pase-Fuera'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']!='pase bloqueado') & (data_eventos.loc[i,'Subevento']!='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
            if ('balon afuera' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado,pase-Interceptado,pase-Fuera
103,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,01:39:49,01:39:49,0.0,...,5989.0,0,0,0,0,0,0,1,0,1

In [267]:
#inteligente

colname = 'pase-Inteligente'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']=='inteligente'):
        if (data_eventos.loc[i+1,'Evento'] != 'perdida') | (data_eventos.loc[i,'Jugador 1'] != data_eventos.loc[i+1,'Jugador 1']):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado,pase-Interceptado,pase-Fuera,pase-Inteligente
34,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:41:30,00:41:30,0.0,...,0,0,0,0,0,1,1,0,0,1

# Centros

- asistencia
- completado
- interceptado
- bloqueado
- fuera

In [353]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       remate atajable              4
              salvada/atajada              4
falta         hecha                        9
              offside                      2
              recibida                     8
gol           directa                      3
gol rival     indirecta                    1
pase          corto                       49
              inteligente                  1
              largo                        8
              medio                       20
              s arquero mano               1
              s arquero pie                8
perdida       balon afuera fondo           2
              balon afuera lateral         1
              interceptado                23
              robo                         5
remate cabeza facil                        2
remate pie    corta distancia              4
tarjeta       amarilla                     2

In [269]:
#asistencia

colname = 'centro-Asistencia'
data_eventos[colname] = 0
for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if ('remate' in data_eventos.loc[i+1,'Evento']):
            if (data_eventos.loc[i+2,'Evento']=='gol'):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia]
Index: []

[0 rows x 29 columns]

In [270]:
#completado

colname = 'centro-Completado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] != 'perdida')| (data_eventos.loc[i,'Jugador 1'] != data_eventos.loc[i+1,'Jugador 1']) :
            data_eventos.loc[i,colname] = 1

            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado]
Index: []

[0 rows x 30 columns]

In [271]:
#interceptado
'''si data[i] es pase no bloqueado y data[i+1] es perdida interceptado'''

colname = 'centro-Interceptado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
            if ('intercep' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado]
Index: []

[0 rows x 31 columns]

In [272]:
#bloqueado

colname = 'centro-Bloqueado'
data_eventos[colname] = 0
# for i in range(len(data_eventos)):
#     if (data_eventos.loc[i,'Subevento']=='centro bloqueado'):
#         data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado]
Index: []

[0 rows x 32 columns]

In [273]:
#fuera

colname = 'centro-Fuera'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
            if ('balon afuera' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera]
Index: []

[0 rows x 33 columns]

# Duelos

- ganado
- perdido
- duelo aereo
- disputa suelo
- gambeta en contra
- gambeta a favor
- pivote

In [274]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       remate atajable              4
              salvada/atajada              4
falta         hecha                        9
              offside                      2
              recibida                     8
gol           directa                      3
gol rival     indirecta                    1
pase          corto                       49
              inteligente                  1
              largo                        8
              medio                       20
              s arquero mano               1
              s arquero pie                8
perdida       balon afuera fondo           2
              balon afuera lateral         1
              interceptado                23
              robo                         5
remate cabeza facil                        2
remate pie    corta distancia              4
tarjeta       amarilla                     2

In [275]:
# dejar_index= []
# for i in range(len(data_eventos)-1):
#     if (data_eventos.loc[i,'Evento']=='duelo'):
#         dejar_index.append(i-1)
#         dejar_index.append(i)
#         dejar_index.append(i+1)
# data_eventos.loc[dejar_index].head(10)

In [276]:
#duelo aereo

colname1 = 'duelo-Aereo-Perdido'
data_eventos[colname1] = 0
colname2 = 'duelo-Aereo-Ganado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='aereo'):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo')): 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1


data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado]
Index: []

[0 rows x 35 columns]

In [277]:
data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado]
Index: []

[0 rows x 35 columns]

In [278]:
#disputa suelo

colname1 = 'duelo-Disputa-suelo-Perdida'
data_eventos[colname1] = 0
colname2 = 'duelo-Disputa-suelo-Ganada'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='disputa suelo'):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo')): 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada]
Index: []

[0 rows x 37 columns]

In [279]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada]
Index: []

[0 rows x 37 columns]

In [280]:
#gambeta en contra

colname1 = 'duelo-Gambeta-contra-Ganada'
data_eventos[colname1] = 0
colname2 = 'duelo-Gambeta-contra-Perdida'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='gambeta en contra'):
        if ((data_eventos.loc[i+1,'Evento'] == 'recuperacion') & ((data_eventos.loc[i+1,'Subevento'] == 'duelo') )): 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida]
Index: []

[0 rows x 39 columns]

In [281]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida]
Index: []

[0 rows x 39 columns]

In [282]:
#gambeta a favor

colname1 = 'duelo-Gambeta-favor-Perdida'
data_eventos[colname1] = 0
colname2 = 'duelo-Gambeta-favor-Ganada'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='gambeta a favor'):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & ((data_eventos.loc[i+1,'Subevento'] == 'duelo') | ('balon afuera' in data_eventos.loc[i+1,'Subevento']))) : 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada]
Index: []

[0 rows x 41 columns]

In [283]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada]
Index: []

[0 rows x 41 columns]

In [284]:
#pivote

colname1 = 'duelo-Pivote-Perdido'
data_eventos[colname1] = 0
colname2 = 'duelo-Pivote-Ganado'
data_eventos[colname2] = 0

#for i in range(len(data_eventos)):
#    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='pivote'):
#        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo')) : 
#            data_eventos.loc[i,colname1] = 1
#        else:
#            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado]
Index: []

[0 rows x 43 columns]

# Faltas

- falta cometida
- falta recibida
- penal
- tarjeta amarilla
- tarjeta roja
- off-side

In [285]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       remate atajable              4
              salvada/atajada              4
falta         hecha                        9
              offside                      2
              recibida                     8
gol           directa                      3
gol rival     indirecta                    1
pase          corto                       49
              inteligente                  1
              largo                        8
              medio                       20
              s arquero mano               1
              s arquero pie                8
perdida       balon afuera fondo           2
              balon afuera lateral         1
              interceptado                23
              robo                         5
remate cabeza facil                        2
remate pie    corta distancia              4
tarjeta       amarilla                     2

In [286]:
#falta cometida

colname = 'falta-Cometida'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='hecha'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Aereo-Ganado,duelo-Disputa-suelo-Perdida,duelo-Disputa-suelo-Ganada,duelo-Gambeta-contra-Ganada,duelo-Gambeta-contra-Perdida,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida
22,2022/05/29,River,completo,18:28:07,21:01:17,falta,NaN,00:38:00,00:38:00,0.0,...,0,0,0,0,0,0,0,0,0,1
41,2022/05/29,River,completo,18:28:07,21:01:17,falta,NaN,00:47:54,00:47:54,0.0,...,0,0,0,0,0,0,0,0,0,1
70,2022/05/29,River,completo,18:28:07,21:01:17,falta,NaN,01:01:18,01:01:18,0.0,...,0,0,0,0,0,0,0,0,0,1
78,2022/05/29,River,completo,18:28:07,21:01:17,falta,NaN,01:07:19,01:07:19,0.0,...,0,0,0,0,0,0,0,0,0,1
79,2022/05/29,River,completo,18:28:07,21:01:17,falta,NaN,01:07:22,01:07:22,0.0,...,0,0,0,0,0,0,0,0,0,1
96,2022/05/29,River,completo,18:28:07,21:01:17,falta,NaN,01:12:47,01:12:47,0.0,...,0,0,0,0,0,0,0,0,0,1
111,2022/05/29,River,completo,18:28:07,21:01:17,falta,NaN,01:46:22,01:46:22,0.0,...,0,0,0,0,0,0,0,0,0,1
114,2022/05/29,River,completo,18:28:07,21:01:17,falta,NaN,01:51:40,01:51:40,0.0,...,0,0,0,0,0,0,0,0,0,1
121,2022/05/29,River,completo,18:28:07,21:01:17,falta,NaN,01:59:26,01:59:26,0.0,...,0,0,0,0,0,0,0,0,0,1

In [287]:
#falta recibida

colname = 'falta-Recibida'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='recibida'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Disputa-suelo-Perdida,duelo-Disputa-suelo-Ganada,duelo-Gambeta-contra-Ganada,duelo-Gambeta-contra-Perdida,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida,falta-Recibida
0,2022/05/29,River,completo,18:28:07,21:01:17,falta,NaN,00:27:49,00:27:49,0.0,...,0,0,0,0,0,0,0,0,0,1
17,2022/05/29,River,completo,18:28:07,21:01:17,falta,NaN,00:34:44,00:34:44,0.0,...,0,0,0,0,0,0,0,0,0,1
38,2022/05/29,River,completo,18:28:07,21:01:17,falta,NaN,00:43:59,00:43:59,0.0,...,0,0,0,0,0,0,0,0,0,1
71,2022/05/29,River,completo,18:28:07,21:01:17,falta,NaN,01:01:33,01:01:33,0.0,...,0,0,0,0,0,0,0,0,0,1
77,2022/05/29,River,completo,18:28:07,21:01:17,falta,NaN,01:02:29,01:02:29,0.0,...,0,0,0,0,0,0,0,0,0,1
97,2022/05/29,River,completo,18:28:07,21:01:17,falta,NaN,01:37:26,01:37:26,0.0,...,0,0,0,0,0,0,0,0,0,1
110,2022/05/29,River,completo,18:28:07,21:01:17,falta,NaN,01:45:11,01:45:11,0.0,...,0,0,0,0,0,0,0,0,0,1
120,2022/05/29,River,completo,18:28:07,21:01:17,falta,NaN,01:57:34,01:57:34,0.0,...,0,0,0,0,0,0,0,0,0,1

In [288]:
#penal cometido

colname = 'falta-Penal-cometido'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='penal cometido'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido]
Index: []

[0 rows x 46 columns]

In [289]:
#penal_recibido

colname = 'falta-Penal-recibido'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='penal recibido'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido]
Index: []

[0 rows x 47 columns]

In [290]:
#offside

colname = 'falta-Offside'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='offside'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Gambeta-contra-Perdida,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida,falta-Recibida,falta-Penal-cometido,falta-Penal-recibido,falta-Offside
15,2022/05/29,River,completo,18:28:07,21:01:17,falta,NaN,00:31:46,00:31:46,0.0,...,0,0,0,0,0,0,0,0,0,1
143,2022/05/29,River,completo,18:28:07,21:01:17,falta,NaN,02:12:39,02:12:39,0.0,...,0,0,0,0,0,0,0,0,0,1

In [291]:
#tarjeta amarilla

colname = 'falta-Tarjeta-amarilla'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    #if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='hecha'):
    if (data_eventos.loc[i,'Evento']=='tarjeta') & (data_eventos.loc[i,'Subevento']=='amarilla'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida,falta-Recibida,falta-Penal-cometido,falta-Penal-recibido,falta-Offside,falta-Tarjeta-amarilla
80,2022/05/29,River,completo,18:28:07,21:01:17,tarjeta,NaN,01:07:27,01:07:27,0.0,...,0,0,0,0,0,0,0,0,0,1
122,2022/05/29,River,completo,18:28:07,21:01:17,tarjeta,NaN,01:59:26,01:59:26,0.0,...,0,0,0,0,0,0,0,0,0,1

In [292]:
#tarjeta roja

colname = 'falta-Tarjeta-roja'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    #if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='hecha'):
    if (data_eventos.loc[i,'Evento']=='tarjeta') & (data_eventos.loc[i,'Subevento']=='roja'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja]
Index: []

[0 rows x 50 columns]

# Recuperacion

- robo
- encontradas
- intercepcion suelo
- intercepcion aereo
- intercepcion anticipo
- disputa suelo

In [293]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       remate atajable              4
              salvada/atajada              4
falta         hecha                        9
              offside                      2
              recibida                     8
gol           directa                      3
gol rival     indirecta                    1
pase          corto                       49
              inteligente                  1
              largo                        8
              medio                       20
              s arquero mano               1
              s arquero pie                8
perdida       balon afuera fondo           2
              balon afuera lateral         1
              interceptado                23
              robo                         5
remate cabeza facil                        2
remate pie    corta distancia              4
tarjeta       amarilla                     2

In [294]:
colname = 'recuperacion-Robo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if ((data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='robo')):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo]
Index: []

[0 rows x 51 columns]

In [295]:
#encontrada

colname = 'recuperacion-Encontrada'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='encontrada'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada]
Index: []

[0 rows x 52 columns]

In [296]:
#intercepcion suelo

colname = 'recuperacion-Intercepcion-suelo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='intercepcion'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo]
Index: []

[0 rows x 53 columns]

In [297]:
#intercepcion aereo

colname = 'recuperacion-Intercepcion-aereo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='intercepcion aereo'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo]
Index: []

[0 rows x 54 columns]

In [298]:
#intercepcion anticipo

colname = 'recuperacion-Intercepcion-anticipo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion'):
        if ('anticipo' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo]
Index: []

[0 rows x 55 columns]

In [299]:
#disputa suelo

colname = 'recuperacion-Disputa-suelo'
data_eventos[colname] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='disputa suelo'):
        if (data_eventos.loc[i+1,'Evento'] == 'recuperacion') & (data_eventos.loc[i+1,'Subevento'] == 'duelo'): 
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo]
Index: []

[0 rows x 56 columns]

# Pelota parada

- lateral completado
- lateral interceptado
- corner completado
- corner interceptado
- tiro libre

In [300]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       remate atajable              4
              salvada/atajada              4
falta         hecha                        9
              offside                      2
              recibida                     8
gol           directa                      3
gol rival     indirecta                    1
pase          corto                       49
              inteligente                  1
              largo                        8
              medio                       20
              s arquero mano               1
              s arquero pie                8
perdida       balon afuera fondo           2
              balon afuera lateral         1
              interceptado                23
              robo                         5
remate cabeza facil                        2
remate pie    corta distancia              4
tarjeta       amarilla                     2

In [301]:
#lateral

colname1 = 'parado-Lateral-interceptado'
data_eventos[colname1] = 0
colname2 = 'parado-Lateral-completado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if ('lateral' in data_eventos.loc[i,'Subevento']):

            if ((data_eventos.loc[i+1,'Evento']=='perdida') & (data_eventos.loc[i+1,'Subevento']=='intercepcion')):
                data_eventos.loc[i,colname1] = 1
            if (data_eventos.loc[i+1,'Evento']=='duelo') & ((data_eventos.loc[i+1,'Subevento']=='aereo') | (data_eventos.loc[i+1,'Subevento']=='disputa suelo')):
                if (data_eventos.loc[i+2,'Evento']=='perdida') & (data_eventos.loc[i+2,'Subevento']=='duelo'):
                    data_eventos.loc[i,colname1] = 1
                
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if ('lateral' in data_eventos.loc[i,'Subevento']):
            if (data_eventos.loc[i,colname1]!= 1):
                data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado]
Index: []

[0 rows x 58 columns]

In [302]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado]
Index: []

[0 rows x 58 columns]

In [303]:
#corner

colname1 = 'parado-Corner-interceptado'
data_eventos[colname1] = 0
colname2 = 'parado-Corner-completado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i,'Subevento']=='tiro de esquina'):

            if ('intercep' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname1] = 1
            if (data_eventos.loc[i+1,'Evento']=='duelo') & ((data_eventos.loc[i+1,'Subevento']=='aereo') | (data_eventos.loc[i+1,'Subevento']=='disputa suelo')):
                if (data_eventos.loc[i+2,'Evento']=='perdida') & (data_eventos.loc[i+2,'Subevento']=='duelo'):
                    data_eventos.loc[i,colname1] = 1
                
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i,'Subevento']=='tiro de esquina'):
            if (data_eventos.loc[i,colname1]!= 1):
                data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado]
Index: []

[0 rows x 60 columns]

In [304]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado]
Index: []

[0 rows x 60 columns]

In [305]:
#tiro libre
colname1 = 'parado-Tiro-libre-incompleto'
data_eventos[colname1] = 0
colname2 = 'parado-Tiro-libre-completado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pelota parada') & (data_eventos.loc[i,'Subevento']=='tiro libre') :
        if(data_eventos.loc[i+1,'Evento'] == 'perdida'):
            data_eventos.loc[i,colname1] = 1

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i,'Subevento']=='tiro libre'):
            if (data_eventos.loc[i,colname1]!= 1):
                data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado]
Index: []

[0 rows x 62 columns]

In [306]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado]
Index: []

[0 rows x 62 columns]

# Perdida

- gambeta a favor
- robo
- intercepcion
- error tecnico
- balon afuera
- genero situacion rival
- genero gol rival
- atajada rival

In [307]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       remate atajable              4
              salvada/atajada              4
falta         hecha                        9
              offside                      2
              recibida                     8
gol           directa                      3
gol rival     indirecta                    1
pase          corto                       49
              inteligente                  1
              largo                        8
              medio                       20
              s arquero mano               1
              s arquero pie                8
perdida       balon afuera fondo           2
              balon afuera lateral         1
              interceptado                23
              robo                         5
remate cabeza facil                        2
remate pie    corta distancia              4
tarjeta       amarilla                     2

In [308]:
#gambeta a favor

colname = 'perdida-Gambeta-favor'
data_eventos[colname] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='gambeta a favor'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo'): 
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor]
Index: []

[0 rows x 63 columns]

In [309]:
#robo

colname = 'perdida-Robo'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida') & (data_eventos.loc[i,'Subevento']=='robo'):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo]
Index: []

[0 rows x 64 columns]

In [310]:
#intercepcion

colname = 'perdida-Intercepcion'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida') & ('intercep' in str(data_eventos.loc[i,'Subevento'])):
        data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion]
Index: []

[0 rows x 65 columns]

In [311]:
#error tecnico

colname = 'perdida-Error-tecnico'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida') & (data_eventos.loc[i,'Subevento']=='error tecnico'):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico]
Index: []

[0 rows x 66 columns]

In [312]:
#balon afuera

colname = 'perdida-Balon-fuera'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida'):
        if ('balon afuera' in str(data_eventos.loc[i,'Subevento'])):
            data_eventos.loc[i,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera]
Index: []

[0 rows x 67 columns]

In [313]:
#situacion rival

colname = 'perdida-Situacion-rival'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='situacion rival'):
        if (data_eventos.loc[i,'Subevento']=='directa'):
            data_eventos.loc[i,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival]
Index: []

[0 rows x 68 columns]

In [314]:
#atajada

colname = 'perdida-Atajada'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida'):
        if (data_eventos.loc[i,'Subevento']=='atajada'):
            data_eventos.loc[i,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada]
Index: []

[0 rows x 69 columns]

# Arquero

- gol en contra
- atajada facil
- atajada dificil
- mano a mano
- rebote
- intercepcion aereo
- intercepcion aereo anticipo
- completado
- interceptado
- saque arquero pie
- saque arquero mano
- saque meta
- pase


Cuando pongo el gol rival, atajadas y rebotes, tengo q poner q todas las cosas se marquen como arquero-x:
- el remate rival (coordenadas inicial y final)
- la atajada (coordenada inicial)
- rebote (coordenada incial y final)
- el centro (si hay intercepcion aereo) , etc

In [315]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       remate atajable              4
              salvada/atajada              4
falta         hecha                        9
              offside                      2
              recibida                     8
gol           directa                      3
gol rival     indirecta                    1
pase          corto                       49
              inteligente                  1
              largo                        8
              medio                       20
              s arquero mano               1
              s arquero pie                8
perdida       balon afuera fondo           2
              balon afuera lateral         1
              interceptado                23
              robo                         5
remate cabeza facil                        2
remate pie    corta distancia              4
tarjeta       amarilla                     2

In [357]:
#gol rival

colname1 = 'arquero-Gol-rival'
data_eventos[colname1] = 0
colname2 = 'arquero-Gol-rival-atajable'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='gol rival'):
        data_eventos.loc[i,colname1] = 1
        if ('remate atajable' in data_eventos.loc[i+1,'Subevento']):
            data_eventos.loc[i,colname2] = 1
        

data_eventos.loc[data_eventos[colname1] == 1]

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
48,2022/05/29,River Semifinal,completo,18:28:07,21:01:17,gol rival,NaN,00:52:12,00:52:12,0.0,...,0,0,0,0,0,NaN,0.0,NaN,83.609714,NaN

In [317]:
#atajada

colname = 'arquero-Atajada'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='arquero'):
        if ('atajada' in data_eventos.loc[i,'Subevento']) | (data_eventos.loc[i,'Subevento']=='mano a mano'):
            data_eventos.loc[i,colname] = 1
            if ('remate' in data_eventos.loc[i-1,'Evento']):
                data_eventos.loc[i-1,colname] = 1
            elif ('remate' in data_eventos.loc[i-2,'Evento']):
                data_eventos.loc[i-2,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,perdida-Gambeta-favor,perdida-Robo,perdida-Intercepcion,perdida-Error-tecnico,perdida-Balon-fuera,perdida-Situacion-rival,perdida-Atajada,arquero-Gol-rival,arquero-Gol-rival-atajable,arquero-Atajada
93,2022/05/29,River,completo,18:28:07,21:01:17,remate pie,NaN,01:11:39,01:11:39,0.0,...,0,0,0,0,0,0,0,0,0,1
94,2022/05/29,River,completo,18:28:07,21:01:17,arquero,NaN,01:12:16,01:12:16,0.0,...,0,0,0,0,0,0,0,0,0,1
130,2022/05/29,River,completo,18:28:07,21:01:17,remate cabeza,NaN,02:01:51,02:01:51,0.0,...,0,0,0,0,0,0,0,0,0,1
132,2022/05/29,River,completo,18:28:07,21:01:17,arquero,NaN,02:04:05,02:04:05,0.0,...,0,0,0,0,0,0,0,0,0,1
144,2022/05/29,River,completo,18:28:07,21:01:17,arquero,NaN,02:13:13,02:13:13,0.0,...,0,0,0,0,0,0,0,0,0,1
145,2022/05/29,River,completo,18:28:07,21:01:17,arquero,NaN,02:13:56,02:13:56,0.0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
# #mano a mano
# data_eventos_con_rival = data.copy().reset_index(drop=True)

# colname = 'arquero-mano_a_mano'
# data_eventos_con_rival[colname] = 0

# for i in range(len(data_eventos_con_rival)):
#     if (data_eventos_con_rival.loc[i,'Evento']=='arquero'):
#         if ('mano a mano' in data_eventos_con_rival.loc[i,'Subevento']):
#             data_eventos_con_rival.loc[i,colname] = 1
#             if ('remate' in data_eventos_con_rival.loc[i-1,'Evento']):
#                 data_eventos_con_rival.loc[i,'Posicion incial'] = data_eventos_con_rival.loc[i-1,'Posicion incial']
#                 data_eventos_con_rival.loc[i,'Posicion final'] = data_eventos_con_rival.loc[i-1,'Posicion final']
#                 data_eventos_con_rival.loc[i,'coord inicial'] = data_eventos_con_rival.loc[i-1,'coord inicial']
#                 data_eventos_con_rival.loc[i,'coord final'] = data_eventos_con_rival.loc[i-1,'coord final']


# data_eventos_con_rival.loc[data_eventos_con_rival[colname] == 1]

In [318]:
#intercepcion aereo

colname = 'arquero-Intercepcion-aerea'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Jugador 1']==1):
        if ('intercepcion aereo' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea]
Index: []

[0 rows x 73 columns]

In [319]:
#intercepcion

colname = 'arquero-Intercepcion'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Jugador 1']==1):
        if (data_eventos.loc[i,'Subevento']=='intercepcion'):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion]
Index: []

[0 rows x 74 columns]

In [320]:
#anticipo

colname = 'arquero-Anticipo'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Jugador 1']==1):
        if (data_eventos.loc[i,'Subevento']=='anticipo'):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion, arquero-Anticipo]
Index: []

[0 rows x 75 columns]

In [321]:
#saque arquero mano

colname = 'arquero-Saque-mano'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if(data_eventos.loc[i,'Jugador 1']==1):
        if (data_eventos.loc[i,'Evento']=='pase'):
            if (data_eventos.loc[i,'Subevento']=='s arquero mano' ):
                data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion, arquero-Anticipo, arquero-Saque-mano]
Index: []

[0 rows x 76 columns]

In [322]:
#saque arquero pie

colname = 'arquero-Saque-pie'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Jugador 1']==1):
        if ('s arquero pie' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,perdida-Situacion-rival,perdida-Atajada,arquero-Gol-rival,arquero-Gol-rival-atajable,arquero-Atajada,arquero-Intercepcion-aerea,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie
72,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,01:01:59,01:01:59,0.0,...,0,0,0,0,0,0,0,0,0,1
95,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,01:12:31,01:12:31,0.0,...,0,0,0,0,0,0,0,0,0,1
102,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,01:39:47,01:39:47,0.0,...,0,0,0,0,0,0,0,0,0,1
112,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,01:48:19,01:48:19,0.0,...,0,0,0,0,0,0,0,0,0,1
137,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:07:42,02:07:42,0.0,...,0,0,0,0,0,0,0,0,0,1
141,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:11:25,02:11:25,0.0,...,0,0,0,0,0,0,0,0,0,1
150,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:16:26,02:16:26,0.0,...,0,0,0,0,0,0,0,0,0,1
154,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:19:10,02:19:10,0.0,...,0,0,0,0,0,0,0,0,0,1

In [326]:
#saque de meta

colname = 'arquero-Saque-meta'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Jugador 1']==1):
        if ('s arquero pie' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1
        if ('s arquero mano' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,perdida-Atajada,arquero-Gol-rival,arquero-Gol-rival-atajable,arquero-Atajada,arquero-Intercepcion-aerea,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta
72,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,01:01:59,01:01:59,0.0,...,0,0,0,0,0,0,0,0,1,1
95,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,01:12:31,01:12:31,0.0,...,0,0,0,0,0,0,0,0,1,1
102,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,01:39:47,01:39:47,0.0,...,0,0,0,0,0,0,0,0,1,1
112,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,01:48:19,01:48:19,0.0,...,0,0,0,0,0,0,0,0,1,1
137,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:07:42,02:07:42,0.0,...,0,0,0,0,0,0,0,0,1,1
141,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:11:25,02:11:25,0.0,...,0,0,0,0,0,0,0,0,1,1
150,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:16:26,02:16:26,0.0,...,0,0,0,0,0,0,0,0,1,1
154,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:19:10,02:19:10,0.0,...,0,0,0,0,0,0,0,0,1,1

In [327]:
data_eventos.columns = [col.replace(' ','.') for col in data_eventos.columns]

In [328]:
data_eventos.iloc[:,:20]

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),Dificultad,coord.final,Jugador.2,Jugador.1,coord.inicial,Subevento,Optional.Column,segundos,remate-Gol,remate-Fuera
0,2022/05/29,River,completo,18:28:07,21:01:17,falta,NaN,00:27:49,00:27:49,0.0,NaN,Volver,NaN,1.0,4.0,recibida,NaN,1669.0,0,0
1,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:27:58,00:27:58,0.0,NaN,17,9,10.0,14.0,corto,NaN,1678.0,0,0
2,2022/05/29,River,completo,18:28:07,21:01:17,perdida,NaN,00:27:59,00:27:59,0.0,NaN,Volver,NaN,9.0,17.0,interceptado,NaN,1679.0,0,0
3,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:28:06,00:28:06,0.0,NaN,11,6,2.0,11.0,corto,NaN,1686.0,0,0
4,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,00:28:09,00:28:09,0.0,NaN,17,10,6.0,11.0,largo,NaN,1689.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:19:36,02:19:36,0.0,NaN,12,11,4.0,9.0,medio,NaN,8376.0,0,0
158,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:19:41,02:19:41,0.0,NaN,15,13,11.0,18.0,corto,NaN,8381.0,0,0
159,2022/05/29,River,completo,18:28:07,21:01:17,pase,NaN,02:19:44,02:19:44,0.0,NaN,17,22,13.0,15.0,medio,NaN,8384.0,0,0
160,2022/05/29,River,completo,18:28:07,21:01:17,perdida,NaN,02:19:44,02:19:44,0.0,NaN,Volver,NaN,13.0,15.0,interceptado,NaN,8384.0,0,0
161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

# Crear coordenadas

- Primero mapear la media de coordenadas para cada sector
- Segundo agregar aleatoriedad

In [329]:
data_eventos['coord.inicial'].value_counts()

3.0     25
15.0    16
11.0    13
9.0     11
10.0    10
13.0     9
12.0     9
18.0     8
21.0     8
7.0      7
14.0     6
16.0     6
8.0      6
24.0     5
17.0     4
6.0      3
20.0     3
22.0     2
4.0      2
19.0     2
5.0      1
1.0      1
Name: coord.inicial, dtype: int64

In [330]:
data_eventos['coord.final'].value_counts()

Volver    69
13         9
18         9
10         9
15         8
14         7
11         6
12         6
9          5
8          5
22         4
17         3
4          3
16         3
21         3
24         2
7          2
19         2
6          2
5          1
1          1
Name: coord.final, dtype: int64

In [331]:
map_zona_coord_x = {  
1:22,
2:21,
3:12,
4:33,
5:21,
6:20,
7:68,
8:66,
9:65,
10:109,
11:108,
12:105,
13:162,
14:161,
15:160,
16:205,
17:203,
18:203,
19:251,
20:250,
21:238,
22:260,
23:250,
24:250
}

In [332]:
map_zona_coord_y = {  
1:18,
2:43,
3:82,
4:83,
5:117,
6:147,
7:22,
8:81,
9:141,
10:22,
11:82,
12:138,
13:21,
14:81,
15:142,
16:23,
17:80,
18:141,
19:20,
20:45,
21:80,
22:81,
23:119,
24:147
}

In [333]:
data_eventos['coord.final.num'] = np.where(data_eventos['coord.final'] == 'Volver',None, data_eventos['coord.final']).astype('float')

In [334]:
data_eventos['coord.inicial.x'] = data_eventos['coord.inicial'].map(map_zona_coord_x)
data_eventos['coord.final.x'] = data_eventos['coord.final.num'].map(map_zona_coord_x)
data_eventos['coord.inicial.y'] = data_eventos['coord.inicial'].map(map_zona_coord_y)
data_eventos['coord.final.y'] = data_eventos['coord.final.num'].map(map_zona_coord_y)
data_eventos.iloc[:,-5:]

,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,NaN,33.0,NaN,83.0,NaN
1,17.0,161.0,203.0,81.0,80.0
2,NaN,203.0,NaN,80.0,NaN
3,11.0,108.0,108.0,82.0,82.0
4,17.0,108.0,203.0,82.0,80.0
...,...,...,...,...,...
157,12.0,65.0,105.0,141.0,138.0
158,15.0,203.0,160.0,141.0,142.0
159,17.0,160.0,203.0,142.0,80.0
160,NaN,160.0,NaN,142.0,NaN
161,NaN,NaN,NaN,NaN,NaN

In [335]:
data_eventos['coord.inicial.x'].describe() # de 0 a 272

count    157.000000
mean     121.471338
std       77.140528
min       12.000000
25%       65.000000
50%      109.000000
75%      162.000000
max      260.000000
Name: coord.inicial.x, dtype: float64

In [336]:
# añadirles aleatoriedad
data_eventos['coord.inicial.x'] = data_eventos['coord.inicial.x'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.inicial.x'].describe()

count    157.000000
mean     121.753142
std       78.259321
min       -7.260481
25%       59.526144
50%      118.537302
75%      179.065787
max      265.271518
Name: coord.inicial.x, dtype: float64

In [337]:
data_eventos['coord.inicial.x'] = np.where(data_eventos['coord.inicial.x']<0, 0, data_eventos['coord.inicial.x'])
data_eventos['coord.inicial.x'] = np.where(data_eventos['coord.inicial.x']>272, 272, data_eventos['coord.inicial.x'])

In [338]:
data_eventos['coord.inicial.y'].describe() # de 0 a 162

count    157.000000
mean      87.617834
std       44.833243
min       18.000000
25%       80.000000
50%       82.000000
75%      141.000000
max      147.000000
Name: coord.inicial.y, dtype: float64

In [339]:
data_eventos['coord.inicial.y'] = data_eventos['coord.inicial.y'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.inicial.y'].describe() # de 0 a 162

count    157.000000
mean      86.295326
std       45.309526
min        1.360401
25%       62.057601
50%       84.060199
75%      130.556706
max      166.086245
Name: coord.inicial.y, dtype: float64

In [340]:
data_eventos['coord.inicial.y'] = np.where(data_eventos['coord.inicial.y']<0, 0, data_eventos['coord.inicial.y'])
data_eventos['coord.inicial.y'] = np.where(data_eventos['coord.inicial.y']>162, 162, data_eventos['coord.inicial.y'])

In [341]:
data_eventos['coord.final.x'] = data_eventos['coord.final.x'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.final.x'] = np.where(data_eventos['coord.final.x']<0, 0, data_eventos['coord.final.x'])
data_eventos['coord.final.x'] = np.where(data_eventos['coord.final.x']>272, 272, data_eventos['coord.final.x'])

In [342]:
data_eventos['coord.final.y'] = data_eventos['coord.final.y'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.final.y'] = np.where(data_eventos['coord.final.y']<0, 0, data_eventos['coord.final.y'])
data_eventos['coord.final.y'] = np.where(data_eventos['coord.final.y']>162, 162, data_eventos['coord.final.y'])

In [343]:
data_eventos.iloc[:,-5:]

,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,NaN,42.573430,NaN,70.674255,NaN
1,17.0,179.555406,192.501008,98.022145,87.197707
2,NaN,221.195094,NaN,68.671947,NaN
3,11.0,122.627918,91.885193,79.949659,69.964820
4,17.0,126.546757,188.103268,84.060199,70.609322
...,...,...,...,...,...
157,12.0,68.727024,104.759524,134.241846,138.880202
158,15.0,219.578022,140.153486,130.556706,161.988124
159,17.0,141.326889,204.702223,152.791996,73.709761
160,NaN,157.992027,NaN,139.612696,NaN
161,NaN,NaN,NaN,NaN,NaN

In [344]:
round(data_eventos['coord.inicial.x'],0).astype('str')+','+round(data_eventos['coord.inicial.y'],0).astype('str')

0        43.0,71.0
1       180.0,98.0
2       221.0,69.0
3       123.0,80.0
4       127.0,84.0
          ...
157     69.0,134.0
158    220.0,131.0
159    141.0,153.0
160    158.0,140.0
161        nan,nan
Length: 162, dtype: object

In [345]:
# pasar en ambos formatos. Crear las dos cols originales q sean strings

data_eventos['coord.inicial'] = round(data_eventos['coord.inicial.x'],0).astype('str').str.split('.').str[0]+','+round(data_eventos['coord.inicial.y'],0).astype('str').str.split('.').str[0]
data_eventos['coord.final'] = round(data_eventos['coord.final.x'],0).astype('str').str.split('.').str[0]+','+round(data_eventos['coord.final.y'],0).astype('str').str.split('.').str[0]

In [346]:
data_eventos['coord.inicial'] = np.where(data_eventos['coord.inicial']=='nan,nan', None, data_eventos['coord.inicial'])
data_eventos['coord.final'] = np.where(data_eventos['coord.final']=='nan,nan', None, data_eventos['coord.final'])

In [347]:
data_eventos[['coord.inicial','coord.final']]

    coord.inicial coord.final
0           43,71        None
1          180,98      193,87
2          221,69        None
3          123,80       92,70
4          127,84      188,71
..            ...         ...
157        69,134     105,139
158       220,131     140,162
159       141,153      205,74
160       158,140        None
161          None        None

[162 rows x 2 columns]

# Escribir tabla filtros

In [348]:
data_eventos = data_eventos[~data_eventos['partido'].isna()].reset_index(drop=True)

In [349]:
data_eventos['partido'] = 'River Semifinal'

In [350]:
data_eventos.tail()

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
156,2022/05/29,River Semifinal,completo,18:28:07,21:01:17,pase,NaN,02:19:33,02:19:33,0.0,...,0,0,0,0,0,9.0,52.812112,63.998248,140.920376,150.407466
157,2022/05/29,River Semifinal,completo,18:28:07,21:01:17,pase,NaN,02:19:36,02:19:36,0.0,...,0,0,0,0,0,12.0,68.727024,104.759524,134.241846,138.880202
158,2022/05/29,River Semifinal,completo,18:28:07,21:01:17,pase,NaN,02:19:41,02:19:41,0.0,...,0,0,0,0,0,15.0,219.578022,140.153486,130.556706,161.988124
159,2022/05/29,River Semifinal,completo,18:28:07,21:01:17,pase,NaN,02:19:44,02:19:44,0.0,...,0,0,0,0,0,17.0,141.326889,204.702223,152.791996,73.709761
160,2022/05/29,River Semifinal,completo,18:28:07,21:01:17,perdida,NaN,02:19:44,02:19:44,0.0,...,0,0,0,0,0,NaN,157.992027,NaN,139.612696,NaN

In [351]:
data_eventos.to_csv("../Datos generados para la app/reserva22-semis_river-tabla_filtros2.csv",index=False)

In [352]:
data_eventos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 83 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Session.Start.Date                  161 non-null    object
 1   partido                             161 non-null    object
 2   tiempo                              161 non-null    object
 3   Session.Start                       161 non-null    object
 4   Session.End                         161 non-null    object
 5   Evento                              161 non-null    object
 6   Tag.Notes                           0 non-null      float64
 7   Tag.Start                           161 non-null    object
 8   Tag.End                             161 non-null    object
 9   Tag.Duration.(secs)                 161 non-null    float64
 10  Dificultad                          4 non-null      object
 11  coord.final                         90 non-null     object
 12  Jugador.2                           91 non-null     object
 13  Jugador.1                           156 non-null    float64
 14  coord.inicial                       157 non-null    object
 15  Subevento                           157 non-null    object
 16  Optional.Column                     0 non-null      float64
 17  segundos                            161 non-null    float64
 18  remate-Gol                          161 non-null    int64
 19  remate-Fuera                        161 non-null    int64
 20  remate-Al-arco                      161 non-null    int64
 21  remate-Interceptado                 161 non-null    int64
 22  remate-Cabeza                       161 non-null    int64
 23  pase-Asistencia                     161 non-null    int64
 24  pase-Completado                     161 non-null    int64
 25  pase-Interceptado                   161 non-null    int64
 26  pase-Fuera                          161 non-null    int64
 27  pase-Inteligente                    161 non-null    int64
 28  centro-Asistencia                   161 non-null    int64
 29  centro-Completado                   161 non-null    int64
 30  centro-Interceptado                 161 non-null    int64
 31  centro-Bloqueado                    161 non-null    int64
 32  centro-Fuera                        161 non-null    int64
 33  duelo-Aereo-Perdido                 161 non-null    int64
 34  duelo-Aereo-Ganado                  161 non-null    int64
 35  duelo-Disputa-suelo-Perdida         161 non-null    int64
 36  duelo-Disputa-suelo-Ganada          161 non-null    int64
 37  duelo-Gambeta-contra-Ganada         161 non-null    int64
 38  duelo-Gambeta-contra-Perdida        161 non-null    int64
 39  duelo-Gambeta-favor-Perdida         161 non-null    int64
 40  duelo-Gambeta-favor-Ganada          161 non-null    int64
 41  duelo-Pivote-Perdido                161 non-null    int64
 42  duelo-Pivote-Ganado                 161 non-null    int64
 43  falta-Cometida                      161 non-null    int64
 44  falta-Recibida                      161 non-null    int64
 45  falta-Penal-cometido                161 non-null    int64
 46  falta-Penal-recibido                161 non-null    int64
 47  falta-Offside                       161 non-null    int64
 48  falta-Tarjeta-amarilla              161 non-null    int64
 49  falta-Tarjeta-roja                  161 non-null    int64
 50  recuperacion-Robo                   161 non-null    int64
 51  recuperacion-Encontrada             161 non-null    int64
 52  recuperacion-Intercepcion-suelo     161 non-null    int64
 53  recuperacion-Intercepcion-aereo     161 non-null    int64
 54  recuperacion-Intercepcion-anticipo  161 non-null    int64
 55  recuperacion-Disputa-suelo          161 non-null    int64
 56  parado-Lateral-interceptado         161 non-null    int64
 57  parado-Lateral-completado           161 non-null    int64
 58  parado-Corner-interceptado          161 non-null    int64
 59  parado-Corner-completado            161 non-null    int64
 60  parado-Tiro-libre-incompleto        161 non-null    int64
 61  parado-Tiro-libre-completado        161 non-null    int64
 62  perdida-Gambeta-favor               161 non-null    int64
 63  perdida-Robo                        161 non-null    int64
 64  perdida-Intercepcion                161 non-null    int64
 65  perdida-Error-tecnico               161 non-null    int64
 66  perdida-Balon-fuera                 161 non-null    int64
 67  perdida-Situacion-rival             161 non-null    int64
 68  perdida-Atajada                     161 non-null    int64
 69  arquero-Gol-rival                   161 non-null    int64
 70  arquero-Gol-rival-atajable          161 non-null    int64
 71  arquero-Atajada                     161 non-null    int64
 72  arquero-Intercepcion-aerea          161 non-null    int64
 73  arquero-Intercepcion                161 non-null    int64
 74  arquero-Anticipo                    161 non-null    int64
 75  arquero-Saque-mano                  161 non-null    int64
 76  arquero-Saque-pie                   161 non-null    int64
 77  arquero-Saque-meta                  161 non-null    int64
 78  coord.final.num                     90 non-null     float64
 79  coord.inicial.x                     157 non-null    float64
 80  coord.final.x                       90 non-null     float64
 81  coord.inicial.y                     157 non-null    float64
 82  coord.final.y                       90 non-null     float64
dtypes: float64(10), int64(60), object(13)
memory usage: 104.5+ KB

In [110]:
data_eventos[[col for col in data_eventos.columns if 'perdida' in col]].sum()

perdida-Gambeta-favor      0
perdida-Robo               0
perdida-Intercepcion       0
perdida-Error-tecnico      0
perdida-Balon-fuera        0
perdida-Situacion-rival    0
perdida-Atajada            0
dtype: int64