In [125]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import glob
import os
#pd.set_option('display.max_rows', 200)

# Carga de datos

In [126]:
# merging the files
files_joined = os.path.join('..\\..\\datos etiquetas\\Tem2-2022\\Fecha 1 - Gimnasia', "*.csv")

# Return a list of all joined files
list_files = glob.glob(files_joined)

#print("** Merging multiple csv files into a single pandas dataframe **")
# Merge files by joining all files
data = pd.concat(map(pd.read_csv, list_files), ignore_index=True)

In [127]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363 entries, 0 to 362
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Session Start Date   363 non-null    object
 1   Event                363 non-null    object
 2   Session Name         363 non-null    object
 3   Session Start        363 non-null    object
 4   Session End          363 non-null    object
 5   Tag Description      363 non-null    object
 6   Tag Notes            0 non-null      float64
 7   Tag Start            363 non-null    object
 8   Tag End              363 non-null    object
 9   Tag Duration (secs)  363 non-null    float64
 10  Zonas                359 non-null    float64
 11  Categoria            359 non-null    object
 12  Jugador2             268 non-null    object
 13  Jugador              358 non-null    float64
 14  Zonas_final          359 non-null    object
 15  Dificultad           2 non-null      object
 16  Calificacion         6 non-null      object
 17  Optional Column      0 non-null      float64
dtypes: float64(5), object(13)
memory usage: 51.2+ KB

In [128]:
# data.columns = ['Session Start Date','partido','tiempo','Session Start',
#        'Session End','Evento','Tag Notes','Tag Start', 'Tag End',
#        'Tag Duration (secs)','coord inicial','Subevento','Jugador 2','Jugador 1','coord final','Optional Column']

data.columns = ['Session Start Date','tiempo','partido','Session Start',
       'Session End','Evento','Tag Notes','Tag Start', 'Tag End',
       'Tag Duration (secs)','coord inicial','Subevento','Jugador 2','Jugador 1','coord final','Dificultad','Calificacion','Optional Column']

In [129]:
'''TIEMPO'''

from datetime import timedelta

def seconder(x):
    hr, mins, secs = map(float, x.split(':'))
    td = timedelta(hours= hr, minutes=mins, seconds=secs)
    return td.total_seconds()
data['segundos'] = data['Tag Start'].apply(seconder)

In [130]:
data = data.append(data.iloc[-1,:]).reset_index(drop=True)
data.loc[-1,'Evento'] = np.nan
data.loc[-1,'Subevento'] = np.nan
data = data.drop_duplicates()
data = data.reset_index(drop=True)

In [131]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363 entries, 0 to 362
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Session Start Date   362 non-null    object
 1   tiempo               362 non-null    object
 2   partido              362 non-null    object
 3   Session Start        362 non-null    object
 4   Session End          362 non-null    object
 5   Evento               362 non-null    object
 6   Tag Notes            0 non-null      float64
 7   Tag Start            362 non-null    object
 8   Tag End              362 non-null    object
 9   Tag Duration (secs)  362 non-null    float64
 10  coord inicial        359 non-null    float64
 11  Subevento            359 non-null    object
 12  Jugador 2            268 non-null    object
 13  Jugador 1            358 non-null    float64
 14  coord final          359 non-null    object
 15  Dificultad           2 non-null      object
 16  Calificacion         6 non-null      object
 17  Optional Column      0 non-null      float64
 18  segundos             362 non-null    float64
dtypes: float64(6), object(13)
memory usage: 54.0+ KB

In [132]:
data

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),coord inicial,Subevento,Jugador 2,Jugador 1,coord final,Dificultad,Calificacion,Optional Column,segundos
0,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,Pase,NaN,00:22:36,00:22:36,0.0,11.0,corto,5,9.0,11,NaN,NaN,NaN,1356.0
1,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,Pase,NaN,00:22:39,00:22:39,0.0,11.0,medio,10,5.0,13,NaN,NaN,NaN,1359.0
2,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,Pase,NaN,00:22:50,00:22:50,0.0,14.0,corto,9,5.0,17,NaN,NaN,NaN,1370.0
3,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,Pase,NaN,00:22:59,00:22:59,0.0,17.0,corto,10,11.0,16,NaN,NaN,NaN,1379.0
4,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,Remate pie,NaN,00:23:02,00:23:02,0.0,16.0,Larga distancia,Rival,10.0,22,NaN,NaN,NaN,1382.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,Pase,NaN,02:14:32,02:14:32,0.0,13.0,medio,14,18.0,17,NaN,NaN,NaN,8072.0
359,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,Perdida,NaN,02:14:33,02:14:33,0.0,13.0,Interceptado,NaN,18.0,Volver,NaN,NaN,NaN,8073.0
360,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,Remate pie,NaN,02:14:42,02:14:42,0.0,17.0,Larga distancia,Rival,4.0,22,NaN,NaN,NaN,8082.0
361,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,Perdida,NaN,02:14:42,02:14:42,0.0,17.0,Atajada,NaN,4.0,Volver,NaN,NaN,NaN,8082.0
362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [133]:
#data['segundos'] = np.random.randint(1, 600, data.shape[0])
#data

In [134]:
'''CORREGIR MAYUSCULAS Y COSAS DE EVENTOS'''

data['Evento'] = data['Evento'].str.lower().str.strip()
data['Subevento'] = data['Subevento'].str.lower().str.strip()

# Estadisticas basicas

In [135]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       mano a mano                  3
              remate atajable              1
              salida aerea                 1
              salida suelo                 2
              salvada/atajada              2
despeje       despeje                      1
falta         hecha                        8
              offside                      1
              recibida                    23
gol rival     directa                      1
              indirecta                    1
pase          centro aereo                11
              corto                      121
              inteligente                 13
              largo                       30
              medio                       41
              s arquero mano               4
              s arquero pie               11
perdida       atajada                      2
              balon afuera fondo           8
              balon afuera lateral         6
              error tecnico                2
              interceptado                56
remate cabeza dificil                      2
remate pie    larga distancia              2
              media distancia              6

In [136]:
data.groupby(['Jugador 1','Evento','Subevento']).size().to_frame('cantidad')

                                           cantidad
Jugador 1 Evento     Subevento
1.0       arquero    mano a mano                  3
                     remate atajable              1
                     salida aerea                 1
                     salida suelo                 2
                     salvada/atajada              2
...                                             ...
19.0      pase       corto                        6
                     inteligente                  1
          perdida    balon afuera lateral         1
                     interceptado                 1
          remate pie media distancia              1

[112 rows x 1 columns]

# Filtros para la app

Disparos
---
- gol
- fuera
- al arco
- interceptado
- cabeza

Pase
---
- asistencia
- completado
- interceptado
- fuera
- inteligente

Centros
---
- asistencia
- completado
- interceptado
- bloqueado
- fuera

Duelos
---
- ganado
- perdido
- duelo aereo
- disputa suelo
- gambeta en contra
- gambeta a favor
- pivote

Faltas
---
- falta cometida
- falta recibida
- penal
- tarjeta amarilla
- tarjeta roja
- off-side

Recuperacion
---
- robo
- encontradas
- intercepcion suelo
- intercepcion aereo
- intercepcion anticipo
- disputa suelo

Pelota parada
---
- lateral completado
- lateral interceptado
- corner completado
- corner interceptado
- tiro libre

Perdida
---
- gambeta a favor
- robo
- intercepcion suelo
- intercepcion aereo
- error tecnico
- balon afuera
- genero situacion rival
- genero gol rival
- atajada rival

Arquero
---
- gol en contra
- atajada facil
- atajada dificil
- mano a mano
- rebote
- intercepcion aereo
- intercepcion aereo anticipo
- completado
- interceptado
- saque arquero pie
- saque arquero mano
- saque meta
- pase


LO QUE HAY QUE HACER ES CREAR UNA COLUMNA POR CADA UNO DE ESOS FILTROS CON 0-1. QUEDAR CON UNA SOLA FILA POR ACCION.

In [137]:
data_eventos = data.copy()
data_eventos.shape

(363, 19)

# Disparos

- gol: siempre tiene que haber un disparo antes de un gol? Que pasa cuando es en contra, por ejemplo. Asegurarse que siempre antes de un gol poner disparo porque si no no lo toma aca
- fuera: asegurarse de poner que pasa siempre despues de los remates
- al arco: tiene que haber una perdida en evento y atajada en subevento, desupes de un remate
- interceptado
- cabeza

In [138]:
#gol
'''si data[i] es remate y data[i+1] es gol'''

data_eventos['remate-Gol'] = 0
for i in range(len(data_eventos)-1):
    #if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') | (data_eventos.loc[i,'Evento']=='pelota parada'):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') :
        if (data_eventos.loc[i+1,'Evento']=='gol'):
            data_eventos.loc[i,'remate-Gol'] = 1
data_eventos.loc[data_eventos['remate-Gol'] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol]
Index: []

In [139]:
#fuera
'''si data[i] es remate y data[i+1] es perdida balon fuera'''
colname = 'remate-Fuera'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza'):
        if (data_eventos.loc[i+1,'Evento']=='perdida'):
            if('balon afuera' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Subevento,Jugador 2,Jugador 1,coord final,Dificultad,Calificacion,Optional Column,segundos,remate-Gol,remate-Fuera
4,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,remate pie,NaN,00:23:02,00:23:02,0.0,...,larga distancia,Rival,10.0,22,NaN,NaN,NaN,1382.0,0,1
52,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,remate pie,NaN,00:37:33,00:37:33,0.0,...,media distancia,Rival,3.0,22,NaN,NaN,NaN,2253.0,0,1
83,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,remate pie,NaN,00:48:56,00:48:56,0.0,...,media distancia,Rival,7.0,23,NaN,NaN,NaN,2936.0,0,1
114,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,remate pie,NaN,00:53:48,00:53:48,0.0,...,media distancia,Rival,11.0,22,NaN,NaN,NaN,3228.0,0,1
242,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,remate cabeza,NaN,01:45:18,01:45:18,0.0,...,dificil,Rival,11.0,22,NaN,NaN,NaN,6318.0,0,1
254,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,remate pie,NaN,01:48:16,01:48:16,0.0,...,media distancia,Rival,5.0,23,NaN,NaN,NaN,6496.0,0,1
268,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,remate pie,NaN,01:52:24,01:52:24,0.0,...,media distancia,Rival,5.0,22,NaN,NaN,NaN,6744.0,0,1

In [140]:
#al arco
'''si data[i] es remate y data[i+1] es perdida atajada'''

colname = 'remate-Al-arco'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza'):
        if (data_eventos.loc[i+1,'Evento']=='perdida'): 
            if('atajada' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Jugador 2,Jugador 1,coord final,Dificultad,Calificacion,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco
306,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,remate cabeza,NaN,02:02:50,02:02:50,0.0,...,Rival,6.0,22,NaN,NaN,NaN,7370.0,0,0,1
360,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,remate pie,NaN,02:14:42,02:14:42,0.0,...,Rival,4.0,22,NaN,NaN,NaN,8082.0,0,0,1

In [141]:
#bloqueado
'''si data[i] es remate y data[i] es remate bloqueado o data[i+1] es perdida error tecnico'''

colname = 'remate-Interceptado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') :
        if (data_eventos.loc[i,'Subevento'] == 'remate bloqueado'): 
            data_eventos.loc[i,colname] = 1
        elif(data_eventos.loc[i+1,'Evento']=='perdida'):
            if('error tecnico' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado]
Index: []

[0 rows x 23 columns]

In [142]:
#cabeza
'''si data[i] es remate cabeza'''

colname = 'remate-Cabeza'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='remate cabeza'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,coord final,Dificultad,Calificacion,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza
242,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,remate cabeza,NaN,01:45:18,01:45:18,0.0,...,22,NaN,NaN,NaN,6318.0,0,1,0,0,1
306,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,remate cabeza,NaN,02:02:50,02:02:50,0.0,...,22,NaN,NaN,NaN,7370.0,0,0,1,0,1

# Pase

- asistencia
- completado
- interceptado
- fuera
- inteligente

In [143]:
data[data.Evento=='pase'].groupby(['Evento','Subevento']).size().to_frame('cantidad')

                       cantidad
Evento Subevento
pase   centro aereo          11
       corto                121
       inteligente           13
       largo                 30
       medio                 41
       s arquero mano         4
       s arquero pie         11

In [144]:
data[(data.Evento=='pase') ]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),coord inicial,Subevento,Jugador 2,Jugador 1,coord final,Dificultad,Calificacion,Optional Column,segundos
0,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:22:36,00:22:36,0.0,11.0,corto,5,9.0,11,NaN,NaN,NaN,1356.0
1,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:22:39,00:22:39,0.0,11.0,medio,10,5.0,13,NaN,NaN,NaN,1359.0
2,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:22:50,00:22:50,0.0,14.0,corto,9,5.0,17,NaN,NaN,NaN,1370.0
3,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:22:59,00:22:59,0.0,17.0,corto,10,11.0,16,NaN,NaN,NaN,1379.0
6,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:24:16,00:24:16,0.0,8.0,medio,11,10.0,13,NaN,NaN,NaN,1456.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:13:41,02:13:41,0.0,4.0,corto,2,1.0,4,NaN,NaN,NaN,8021.0
354,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:13:45,02:13:45,0.0,2.0,corto,3,2.0,7,NaN,NaN,NaN,8025.0
355,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:13:48,02:13:48,0.0,10.0,corto,11,3.0,13,NaN,NaN,NaN,8028.0
357,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:14:28,02:14:28,0.0,11.0,medio,18,14.0,13,NaN,NaN,NaN,8068.0
358,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:14:32,02:14:32,0.0,13.0,medio,14,18.0,17,NaN,NaN,NaN,8072.0

In [145]:
data_eventos.head()

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,coord final,Dificultad,Calificacion,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza
0,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:22:36,00:22:36,0.0,...,11,NaN,NaN,NaN,1356.0,0,0,0,0,0
1,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:22:39,00:22:39,0.0,...,13,NaN,NaN,NaN,1359.0,0,0,0,0,0
2,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:22:50,00:22:50,0.0,...,17,NaN,NaN,NaN,1370.0,0,0,0,0,0
3,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:22:59,00:22:59,0.0,...,16,NaN,NaN,NaN,1379.0,0,0,0,0,0
4,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,remate pie,NaN,00:23:02,00:23:02,0.0,...,22,NaN,NaN,NaN,1382.0,0,1,0,0,0

In [146]:
#asistencia
'''si data[i] es pase, data[i+1] es remate y data[i+2] es gol'''
colname = 'pase-Asistencia'
data_eventos[colname] = 0
for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Evento']=='pase'):
        if ('remate' in data_eventos.loc[i+1,'Evento']):
            if (data_eventos.loc[i+2,'Evento']=='gol'):
                data_eventos.loc[i,colname] = 1
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia]
Index: []

[0 rows x 25 columns]

In [147]:
##completado
'''si data[i] es pase no bloqueado y data[i+1] no es perdida interceptado o balon afuera'''

colname = 'pase-Completado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if ((data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']!='s arquero mano') & (data_eventos.loc[i,'Subevento']!='s arquero pie') & (data_eventos.loc[i,'Jugador 2'] != 'Rival')):
        if ((data_eventos.loc[i+1,'Evento'] != 'perdida') ):
            data_eventos.loc[i,colname] = 1
        
        #elif ('intercep' not in data_eventos.loc[i+1,'Subevento']) & ('balon afuera' not in data_eventos.loc[i+1,'Subevento']) & ('encontrad' not in data_eventos.loc[i+1,'Subevento']):
        #    data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Calificacion,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado
0,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:22:36,00:22:36,0.0,...,NaN,NaN,1356.0,0,0,0,0,0,0,1
1,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:22:39,00:22:39,0.0,...,NaN,NaN,1359.0,0,0,0,0,0,0,1
2,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:22:50,00:22:50,0.0,...,NaN,NaN,1370.0,0,0,0,0,0,0,1
3,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:22:59,00:22:59,0.0,...,NaN,NaN,1379.0,0,0,0,0,0,0,1
9,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:25:53,00:25:53,0.0,...,NaN,NaN,1553.0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:13:36,02:13:36,0.0,...,NaN,NaN,8016.0,0,0,0,0,0,0,1
353,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:13:41,02:13:41,0.0,...,NaN,NaN,8021.0,0,0,0,0,0,0,1
354,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:13:45,02:13:45,0.0,...,NaN,NaN,8025.0,0,0,0,0,0,0,1
355,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:13:48,02:13:48,0.0,...,NaN,NaN,8028.0,0,0,0,0,0,0,1
357,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:14:28,02:14:28,0.0,...,NaN,NaN,8068.0,0,0,0,0,0,0,1

In [148]:
data_eventos.loc[data_eventos[colname] == 1].Subevento.value_counts()

corto          108
medio           26
inteligente     13
largo            7
Name: Subevento, dtype: int64

In [149]:
#Incompleto
'''si data[i] es pase no bloqueado y data[i+1] es perdida interceptado'''

colname = 'pase-Incompleto'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if ((data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']!='s arquero mano') & (data_eventos.loc[i,'Subevento']!='s arquero pie') ):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') ):
            #if ((data_eventos.loc[i,'pase-Completado'] != 1)):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado,pase-Incompleto
6,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:24:16,00:24:16,0.0,...,NaN,1456.0,0,0,0,0,0,0,0,1
10,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:25:56,00:25:56,0.0,...,NaN,1556.0,0,0,0,0,0,0,0,1
14,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:27:47,00:27:47,0.0,...,NaN,1667.0,0,0,0,0,0,0,0,1
18,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:30:54,00:30:54,0.0,...,NaN,1854.0,0,0,0,0,0,0,0,1
22,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:31:18,00:31:18,0.0,...,NaN,1878.0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:06:45,02:06:45,0.0,...,NaN,7605.0,0,0,0,0,0,0,0,1
334,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:07:38,02:07:38,0.0,...,NaN,7658.0,0,0,0,0,0,0,0,1
344,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:12:30,02:12:30,0.0,...,NaN,7950.0,0,0,0,0,0,0,0,1
346,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:12:42,02:12:42,0.0,...,NaN,7962.0,0,0,0,0,0,0,0,1
358,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:14:32,02:14:32,0.0,...,NaN,8072.0,0,0,0,0,0,0,0,1

In [150]:
# #fuera
# '''si data[i] es pase no bloqueado y data[i+1] es perdida fuera'''

# colname = 'pase-Fuera'
# data_eventos[colname] = 0
# for i in range(len(data_eventos)-1):
#     if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']!='pase bloqueado') & (data_eventos.loc[i,'Subevento']!='centro aereo'):
#         if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
#             if ('balon afuera' in data_eventos.loc[i+1,'Subevento']):
#                 data_eventos.loc[i,colname] = 1
            
# data_eventos.loc[data_eventos[colname] == 1]

In [151]:
#inteligente

colname = 'pase-Inteligente'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']=='inteligente'):
        if (data_eventos.loc[i+1,'Evento'] != 'perdida'):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado,pase-Incompleto,pase-Inteligente
20,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:31:10,00:31:10,0.0,...,1870.0,0,0,0,0,0,0,1,0,1
40,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:33:45,00:33:45,0.0,...,2025.0,0,0,0,0,0,0,1,0,1
58,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:38:50,00:38:50,0.0,...,2330.0,0,0,0,0,0,0,1,0,1
69,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:45:37,00:45:37,0.0,...,2737.0,0,0,0,0,0,0,1,0,1
113,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:53:46,00:53:46,0.0,...,3226.0,0,0,0,0,0,0,1,0,1
128,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:56:56,00:56:56,0.0,...,3416.0,0,0,0,0,0,0,1,0,1
213,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,01:38:25,01:38:25,0.0,...,5905.0,0,0,0,0,0,0,1,0,1
216,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,01:38:36,01:38:36,0.0,...,5916.0,0,0,0,0,0,0,1,0,1
305,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:02:27,02:02:27,0.0,...,7347.0,0,0,0,0,0,0,1,0,1
323,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:06:07,02:06:07,0.0,...,7567.0,0,0,0,0,0,0,1,0,1
329,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:06:55,02:06:55,0.0,...,7615.0,0,0,0,0,0,0,1,0,1
330,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:06:59,02:06:59,0.0,...,7619.0,0,0,0,0,0,0,1,0,1
349,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:13:09,02:13:09,0.0,...,7989.0,0,0,0,0,0,0,1,0,1

# Centros

- asistencia
- completado
- interceptado
- bloqueado
- fuera

In [152]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       mano a mano                  3
              remate atajable              1
              salida aerea                 1
              salida suelo                 2
              salvada/atajada              2
despeje       despeje                      1
falta         hecha                        8
              offside                      1
              recibida                    23
gol rival     directa                      1
              indirecta                    1
pase          centro aereo                11
              corto                      121
              inteligente                 13
              largo                       30
              medio                       41
              s arquero mano               4
              s arquero pie               11
perdida       atajada                      2
              balon afuera fondo           8
              balon afuera lateral         6
              error tecnico                2
              interceptado                56
remate cabeza dificil                      2
remate pie    larga distancia              2
              media distancia              6

In [153]:
#asistencia

colname = 'centro-Asistencia'
data_eventos[colname] = 0
for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if ('remate' in data_eventos.loc[i+1,'Evento']):
            if (data_eventos.loc[i+2,'Evento']=='gol'):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia]
Index: []

[0 rows x 29 columns]

In [154]:
#completado

colname = 'centro-Completado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] != 'perdida')| (data_eventos.loc[i,'Jugador 1'] != data_eventos.loc[i+1,'Jugador 1']) :
            data_eventos.loc[i,colname] = 1

            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado]
Index: []

[0 rows x 30 columns]

In [155]:
#interceptado
'''si data[i] es pase no bloqueado y data[i+1] es perdida interceptado'''

colname = 'centro-Interceptado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
            if ('intercep' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado,pase-Incompleto,pase-Inteligente,centro-Asistencia,centro-Completado,centro-Interceptado
22,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:31:18,00:31:18,0.0,...,0,0,0,0,0,1,0,0,0,1
100,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:51:26,00:51:26,0.0,...,0,0,0,0,0,1,0,0,0,1
103,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:51:32,00:51:32,0.0,...,0,0,0,0,0,1,0,0,0,1
129,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:56:58,00:56:58,0.0,...,0,0,0,0,0,1,0,0,0,1
145,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:59:53,00:59:53,0.0,...,0,0,0,0,0,1,0,0,0,1
170,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,01:04:48,01:04:48,0.0,...,0,0,0,0,0,1,0,0,0,1
177,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,01:05:43,01:05:43,0.0,...,0,0,0,0,0,1,0,0,0,1
225,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,01:42:00,01:42:00,0.0,...,0,0,0,0,0,1,0,0,0,1
297,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,01:59:45,01:59:45,0.0,...,0,0,0,0,0,1,0,0,0,1
324,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:06:12,02:06:12,0.0,...,0,0,0,0,0,1,0,0,0,1
344,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:12:30,02:12:30,0.0,...,0,0,0,0,0,1,0,0,0,1

In [156]:
#bloqueado

colname = 'centro-Bloqueado'
data_eventos[colname] = 0
# for i in range(len(data_eventos)):
#     if (data_eventos.loc[i,'Subevento']=='centro bloqueado'):
#         data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado]
Index: []

[0 rows x 32 columns]

In [157]:
#fuera

colname = 'centro-Fuera'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
            if ('balon afuera' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera]
Index: []

[0 rows x 33 columns]

# Duelos

- ganado
- perdido
- duelo aereo
- disputa suelo
- gambeta en contra
- gambeta a favor
- pivote

In [158]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       mano a mano                  3
              remate atajable              1
              salida aerea                 1
              salida suelo                 2
              salvada/atajada              2
despeje       despeje                      1
falta         hecha                        8
              offside                      1
              recibida                    23
gol rival     directa                      1
              indirecta                    1
pase          centro aereo                11
              corto                      121
              inteligente                 13
              largo                       30
              medio                       41
              s arquero mano               4
              s arquero pie               11
perdida       atajada                      2
              balon afuera fondo           8
              balon afuera lateral         6
              error tecnico                2
              interceptado                56
remate cabeza dificil                      2
remate pie    larga distancia              2
              media distancia              6

In [159]:
# dejar_index= []
# for i in range(len(data_eventos)-1):
#     if (data_eventos.loc[i,'Evento']=='duelo'):
#         dejar_index.append(i-1)
#         dejar_index.append(i)
#         dejar_index.append(i+1)
# data_eventos.loc[dejar_index].head(10)

In [160]:
#duelo aereo

colname1 = 'duelo-Aereo-Perdido'
data_eventos[colname1] = 0
colname2 = 'duelo-Aereo-Ganado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='aereo'):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo')): 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1


data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado]
Index: []

[0 rows x 35 columns]

In [161]:
data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado]
Index: []

[0 rows x 35 columns]

In [162]:
#disputa suelo

colname1 = 'duelo-Disputa-suelo-Perdida'
data_eventos[colname1] = 0
colname2 = 'duelo-Disputa-suelo-Ganada'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='disputa suelo'):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo')): 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada]
Index: []

[0 rows x 37 columns]

In [163]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada]
Index: []

[0 rows x 37 columns]

In [164]:
#gambeta en contra

colname1 = 'duelo-Gambeta-contra-Ganada'
data_eventos[colname1] = 0
colname2 = 'duelo-Gambeta-contra-Perdida'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='gambeta en contra'):
        if ((data_eventos.loc[i+1,'Evento'] == 'recuperacion') & ((data_eventos.loc[i+1,'Subevento'] == 'duelo') )): 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida]
Index: []

[0 rows x 39 columns]

In [165]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida]
Index: []

[0 rows x 39 columns]

In [166]:
#gambeta a favor

colname1 = 'duelo-Gambeta-favor-Perdida'
data_eventos[colname1] = 0
colname2 = 'duelo-Gambeta-favor-Ganada'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='gambeta a favor'):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & ((data_eventos.loc[i+1,'Subevento'] == 'duelo') | ('balon afuera' in data_eventos.loc[i+1,'Subevento']))) : 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada]
Index: []

[0 rows x 41 columns]

In [167]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada]
Index: []

[0 rows x 41 columns]

In [168]:
#pivote

colname1 = 'duelo-Pivote-Perdido'
data_eventos[colname1] = 0
colname2 = 'duelo-Pivote-Ganado'
data_eventos[colname2] = 0

#for i in range(len(data_eventos)):
#    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='pivote'):
#        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo')) : 
#            data_eventos.loc[i,colname1] = 1
#        else:
#            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado]
Index: []

[0 rows x 43 columns]

# Faltas

- falta cometida
- falta recibida
- penal
- tarjeta amarilla
- tarjeta roja
- off-side

In [169]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       mano a mano                  3
              remate atajable              1
              salida aerea                 1
              salida suelo                 2
              salvada/atajada              2
despeje       despeje                      1
falta         hecha                        8
              offside                      1
              recibida                    23
gol rival     directa                      1
              indirecta                    1
pase          centro aereo                11
              corto                      121
              inteligente                 13
              largo                       30
              medio                       41
              s arquero mano               4
              s arquero pie               11
perdida       atajada                      2
              balon afuera fondo           8
              balon afuera lateral         6
              error tecnico                2
              interceptado                56
remate cabeza dificil                      2
remate pie    larga distancia              2
              media distancia              6

In [170]:
#falta cometida

colname = 'falta-Cometida'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='hecha'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Aereo-Ganado,duelo-Disputa-suelo-Perdida,duelo-Disputa-suelo-Ganada,duelo-Gambeta-contra-Ganada,duelo-Gambeta-contra-Perdida,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida
43,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,00:36:08,00:36:08,0.0,...,0,0,0,0,0,0,0,0,0,1
105,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,00:51:47,00:51:47,0.0,...,0,0,0,0,0,0,0,0,0,1
135,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,00:58:17,00:58:17,0.0,...,0,0,0,0,0,0,0,0,0,1
147,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,01:00:05,01:00:05,0.0,...,0,0,0,0,0,0,0,0,0,1
179,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,01:05:49,01:05:49,0.0,...,0,0,0,0,0,0,0,0,0,1
191,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,01:30:25,01:30:25,0.0,...,0,0,0,0,0,0,0,0,0,1
207,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,01:36:24,01:36:24,0.0,...,0,0,0,0,0,0,0,0,0,1
338,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,02:08:29,02:08:29,0.0,...,0,0,0,0,0,0,0,0,0,1

In [171]:
#falta recibida

colname = 'falta-Recibida'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='recibida'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Disputa-suelo-Perdida,duelo-Disputa-suelo-Ganada,duelo-Gambeta-contra-Ganada,duelo-Gambeta-contra-Perdida,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida,falta-Recibida
8,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,00:25:18,00:25:18,0.0,...,0,0,0,0,0,0,0,0,0,1
16,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,00:28:35,00:28:35,0.0,...,0,0,0,0,0,0,0,0,0,1
25,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,00:31:59,00:31:59,0.0,...,0,0,0,0,0,0,0,0,0,1
59,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,00:38:56,00:38:56,0.0,...,0,0,0,0,0,0,0,0,0,1
61,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,00:42:39,00:42:39,0.0,...,0,0,0,0,0,0,0,0,0,1
70,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,00:45:43,00:45:43,0.0,...,0,0,0,0,0,0,0,0,0,1
85,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,00:49:36,00:49:36,0.0,...,0,0,0,0,0,0,0,0,0,1
158,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,01:01:16,01:01:16,0.0,...,0,0,0,0,0,0,0,0,0,1
172,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,01:05:23,01:05:23,0.0,...,0,0,0,0,0,0,0,0,0,1
180,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,01:07:51,01:07:51,0.0,...,0,0,0,0,0,0,0,0,0,1
184,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,01:26:24,01:26:24,0.0,...,0,0,0,0,0,0,0,0,0,1
195,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,01:31:06,01:31:06,0.0,...,0,0,0,0,0,0,0,0,0,1
198,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,01:32:23,01:32:23,0.0,...,0,0,0,0,0,0,0,0,0,1
222,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,01:40:04,01:40:04,0.0,...,0,0,0,0,0,0,0,0,0,1
224,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,01:41:02,01:41:02,0.0,...,0,0,0,0,0,0,0,0,0,1
235,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,01:43:23,01:43:23,0.0,...,0,0,0,0,0,0,0,0,0,1
241,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,01:44:37,01:44:37,0.0,...,0,0,0,0,0,0,0,0,0,1
257,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,01:49:01,01:49:01,0.0,...,0,0,0,0,0,0,0,0,0,1
258,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,01:50:00,01:50:00,0.0,...,0,0,0,0,0,0,0,0,0,1
285,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,01:57:22,01:57:22,0.0,...,0,0,0,0,0,0,0,0,0,1
310,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,02:04:06,02:04:06,0.0,...,0,0,0,0,0,0,0,0,0,1
343,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,02:12:10,02:12:10,0.0,...,0,0,0,0,0,0,0,0,0,1
356,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,02:13:52,02:13:52,0.0,...,0,0,0,0,0,0,0,0,0,1

In [172]:
#penal cometido

colname = 'falta-Penal-cometido'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='penal cometido'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido]
Index: []

[0 rows x 46 columns]

In [173]:
#penal_recibido

colname = 'falta-Penal-recibido'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='penal recibido'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido]
Index: []

[0 rows x 47 columns]

In [174]:
#offside

colname = 'falta-Offside'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='offside'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Gambeta-contra-Perdida,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida,falta-Recibida,falta-Penal-cometido,falta-Penal-recibido,falta-Offside
350,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,falta,NaN,02:13:12,02:13:12,0.0,...,0,0,0,0,0,0,0,0,0,1

In [175]:
#tarjeta amarilla

colname = 'falta-Tarjeta-amarilla'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='hecha'):
        if (data_eventos.loc[i+1,'Evento']=='tarjeta') & (data_eventos.loc[i+1,'Subevento']=='amarilla'):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla]
Index: []

[0 rows x 49 columns]

In [176]:
#tarjeta roja

colname = 'falta-Tarjeta-roja'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='hecha'):
        if (data_eventos.loc[i+1,'Evento']=='tarjeta') & (data_eventos.loc[i+1,'Subevento']=='roja'):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja]
Index: []

[0 rows x 50 columns]

# Recuperacion

- robo
- encontradas
- intercepcion suelo
- intercepcion aereo
- intercepcion anticipo
- disputa suelo

In [177]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       mano a mano                  3
              remate atajable              1
              salida aerea                 1
              salida suelo                 2
              salvada/atajada              2
despeje       despeje                      1
falta         hecha                        8
              offside                      1
              recibida                    23
gol rival     directa                      1
              indirecta                    1
pase          centro aereo                11
              corto                      121
              inteligente                 13
              largo                       30
              medio                       41
              s arquero mano               4
              s arquero pie               11
perdida       atajada                      2
              balon afuera fondo           8
              balon afuera lateral         6
              error tecnico                2
              interceptado                56
remate cabeza dificil                      2
remate pie    larga distancia              2
              media distancia              6

In [178]:
colname = 'recuperacion-Robo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if ((data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='robo')):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo]
Index: []

[0 rows x 51 columns]

In [179]:
#encontrada

colname = 'recuperacion-Encontrada'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='encontrada'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada]
Index: []

[0 rows x 52 columns]

In [180]:
#intercepcion suelo

colname = 'recuperacion-Intercepcion-suelo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='intercepcion'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo]
Index: []

[0 rows x 53 columns]

In [181]:
#intercepcion aereo

colname = 'recuperacion-Intercepcion-aereo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='intercepcion aereo'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo]
Index: []

[0 rows x 54 columns]

In [182]:
#intercepcion anticipo

colname = 'recuperacion-Intercepcion-anticipo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion'):
        if ('anticipo' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo]
Index: []

[0 rows x 55 columns]

In [183]:
#disputa suelo

colname = 'recuperacion-Disputa-suelo'
data_eventos[colname] = 0

for i in range(len(data_eventos)-1):
    #if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='disputa suelo'):
    if (data_eventos.loc[i,'Evento'] == 'recuperacion') & (data_eventos.loc[i,'Subevento'] == 'duelo'): 
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo]
Index: []

[0 rows x 56 columns]

# Pelota parada

- lateral completado
- lateral interceptado
- corner completado
- corner interceptado
- tiro libre

In [184]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       mano a mano                  3
              remate atajable              1
              salida aerea                 1
              salida suelo                 2
              salvada/atajada              2
despeje       despeje                      1
falta         hecha                        8
              offside                      1
              recibida                    23
gol rival     directa                      1
              indirecta                    1
pase          centro aereo                11
              corto                      121
              inteligente                 13
              largo                       30
              medio                       41
              s arquero mano               4
              s arquero pie               11
perdida       atajada                      2
              balon afuera fondo           8
              balon afuera lateral         6
              error tecnico                2
              interceptado                56
remate cabeza dificil                      2
remate pie    larga distancia              2
              media distancia              6

In [185]:
#lateral

colname1 = 'parado-Lateral-interceptado'
data_eventos[colname1] = 0
colname2 = 'parado-Lateral-completado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if ('lateral' in data_eventos.loc[i,'Subevento']):

            if ((data_eventos.loc[i+1,'Evento']=='perdida') & (data_eventos.loc[i+1,'Subevento']=='intercepcion')):
                data_eventos.loc[i,colname1] = 1
            if (data_eventos.loc[i+1,'Evento']=='duelo') & ((data_eventos.loc[i+1,'Subevento']=='aereo') | (data_eventos.loc[i+1,'Subevento']=='disputa suelo')):
                if (data_eventos.loc[i+2,'Evento']=='perdida') & (data_eventos.loc[i+2,'Subevento']=='duelo'):
                    data_eventos.loc[i,colname1] = 1
                
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if ('lateral' in data_eventos.loc[i,'Subevento']):
            if (data_eventos.loc[i,colname1]!= 1):
                data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado]
Index: []

[0 rows x 58 columns]

In [186]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado]
Index: []

[0 rows x 58 columns]

In [187]:
#corner

colname1 = 'parado-Corner-interceptado'
data_eventos[colname1] = 0
colname2 = 'parado-Corner-completado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i,'Subevento']=='tiro de esquina'):

            if ('intercep' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname1] = 1
            if (data_eventos.loc[i+1,'Evento']=='duelo') & ((data_eventos.loc[i+1,'Subevento']=='aereo') | (data_eventos.loc[i+1,'Subevento']=='disputa suelo')):
                if (data_eventos.loc[i+2,'Evento']=='perdida') & (data_eventos.loc[i+2,'Subevento']=='duelo'):
                    data_eventos.loc[i,colname1] = 1
                
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i,'Subevento']=='tiro de esquina'):
            if (data_eventos.loc[i,colname1]!= 1):
                data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado]
Index: []

[0 rows x 60 columns]

In [188]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado]
Index: []

[0 rows x 60 columns]

In [189]:
#tiro libre
colname1 = 'parado-Tiro-libre-incompleto'
data_eventos[colname1] = 0
colname2 = 'parado-Tiro-libre-completado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pelota parada') & (data_eventos.loc[i,'Subevento']=='tiro libre') :
        if(data_eventos.loc[i+1,'Evento'] == 'perdida'):
            data_eventos.loc[i,colname1] = 1

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i,'Subevento']=='tiro libre'):
            if (data_eventos.loc[i,colname1]!= 1):
                data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado]
Index: []

[0 rows x 62 columns]

In [190]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado]
Index: []

[0 rows x 62 columns]

# Perdida

- gambeta a favor
- robo
- intercepcion
- error tecnico
- balon afuera
- genero situacion rival
- genero gol rival
- atajada rival

In [191]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       mano a mano                  3
              remate atajable              1
              salida aerea                 1
              salida suelo                 2
              salvada/atajada              2
despeje       despeje                      1
falta         hecha                        8
              offside                      1
              recibida                    23
gol rival     directa                      1
              indirecta                    1
pase          centro aereo                11
              corto                      121
              inteligente                 13
              largo                       30
              medio                       41
              s arquero mano               4
              s arquero pie               11
perdida       atajada                      2
              balon afuera fondo           8
              balon afuera lateral         6
              error tecnico                2
              interceptado                56
remate cabeza dificil                      2
remate pie    larga distancia              2
              media distancia              6

In [192]:
data_eventos = data_eventos[~data_eventos.Subevento.isna()].reset_index(drop=True)

In [193]:
data_eventos[data_eventos.Evento == 'perdida']

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,recuperacion-Intercepcion-suelo,recuperacion-Intercepcion-aereo,recuperacion-Intercepcion-anticipo,recuperacion-Disputa-suelo,parado-Lateral-interceptado,parado-Lateral-completado,parado-Corner-interceptado,parado-Corner-completado,parado-Tiro-libre-incompleto,parado-Tiro-libre-completado
5,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,perdida,NaN,00:23:03,00:23:03,0.0,...,0,0,0,0,0,0,0,0,0,0
7,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,perdida,NaN,00:24:16,00:24:16,0.0,...,0,0,0,0,0,0,0,0,0,0
11,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,perdida,NaN,00:25:57,00:25:57,0.0,...,0,0,0,0,0,0,0,0,0,0
15,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,perdida,NaN,00:27:47,00:27:47,0.0,...,0,0,0,0,0,0,0,0,0,0
19,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,perdida,NaN,00:30:54,00:30:54,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,perdida,NaN,02:07:38,02:07:38,0.0,...,0,0,0,0,0,0,0,0,0,0
342,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,perdida,NaN,02:12:31,02:12:31,0.0,...,0,0,0,0,0,0,0,0,0,0
344,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,perdida,NaN,02:12:43,02:12:43,0.0,...,0,0,0,0,0,0,0,0,0,0
356,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,perdida,NaN,02:14:33,02:14:33,0.0,...,0,0,0,0,0,0,0,0,0,0
358,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,perdida,NaN,02:14:42,02:14:42,0.0,...,0,0,0,0,0,0,0,0,0,0

In [194]:
#gambeta a favor

colname = 'perdida-Gambeta'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    #if (data_eventos.loc[i-1,'Evento']=='duelo') & (data_eventos.loc[i-1,'Subevento']=='gambeta a favor'):
        if (data_eventos.loc[i,'Evento'] == 'perdida') & (data_eventos.loc[i,'Subevento'] == 'duelo'): 
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta]
Index: []

[0 rows x 63 columns]

In [195]:
#robo

colname = 'perdida-Robo'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida') & ((data_eventos.loc[i,'Subevento']=='robo')):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo]
Index: []

[0 rows x 64 columns]

In [196]:
#intercepcion

colname = 'perdida-Intercepcion'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida') & ('intercep' in str(data_eventos.loc[i,'Subevento'])):
        data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion]
Index: []

[0 rows x 65 columns]

In [197]:
#error tecnico

colname = 'perdida-Error-tecnico'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida') & (data_eventos.loc[i,'Subevento']=='error tecnico'):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico]
Index: []

[0 rows x 66 columns]

In [198]:
#balon afuera

colname = 'perdida-Balon-fuera'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida'):
        if ('balon afuera' in str(data_eventos.loc[i,'Subevento'])):
            data_eventos.loc[i,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera]
Index: []

[0 rows x 67 columns]

In [199]:
#situacion rival

colname = 'perdida-Error-tactico'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida'):
        if (data_eventos.loc[i,'Subevento']=='error tactico'):
            data_eventos.loc[i,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico]
Index: []

[0 rows x 68 columns]

In [200]:
#atajada

colname = 'perdida-Atajada'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida'):
        if (data_eventos.loc[i,'Subevento']=='atajada'):
            data_eventos.loc[i,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico, perdida-Atajada]
Index: []

[0 rows x 69 columns]

# Arquero

- gol en contra
- atajada facil
- atajada dificil
- mano a mano
- rebote
- intercepcion aereo
- intercepcion aereo anticipo
- completado
- interceptado
- saque arquero pie
- saque arquero mano
- saque meta
- pase


Cuando pongo el gol rival, atajadas y rebotes, tengo q poner q todas las cosas se marquen como arquero-x:
- el remate rival (coordenadas inicial y final)
- la atajada (coordenada inicial)
- rebote (coordenada incial y final)
- el centro (si hay intercepcion aereo) , etc

In [201]:
data[data['Jugador 1'] == 1].groupby(['Evento','Subevento']).size().to_frame('cantidad')

                              cantidad
Evento  Subevento
arquero mano a mano                  3
        remate atajable              1
        salida aerea                 1
        salida suelo                 2
        salvada/atajada              2
pase    corto                        4
        largo                        8
        medio                        3
        s arquero mano               4
        s arquero pie               11
perdida balon afuera lateral         1
        interceptado                 6

In [202]:
#gol rival

colname1 = 'arquero-Gol-rival'
data_eventos[colname1] = 0
colname2 = 'arquero-Gol-rival-atajable'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='gol rival'):
        data_eventos.loc[i,colname1] = 1
        if ('remate atajable' in data_eventos.loc[i+1,'Subevento']):
            data_eventos.loc[i,colname2] = 1
        

data_eventos.loc[data_eventos[colname1] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,parado-Tiro-libre-completado,perdida-Gambeta,perdida-Robo,perdida-Intercepcion,perdida-Error-tecnico,perdida-Balon-fuera,perdida-Error-tactico,perdida-Atajada,arquero-Gol-rival,arquero-Gol-rival-atajable
42,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,gol rival,NaN,00:34:36,00:34:36,0.0,...,0,0,0,0,0,0,0,0,1,0
208,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,gol rival,NaN,01:37:06,01:37:06,0.0,...,0,0,0,0,0,0,0,0,1,0

In [203]:
#atajada

colname = 'arquero-Atajada'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='arquero'):
        if ('atajada' in data_eventos.loc[i,'Subevento']) | (data_eventos.loc[i,'Subevento']=='mano a mano'):
            data_eventos.loc[i,colname] = 1
            if ('remate' in data_eventos.loc[i-1,'Evento']):
                data_eventos.loc[i-1,colname] = 1
            elif ('remate' in data_eventos.loc[i-2,'Evento']):
                data_eventos.loc[i-2,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,perdida-Gambeta,perdida-Robo,perdida-Intercepcion,perdida-Error-tecnico,perdida-Balon-fuera,perdida-Error-tactico,perdida-Atajada,arquero-Gol-rival,arquero-Gol-rival-atajable,arquero-Atajada
41,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,arquero,NaN,00:34:36,00:34:36,0.0,...,0,0,0,0,0,0,0,0,0,1
203,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,arquero,NaN,01:33:26,01:33:26,0.0,...,0,0,0,0,0,0,0,0,0,1
317,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,arquero,NaN,02:05:10,02:05:10,0.0,...,0,0,0,0,0,0,0,0,0,1
333,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,arquero,NaN,02:07:48,02:07:48,0.0,...,0,0,0,0,0,0,0,0,0,1
337,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,arquero,NaN,02:10:07,02:10:07,0.0,...,0,0,0,0,0,0,0,0,0,1

In [204]:
# #mano a mano
# data_eventos_con_rival = data.copy().reset_index(drop=True)

# colname = 'arquero-mano_a_mano'
# data_eventos_con_rival[colname] = 0

# for i in range(len(data_eventos_con_rival)):
#     if (data_eventos_con_rival.loc[i,'Evento']=='arquero'):
#         if ('mano a mano' in data_eventos_con_rival.loc[i,'Subevento']):
#             data_eventos_con_rival.loc[i,colname] = 1
#             if ('remate' in data_eventos_con_rival.loc[i-1,'Evento']):
#                 data_eventos_con_rival.loc[i,'Posicion incial'] = data_eventos_con_rival.loc[i-1,'Posicion incial']
#                 data_eventos_con_rival.loc[i,'Posicion final'] = data_eventos_con_rival.loc[i-1,'Posicion final']
#                 data_eventos_con_rival.loc[i,'coord inicial'] = data_eventos_con_rival.loc[i-1,'coord inicial']
#                 data_eventos_con_rival.loc[i,'coord final'] = data_eventos_con_rival.loc[i-1,'coord final']


# data_eventos_con_rival.loc[data_eventos_con_rival[colname] == 1]

In [205]:
#intercepcion aereo

colname = 'arquero-Intercepcion-aerea'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Jugador 1']==1):
        if ('intercepcion aereo' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea]
Index: []

[0 rows x 73 columns]

In [206]:
#intercepcion

colname = 'arquero-Intercepcion'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Jugador 1']==1):
        if (data_eventos.loc[i,'Subevento']=='intercepcion'):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion]
Index: []

[0 rows x 74 columns]

In [207]:
#anticipo

colname = 'arquero-Anticipo'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Jugador 1']==1):
        if ('anticipo' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion, arquero-Anticipo]
Index: []

[0 rows x 75 columns]

In [208]:
#saque arquero mano

colname = 'arquero-Saque-mano'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Jugador 1']==1):
        if ('s arquero mano' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,perdida-Balon-fuera,perdida-Error-tactico,perdida-Atajada,arquero-Gol-rival,arquero-Gol-rival-atajable,arquero-Atajada,arquero-Intercepcion-aerea,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano
64,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:45:14,00:45:14,0.0,...,0,0,0,0,0,0,0,0,0,1
67,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:45:27,00:45:27,0.0,...,0,0,0,0,0,0,0,0,0,1
71,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:46:55,00:46:55,0.0,...,0,0,0,0,0,0,0,0,0,1
231,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,01:42:54,01:42:54,0.0,...,0,0,0,0,0,0,0,0,0,1

In [209]:
#saque arquero pie

colname = 'arquero-Saque-pie'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Jugador 1']==1):
        if ('s arquero pie' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,perdida-Error-tactico,perdida-Atajada,arquero-Gol-rival,arquero-Gol-rival-atajable,arquero-Atajada,arquero-Intercepcion-aerea,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie
136,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:58:50,00:58:50,0.0,...,0,0,0,0,0,0,0,0,0,1
164,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,01:04:35,01:04:35,0.0,...,0,0,0,0,0,0,0,0,0,1
187,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,01:29:45,01:29:45,0.0,...,0,0,0,0,0,0,0,0,0,1
205,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,01:35:34,01:35:34,0.0,...,0,0,0,0,0,0,0,0,0,1
245,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,01:47:32,01:47:32,0.0,...,0,0,0,0,0,0,0,0,0,1
268,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,01:54:15,01:54:15,0.0,...,0,0,0,0,0,0,0,0,0,1
279,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,01:57:10,01:57:10,0.0,...,0,0,0,0,0,0,0,0,0,1
315,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:04:58,02:04:58,0.0,...,0,0,0,0,0,0,0,0,0,1
318,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:05:19,02:05:19,0.0,...,0,0,0,0,0,0,0,0,0,1
334,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:07:56,02:07:56,0.0,...,0,0,0,0,0,0,0,0,0,1
338,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:10:15,02:10:15,0.0,...,0,0,0,0,0,0,0,0,0,1

In [210]:
#saque de meta

colname = 'arquero-Saque-meta'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada') & (data_eventos.loc[i,'Jugador 1']==1):
        if ('saque de meta' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Dificultad, Calificacion, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion, arquero-Anticipo, arquero-Saque-mano, arquero-Saque-pie, arquero-Saque-meta]
Index: []

[0 rows x 78 columns]

In [211]:
data_eventos.columns = [col.replace(' ','.') for col in data_eventos.columns]

In [212]:
data_eventos.iloc[:,:20]

,Session.Start.Date,tiempo,partido,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),coord.inicial,Subevento,Jugador.2,Jugador.1,coord.final,Dificultad,Calificacion,Optional.Column,segundos,remate-Gol
0,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:22:36,00:22:36,0.0,11.0,corto,5,9.0,11,NaN,NaN,NaN,1356.0,0
1,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:22:39,00:22:39,0.0,11.0,medio,10,5.0,13,NaN,NaN,NaN,1359.0,0
2,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:22:50,00:22:50,0.0,14.0,corto,9,5.0,17,NaN,NaN,NaN,1370.0,0
3,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,00:22:59,00:22:59,0.0,17.0,corto,10,11.0,16,NaN,NaN,NaN,1379.0,0
4,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,remate pie,NaN,00:23:02,00:23:02,0.0,16.0,larga distancia,Rival,10.0,22,NaN,NaN,NaN,1382.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:14:28,02:14:28,0.0,11.0,medio,18,14.0,13,NaN,NaN,NaN,8068.0,0
355,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:14:32,02:14:32,0.0,13.0,medio,14,18.0,17,NaN,NaN,NaN,8072.0,0
356,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,perdida,NaN,02:14:33,02:14:33,0.0,13.0,interceptado,NaN,18.0,Volver,NaN,NaN,NaN,8073.0,0
357,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,remate pie,NaN,02:14:42,02:14:42,0.0,17.0,larga distancia,Rival,4.0,22,NaN,NaN,NaN,8082.0,0
358,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,perdida,NaN,02:14:42,02:14:42,0.0,17.0,atajada,NaN,4.0,Volver,NaN,NaN,NaN,8082.0,0

# Crear coordenadas

- Primero mapear la media de coordenadas para cada sector
- Segundo agregar aleatoriedad

In [213]:
data_eventos['coord.inicial'].value_counts()

17.0    31
7.0     29
16.0    27
11.0    26
13.0    25
8.0     25
10.0    25
12.0    22
9.0     22
3.0     20
14.0    19
4.0     18
19.0    14
15.0    12
18.0    12
2.0      7
24.0     7
5.0      6
1.0      6
21.0     2
22.0     2
23.0     1
20.0     1
Name: coord.inicial, dtype: int64

In [214]:
data_eventos['coord.final'].value_counts()

Volver    91
16        26
13        25
17        22
11        21
10        17
12        16
18        16
22        15
15        14
14        13
21        12
9         10
7         10
8          9
4          8
19         7
23         6
2          6
20         4
3          3
24         2
6          2
5          2
1          2
Name: coord.final, dtype: int64

In [215]:
map_zona_coord_x = {  
1:22,
2:21,
3:12,
4:33,
5:21,
6:20,
7:68,
8:66,
9:65,
10:109,
11:108,
12:105,
13:162,
14:161,
15:160,
16:205,
17:203,
18:203,
19:251,
20:250,
21:238,
22:260,
23:250,
24:250
}

In [216]:
map_zona_coord_y = {  
1:18,
2:43,
3:82,
4:83,
5:117,
6:147,
7:22,
8:81,
9:141,
10:22,
11:82,
12:138,
13:21,
14:81,
15:142,
16:23,
17:80,
18:141,
19:20,
20:45,
21:80,
22:81,
23:119,
24:147
}

In [217]:
data_eventos['coord.final.num'] = np.where(data_eventos['coord.final'] == 'Volver',None, data_eventos['coord.final']).astype('float')

In [218]:
data_eventos['coord.inicial.x'] = data_eventos['coord.inicial'].map(map_zona_coord_x)
data_eventos['coord.final.x'] = data_eventos['coord.final.num'].map(map_zona_coord_x)
data_eventos['coord.inicial.y'] = data_eventos['coord.inicial'].map(map_zona_coord_y)
data_eventos['coord.final.y'] = data_eventos['coord.final.num'].map(map_zona_coord_y)
data_eventos.iloc[:,-5:]

,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,11.0,108,108.0,82,82.0
1,13.0,108,162.0,82,21.0
2,17.0,161,203.0,81,80.0
3,16.0,203,205.0,80,23.0
4,22.0,205,260.0,23,81.0
...,...,...,...,...,...
354,13.0,108,162.0,82,21.0
355,17.0,162,203.0,21,80.0
356,NaN,162,NaN,21,NaN
357,22.0,203,260.0,80,81.0
358,NaN,203,NaN,80,NaN

In [219]:
data_eventos['coord.inicial.x'].describe() # de 0 a 272

count    359.000000
mean     123.083565
std       71.431365
min       12.000000
25%       66.000000
50%      108.000000
75%      203.000000
max      260.000000
Name: coord.inicial.x, dtype: float64

In [220]:
# añadirles aleatoriedad
data_eventos['coord.inicial.x'] = data_eventos['coord.inicial.x'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.inicial.x'].describe()

count    359.000000
mean     122.955535
std       73.620833
min       -7.100879
25%       63.218800
50%      111.473336
75%      188.495328
max      270.764018
Name: coord.inicial.x, dtype: float64

In [221]:
data_eventos['coord.inicial.x'] = np.where(data_eventos['coord.inicial.x']<0, 0, data_eventos['coord.inicial.x'])
data_eventos['coord.inicial.x'] = np.where(data_eventos['coord.inicial.x']>272, 272, data_eventos['coord.inicial.x'])

In [222]:
data_eventos['coord.inicial.y'].describe() # de 0 a 162

count    359.000000
mean      72.657382
std       44.518556
min       18.000000
25%       22.000000
50%       81.000000
75%       83.000000
max      147.000000
Name: coord.inicial.y, dtype: float64

In [223]:
data_eventos['coord.inicial.y'] = data_eventos['coord.inicial.y'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.inicial.y'].describe() # de 0 a 162

count    359.000000
mean      72.223039
std       46.009843
min        0.675402
25%       29.518915
50%       73.206106
75%       99.565534
max      161.386728
Name: coord.inicial.y, dtype: float64

In [224]:
data_eventos['coord.inicial.y'] = np.where(data_eventos['coord.inicial.y']<0, 0, data_eventos['coord.inicial.y'])
data_eventos['coord.inicial.y'] = np.where(data_eventos['coord.inicial.y']>162, 162, data_eventos['coord.inicial.y'])

In [225]:
data_eventos['coord.final.x'] = data_eventos['coord.final.x'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.final.x'] = np.where(data_eventos['coord.final.x']<0, 0, data_eventos['coord.final.x'])
data_eventos['coord.final.x'] = np.where(data_eventos['coord.final.x']>272, 272, data_eventos['coord.final.x'])

In [226]:
data_eventos['coord.final.y'] = data_eventos['coord.final.y'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.final.y'] = np.where(data_eventos['coord.final.y']<0, 0, data_eventos['coord.final.y'])
data_eventos['coord.final.y'] = np.where(data_eventos['coord.final.y']>162, 162, data_eventos['coord.final.y'])

In [227]:
data_eventos.iloc[:,-5:]

,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,11.0,98.055424,115.929743,87.232788,86.737519
1,13.0,124.870362,160.546943,78.351372,35.436170
2,17.0,155.738724,214.970639,81.718026,75.701136
3,16.0,188.111934,216.714662,95.363577,29.177314
4,22.0,199.691702,258.842272,37.280697,81.747534
...,...,...,...,...,...
354,13.0,104.058710,168.031138,81.653749,39.172451
355,17.0,168.231181,214.378817,15.399232,90.884508
356,NaN,166.676053,NaN,15.172216,NaN
357,22.0,221.713276,245.483191,83.395358,87.826503
358,NaN,221.157399,NaN,68.044076,NaN

In [228]:
round(data_eventos['coord.inicial.x'],0).astype('str')+','+round(data_eventos['coord.inicial.y'],0).astype('str')

0       98.0,87.0
1      125.0,78.0
2      156.0,82.0
3      188.0,95.0
4      200.0,37.0
          ...
354    104.0,82.0
355    168.0,15.0
356    167.0,15.0
357    222.0,83.0
358    221.0,68.0
Length: 359, dtype: object

In [229]:
# pasar en ambos formatos. Crear las dos cols originales q sean strings

data_eventos['coord.inicial'] = round(data_eventos['coord.inicial.x'],0).astype('str').str.split('.').str[0]+','+round(data_eventos['coord.inicial.y'],0).astype('str').str.split('.').str[0]
data_eventos['coord.final'] = round(data_eventos['coord.final.x'],0).astype('str').str.split('.').str[0]+','+round(data_eventos['coord.final.y'],0).astype('str').str.split('.').str[0]

In [230]:
data_eventos['coord.inicial'] = np.where(data_eventos['coord.inicial']=='nan,nan', None, data_eventos['coord.inicial'])
data_eventos['coord.final'] = np.where(data_eventos['coord.final']=='nan,nan', None, data_eventos['coord.final'])

In [231]:
data_eventos[['coord.inicial','coord.final']]

    coord.inicial coord.final
0           98,87      116,87
1          125,78      161,35
2          156,82      215,76
3          188,95      217,29
4          200,37      259,82
..            ...         ...
354        104,82      168,39
355        168,15      214,91
356        167,15        None
357        222,83      245,88
358        221,68        None

[359 rows x 2 columns]

# Escribir tabla filtros

In [232]:
data_eventos = data_eventos[~data_eventos['partido'].isna()].reset_index(drop=True)

In [233]:
data_eventos['partido'] = 'Gimnasia'

In [234]:
data_eventos.tail()

,Session.Start.Date,tiempo,partido,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
354,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:14:28,02:14:28,0.0,...,0,0,0,0,0,13.0,104.058710,168.031138,81.653749,39.172451
355,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,pase,NaN,02:14:32,02:14:32,0.0,...,0,0,0,0,0,17.0,168.231181,214.378817,15.399232,90.884508
356,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,perdida,NaN,02:14:33,02:14:33,0.0,...,0,0,0,0,0,NaN,166.676053,NaN,15.172216,NaN
357,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,remate pie,NaN,02:14:42,02:14:42,0.0,...,0,0,0,0,0,22.0,221.713276,245.483191,83.395358,87.826503
358,2022/06/11,Temp2Fecha1,Gimnasia,15:10:13,17:32:38,perdida,NaN,02:14:42,02:14:42,0.0,...,0,0,0,0,0,NaN,221.157399,NaN,68.044076,NaN

In [235]:
data_eventos.to_csv("../Datos generados para la app/reserva02-22-fecha1_gimnasia-tabla_filtros.csv",index=False)