In [138]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
#pd.set_option('display.max_rows', 200)

# Carga de datos

In [139]:
os.getcwd()

'd:\\BigData Pincha\\Data_Pincha\\procesamiento de etiquetas\\notebooks partidos'

In [140]:
data = pd.read_csv('../../datos etiquetas/Fecha 6 - Boca/Boca_completo .csv')
data

,Session Start Date,Event,Session Name,Session Start,Session End,Tag Description,Tag Notes,Tag Start,Tag End,Tag Duration (secs),Dificultad,Zonas_final,Jugador2,Jugador,Zonas,Categoria,Optional Column
0,2022/03/23,Boca,completo,10:52:58,13:12:50,Pase,NaN,00:19:50,00:19:56,6.0,NaN,10,3,5.0,10.0,corto,NaN
1,2022/03/23,Boca,completo,10:52:58,13:12:50,Perdida,NaN,00:19:54,00:20:00,6.0,NaN,17,9,3.0,10.0,Interceptado,NaN
2,2022/03/23,Boca,completo,10:52:58,13:12:50,Recuperacion,NaN,00:19:56,00:20:02,6.0,NaN,16,Rival,3.0,13.0,Intercepcion,NaN
3,2022/03/23,Boca,completo,10:52:58,13:12:50,Pase,NaN,00:19:57,00:20:03,6.0,NaN,13,11,3.0,13.0,corto,NaN
4,2022/03/23,Boca,completo,10:52:58,13:12:50,Pase,NaN,00:20:02,00:20:08,6.0,NaN,19,9,11.0,13.0,corto,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,2022/03/23,Boca,completo,10:52:58,13:12:50,Remate pie,NaN,02:09:05,02:09:05,0.0,NaN,22,Rival,22.0,19.0,Remate bloqueado,NaN
696,2022/03/23,Boca,completo,10:52:58,13:12:50,Falta,NaN,02:09:58,02:09:58,0.0,NaN,Volver,NaN,4.0,7.0,Hecha,NaN
697,2022/03/23,Boca,completo,10:52:58,13:12:50,Pelota parada,NaN,02:12:46,02:12:46,0.0,NaN,Volver,NaN,8.0,10.0,Tiro libre,NaN
698,2022/03/23,Boca,completo,10:52:58,13:12:50,Pase,NaN,02:13:00,02:13:00,0.0,NaN,22,22,8.0,11.0,largo,NaN
699,2022/03/23,Boca,completo,10:52:58,13:12:50,Perdida,NaN,02:13:01,02:13:01,0.0,NaN,22,Rival,8.0,11.0,Interceptado,NaN

In [141]:
data.columns = ['Session Start Date','partido','tiempo','Session Start',
       'Session End','Evento','Tag Notes','Tag Start', 'Tag End',
       'Tag Duration (secs)','Calificaciondelevento','coord final','Jugador 2','Jugador 1','coord inicial','Subevento','Optional Column']

In [142]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Session Start Date     700 non-null    object
 1   partido                700 non-null    object
 2   tiempo                 700 non-null    object
 3   Session Start          700 non-null    object
 4   Session End            700 non-null    object
 5   Evento                 700 non-null    object
 6   Tag Notes              0 non-null      float64
 7   Tag Start              700 non-null    object
 8   Tag End                700 non-null    object
 9   Tag Duration (secs)    700 non-null    float64
 10  Calificaciondelevento  1 non-null      object
 11  coord final            675 non-null    object
 12  Jugador 2              450 non-null    object
 13  Jugador 1              698 non-null    float64
 14  coord inicial          693 non-null    float64
 15  Subevento              694 non-null    object
 16  Optional Column        0 non-null      float64
dtypes: float64(5), object(12)
memory usage: 93.1+ KB

In [143]:
'''TIEMPO'''

from datetime import timedelta

def seconder(x):
    hr, mins, secs = map(float, x.split(':'))
    td = timedelta(hours= hr, minutes=mins, seconds=secs)
    return td.total_seconds()
data['segundos'] = data['Tag Start'].apply(seconder)

In [144]:
data = data.append(data.iloc[-1,:]).reset_index(drop=True)
data.loc[-1,'Evento'] = np.nan
data.loc[-1,'Subevento'] = np.nan
data = data.drop_duplicates()
data = data.reset_index(drop=True)

In [145]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Session Start Date     699 non-null    object
 1   partido                699 non-null    object
 2   tiempo                 699 non-null    object
 3   Session Start          699 non-null    object
 4   Session End            699 non-null    object
 5   Evento                 699 non-null    object
 6   Tag Notes              0 non-null      float64
 7   Tag Start              699 non-null    object
 8   Tag End                699 non-null    object
 9   Tag Duration (secs)    699 non-null    float64
 10  Calificaciondelevento  1 non-null      object
 11  coord final            675 non-null    object
 12  Jugador 2              450 non-null    object
 13  Jugador 1              697 non-null    float64
 14  coord inicial          693 non-null    float64
 15  Subevento              694 non-null    object
 16  Optional Column        0 non-null      float64
 17  segundos               699 non-null    float64
dtypes: float64(6), object(12)
memory usage: 98.6+ KB

In [146]:
data

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),Calificaciondelevento,coord final,Jugador 2,Jugador 1,coord inicial,Subevento,Optional Column,segundos
0,2022/03/23,Boca,completo,10:52:58,13:12:50,Pase,NaN,00:19:50,00:19:56,6.0,NaN,10,3,5.0,10.0,corto,NaN,1190.0
1,2022/03/23,Boca,completo,10:52:58,13:12:50,Perdida,NaN,00:19:54,00:20:00,6.0,NaN,17,9,3.0,10.0,Interceptado,NaN,1194.0
2,2022/03/23,Boca,completo,10:52:58,13:12:50,Recuperacion,NaN,00:19:56,00:20:02,6.0,NaN,16,Rival,3.0,13.0,Intercepcion,NaN,1196.0
3,2022/03/23,Boca,completo,10:52:58,13:12:50,Pase,NaN,00:19:57,00:20:03,6.0,NaN,13,11,3.0,13.0,corto,NaN,1197.0
4,2022/03/23,Boca,completo,10:52:58,13:12:50,Pase,NaN,00:20:02,00:20:08,6.0,NaN,19,9,11.0,13.0,corto,NaN,1202.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,2022/03/23,Boca,completo,10:52:58,13:12:50,Falta,NaN,02:09:58,02:09:58,0.0,NaN,Volver,NaN,4.0,7.0,Hecha,NaN,7798.0
696,2022/03/23,Boca,completo,10:52:58,13:12:50,Pelota parada,NaN,02:12:46,02:12:46,0.0,NaN,Volver,NaN,8.0,10.0,Tiro libre,NaN,7966.0
697,2022/03/23,Boca,completo,10:52:58,13:12:50,Pase,NaN,02:13:00,02:13:00,0.0,NaN,22,22,8.0,11.0,largo,NaN,7980.0
698,2022/03/23,Boca,completo,10:52:58,13:12:50,Perdida,NaN,02:13:01,02:13:01,0.0,NaN,22,Rival,8.0,11.0,Interceptado,NaN,7981.0
699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
#data['segundos'] = np.random.randint(1, 600, data.shape[0])
#data

In [148]:
'''CORREGIR MAYUSCULAS Y COSAS DE EVENTOS'''

data['Evento'] = data['Evento'].str.lower().str.strip()
data['Subevento'] = data['Subevento'].str.lower().str.strip()

# Estadisticas basicas

In [149]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                           cantidad
Evento        Subevento
arquero       remate atajable                     5
              salida aerea                        1
duelo         aereo                               2
              disputa suelo                       6
              gambeta a favor                     8
              gambeta en contra                   1
falta         hecha                              12
              offside                             2
              recibida                           11
gol rival     indirecta                           1
pase          centro aereo                        9
              corto                             227
              inteligente                         6
              largo                              43
              medio                             101
              s arquero mano                      4
              s arquero pie                      12
pelota parada lateral corto                      19
              lateral largo                       5
              saque de meta                       1
              tiro de esquina                     6
              tiro libre                         14
perdida       atajada                             6
              balon afuera fondo                  9
              balon afuera lateral               17
              duelo                               7
              error tactico                       3
              error tecnico                       5
              intercepcion aereo                  8
              interceptado                       44
              robo                               17
recuperacion  duelo                               3
              encontrada                         13
              intercepcion                       36
              intercepcion aereo                  8
              intercepcion anticipo               1
              intercepcion anticipo aereo         1
              robo                                3
remate cabeza facil                               2
              remate bloqueado                    1
remate pie    corta distancia                     1
              larga distancia                     1
              media distancia                     6
              remate bloqueado                    5
tarjeta       amarilla                            1

In [150]:
data.groupby(['Jugador 1','Evento','Subevento']).size().to_frame('cantidad')

                                             cantidad
Jugador 1 Evento       Subevento
1.0       arquero      remate atajable              5
                       salida aerea                 1
          pase         corto                        9
                       largo                        2
                       s arquero mano               4
...                                               ...
22.0      perdida      balon afuera fondo           1
                       balon afuera lateral         2
          recuperacion intercepcion aereo           1
          remate pie   remate bloqueado             1
23.0      pase         corto                        4

[206 rows x 1 columns]

# Filtros para la app

Disparos
---
- gol
- fuera
- al arco
- interceptado
- cabeza

Pase
---
- asistencia
- completado
- interceptado
- fuera
- inteligente

Centros
---
- asistencia
- completado
- interceptado
- bloqueado
- fuera

Duelos
---
- ganado
- perdido
- duelo aereo
- disputa suelo
- gambeta en contra
- gambeta a favor
- pivote

Faltas
---
- falta cometida
- falta recibida
- penal
- tarjeta amarilla
- tarjeta roja
- off-side

Recuperacion
---
- robo
- encontradas
- intercepcion suelo
- intercepcion aereo
- intercepcion anticipo
- disputa suelo

Pelota parada
---
- lateral completado
- lateral interceptado
- corner completado
- corner interceptado
- tiro libre

Perdida
---
- gambeta a favor
- robo
- intercepcion suelo
- intercepcion aereo
- error tecnico
- balon afuera
- genero situacion rival
- genero gol rival
- atajada rival

Arquero
---
- gol en contra
- atajada facil
- atajada dificil
- mano a mano
- rebote
- intercepcion aereo
- intercepcion aereo anticipo
- completado
- interceptado
- saque arquero pie
- saque arquero mano
- saque meta
- pase


LO QUE HAY QUE HACER ES CREAR UNA COLUMNA POR CADA UNO DE ESOS FILTROS CON 0-1. QUEDAR CON UNA SOLA FILA POR ACCION.

In [151]:
data_eventos = data.copy()
data_eventos.shape

(700, 18)

# Disparos

- gol: siempre tiene que haber un disparo antes de un gol? Que pasa cuando es en contra, por ejemplo. Asegurarse que siempre antes de un gol poner disparo porque si no no lo toma aca
- fuera: asegurarse de poner que pasa siempre despues de los remates
- al arco: tiene que haber una perdida en evento y atajada en subevento, desupes de un remate
- interceptado
- cabeza

In [152]:
#gol
'''si data[i] es remate y data[i+1] es gol'''

data_eventos['remate-Gol'] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') | (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i+1,'Evento']=='gol'):
            data_eventos.loc[i,'remate-Gol'] = 1
data_eventos.loc[data_eventos['remate-Gol'] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Calificaciondelevento, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol]
Index: []

In [153]:
#fuera
'''si data[i] es remate y data[i+1] es perdida balon fuera'''
colname = 'remate-Fuera'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') | (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i+1,'Evento']=='perdida'):
            if('balon afuera' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),Calificaciondelevento,coord final,Jugador 2,Jugador 1,coord inicial,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera
267,2022/03/23,Boca,completo,10:52:58,13:12:50,remate pie,NaN,01:01:06,01:01:12,6.0,NaN,Volver,NaN,7.0,18.0,media distancia,NaN,3666.0,0,1
277,2022/03/23,Boca,completo,10:52:58,13:12:50,remate pie,NaN,01:02:33,01:02:39,6.0,NaN,Volver,NaN,7.0,24.0,remate bloqueado,NaN,3753.0,0,1
314,2022/03/23,Boca,completo,10:52:58,13:12:50,remate cabeza,NaN,01:05:52,01:05:58,6.0,NaN,Volver,NaN,7.0,23.0,facil,NaN,3952.0,0,1
347,2022/03/23,Boca,completo,10:52:58,13:12:50,remate pie,NaN,01:24:37,01:24:43,6.0,NaN,Volver,NaN,10.0,17.0,media distancia,NaN,5077.0,0,1
628,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:57:58,01:57:58,0.0,NaN,Volver,NaN,8.0,13.0,lateral corto,NaN,7078.0,0,1
647,2022/03/23,Boca,completo,10:52:58,13:12:50,remate pie,NaN,02:01:10,02:01:10,0.0,NaN,22,Rival,5.0,17.0,media distancia,NaN,7270.0,0,1
672,2022/03/23,Boca,completo,10:52:58,13:12:50,remate pie,NaN,02:04:41,02:04:41,0.0,NaN,22,Rival,5.0,18.0,media distancia,NaN,7481.0,0,1

In [154]:
#al arco
'''si data[i] es remate y data[i+1] es perdida atajada'''

colname = 'remate-Al-arco'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') | (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i+1,'Evento']=='perdida'): 
            if('atajada' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,coord final,Jugador 2,Jugador 1,coord inicial,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco
141,2022/03/23,Boca,completo,10:52:58,13:12:50,remate pie,NaN,00:45:57,00:46:03,6.0,...,Volver,NaN,8.0,23.0,media distancia,NaN,2757.0,0,0,1
288,2022/03/23,Boca,completo,10:52:58,13:12:50,remate cabeza,NaN,01:03:21,01:03:27,6.0,...,Volver,NaN,11.0,21.0,remate bloqueado,NaN,3801.0,0,0,1
371,2022/03/23,Boca,completo,10:52:58,13:12:50,remate pie,NaN,01:28:11,01:28:17,6.0,...,Volver,NaN,9.0,21.0,corta distancia,NaN,5291.0,0,0,1
677,2022/03/23,Boca,completo,10:52:58,13:12:50,remate pie,NaN,02:05:20,02:05:20,0.0,...,22,Rival,2.0,11.0,larga distancia,NaN,7520.0,0,0,1

In [155]:
#bloqueado
'''si data[i] es remate y data[i] es remate bloqueado o data[i+1] es perdida error tecnico'''

colname = 'remate-Interceptado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') :
        if (data_eventos.loc[i,'Subevento'] == 'remate bloqueado'): 
            data_eventos.loc[i,colname] = 1
        elif(data_eventos.loc[i+1,'Evento']=='perdida'):
            if('error tecnico' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Jugador 2,Jugador 1,coord inicial,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado
87,2022/03/23,Boca,completo,10:52:58,13:12:50,remate pie,NaN,00:39:10,00:39:16,6.0,...,NaN,5.0,17.0,remate bloqueado,NaN,2350.0,0,0,0,1
277,2022/03/23,Boca,completo,10:52:58,13:12:50,remate pie,NaN,01:02:33,01:02:39,6.0,...,NaN,7.0,24.0,remate bloqueado,NaN,3753.0,0,1,0,1
288,2022/03/23,Boca,completo,10:52:58,13:12:50,remate cabeza,NaN,01:03:21,01:03:27,6.0,...,NaN,11.0,21.0,remate bloqueado,NaN,3801.0,0,0,1,1
404,2022/03/23,Boca,completo,10:52:58,13:12:50,remate pie,NaN,01:33:32,01:33:38,6.0,...,NaN,4.0,22.0,remate bloqueado,NaN,5612.0,0,0,0,1
439,2022/03/23,Boca,completo,10:52:58,13:12:50,remate pie,NaN,00:25:34,00:25:34,0.0,...,NaN,9.0,20.0,remate bloqueado,NaN,1534.0,0,0,0,1
694,2022/03/23,Boca,completo,10:52:58,13:12:50,remate pie,NaN,02:09:05,02:09:05,0.0,...,Rival,22.0,19.0,remate bloqueado,NaN,7745.0,0,0,0,1

In [156]:
#cabeza
'''si data[i] es remate cabeza'''

colname = 'remate-Cabeza'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='remate cabeza'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Jugador 1,coord inicial,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza
61,2022/03/23,Boca,completo,10:52:58,13:12:50,remate cabeza,NaN,00:34:13,00:34:19,6.0,...,2.0,23.0,facil,NaN,2053.0,0,0,0,0,1
288,2022/03/23,Boca,completo,10:52:58,13:12:50,remate cabeza,NaN,01:03:21,01:03:27,6.0,...,11.0,21.0,remate bloqueado,NaN,3801.0,0,0,1,1,1
314,2022/03/23,Boca,completo,10:52:58,13:12:50,remate cabeza,NaN,01:05:52,01:05:58,6.0,...,7.0,23.0,facil,NaN,3952.0,0,1,0,0,1

# Pase

- asistencia
- completado
- interceptado
- fuera
- inteligente

In [157]:
data[data.Evento=='pase'].groupby(['Evento','Subevento']).size().to_frame('cantidad')

                       cantidad
Evento Subevento
pase   centro aereo           9
       corto                227
       inteligente            6
       largo                 43
       medio                101
       s arquero mano         4
       s arquero pie         12

In [158]:
data[(data.Evento=='pase')]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),Calificaciondelevento,coord final,Jugador 2,Jugador 1,coord inicial,Subevento,Optional Column,segundos
0,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:19:50,00:19:56,6.0,NaN,10,3,5.0,10.0,corto,NaN,1190.0
3,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:19:57,00:20:03,6.0,NaN,13,11,3.0,13.0,corto,NaN,1197.0
4,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:20:02,00:20:08,6.0,NaN,19,9,11.0,13.0,corto,NaN,1202.0
9,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:20:36,00:20:42,6.0,NaN,18,8,5.0,18.0,corto,NaN,1236.0
11,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:21:09,00:21:15,6.0,NaN,14,8,4.0,12.0,corto,NaN,1269.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
690,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,02:08:47,02:08:47,0.0,NaN,11,6,17.0,13.0,corto,NaN,7727.0
691,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,02:08:53,02:08:53,0.0,NaN,13,17,6.0,11.0,medio,NaN,7733.0
692,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,02:08:55,02:08:55,0.0,NaN,16,19,17.0,13.0,medio,NaN,7735.0
693,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,02:08:58,02:08:58,0.0,NaN,19,22,19.0,13.0,corto,NaN,7738.0
697,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,02:13:00,02:13:00,0.0,NaN,22,22,8.0,11.0,largo,NaN,7980.0

In [159]:
data_eventos.head()

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Jugador 1,coord inicial,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza
0,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:19:50,00:19:56,6.0,...,5.0,10.0,corto,NaN,1190.0,0,0,0,0,0
1,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:19:54,00:20:00,6.0,...,3.0,10.0,interceptado,NaN,1194.0,0,0,0,0,0
2,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:19:56,00:20:02,6.0,...,3.0,13.0,intercepcion,NaN,1196.0,0,0,0,0,0
3,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:19:57,00:20:03,6.0,...,3.0,13.0,corto,NaN,1197.0,0,0,0,0,0
4,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:20:02,00:20:08,6.0,...,11.0,13.0,corto,NaN,1202.0,0,0,0,0,0

In [160]:
#asistencia
'''si data[i] es pase, data[i+1] es remate y data[i+2] es gol'''
colname = 'pase-Asistencia'
data_eventos[colname] = 0
for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Evento']=='pase'):
        if ('remate' in data_eventos.loc[i+1,'Evento']):
            if (data_eventos.loc[i+2,'Evento']=='gol'):
                data_eventos.loc[i,colname] = 1
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Calificaciondelevento, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia]
Index: []

[0 rows x 24 columns]

In [161]:
##completado
'''si data[i] es pase no bloqueado y data[i+1] no es perdida interceptado o balon afuera'''

colname = 'pase-Completado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']!='centro aereo') & (data_eventos.loc[i,'Subevento']!='s arquero mano') & (data_eventos.loc[i,'Subevento']!='bloqueado'):
        if (data_eventos.loc[i+1,'Evento'] != 'perdida') | (data_eventos.loc[i,'Jugador 1'] != data_eventos.loc[i+1,'Jugador 1']) | (data_eventos.loc[i+1,'Subevento'] == 'offside' ):
            data_eventos.loc[i,colname] = 1
        
        #elif ('intercep' not in data_eventos.loc[i+1,'Subevento']) & ('balon afuera' not in data_eventos.loc[i+1,'Subevento']) & ('encontrad' not in data_eventos.loc[i+1,'Subevento']):
        #    data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado
0,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:19:50,00:19:56,6.0,...,corto,NaN,1190.0,0,0,0,0,0,0,1
3,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:19:57,00:20:03,6.0,...,corto,NaN,1197.0,0,0,0,0,0,0,1
4,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:20:02,00:20:08,6.0,...,corto,NaN,1202.0,0,0,0,0,0,0,1
9,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:20:36,00:20:42,6.0,...,corto,NaN,1236.0,0,0,0,0,0,0,1
11,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:21:09,00:21:15,6.0,...,corto,NaN,1269.0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
686,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,02:08:13,02:08:13,0.0,...,medio,NaN,7693.0,0,0,0,0,0,0,1
690,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,02:08:47,02:08:47,0.0,...,corto,NaN,7727.0,0,0,0,0,0,0,1
691,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,02:08:53,02:08:53,0.0,...,medio,NaN,7733.0,0,0,0,0,0,0,1
692,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,02:08:55,02:08:55,0.0,...,medio,NaN,7735.0,0,0,0,0,0,0,1
693,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,02:08:58,02:08:58,0.0,...,corto,NaN,7738.0,0,0,0,0,0,0,1

In [162]:
data_eventos.loc[data_eventos[colname] == 1].Subevento.value_counts()

corto            216
medio             84
largo             31
s arquero pie     12
inteligente        6
Name: Subevento, dtype: int64

In [163]:
#interceptado
'''si data[i] es pase no bloqueado y data[i+1] es perdida interceptado'''

colname = 'pase-Interceptado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']!='pase bloqueado') & (data_eventos.loc[i,'Subevento']!='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
            if ('intercep' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado,pase-Interceptado
0,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:19:50,00:19:56,6.0,...,NaN,1190.0,0,0,0,0,0,0,1,1
47,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:31:16,00:31:22,6.0,...,NaN,1876.0,0,0,0,0,0,0,1,1
54,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:32:19,00:32:25,6.0,...,NaN,1939.0,0,0,0,0,0,0,0,1
84,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:39:04,00:39:10,6.0,...,NaN,2344.0,0,0,0,0,0,0,0,1
90,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:39:32,00:39:38,6.0,...,NaN,2372.0,0,0,0,0,0,0,0,1
94,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:40:31,00:40:37,6.0,...,NaN,2431.0,0,0,0,0,0,0,0,1
111,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:43:41,00:43:47,6.0,...,NaN,2621.0,0,0,0,0,0,0,0,1
121,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:44:40,00:44:40,0.0,...,NaN,2680.0,0,0,0,0,0,0,0,1
134,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:45:27,00:45:27,0.0,...,NaN,2727.0,0,0,0,0,0,0,0,1
160,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:48:06,00:48:06,0.0,...,NaN,2886.0,0,0,0,0,0,0,0,1
164,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:48:13,00:48:13,0.0,...,NaN,2893.0,0,0,0,0,0,0,1,1
188,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:50:39,00:50:39,0.0,...,NaN,3039.0,0,0,0,0,0,0,0,1
193,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:51:39,00:51:39,0.0,...,NaN,3099.0,0,0,0,0,0,0,0,1
206,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:52:24,00:52:24,0.0,...,NaN,3144.0,0,0,0,0,0,0,0,1
209,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:54:07,00:54:07,0.0,...,NaN,3247.0,0,0,0,0,0,0,0,1
239,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:58:00,00:58:00,0.0,...,NaN,3480.0,0,0,0,0,0,0,0,1
248,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:59:13,00:59:13,0.0,...,NaN,3553.0,0,0,0,0,0,0,0,1
292,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:03:50,01:03:50,0.0,...,NaN,3830.0,0,0,0,0,0,0,0,1
324,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:23:05,01:23:05,0.0,...,NaN,4985.0,0,0,0,0,0,0,1,1
341,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:24:24,01:24:24,0.0,...,NaN,5064.0,0,0,0,0,0,0,0,1
351,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:25:20,01:25:20,0.0,...,NaN,5120.0,0,0,0,0,0,0,1,1
360,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:26:28,01:26:28,0.0,...,NaN,5188.0,0,0,0,0,0,0,1,1
379,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:30:34,01:30:34,0.0,...,NaN,5434.0,0,0,0,0,0,0,0,1
396,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:32:39,01:32:39,0.0,...,NaN,5559.0,0,0,0,0,0,0,0,1
433,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:23:01,00:23:01,0.0,...,NaN,1381.0,0,0,0,0,0,0,0,1
436,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:24:10,00:24:10,0.0,...,NaN,1450.0,0,0,0,0,0,0,0,1
465,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:36:25,00:36:25,0.0,...,NaN,2185.0,0,0,0,0,0,0,1,1
469,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:38:01,00:38:01,0.0,...,NaN,2281.0,0,0,0,0,0,0,0,1
497,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:37:29,01:37:29,0.0,...,NaN,5849.0,0,0,0,0,0,0,1,1
519,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:40:03,01:40:03,0.0,...,NaN,6003.0,0,0,0,0,0,0,0,1
532,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:41:42,01:41:42,0.0,...,NaN,6102.0,0,0,0,0,0,0,0,1
540,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:43:24,01:43:24,0.0,...,NaN,6204.0,0,0,0,0,0,0,0,1
559,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:46:03,01:46:03,0.0,...,NaN,6363.0,0,0,0,0,0,0,1,1
566,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:46:22,01:46:22,0.0,...,NaN,6382.0,0,0,0,0,0,0,0,1
610,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:53:51,01:53:51,0.0,...,NaN,6831.0,0,0,0,0,0,0,0,1
682,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,02:07:32,02:07:32,0.0,...,NaN,7652.0,0,0,0,0,0,0,1,1
687,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,02:08:17,02:08:17,0.0,...,NaN,7697.0,0,0,0,0,0,0,0,1
697,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,02:13:00,02:13:00,0.0,...,NaN,7980.0,0,0,0,0,0,0,0,1

In [164]:
#fuera
'''si data[i] es pase no bloqueado y data[i+1] es perdida fuera'''

colname = 'pase-Fuera'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']!='pase bloqueado') & (data_eventos.loc[i,'Subevento']!='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
            if ('balon afuera' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado,pase-Interceptado,pase-Fuera
4,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:20:02,00:20:08,6.0,...,1202.0,0,0,0,0,0,0,1,0,1
30,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:28:51,00:28:57,6.0,...,1731.0,0,0,0,0,0,0,1,0,1
153,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:47:22,00:47:22,0.0,...,2842.0,0,0,0,0,0,0,0,0,1
408,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:33:53,01:33:53,0.0,...,5633.0,0,0,0,0,0,0,1,0,1
511,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:39:38,01:39:38,0.0,...,5978.0,0,0,0,0,0,0,0,0,1
549,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:44:52,01:44:52,0.0,...,6292.0,0,0,0,0,0,0,0,0,1
581,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:47:09,01:47:09,0.0,...,6429.0,0,0,0,0,0,0,1,0,1
584,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:47:46,01:47:46,0.0,...,6466.0,0,0,0,0,0,0,0,0,1
622,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:55:59,01:55:59,0.0,...,6959.0,0,0,0,0,0,0,1,0,1
637,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:58:58,01:58:58,0.0,...,7138.0,0,0,0,0,0,0,1,0,1
641,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,02:00:48,02:00:48,0.0,...,7248.0,0,0,0,0,0,0,1,0,1
662,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,02:02:46,02:02:46,0.0,...,7366.0,0,0,0,0,0,0,0,0,1

In [165]:
#inteligente

colname = 'pase-Inteligente'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']=='inteligente'):
        if (data_eventos.loc[i+1,'Evento'] != 'perdida') | (data_eventos.loc[i,'Jugador 1'] != data_eventos.loc[i+1,'Jugador 1']):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado,pase-Interceptado,pase-Fuera,pase-Inteligente
80,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:38:50,00:38:56,6.0,...,0,0,0,0,0,0,1,0,0,1
110,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:43:35,00:43:41,6.0,...,0,0,0,0,0,0,1,0,0,1
131,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:45:17,00:45:17,0.0,...,0,0,0,0,0,0,1,0,0,1
276,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:02:33,01:02:33,0.0,...,0,0,0,0,0,0,1,0,0,1
291,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:03:44,01:03:44,0.0,...,0,0,0,0,0,0,1,0,0,1
399,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:32:51,01:32:51,0.0,...,0,0,0,0,0,0,1,0,0,1

# Centros

- asistencia
- completado
- interceptado
- bloqueado
- fuera

In [166]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                           cantidad
Evento        Subevento
arquero       remate atajable                     5
              salida aerea                        1
duelo         aereo                               2
              disputa suelo                       6
              gambeta a favor                     8
              gambeta en contra                   1
falta         hecha                              12
              offside                             2
              recibida                           11
gol rival     indirecta                           1
pase          centro aereo                        9
              corto                             227
              inteligente                         6
              largo                              43
              medio                             101
              s arquero mano                      4
              s arquero pie                      12
pelota parada lateral corto                      19
              lateral largo                       5
              saque de meta                       1
              tiro de esquina                     6
              tiro libre                         14
perdida       atajada                             6
              balon afuera fondo                  9
              balon afuera lateral               17
              duelo                               7
              error tactico                       3
              error tecnico                       5
              intercepcion aereo                  8
              interceptado                       44
              robo                               17
recuperacion  duelo                               3
              encontrada                         13
              intercepcion                       36
              intercepcion aereo                  8
              intercepcion anticipo               1
              intercepcion anticipo aereo         1
              robo                                3
remate cabeza facil                               2
              remate bloqueado                    1
remate pie    corta distancia                     1
              larga distancia                     1
              media distancia                     6
              remate bloqueado                    5
tarjeta       amarilla                            1

In [167]:
#asistencia

colname = 'centro-Asistencia'
data_eventos[colname] = 0
for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if ('remate' in data_eventos.loc[i+1,'Evento']):
            if (data_eventos.loc[i+2,'Evento']=='gol'):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Calificaciondelevento, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia]
Index: []

[0 rows x 29 columns]

In [168]:
#completado

colname = 'centro-Completado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] != 'perdida')| (data_eventos.loc[i,'Jugador 1'] != data_eventos.loc[i+1,'Jugador 1']) :
            data_eventos.loc[i,colname] = 1

            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado,pase-Interceptado,pase-Fuera,pase-Inteligente,centro-Asistencia,centro-Completado
287,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:03:22,01:03:22,0.0,...,0,0,0,0,0,0,0,0,0,1
313,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:05:52,01:05:52,0.0,...,0,0,0,0,0,0,0,0,0,1
407,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:33:50,01:33:50,0.0,...,0,0,0,0,0,0,0,0,0,1
420,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:20:51,00:20:51,0.0,...,0,0,0,0,0,0,0,0,0,1
459,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:29:02,00:29:02,0.0,...,0,0,0,0,0,0,0,0,0,1

In [169]:
#interceptado
'''si data[i] es pase no bloqueado y data[i+1] es perdida interceptado'''

colname = 'centro-Interceptado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
            if ('intercep' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado,pase-Interceptado,pase-Fuera,pase-Inteligente,centro-Asistencia,centro-Completado,centro-Interceptado
167,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:48:26,00:48:26,0.0,...,0,0,0,0,0,0,0,0,0,1
472,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:34:27,01:34:27,0.0,...,0,0,0,0,0,0,0,0,0,1

In [170]:
#bloqueado

colname = 'centro-Bloqueado'
data_eventos[colname] = 0
# for i in range(len(data_eventos)):
#     if (data_eventos.loc[i,'Subevento']=='centro bloqueado'):
#         data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Calificaciondelevento, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado]
Index: []

[0 rows x 32 columns]

In [171]:
#fuera

colname = 'centro-Fuera'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
            if ('balon afuera' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Calificaciondelevento, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera]
Index: []

[0 rows x 33 columns]

# Duelos

- ganado
- perdido
- duelo aereo
- disputa suelo
- gambeta en contra
- gambeta a favor
- pivote

In [172]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                           cantidad
Evento        Subevento
arquero       remate atajable                     5
              salida aerea                        1
duelo         aereo                               2
              disputa suelo                       6
              gambeta a favor                     8
              gambeta en contra                   1
falta         hecha                              12
              offside                             2
              recibida                           11
gol rival     indirecta                           1
pase          centro aereo                        9
              corto                             227
              inteligente                         6
              largo                              43
              medio                             101
              s arquero mano                      4
              s arquero pie                      12
pelota parada lateral corto                      19
              lateral largo                       5
              saque de meta                       1
              tiro de esquina                     6
              tiro libre                         14
perdida       atajada                             6
              balon afuera fondo                  9
              balon afuera lateral               17
              duelo                               7
              error tactico                       3
              error tecnico                       5
              intercepcion aereo                  8
              interceptado                       44
              robo                               17
recuperacion  duelo                               3
              encontrada                         13
              intercepcion                       36
              intercepcion aereo                  8
              intercepcion anticipo               1
              intercepcion anticipo aereo         1
              robo                                3
remate cabeza facil                               2
              remate bloqueado                    1
remate pie    corta distancia                     1
              larga distancia                     1
              media distancia                     6
              remate bloqueado                    5
tarjeta       amarilla                            1

In [173]:
dejar_index= []
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo'):
        dejar_index.append(i-1)
        dejar_index.append(i)
        dejar_index.append(i+1)
data_eventos.loc[dejar_index].head(100)

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,pase-Asistencia,pase-Completado,pase-Interceptado,pase-Fuera,pase-Inteligente,centro-Asistencia,centro-Completado,centro-Interceptado,centro-Bloqueado,centro-Fuera
57,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:33:04,00:33:10,6.0,...,0,1,0,0,0,0,0,0,0,0
58,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,00:33:06,00:33:12,6.0,...,0,0,0,0,0,0,0,0,0,0
59,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,00:33:10,00:33:16,6.0,...,0,0,0,0,0,0,0,0,0,0
80,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:38:50,00:38:56,6.0,...,0,1,0,0,1,0,0,0,0,0
81,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,00:38:55,00:39:01,6.0,...,0,0,0,0,0,0,0,0,0,0
82,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:38:57,00:39:03,6.0,...,0,0,0,0,0,0,0,0,0,0
98,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:41:56,00:42:02,6.0,...,0,1,0,0,0,0,0,0,0,0
99,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,00:42:04,00:42:10,6.0,...,0,0,0,0,0,0,0,0,0,0
100,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:42:08,00:42:14,6.0,...,0,0,0,0,0,0,0,0,0,0
108,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:42:36,00:42:42,6.0,...,0,1,0,0,0,0,0,0,0,0
109,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,00:42:42,00:42:48,6.0,...,0,0,0,0,0,0,0,0,0,0
110,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:43:35,00:43:41,6.0,...,0,1,0,0,1,0,0,0,0,0
126,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:45:02,00:45:02,0.0,...,0,1,0,0,0,0,0,0,0,0
127,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,00:45:02,00:45:08,6.0,...,0,0,0,0,0,0,0,0,0,0
128,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:45:02,00:45:08,6.0,...,0,0,0,0,0,0,0,0,0,0
185,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:50:28,00:50:28,0.0,...,0,0,0,0,0,0,0,0,0,0
186,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,00:50:29,00:50:35,6.0,...,0,0,0,0,0,0,0,0,0,0
187,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:50:37,00:50:37,0.0,...,0,0,0,0,0,0,0,0,0,0
222,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:55:00,00:55:00,0.0,...,0,1,0,0,0,0,0,0,0,0
223,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,00:55:10,00:55:16,6.0,...,0,0,0,0,0,0,0,0,0,0
224,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:55:15,00:55:15,0.0,...,0,0,0,0,0,0,0,0,0,0
226,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:57:02,00:57:02,0.0,...,0,1,0,0,0,0,0,0,0,0
227,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,00:57:00,00:57:06,6.0,...,0,0,0,0,0,0,0,0,0,0
228,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,00:57:02,00:57:08,6.0,...,0,0,0,0,0,0,0,0,0,0
299,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:04:18,01:04:18,0.0,...,0,1,0,0,0,0,0,0,0,0
300,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,01:04:17,01:04:23,6.0,...,0,0,0,0,0,0,0,0,0,0
301,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:04:26,01:04:26,0.0,...,0,1,0,0,0,0,0,0,0,0
354,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:25:40,01:25:40,0.0,...,0,1,0,0,0,0,0,0,0,0
355,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,01:25:40,01:25:46,6.0,...,0,0,0,0,0,0,0,0,0,0
356,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:25:44,01:25:44,0.0,...,0,0,0,0,0,0,0,0,0,0
375,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,01:30:23,01:30:23,0.0,...,0,0,0,0,0,0,0,0,0,0
376,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,01:30:21,01:30:27,6.0,...,0,0,0,0,0,0,0,0,0,0
377,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:30:27,01:30:27,0.0,...,0,1,0,0,0,0,0,0,0,0
401,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:33:31,01:33:37,6.0,...,0,0,0,0,0,0,0,0,0,0
402,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,01:33:31,01:33:37,6.0,...,0,0,0,0,0,0,0,0,0,0
403,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:33:34,01:33:34,0.0,...,0,1,0,0,0,0,0,0,0,0
425,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:22:13,00:22:13,0.0,...,0,1,0,0,0,0,0,0,0,0
426,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,00:22:18,00:22:24,6.0,...,0,0,0,0,0,0,0,0,0,0
427,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:22:24,00:22:24,0.0,...,0,0,0,0,0,0,0,0,0,0
508,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:39:33,01:39:33,0.0,...,0,1,0,0,0,0,0,0,0,0
509,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,01:39:34,01:39:34,0.0,...,0,0,0,0,0,0,0,0,0,0
510,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:39:36,01:39:36,0.0,...,0,1,0,0,0,0,0,0,0,0
586,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:48:01,01:48:01,0.0,...,0,0,0,0,0,0,0,0,0,0
587,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,01:48:05,01:48:05,0.0,...,0,0,0,0,0,0,0,0,0,0
588,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:48:10,01:48:10,0.0,...,0,0,0,0,0,0,0,0,0,0
599,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:52:14,01:52:14,0.0,...,0,1,0,0,0,0,0,0,0,0
600,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,01:52:17,01:52:17,0.0,...,0,0,0,0,0,0,0,0,0,0
601,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:52:24,01:52:24,0.0,...,0,1,0,0,0,0,0,0,0,0
635,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:58:52,01:58:52,0.0,...,0,1,0,0,0,0,0,0,0,0
636,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,01:58:58,01:58:58,0.0,...,0,0,0,0,0,0,0,0,0,0
637,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:58:58,01:58:58,0.0,...,0,1,0,1,0,0,0,0,0,0

In [174]:
#duelo aereo

colname1 = 'duelo-Aereo-Perdido'
data_eventos[colname1] = 0
colname2 = 'duelo-Aereo-Ganado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='aereo'):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo')): 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]
data_eventos.loc[data_eventos[colname2] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,pase-Interceptado,pase-Fuera,pase-Inteligente,centro-Asistencia,centro-Completado,centro-Interceptado,centro-Bloqueado,centro-Fuera,duelo-Aereo-Perdido,duelo-Aereo-Ganado
127,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,00:45:02,00:45:08,6.0,...,0,0,0,0,0,0,0,0,0,1
402,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,01:33:31,01:33:37,6.0,...,0,0,0,0,0,0,0,0,0,1

In [175]:
#disputa suelo

colname1 = 'duelo-Disputa-suelo-Perdida'
data_eventos[colname1] = 0
colname2 = 'duelo-Disputa-suelo-Ganada'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='disputa suelo'):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo')): 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]
data_eventos.loc[data_eventos[colname2] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,pase-Inteligente,centro-Asistencia,centro-Completado,centro-Interceptado,centro-Bloqueado,centro-Fuera,duelo-Aereo-Perdido,duelo-Aereo-Ganado,duelo-Disputa-suelo-Perdida,duelo-Disputa-suelo-Ganada
109,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,00:42:42,00:42:48,6.0,...,0,0,0,0,0,0,0,0,0,1
223,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,00:55:10,00:55:16,6.0,...,0,0,0,0,0,0,0,0,0,1
355,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,01:25:40,01:25:46,6.0,...,0,0,0,0,0,0,0,0,0,1
587,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,01:48:05,01:48:05,0.0,...,0,0,0,0,0,0,0,0,0,1
600,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,01:52:17,01:52:17,0.0,...,0,0,0,0,0,0,0,0,0,1
636,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,01:58:58,01:58:58,0.0,...,0,0,0,0,0,0,0,0,0,1

In [176]:
#gambeta en contra

colname1 = 'duelo-Gambeta-contra-Ganada'
data_eventos[colname1] = 0
colname2 = 'duelo-Gambeta-contra-Perdida'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='gambeta en contra'):
        if ((data_eventos.loc[i+1,'Evento'] == 'recuperacion') & ((data_eventos.loc[i+1,'Subevento'] == 'duelo') )): 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]
data_eventos.loc[data_eventos[colname2] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,centro-Completado,centro-Interceptado,centro-Bloqueado,centro-Fuera,duelo-Aereo-Perdido,duelo-Aereo-Ganado,duelo-Disputa-suelo-Perdida,duelo-Disputa-suelo-Ganada,duelo-Gambeta-contra-Ganada,duelo-Gambeta-contra-Perdida
186,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,00:50:29,00:50:35,6.0,...,0,0,0,0,0,0,0,0,0,1

In [177]:
#gambeta a favor

colname1 = 'duelo-Gambeta-favor-Perdida'
data_eventos[colname1] = 0
colname2 = 'duelo-Gambeta-favor-Ganada'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='gambeta a favor'):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & ((data_eventos.loc[i+1,'Subevento'] == 'duelo') | ('balon afuera' in data_eventos.loc[i+1,'Subevento']))) : 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]
data_eventos.loc[data_eventos[colname2] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,centro-Bloqueado,centro-Fuera,duelo-Aereo-Perdido,duelo-Aereo-Ganado,duelo-Disputa-suelo-Perdida,duelo-Disputa-suelo-Ganada,duelo-Gambeta-contra-Ganada,duelo-Gambeta-contra-Perdida,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada
58,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,00:33:06,00:33:12,6.0,...,0,0,0,0,0,0,0,0,0,1
227,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,00:57:00,00:57:06,6.0,...,0,0,0,0,0,0,0,0,0,1
300,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,01:04:17,01:04:23,6.0,...,0,0,0,0,0,0,0,0,0,1
376,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,01:30:21,01:30:27,6.0,...,0,0,0,0,0,0,0,0,0,1
426,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,00:22:18,00:22:24,6.0,...,0,0,0,0,0,0,0,0,0,1
509,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,01:39:34,01:39:34,0.0,...,0,0,0,0,0,0,0,0,0,1

In [178]:
#pivote

colname1 = 'duelo-Pivote-Perdido'
data_eventos[colname1] = 0
colname2 = 'duelo-Pivote-Ganado'
data_eventos[colname2] = 0

#for i in range(len(data_eventos)):
#    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='pivote'):
#        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo')) : 
#            data_eventos.loc[i,colname1] = 1
#        else:
#            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Calificaciondelevento, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado]
Index: []

[0 rows x 43 columns]

# Faltas

- falta cometida
- falta recibida
- penal
- tarjeta amarilla
- tarjeta roja
- off-side

In [179]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                           cantidad
Evento        Subevento
arquero       remate atajable                     5
              salida aerea                        1
duelo         aereo                               2
              disputa suelo                       6
              gambeta a favor                     8
              gambeta en contra                   1
falta         hecha                              12
              offside                             2
              recibida                           11
gol rival     indirecta                           1
pase          centro aereo                        9
              corto                             227
              inteligente                         6
              largo                              43
              medio                             101
              s arquero mano                      4
              s arquero pie                      12
pelota parada lateral corto                      19
              lateral largo                       5
              saque de meta                       1
              tiro de esquina                     6
              tiro libre                         14
perdida       atajada                             6
              balon afuera fondo                  9
              balon afuera lateral               17
              duelo                               7
              error tactico                       3
              error tecnico                       5
              intercepcion aereo                  8
              interceptado                       44
              robo                               17
recuperacion  duelo                               3
              encontrada                         13
              intercepcion                       36
              intercepcion aereo                  8
              intercepcion anticipo               1
              intercepcion anticipo aereo         1
              robo                                3
remate cabeza facil                               2
              remate bloqueado                    1
remate pie    corta distancia                     1
              larga distancia                     1
              media distancia                     6
              remate bloqueado                    5
tarjeta       amarilla                            1

In [180]:
#falta cometida

colname = 'falta-Cometida'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='hecha'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Aereo-Ganado,duelo-Disputa-suelo-Perdida,duelo-Disputa-suelo-Ganada,duelo-Gambeta-contra-Ganada,duelo-Gambeta-contra-Perdida,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida
66,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,00:35:26,00:35:32,6.0,...,0,0,0,0,0,0,0,0,0,1
178,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,00:49:17,00:49:23,6.0,...,0,0,0,0,0,0,0,0,0,1
253,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,00:59:32,00:59:38,6.0,...,0,0,0,0,0,0,0,0,0,1
362,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,01:26:28,01:26:34,6.0,...,0,0,0,0,0,0,0,0,0,1
534,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,01:41:46,01:41:46,0.0,...,0,0,0,0,0,0,0,0,0,1
592,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,01:48:33,01:48:33,0.0,...,0,0,0,0,0,0,0,0,0,1
612,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,01:54:14,01:54:14,0.0,...,0,0,0,0,0,0,0,0,0,1
631,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,01:58:10,01:58:10,0.0,...,0,0,0,0,0,0,0,0,0,1
639,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,01:59:23,01:59:23,0.0,...,0,0,0,0,0,0,0,0,0,1
664,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,02:03:32,02:03:32,0.0,...,0,0,0,0,0,0,0,0,0,1
679,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,02:06:02,02:06:02,0.0,...,0,0,0,0,0,0,0,0,0,1
695,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,02:09:58,02:09:58,0.0,...,0,0,0,0,0,0,0,0,0,1

In [181]:
#falta recibida

colname = 'falta-Recibida'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='recibida'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Disputa-suelo-Perdida,duelo-Disputa-suelo-Ganada,duelo-Gambeta-contra-Ganada,duelo-Gambeta-contra-Perdida,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida,falta-Recibida
21,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,00:24:25,00:24:31,6.0,...,0,0,0,0,0,0,0,0,0,1
26,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,00:26:58,00:27:04,6.0,...,0,0,0,0,0,0,0,0,0,1
59,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,00:33:10,00:33:16,6.0,...,0,0,0,0,0,0,0,0,0,1
92,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,00:40:16,00:40:22,6.0,...,0,0,0,0,0,0,0,0,0,1
228,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,00:57:02,00:57:08,6.0,...,0,0,0,0,0,0,0,0,0,1
271,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,01:01:57,01:02:03,6.0,...,0,0,0,0,0,0,0,0,0,1
367,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,01:27:52,01:27:58,6.0,...,0,0,0,0,0,0,0,0,0,1
384,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,01:30:42,01:30:48,6.0,...,0,0,0,0,0,0,0,0,0,1
478,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,01:35:26,01:35:26,0.0,...,0,0,0,0,0,0,0,0,0,1
553,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,01:45:34,01:45:34,0.0,...,0,0,0,0,0,0,0,0,0,1
665,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,02:04:21,02:04:21,0.0,...,0,0,0,0,0,0,0,0,0,1

In [182]:
#penal cometido

colname = 'falta-Penal-cometido'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='penal cometido'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Calificaciondelevento, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido]
Index: []

[0 rows x 46 columns]

In [183]:
#penal_recibido

colname = 'falta-Penal-recibido'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='penal recibido'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Calificaciondelevento, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido]
Index: []

[0 rows x 47 columns]

In [184]:
#offside

colname = 'falta-Offside'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='offside'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Gambeta-contra-Perdida,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida,falta-Recibida,falta-Penal-cometido,falta-Penal-recibido,falta-Offside
302,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,01:04:26,01:04:32,6.0,...,0,0,0,0,0,0,0,0,0,1
388,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,01:31:55,01:32:01,6.0,...,0,0,0,0,0,0,0,0,0,1

In [185]:
#tarjeta amarilla

colname = 'falta-Tarjeta-amarilla'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='hecha'):
        if (data_eventos.loc[i+1,'Evento']=='tarjeta') & (data_eventos.loc[i+1,'Subevento']=='amarilla'):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida,falta-Recibida,falta-Penal-cometido,falta-Penal-recibido,falta-Offside,falta-Tarjeta-amarilla
592,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,01:48:33,01:48:33,0.0,...,0,0,0,0,1,0,0,0,0,1

In [186]:
#tarjeta roja

colname = 'falta-Tarjeta-roja'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='hecha'):
        if (data_eventos.loc[i+1,'Evento']=='tarjeta') & (data_eventos.loc[i+1,'Subevento']=='roja'):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Calificaciondelevento, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja]
Index: []

[0 rows x 50 columns]

# Recuperacion

- robo
- encontradas
- intercepcion suelo
- intercepcion aereo
- intercepcion anticipo
- disputa suelo

In [187]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                           cantidad
Evento        Subevento
arquero       remate atajable                     5
              salida aerea                        1
duelo         aereo                               2
              disputa suelo                       6
              gambeta a favor                     8
              gambeta en contra                   1
falta         hecha                              12
              offside                             2
              recibida                           11
gol rival     indirecta                           1
pase          centro aereo                        9
              corto                             227
              inteligente                         6
              largo                              43
              medio                             101
              s arquero mano                      4
              s arquero pie                      12
pelota parada lateral corto                      19
              lateral largo                       5
              saque de meta                       1
              tiro de esquina                     6
              tiro libre                         14
perdida       atajada                             6
              balon afuera fondo                  9
              balon afuera lateral               17
              duelo                               7
              error tactico                       3
              error tecnico                       5
              intercepcion aereo                  8
              interceptado                       44
              robo                               17
recuperacion  duelo                               3
              encontrada                         13
              intercepcion                       36
              intercepcion aereo                  8
              intercepcion anticipo               1
              intercepcion anticipo aereo         1
              robo                                3
remate cabeza facil                               2
              remate bloqueado                    1
remate pie    corta distancia                     1
              larga distancia                     1
              media distancia                     6
              remate bloqueado                    5
tarjeta       amarilla                            1

In [188]:
colname = 'recuperacion-Robo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if ((data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='robo')):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida,falta-Recibida,falta-Penal-cometido,falta-Penal-recibido,falta-Offside,falta-Tarjeta-amarilla,falta-Tarjeta-roja,recuperacion-Robo
53,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:32:17,00:32:23,6.0,...,0,0,0,0,0,0,0,0,0,1
56,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:32:58,00:33:04,6.0,...,0,0,0,0,0,0,0,0,0,1
86,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:39:09,00:39:15,6.0,...,0,0,0,0,0,0,0,0,0,1

In [189]:
#encontrada

colname = 'recuperacion-Encontrada'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='encontrada'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Pivote-Ganado,falta-Cometida,falta-Recibida,falta-Penal-cometido,falta-Penal-recibido,falta-Offside,falta-Tarjeta-amarilla,falta-Tarjeta-roja,recuperacion-Robo,recuperacion-Encontrada
10,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:21:08,00:21:14,6.0,...,0,0,0,0,0,0,0,0,0,1
79,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:38:48,00:38:54,6.0,...,0,0,0,0,0,0,0,0,0,1
83,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:38:59,00:39:05,6.0,...,0,0,0,0,0,0,0,0,0,1
89,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:39:13,00:39:19,6.0,...,0,0,0,0,0,0,0,0,0,1
129,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:45:03,00:45:09,6.0,...,0,0,0,0,0,0,0,0,0,1
155,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:47:49,00:47:49,0.0,...,0,0,0,0,0,0,0,0,0,1
166,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:48:19,00:48:19,0.0,...,0,0,0,0,0,0,0,0,0,1
169,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:48:33,00:48:33,0.0,...,0,0,0,0,0,0,0,0,0,1
195,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:51:43,00:51:43,0.0,...,0,0,0,0,0,0,0,0,0,1
281,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,01:03:04,01:03:04,0.0,...,0,0,0,0,0,0,0,0,0,1
294,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,01:03:59,01:03:59,0.0,...,0,0,0,0,0,0,0,0,0,1
411,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:43:34,00:43:34,0.0,...,0,0,0,0,0,0,0,0,0,1
603,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,01:52:35,01:52:35,0.0,...,0,0,0,0,0,0,0,0,0,1

In [190]:
#intercepcion suelo

colname = 'recuperacion-Intercepcion-suelo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='intercepcion'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,falta-Cometida,falta-Recibida,falta-Penal-cometido,falta-Penal-recibido,falta-Offside,falta-Tarjeta-amarilla,falta-Tarjeta-roja,recuperacion-Robo,recuperacion-Encontrada,recuperacion-Intercepcion-suelo
2,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:19:56,00:20:02,6.0,...,0,0,0,0,0,0,0,0,0,1
14,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:23:12,00:23:18,6.0,...,0,0,0,0,0,0,0,0,0,1
17,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:24:01,00:24:07,6.0,...,0,0,0,0,0,0,0,0,0,1
18,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:24:18,00:24:24,6.0,...,0,0,0,0,0,0,0,0,0,1
23,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:26:04,00:26:10,6.0,...,0,0,0,0,0,0,0,0,0,1
25,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:26:50,00:26:56,6.0,...,0,0,0,0,0,0,0,0,0,1
28,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:27:38,00:27:44,6.0,...,0,0,0,0,0,0,0,0,0,1
32,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:29:25,00:29:31,6.0,...,0,0,0,0,0,0,0,0,0,1
41,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:30:45,00:30:51,6.0,...,0,0,0,0,0,0,0,0,0,1
63,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:35:16,00:35:22,6.0,...,0,0,0,0,0,0,0,0,0,1
67,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:36:20,00:36:26,6.0,...,0,0,0,0,0,0,0,0,0,1
72,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:37:01,00:37:07,6.0,...,0,0,0,0,0,0,0,0,0,1
76,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:38:19,00:38:25,6.0,...,0,0,0,0,0,0,0,0,0,1
101,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:42:13,00:42:19,6.0,...,0,0,0,0,0,0,0,0,0,1
113,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:44:10,00:44:16,6.0,...,0,0,0,0,0,0,0,0,0,1
162,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:48:08,00:48:08,0.0,...,0,0,0,0,0,0,0,0,0,1
174,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:49:05,00:49:05,0.0,...,0,0,0,0,0,0,0,0,0,1
179,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:50:00,00:50:00,0.0,...,0,0,0,0,0,0,0,0,0,1
183,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:50:25,00:50:25,0.0,...,0,0,0,0,0,0,0,0,0,1
187,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:50:37,00:50:37,0.0,...,0,0,0,0,0,0,0,0,0,1
198,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:51:56,00:51:56,0.0,...,0,0,0,0,0,0,0,0,0,1
219,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:54:50,00:54:50,0.0,...,0,0,0,0,0,0,0,0,0,1
241,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:58:20,00:58:20,0.0,...,0,0,0,0,0,0,0,0,0,1
250,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:59:16,00:59:16,0.0,...,0,0,0,0,0,0,0,0,0,1
269,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,01:01:54,01:01:54,0.0,...,0,0,0,0,0,0,0,0,0,1
290,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,01:03:38,01:03:38,0.0,...,0,0,0,0,0,0,0,0,0,1
303,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,01:05:05,01:05:05,0.0,...,0,0,0,0,0,0,0,0,0,1
326,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,01:23:12,01:23:12,0.0,...,0,0,0,0,0,0,0,0,0,1
343,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,01:24:28,01:24:28,0.0,...,0,0,0,0,0,0,0,0,0,1
353,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,01:25:35,01:25:35,0.0,...,0,0,0,0,0,0,0,0,0,1
357,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,01:26:20,01:26:20,0.0,...,0,0,0,0,0,0,0,0,0,1
375,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,01:30:23,01:30:23,0.0,...,0,0,0,0,0,0,0,0,0,1
386,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,01:31:48,01:31:48,0.0,...,0,0,0,0,0,0,0,0,0,1
398,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,01:32:47,01:32:47,0.0,...,0,0,0,0,0,0,0,0,0,1
405,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,01:33:40,01:33:40,0.0,...,0,0,0,0,0,0,0,0,0,1
428,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:22:48,00:22:48,0.0,...,0,0,0,0,0,0,0,0,0,1

In [191]:
#intercepcion aereo

colname = 'recuperacion-Intercepcion-aereo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='intercepcion aereo'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,falta-Recibida,falta-Penal-cometido,falta-Penal-recibido,falta-Offside,falta-Tarjeta-amarilla,falta-Tarjeta-roja,recuperacion-Robo,recuperacion-Encontrada,recuperacion-Intercepcion-suelo,recuperacion-Intercepcion-aereo
6,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:20:28,00:20:34,6.0,...,0,0,0,0,0,0,0,0,0,1
8,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:20:33,00:20:39,6.0,...,0,0,0,0,0,0,0,0,0,1
34,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:29:36,00:29:42,6.0,...,0,0,0,0,0,0,0,0,0,1
254,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,01:00:07,01:00:07,0.0,...,0,0,0,0,0,0,0,0,0,1
381,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,01:30:37,01:30:37,0.0,...,0,0,0,0,0,0,0,0,0,1
423,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:22:12,00:22:12,0.0,...,0,0,0,0,0,0,0,0,0,1
537,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,01:43:14,01:43:14,0.0,...,0,0,0,0,0,0,0,0,0,1
640,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,02:00:47,02:00:47,0.0,...,0,0,0,0,0,0,0,0,0,1

In [192]:
#intercepcion anticipo

colname = 'recuperacion-Intercepcion-anticipo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion'):
        if ('anticipo' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,falta-Penal-cometido,falta-Penal-recibido,falta-Offside,falta-Tarjeta-amarilla,falta-Tarjeta-roja,recuperacion-Robo,recuperacion-Encontrada,recuperacion-Intercepcion-suelo,recuperacion-Intercepcion-aereo,recuperacion-Intercepcion-anticipo
45,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:30:59,00:31:05,6.0,...,0,0,0,0,0,0,0,0,0,1
561,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,01:46:10,01:46:10,0.0,...,0,0,0,0,0,0,0,0,0,1

In [193]:
#disputa suelo

colname = 'recuperacion-Disputa-suelo'
data_eventos[colname] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='disputa suelo'):
        if (data_eventos.loc[i+1,'Evento'] == 'recuperacion') & (data_eventos.loc[i+1,'Subevento'] == 'duelo'): 
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Calificaciondelevento, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo]
Index: []

[0 rows x 56 columns]

# Pelota parada

- lateral completado
- lateral interceptado
- corner completado
- corner interceptado
- tiro libre

In [194]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                           cantidad
Evento        Subevento
arquero       remate atajable                     5
              salida aerea                        1
duelo         aereo                               2
              disputa suelo                       6
              gambeta a favor                     8
              gambeta en contra                   1
falta         hecha                              12
              offside                             2
              recibida                           11
gol rival     indirecta                           1
pase          centro aereo                        9
              corto                             227
              inteligente                         6
              largo                              43
              medio                             101
              s arquero mano                      4
              s arquero pie                      12
pelota parada lateral corto                      19
              lateral largo                       5
              saque de meta                       1
              tiro de esquina                     6
              tiro libre                         14
perdida       atajada                             6
              balon afuera fondo                  9
              balon afuera lateral               17
              duelo                               7
              error tactico                       3
              error tecnico                       5
              intercepcion aereo                  8
              interceptado                       44
              robo                               17
recuperacion  duelo                               3
              encontrada                         13
              intercepcion                       36
              intercepcion aereo                  8
              intercepcion anticipo               1
              intercepcion anticipo aereo         1
              robo                                3
remate cabeza facil                               2
              remate bloqueado                    1
remate pie    corta distancia                     1
              larga distancia                     1
              media distancia                     6
              remate bloqueado                    5
tarjeta       amarilla                            1

In [195]:
#lateral

colname1 = 'parado-Lateral-interceptado'
data_eventos[colname1] = 0
colname2 = 'parado-Lateral-completado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if ('lateral' in data_eventos.loc[i,'Subevento']):

            if ((data_eventos.loc[i+1,'Evento']=='perdida') & (data_eventos.loc[i+1,'Subevento']=='intercepcion')):
                data_eventos.loc[i,colname1] = 1
            if (data_eventos.loc[i+1,'Evento']=='duelo') & ((data_eventos.loc[i+1,'Subevento']=='aereo') | (data_eventos.loc[i+1,'Subevento']=='disputa suelo')):
                if (data_eventos.loc[i+2,'Evento']=='perdida') & (data_eventos.loc[i+2,'Subevento']=='duelo'):
                    data_eventos.loc[i,colname1] = 1
                
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if ('lateral' in data_eventos.loc[i,'Subevento']):
            if (data_eventos.loc[i,colname1]!= 1):
                data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]
data_eventos.loc[data_eventos[colname2] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,falta-Tarjeta-amarilla,falta-Tarjeta-roja,recuperacion-Robo,recuperacion-Encontrada,recuperacion-Intercepcion-suelo,recuperacion-Intercepcion-aereo,recuperacion-Intercepcion-anticipo,recuperacion-Disputa-suelo,parado-Lateral-interceptado,parado-Lateral-completado
16,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,00:23:39,00:23:45,6.0,...,0,0,0,0,0,0,0,0,0,1
37,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,00:30:03,00:30:09,6.0,...,0,0,0,0,0,0,0,0,0,1
49,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,00:31:44,00:31:50,6.0,...,0,0,0,0,0,0,0,0,0,1
51,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,00:32:08,00:32:14,6.0,...,0,0,0,0,0,0,0,0,0,1
74,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,00:37:55,00:38:01,6.0,...,0,0,0,0,0,0,0,0,0,1
123,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,00:44:51,00:44:57,6.0,...,0,0,0,0,0,0,0,0,0,1
136,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,00:45:48,00:45:54,6.0,...,0,0,0,0,0,0,0,0,0,1
171,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,00:48:53,00:48:59,6.0,...,0,0,0,0,0,0,0,0,0,1
190,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,00:51:04,00:51:10,6.0,...,0,0,0,0,0,0,0,0,0,1
279,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:02:55,01:03:01,6.0,...,0,0,0,0,0,0,0,0,0,1
363,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:27:33,01:27:39,6.0,...,0,0,0,0,0,0,0,0,0,1
504,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:39:14,01:39:14,0.0,...,0,0,0,0,0,0,0,0,0,1
513,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:39:42,01:39:42,0.0,...,0,0,0,0,0,0,0,0,0,1
551,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:45:27,01:45:27,0.0,...,0,0,0,0,0,0,0,0,0,1
568,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:46:24,01:46:24,0.0,...,0,0,0,0,0,0,0,0,0,1
583,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:47:46,01:47:46,0.0,...,0,0,0,0,0,0,0,0,0,1
586,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:48:01,01:48:01,0.0,...,0,0,0,0,0,0,0,0,0,1
607,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:53:42,01:53:42,0.0,...,0,0,0,0,0,0,0,0,0,1
625,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:56:21,01:56:21,0.0,...,0,0,0,0,0,0,0,0,0,1
628,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:57:58,01:57:58,0.0,...,0,0,0,0,0,0,0,0,0,1
630,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:58:08,01:58:08,0.0,...,0,0,0,0,0,0,0,0,0,1
643,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,02:01:02,02:01:02,0.0,...,0,0,0,0,0,0,0,0,0,1
651,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,02:02:11,02:02:11,0.0,...,0,0,0,0,0,0,0,0,0,1
674,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,02:05:07,02:05:07,0.0,...,0,0,0,0,0,0,0,0,0,1

In [196]:
#corner

colname1 = 'parado-Corner-interceptado'
data_eventos[colname1] = 0
colname2 = 'parado-Corner-completado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i,'Subevento']=='tiro de esquina'):

            if ('intercep' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname1] = 1
            if (data_eventos.loc[i+1,'Evento']=='duelo') & ((data_eventos.loc[i+1,'Subevento']=='aereo') | (data_eventos.loc[i+1,'Subevento']=='disputa suelo')):
                if (data_eventos.loc[i+2,'Evento']=='perdida') & (data_eventos.loc[i+2,'Subevento']=='duelo'):
                    data_eventos.loc[i,colname1] = 1
                
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i,'Subevento']=='tiro de esquina'):
            if (data_eventos.loc[i,colname1]!= 1):
                data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]
data_eventos.loc[data_eventos[colname2] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,recuperacion-Robo,recuperacion-Encontrada,recuperacion-Intercepcion-suelo,recuperacion-Intercepcion-aereo,recuperacion-Intercepcion-anticipo,recuperacion-Disputa-suelo,parado-Lateral-interceptado,parado-Lateral-completado,parado-Corner-interceptado,parado-Corner-completado
401,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:33:31,01:33:37,6.0,...,0,0,0,0,0,0,0,0,0,1
471,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:34:26,01:34:26,0.0,...,0,0,0,0,0,0,0,0,0,1
474,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:34:37,01:34:37,0.0,...,0,0,0,0,0,0,0,0,0,1
589,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:48:24,01:48:24,0.0,...,0,0,0,0,0,0,0,0,0,1

In [197]:
#tiro libre
colname1 = 'parado-Tiro-libre-incompleto'
data_eventos[colname1] = 0
colname2 = 'parado-Tiro-libre-completado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pelota parada') & (data_eventos.loc[i,'Subevento']=='tiro libre') :
        if(data_eventos.loc[i+1,'Evento'] == 'perdida'):
            data_eventos.loc[i,colname1] = 1

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i,'Subevento']=='tiro libre'):
            if (data_eventos.loc[i,colname1]!= 1):
                data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]
data_eventos.loc[data_eventos[colname2] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,recuperacion-Intercepcion-suelo,recuperacion-Intercepcion-aereo,recuperacion-Intercepcion-anticipo,recuperacion-Disputa-suelo,parado-Lateral-interceptado,parado-Lateral-completado,parado-Corner-interceptado,parado-Corner-completado,parado-Tiro-libre-incompleto,parado-Tiro-libre-completado
22,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,00:25:29,00:25:35,6.0,...,0,0,0,0,0,0,0,0,0,1
60,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,00:34:11,00:34:17,6.0,...,0,0,0,0,0,0,0,0,0,1
93,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,00:40:24,00:40:30,6.0,...,0,0,0,0,0,0,0,0,0,1
229,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,00:57:15,00:57:21,6.0,...,0,0,0,0,0,0,0,0,0,1
258,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:00:20,01:00:26,6.0,...,0,0,0,0,0,0,0,0,0,1
272,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:02:10,01:02:16,6.0,...,0,0,0,0,0,0,0,0,0,1
368,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:28:02,01:28:08,6.0,...,0,0,0,0,0,0,0,0,0,1
383,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:31:42,01:31:48,6.0,...,0,0,0,0,0,0,0,0,0,1
443,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,00:27:23,00:27:23,0.0,...,0,0,0,0,0,0,0,0,0,1
453,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,00:28:25,00:28:25,0.0,...,0,0,0,0,0,0,0,0,0,1
479,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:35:35,01:35:35,0.0,...,0,0,0,0,0,0,0,0,0,1
524,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:41:03,01:41:09,6.0,...,0,0,0,0,0,0,0,0,0,1
554,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:45:38,01:45:38,0.0,...,0,0,0,0,0,0,0,0,0,1
696,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,02:12:46,02:12:46,0.0,...,0,0,0,0,0,0,0,0,0,1

# Perdida

- gambeta a favor
- robo
- intercepcion
- error tecnico
- balon afuera
- genero situacion rival
- genero gol rival
- atajada rival

In [198]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                           cantidad
Evento        Subevento
arquero       remate atajable                     5
              salida aerea                        1
duelo         aereo                               2
              disputa suelo                       6
              gambeta a favor                     8
              gambeta en contra                   1
falta         hecha                              12
              offside                             2
              recibida                           11
gol rival     indirecta                           1
pase          centro aereo                        9
              corto                             227
              inteligente                         6
              largo                              43
              medio                             101
              s arquero mano                      4
              s arquero pie                      12
pelota parada lateral corto                      19
              lateral largo                       5
              saque de meta                       1
              tiro de esquina                     6
              tiro libre                         14
perdida       atajada                             6
              balon afuera fondo                  9
              balon afuera lateral               17
              duelo                               7
              error tactico                       3
              error tecnico                       5
              intercepcion aereo                  8
              interceptado                       44
              robo                               17
recuperacion  duelo                               3
              encontrada                         13
              intercepcion                       36
              intercepcion aereo                  8
              intercepcion anticipo               1
              intercepcion anticipo aereo         1
              robo                                3
remate cabeza facil                               2
              remate bloqueado                    1
remate pie    corta distancia                     1
              larga distancia                     1
              media distancia                     6
              remate bloqueado                    5
tarjeta       amarilla                            1

In [199]:
#gambeta a favor

colname = 'perdida-Gambeta-favor'
data_eventos[colname] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='gambeta a favor'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo'): 
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,recuperacion-Intercepcion-aereo,recuperacion-Intercepcion-anticipo,recuperacion-Disputa-suelo,parado-Lateral-interceptado,parado-Lateral-completado,parado-Corner-interceptado,parado-Corner-completado,parado-Tiro-libre-incompleto,parado-Tiro-libre-completado,perdida-Gambeta-favor
81,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,00:38:55,00:39:01,6.0,...,0,0,0,0,0,0,0,0,0,1
99,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,00:42:04,00:42:10,6.0,...,0,0,0,0,0,0,0,0,0,1

In [200]:
#robo

colname = 'perdida-Robo'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida') & (data_eventos.loc[i,'Subevento']=='robo'):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,recuperacion-Intercepcion-anticipo,recuperacion-Disputa-suelo,parado-Lateral-interceptado,parado-Lateral-completado,parado-Corner-interceptado,parado-Corner-completado,parado-Tiro-libre-incompleto,parado-Tiro-libre-completado,perdida-Gambeta-favor,perdida-Robo
29,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:27:41,00:27:47,6.0,...,0,0,0,0,0,0,0,0,0,1
44,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:30:57,00:31:03,6.0,...,0,0,0,0,0,0,0,0,0,1
50,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:31:45,00:31:51,6.0,...,0,0,0,0,0,0,0,0,0,1
52,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:32:10,00:32:16,6.0,...,0,0,0,0,0,0,0,0,0,1
105,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:42:25,00:42:31,6.0,...,0,0,0,0,0,0,0,0,0,1
128,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:45:02,00:45:08,6.0,...,0,0,0,0,0,0,0,0,0,1
173,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:49:02,00:49:02,0.0,...,0,0,0,0,0,0,0,0,0,1
177,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:49:14,00:49:14,0.0,...,0,0,0,0,0,0,0,0,0,1
182,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:50:06,00:50:06,0.0,...,0,0,0,0,0,0,0,0,0,1
185,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:50:28,00:50:28,0.0,...,0,0,0,0,0,0,0,0,0,1
191,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:51:11,00:51:11,0.0,...,0,0,0,0,0,0,0,0,0,1
244,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:58:28,00:58:28,0.0,...,0,0,0,0,0,0,0,0,0,1
252,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:59:22,00:59:22,0.0,...,0,0,0,0,0,0,0,0,0,1
257,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:00:11,01:00:11,0.0,...,0,0,0,0,0,0,0,0,0,1
337,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:23:51,01:23:51,0.0,...,0,0,0,0,0,0,0,0,0,1
492,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:36:38,01:36:38,0.0,...,0,0,0,0,0,0,0,0,0,1
627,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:56:44,01:56:44,0.0,...,0,0,0,0,0,0,0,0,0,1

In [201]:
#intercepcion

colname = 'perdida-Intercepcion'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida') & ('intercep' in str(data_eventos.loc[i,'Subevento'])):
        data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,recuperacion-Disputa-suelo,parado-Lateral-interceptado,parado-Lateral-completado,parado-Corner-interceptado,parado-Corner-completado,parado-Tiro-libre-incompleto,parado-Tiro-libre-completado,perdida-Gambeta-favor,perdida-Robo,perdida-Intercepcion
1,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:19:54,00:20:00,6.0,...,0,0,0,0,0,0,0,0,0,1
7,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:20:32,00:20:38,6.0,...,0,0,0,0,0,0,0,0,0,1
27,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:27:35,00:27:41,6.0,...,0,0,0,0,0,0,0,0,0,1
33,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:29:34,00:29:40,6.0,...,0,0,0,0,0,0,0,0,0,1
38,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:30:05,00:30:11,6.0,...,0,0,0,0,0,0,0,0,0,1
46,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:31:01,00:31:07,6.0,...,0,0,0,0,0,0,0,0,0,1
48,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:31:19,00:31:25,6.0,...,0,0,0,0,0,0,0,0,0,1
55,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:32:21,00:32:27,6.0,...,0,0,0,0,0,0,0,0,0,1
62,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:34:17,00:34:23,6.0,...,0,0,0,0,0,0,0,0,0,1
75,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:37:58,00:38:04,6.0,...,0,0,0,0,0,0,0,0,0,1
85,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:39:04,00:39:10,6.0,...,0,0,0,0,0,0,0,0,0,1
88,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:39:10,00:39:16,6.0,...,0,0,0,0,0,0,0,0,0,1
91,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:39:35,00:39:41,6.0,...,0,0,0,0,0,0,0,0,0,1
95,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:40:32,00:40:38,6.0,...,0,0,0,0,0,0,0,0,0,1
112,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:43:41,00:43:47,6.0,...,0,0,0,0,0,0,0,0,0,1
122,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:44:37,00:44:43,6.0,...,0,0,0,0,0,0,0,0,0,1
135,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:45:25,00:45:31,6.0,...,0,0,0,0,0,0,0,0,0,1
161,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:48:07,00:48:07,0.0,...,0,0,0,0,0,0,0,0,0,1
165,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:48:17,00:48:17,0.0,...,0,0,0,0,0,0,0,0,0,1
168,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:48:27,00:48:27,0.0,...,0,0,0,0,0,0,0,0,0,1
189,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:50:39,00:50:39,0.0,...,0,0,0,0,0,0,0,0,0,1
194,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:51:40,00:51:40,0.0,...,0,0,0,0,0,0,0,0,0,1
207,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:52:24,00:52:24,0.0,...,0,0,0,0,0,0,0,0,0,1
210,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:54:08,00:54:08,0.0,...,0,0,0,0,0,0,0,0,0,1
240,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:58:01,00:58:01,0.0,...,0,0,0,0,0,0,0,0,0,1
249,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:59:14,00:59:14,0.0,...,0,0,0,0,0,0,0,0,0,1
280,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:03:00,01:03:00,0.0,...,0,0,0,0,0,0,0,0,0,1
293,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:03:53,01:03:53,0.0,...,0,0,0,0,0,0,0,0,0,1
325,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:23:09,01:23:09,0.0,...,0,0,0,0,0,0,0,0,0,1
342,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:24:25,01:24:25,0.0,...,0,0,0,0,0,0,0,0,0,1
352,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:25:26,01:25:26,0.0,...,0,0,0,0,0,0,0,0,0,1
361,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:26:30,01:26:30,0.0,...,0,0,0,0,0,0,0,0,0,1
374,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:28:41,01:28:41,0.0,...,0,0,0,0,0,0,0,0,0,1
380,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:30:34,01:30:34,0.0,...,0,0,0,0,0,0,0,0,0,1
385,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:31:45,01:31:45,0.0,...,0,0,0,0,0,0,0,0,0,1
397,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:32:39,01:32:39,0.0,...,0,0,0,0,0,0,0,0,0,1
434,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:23:02,00:23:02,0.0,...,0,0,0,0,0,0,0,0,0,1
437,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:24:11,00:24:11,0.0,...,0,0,0,0,0,0,0,0,0,1
466,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:36:26,00:36:26,0.0,...,0,0,0,0,0,0,0,0,0,1
470,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:38:01,00:38:01,0.0,...,0,0,0,0,0,0,0,0,0,1
473,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:34:27,01:34:27,0.0,...,0,0,0,0,0,0,0,0,0,1
498,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:37:30,01:37:30,0.0,...,0,0,0,0,0,0,0,0,0,1
520,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:40:04,01:40:04,0.0,...,0,0,0,0,0,0,0,0,0,1
522,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:40:23,01:40:23,0.0,...,0,0,0,0,0,0,0,0,0,1
533,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:41:42,01:41:42,0.0,...,0,0,0,0,0,0,0,0,0,1
541,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:43:25,01:43:25,0.0,...,0,0,0,0,0,0,0,0,0,1
560,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:46:04,01:46:04,0.0,...,0,0,0,0,0,0,0,0,0,1
567,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:46:22,01:46:22,0.0,...,0,0,0,0,0,0,0,0,0,1
611,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:53:52,01:53:52,0.0,...,0,0,0,0,0,0,0,0,0,1
683,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,02:07:36,02:07:36,0.0,...,0,0,0,0,0,0,0,0,0,1
688,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,02:08:17,02:08:17,0.0,...,0,0,0,0,0,0,0,0,0,1
698,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,02:13:01,02:13:01,0.0,...,0,0,0,0,0,0,0,0,0,1

In [202]:
#error tecnico

colname = 'perdida-Error-tecnico'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida') & (data_eventos.loc[i,'Subevento']=='error tecnico'):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,parado-Lateral-interceptado,parado-Lateral-completado,parado-Corner-interceptado,parado-Corner-completado,parado-Tiro-libre-incompleto,parado-Tiro-libre-completado,perdida-Gambeta-favor,perdida-Robo,perdida-Intercepcion,perdida-Error-tecnico
71,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:36:58,00:37:04,6.0,...,0,0,0,0,0,0,0,0,0,1
78,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:38:25,00:38:31,6.0,...,0,0,0,0,0,0,0,0,0,1
218,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:54:42,00:54:42,0.0,...,0,0,0,0,0,0,0,0,0,1
427,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:22:24,00:22:24,0.0,...,0,0,0,0,0,0,0,0,0,1
606,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:52:44,01:52:44,0.0,...,0,0,0,0,0,0,0,0,0,1

In [203]:
#balon afuera

colname = 'perdida-Balon-fuera'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida'):
        if ('balon afuera' in str(data_eventos.loc[i,'Subevento'])):
            data_eventos.loc[i-1,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,parado-Lateral-completado,parado-Corner-interceptado,parado-Corner-completado,parado-Tiro-libre-incompleto,parado-Tiro-libre-completado,perdida-Gambeta-favor,perdida-Robo,perdida-Intercepcion,perdida-Error-tecnico,perdida-Balon-fuera
4,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:20:02,00:20:08,6.0,...,0,0,0,0,0,0,0,0,0,1
23,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:26:04,00:26:10,6.0,...,0,0,0,0,0,0,0,0,0,1
30,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:28:51,00:28:57,6.0,...,0,0,0,0,0,0,0,0,0,1
153,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:47:22,00:47:22,0.0,...,0,0,0,0,0,0,0,0,0,1
169,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:48:33,00:48:33,0.0,...,0,0,0,0,0,0,0,0,0,1
223,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,00:55:10,00:55:16,6.0,...,0,0,0,0,0,0,0,0,0,1
267,2022/03/23,Boca,completo,10:52:58,13:12:50,remate pie,NaN,01:01:06,01:01:12,6.0,...,0,0,0,0,0,0,0,0,0,1
277,2022/03/23,Boca,completo,10:52:58,13:12:50,remate pie,NaN,01:02:33,01:02:39,6.0,...,0,0,0,0,0,0,0,0,0,1
314,2022/03/23,Boca,completo,10:52:58,13:12:50,remate cabeza,NaN,01:05:52,01:05:58,6.0,...,0,0,0,0,0,0,0,0,0,1
347,2022/03/23,Boca,completo,10:52:58,13:12:50,remate pie,NaN,01:24:37,01:24:43,6.0,...,0,0,0,0,0,0,0,0,0,1
355,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,01:25:40,01:25:46,6.0,...,0,0,0,0,0,0,0,0,0,1
408,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:33:53,01:33:53,0.0,...,0,0,0,0,0,0,0,0,0,1
409,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,01:34:01,01:34:01,0.0,...,0,0,0,0,0,0,0,0,0,1
466,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:36:26,00:36:26,0.0,...,0,0,0,0,0,0,0,1,0,1
511,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:39:38,01:39:38,0.0,...,0,0,0,0,0,0,0,0,0,1
549,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:44:52,01:44:52,0.0,...,0,0,0,0,0,0,0,0,0,1
581,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:47:09,01:47:09,0.0,...,0,0,0,0,0,0,0,0,0,1
584,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:47:46,01:47:46,0.0,...,0,0,0,0,0,0,0,0,0,1
587,2022/03/23,Boca,completo,10:52:58,13:12:50,duelo,NaN,01:48:05,01:48:05,0.0,...,0,0,0,0,0,0,0,0,0,1
622,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:55:59,01:55:59,0.0,...,0,0,0,0,0,0,0,0,0,1
628,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,01:57:58,01:57:58,0.0,...,1,0,0,0,0,0,0,0,0,1
637,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:58:58,01:58:58,0.0,...,0,0,0,0,0,0,0,0,0,1
641,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,02:00:48,02:00:48,0.0,...,0,0,0,0,0,0,0,0,0,1
647,2022/03/23,Boca,completo,10:52:58,13:12:50,remate pie,NaN,02:01:10,02:01:10,0.0,...,0,0,0,0,0,0,0,0,0,1
662,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,02:02:46,02:02:46,0.0,...,0,0,0,0,0,0,0,0,0,1
672,2022/03/23,Boca,completo,10:52:58,13:12:50,remate pie,NaN,02:04:41,02:04:41,0.0,...,0,0,0,0,0,0,0,0,0,1

In [204]:
#situacion rival

colname = 'perdida-Situacion-rival'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='situacion rival'):
        if (data_eventos.loc[i,'Subevento']=='directa'):
            data_eventos.loc[i,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Calificaciondelevento, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival]
Index: []

[0 rows x 68 columns]

In [205]:
#atajada

colname = 'perdida-Atajada'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida'):
        if (data_eventos.loc[i,'Subevento']=='atajada'):
            data_eventos.loc[i-1,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,parado-Corner-completado,parado-Tiro-libre-incompleto,parado-Tiro-libre-completado,perdida-Gambeta-favor,perdida-Robo,perdida-Intercepcion,perdida-Error-tecnico,perdida-Balon-fuera,perdida-Situacion-rival,perdida-Atajada
141,2022/03/23,Boca,completo,10:52:58,13:12:50,remate pie,NaN,00:45:57,00:46:03,6.0,...,0,0,0,0,0,0,0,0,0,1
288,2022/03/23,Boca,completo,10:52:58,13:12:50,remate cabeza,NaN,01:03:21,01:03:27,6.0,...,0,0,0,0,0,0,0,0,0,1
371,2022/03/23,Boca,completo,10:52:58,13:12:50,remate pie,NaN,01:28:11,01:28:17,6.0,...,0,0,0,0,0,0,0,0,0,1
418,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:20:47,00:20:47,0.0,...,0,0,0,0,0,0,0,0,0,1
590,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,01:48:31,01:48:31,0.0,...,0,0,0,0,0,0,0,0,0,1
677,2022/03/23,Boca,completo,10:52:58,13:12:50,remate pie,NaN,02:05:20,02:05:20,0.0,...,0,0,0,0,0,0,0,0,0,1

# Arquero

- gol en contra
- atajada facil
- atajada dificil
- mano a mano
- rebote
- intercepcion aereo
- intercepcion aereo anticipo
- completado
- interceptado
- saque arquero pie
- saque arquero mano
- saque meta
- pase


Cuando pongo el gol rival, atajadas y rebotes, tengo q poner q todas las cosas se marquen como arquero-x:
- el remate rival (coordenadas inicial y final)
- la atajada (coordenada inicial)
- rebote (coordenada incial y final)
- el centro (si hay intercepcion aereo) , etc

In [206]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                           cantidad
Evento        Subevento
arquero       remate atajable                     5
              salida aerea                        1
duelo         aereo                               2
              disputa suelo                       6
              gambeta a favor                     8
              gambeta en contra                   1
falta         hecha                              12
              offside                             2
              recibida                           11
gol rival     indirecta                           1
pase          centro aereo                        9
              corto                             227
              inteligente                         6
              largo                              43
              medio                             101
              s arquero mano                      4
              s arquero pie                      12
pelota parada lateral corto                      19
              lateral largo                       5
              saque de meta                       1
              tiro de esquina                     6
              tiro libre                         14
perdida       atajada                             6
              balon afuera fondo                  9
              balon afuera lateral               17
              duelo                               7
              error tactico                       3
              error tecnico                       5
              intercepcion aereo                  8
              interceptado                       44
              robo                               17
recuperacion  duelo                               3
              encontrada                         13
              intercepcion                       36
              intercepcion aereo                  8
              intercepcion anticipo               1
              intercepcion anticipo aereo         1
              robo                                3
remate cabeza facil                               2
              remate bloqueado                    1
remate pie    corta distancia                     1
              larga distancia                     1
              media distancia                     6
              remate bloqueado                    5
tarjeta       amarilla                            1

In [207]:
#gol rival

colname1 = 'arquero-Gol-rival'
data_eventos[colname1] = 0
colname2 = 'arquero-Gol-rival-atajable'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='gol rival'):
        data_eventos.loc[i,colname1] = 1
        if ('remate atajable' in data_eventos.loc[i+1,'Subevento']):
            data_eventos.loc[i,colname2] = 1
        

data_eventos.loc[data_eventos[colname1] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,parado-Tiro-libre-completado,perdida-Gambeta-favor,perdida-Robo,perdida-Intercepcion,perdida-Error-tecnico,perdida-Balon-fuera,perdida-Situacion-rival,perdida-Atajada,arquero-Gol-rival,arquero-Gol-rival-atajable
96,2022/03/23,Boca,completo,10:52:58,13:12:50,gol rival,NaN,00:40:43,00:40:49,6.0,...,0,0,0,0,0,0,0,0,1,1

In [208]:
#atajada

colname = 'arquero-Atajada'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='arquero'):
        if ('atajada' in data_eventos.loc[i,'Subevento']) | (data_eventos.loc[i,'Subevento']=='mano a mano'):
            data_eventos.loc[i,colname] = 1
            if ('remate' in data_eventos.loc[i-1,'Evento']):
                data_eventos.loc[i-1,colname] = 1
            elif ('remate' in data_eventos.loc[i-2,'Evento']):
                data_eventos.loc[i-2,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Calificaciondelevento, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada]
Index: []

[0 rows x 72 columns]

In [209]:
# #mano a mano
# data_eventos_con_rival = data.copy().reset_index(drop=True)

# colname = 'arquero-mano_a_mano'
# data_eventos_con_rival[colname] = 0

# for i in range(len(data_eventos_con_rival)):
#     if (data_eventos_con_rival.loc[i,'Evento']=='arquero'):
#         if ('mano a mano' in data_eventos_con_rival.loc[i,'Subevento']):
#             data_eventos_con_rival.loc[i,colname] = 1
#             if ('remate' in data_eventos_con_rival.loc[i-1,'Evento']):
#                 data_eventos_con_rival.loc[i,'Posicion incial'] = data_eventos_con_rival.loc[i-1,'Posicion incial']
#                 data_eventos_con_rival.loc[i,'Posicion final'] = data_eventos_con_rival.loc[i-1,'Posicion final']
#                 data_eventos_con_rival.loc[i,'coord inicial'] = data_eventos_con_rival.loc[i-1,'coord inicial']
#                 data_eventos_con_rival.loc[i,'coord final'] = data_eventos_con_rival.loc[i-1,'coord final']


# data_eventos_con_rival.loc[data_eventos_con_rival[colname] == 1]

In [210]:
#intercepcion aereo

colname = 'arquero-Intercepcion-aerea'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Jugador 1']=='1'):
        if ('intercepcion aereo' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Calificaciondelevento, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea]
Index: []

[0 rows x 73 columns]

In [211]:
#intercepcion

colname = 'arquero-Intercepcion'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Jugador 1']=='1'):
        if (data_eventos.loc[i,'Subevento']=='intercepcion'):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Calificaciondelevento, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion]
Index: []

[0 rows x 74 columns]

In [212]:
#anticipo

colname = 'arquero-Anticipo'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Jugador 1']=='1'):
        if ('anticipo' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Calificaciondelevento, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion, arquero-Anticipo]
Index: []

[0 rows x 75 columns]

In [213]:
#saque arquero mano

colname = 'arquero-Saque-mano'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Jugador 1']=='1'):
        if ('s arquero mano' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Calificaciondelevento, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion, arquero-Anticipo, arquero-Saque-mano]
Index: []

[0 rows x 76 columns]

In [214]:
#saque arquero pie

colname = 'arquero-Saque-pie'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Jugador 1']=='1'):
        if ('s arquero pie' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Calificaciondelevento, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion, arquero-Anticipo, arquero-Saque-mano, arquero-Saque-pie]
Index: []

[0 rows x 77 columns]

In [215]:
#saque de meta

colname = 'arquero-Saque-meta'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada') & (data_eventos.loc[i,'Jugador 1']=='1'):
        if ('saque de meta' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Calificaciondelevento, coord final, Jugador 2, Jugador 1, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion, arquero-Anticipo, arquero-Saque-mano, arquero-Saque-pie, arquero-Saque-meta]
Index: []

[0 rows x 78 columns]

In [216]:
data_eventos.columns = [col.replace(' ','.') for col in data_eventos.columns]

In [217]:
data_eventos.iloc[:,:20]

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),Calificaciondelevento,coord.final,Jugador.2,Jugador.1,coord.inicial,Subevento,Optional.Column,segundos,remate-Gol,remate-Fuera
0,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:19:50,00:19:56,6.0,NaN,10,3,5.0,10.0,corto,NaN,1190.0,0,0
1,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,00:19:54,00:20:00,6.0,NaN,17,9,3.0,10.0,interceptado,NaN,1194.0,0,0
2,2022/03/23,Boca,completo,10:52:58,13:12:50,recuperacion,NaN,00:19:56,00:20:02,6.0,NaN,16,Rival,3.0,13.0,intercepcion,NaN,1196.0,0,0
3,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:19:57,00:20:03,6.0,NaN,13,11,3.0,13.0,corto,NaN,1197.0,0,0
4,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,00:20:02,00:20:08,6.0,NaN,19,9,11.0,13.0,corto,NaN,1202.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,02:09:58,02:09:58,0.0,NaN,Volver,NaN,4.0,7.0,hecha,NaN,7798.0,0,0
696,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,02:12:46,02:12:46,0.0,NaN,Volver,NaN,8.0,10.0,tiro libre,NaN,7966.0,0,0
697,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,02:13:00,02:13:00,0.0,NaN,22,22,8.0,11.0,largo,NaN,7980.0,0,0
698,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,02:13:01,02:13:01,0.0,NaN,22,Rival,8.0,11.0,interceptado,NaN,7981.0,0,0
699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

# Crear coordenadas

- Primero mapear la media de coordenadas para cada sector
- Segundo agregar aleatoriedad

In [218]:
data_eventos['coord.inicial'].value_counts()

8.0     73
13.0    59
7.0     55
11.0    47
9.0     45
14.0    43
10.0    42
18.0    37
17.0    37
3.0     34
12.0    32
16.0    29
24.0    29
15.0    23
19.0    17
23.0    16
4.0     13
20.0    12
5.0     12
21.0    10
2.0      9
1.0      9
6.0      6
22.0     4
Name: coord.inicial, dtype: int64

In [219]:
data_eventos['coord.final'].value_counts()

Volver    229
13         41
8          41
10         33
18         33
17         31
16         29
12         29
7          28
9          27
14         23
11         21
21         15
15         15
22         13
24         11
5          11
3           8
4           7
19          7
23          7
2           7
20          5
1           3
6           1
Name: coord.final, dtype: int64

In [220]:
map_zona_coord_x = {  
1:22,
2:21,
3:12,
4:33,
5:21,
6:20,
7:68,
8:66,
9:65,
10:109,
11:108,
12:105,
13:162,
14:161,
15:160,
16:205,
17:203,
18:203,
19:251,
20:250,
21:238,
22:260,
23:250,
24:250
}

In [221]:
map_zona_coord_y = {  
1:18,
2:43,
3:82,
4:83,
5:117,
6:147,
7:22,
8:81,
9:141,
10:22,
11:82,
12:138,
13:21,
14:81,
15:142,
16:23,
17:80,
18:141,
19:20,
20:45,
21:80,
22:81,
23:119,
24:147
}

In [222]:
data_eventos['coord.final.num'] = np.where(data_eventos['coord.final'] == 'Volver',None, data_eventos['coord.final']).astype('float')

In [223]:
data_eventos['coord.inicial.x'] = data_eventos['coord.inicial'].map(map_zona_coord_x)
data_eventos['coord.final.x'] = data_eventos['coord.final.num'].map(map_zona_coord_x)
data_eventos['coord.inicial.y'] = data_eventos['coord.inicial'].map(map_zona_coord_y)
data_eventos['coord.final.y'] = data_eventos['coord.final.num'].map(map_zona_coord_y)
data_eventos.iloc[:,-5:]

,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,10.0,109.0,109.0,22.0,22.0
1,17.0,109.0,203.0,22.0,80.0
2,16.0,162.0,205.0,21.0,23.0
3,13.0,162.0,162.0,21.0,21.0
4,19.0,162.0,251.0,21.0,20.0
...,...,...,...,...,...
695,NaN,68.0,NaN,22.0,NaN
696,NaN,109.0,NaN,22.0,NaN
697,22.0,108.0,260.0,82.0,81.0
698,22.0,108.0,260.0,82.0,81.0
699,NaN,NaN,NaN,NaN,NaN

In [224]:
data_eventos['coord.inicial.x'].describe() # de 0 a 272

count    693.000000
mean     128.655123
std       73.291983
min       12.000000
25%       66.000000
50%      109.000000
75%      203.000000
max      260.000000
Name: coord.inicial.x, dtype: float64

In [225]:
# añadirles aleatoriedad
data_eventos['coord.inicial.x'] = data_eventos['coord.inicial.x'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.inicial.x'].describe()

count    693.000000
mean     128.137712
std       73.796126
min       -7.607197
25%       67.146854
50%      117.476975
75%      188.827615
max      274.726550
Name: coord.inicial.x, dtype: float64

In [226]:
data_eventos['coord.inicial.x'] = np.where(data_eventos['coord.inicial.x']<0, 0, data_eventos['coord.inicial.x'])
data_eventos['coord.inicial.x'] = np.where(data_eventos['coord.inicial.x']>272, 272, data_eventos['coord.inicial.x'])

In [227]:
data_eventos['coord.inicial.y'].describe() # de 0 a 162

count    693.000000
mean      78.451659
std       45.722928
min       18.000000
25%       22.000000
50%       81.000000
75%      119.000000
max      147.000000
Name: coord.inicial.y, dtype: float64

In [228]:
data_eventos['coord.inicial.y'] = data_eventos['coord.inicial.y'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.inicial.y'].describe() # de 0 a 162

count    693.000000
mean      78.486949
std       47.162298
min       -0.778873
25%       33.472513
50%       80.504667
75%      123.335757
max      166.984364
Name: coord.inicial.y, dtype: float64

In [229]:
data_eventos['coord.inicial.y'] = np.where(data_eventos['coord.inicial.y']<0, 0, data_eventos['coord.inicial.y'])
data_eventos['coord.inicial.y'] = np.where(data_eventos['coord.inicial.y']>162, 162, data_eventos['coord.inicial.y'])

In [230]:
data_eventos['coord.final.x'] = data_eventos['coord.final.x'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.final.x'] = np.where(data_eventos['coord.final.x']<0, 0, data_eventos['coord.final.x'])
data_eventos['coord.final.x'] = np.where(data_eventos['coord.final.x']>272, 272, data_eventos['coord.final.x'])

In [231]:
data_eventos['coord.final.y'] = data_eventos['coord.final.y'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.final.y'] = np.where(data_eventos['coord.final.y']<0, 0, data_eventos['coord.final.y'])
data_eventos['coord.final.y'] = np.where(data_eventos['coord.final.y']>162, 162, data_eventos['coord.final.y'])

In [232]:
data_eventos.iloc[:,-5:]

,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,10.0,95.926763,114.868893,17.914763,41.389000
1,17.0,105.769835,196.351432,2.153665,97.442712
2,16.0,159.376514,202.154933,17.368989,10.426461
3,13.0,160.447168,150.907085,38.272667,40.425768
4,19.0,153.644046,242.660078,19.043486,28.575156
...,...,...,...,...,...
695,NaN,60.334198,NaN,5.583477,NaN
696,NaN,90.156429,NaN,40.195974,NaN
697,22.0,96.752891,248.915748,92.940967,98.223066
698,22.0,113.918927,264.449778,86.362136,68.464873
699,NaN,NaN,NaN,NaN,NaN

In [233]:
round(data_eventos['coord.inicial.x'],0).astype('str')+','+round(data_eventos['coord.inicial.y'],0).astype('str')

0       96.0,18.0
1       106.0,2.0
2      159.0,17.0
3      160.0,38.0
4      154.0,19.0
          ...
695      60.0,6.0
696     90.0,40.0
697     97.0,93.0
698    114.0,86.0
699       nan,nan
Length: 700, dtype: object

In [234]:
# pasar en ambos formatos. Crear las dos cols originales q sean strings

data_eventos['coord.inicial'] = round(data_eventos['coord.inicial.x'],0).astype('str').str.split('.').str[0]+','+round(data_eventos['coord.inicial.y'],0).astype('str').str.split('.').str[0]
data_eventos['coord.final'] = round(data_eventos['coord.final.x'],0).astype('str').str.split('.').str[0]+','+round(data_eventos['coord.final.y'],0).astype('str').str.split('.').str[0]

In [235]:
data_eventos['coord.inicial'] = np.where(data_eventos['coord.inicial']=='nan,nan', None, data_eventos['coord.inicial'])
data_eventos['coord.final'] = np.where(data_eventos['coord.final']=='nan,nan', None, data_eventos['coord.final'])

In [236]:
data_eventos[['coord.inicial','coord.final']]

    coord.inicial coord.final
0           96,18      115,41
1           106,2      196,97
2          159,17      202,10
3          160,38      151,40
4          154,19      243,29
..            ...         ...
695          60,6        None
696         90,40        None
697         97,93      249,98
698        114,86      264,68
699          None        None

[700 rows x 2 columns]

# Escribir tabla filtros

In [237]:
data_eventos = data_eventos[~data_eventos['partido'].isna()].reset_index(drop=True)

In [238]:
data_eventos.tail()

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
694,2022/03/23,Boca,completo,10:52:58,13:12:50,remate pie,NaN,02:09:05,02:09:05,0.0,...,0,0,0,0,0,22.0,238.453937,244.668826,20.576799,74.726992
695,2022/03/23,Boca,completo,10:52:58,13:12:50,falta,NaN,02:09:58,02:09:58,0.0,...,0,0,0,0,0,NaN,60.334198,NaN,5.583477,NaN
696,2022/03/23,Boca,completo,10:52:58,13:12:50,pelota parada,NaN,02:12:46,02:12:46,0.0,...,0,0,0,0,0,NaN,90.156429,NaN,40.195974,NaN
697,2022/03/23,Boca,completo,10:52:58,13:12:50,pase,NaN,02:13:00,02:13:00,0.0,...,0,0,0,0,0,22.0,96.752891,248.915748,92.940967,98.223066
698,2022/03/23,Boca,completo,10:52:58,13:12:50,perdida,NaN,02:13:01,02:13:01,0.0,...,0,0,0,0,0,22.0,113.918927,264.449778,86.362136,68.464873

In [239]:
data_eventos.to_csv("../Datos generados para la app/reserva22-fecha6-boca-tabla_filtros.csv",index=False)

In [ ]:
data_eventos.info()

In [ ]:
data_eventos[[col for col in data_eventos.columns if 'perdida' in col]].sum()

In [ ]:
data_eventos[data_eventos['Jugador.1']==3][['Jugador.1','coord.inicial','coord.final','Subevento']+[col for col in data_eventos.columns if 'perdida' in col]]

# Agregar

ARQUERO
- que siempre que hay una atajada haya un remate antes para saber desde donde proviene
- que el remate antes de gol o atajada tenga coord inicio y final
- agregar rebote
- ver como poner los mano a mano
- INTERCEPCIONES (poner antes de donde proviene del rival)

In [ ]:
data_eventos.info()

In [ ]:
data_eventos.iloc[:,12:].apply(lambda x: x.sum(), axis='rows')