In [107]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import glob
import os
#pd.set_option('display.max_rows', 200)

# Carga de datos

In [108]:
# merging the files
files_joined = os.path.join('..\\..\\datos etiquetas\\Tem2-2022\\Fecha 6 - Arsenal', "*.csv")

# Return a list of all joined files
list_files = glob.glob(files_joined)

#print("** Merging multiple csv files into a single pandas dataframe **")
# Merge files by joining all files
data = pd.concat(map(pd.read_csv, list_files), ignore_index=True)

In [109]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336 entries, 0 to 335
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Session Start Date   336 non-null    object
 1   Event                336 non-null    object
 2   Session Name         336 non-null    object
 3   Session Start        336 non-null    object
 4   Session End          336 non-null    object
 5   Tag Description      336 non-null    object
 6   Tag Notes            0 non-null      float64
 7   Tag Start            336 non-null    object
 8   Tag End              336 non-null    object
 9   Tag Duration (secs)  336 non-null    float64
 10  Zonas_final          335 non-null    object
 11  Jugador2             269 non-null    object
 12  Jugador              331 non-null    float64
 13  Calificacion         6 non-null      object
 14  Zonas                331 non-null    float64
 15  Categoria            331 non-null    object
 16  Optional Column      0 non-null      float64
dtypes: float64(5), object(12)
memory usage: 44.8+ KB

In [110]:
# data.columns = ['Session Start Date','partido','tiempo','Session Start',
#        'Session End','Evento','Tag Notes','Tag Start', 'Tag End',
#        'Tag Duration (secs)','coord inicial','Subevento','Jugador 2','Jugador 1','coord final','Optional Column']

data.columns = ['Session Start Date','tiempo','partido','Session Start',
       'Session End','Evento','Tag Notes','Tag Start', 'Tag End',
       'Tag Duration (secs)','coord final','Jugador 2','Jugador 1','Calificacion','coord inicial','Subevento','Optional Column']

In [111]:
'''TIEMPO'''

from datetime import timedelta

def seconder(x):
    hr, mins, secs = map(float, x.split(':'))
    td = timedelta(hours= hr, minutes=mins, seconds=secs)
    return td.total_seconds()
data['segundos'] = data['Tag Start'].apply(seconder)

In [112]:
data = data.append(data.iloc[-1,:]).reset_index(drop=True)
data.loc[-1,'Evento'] = np.nan
data.loc[-1,'Subevento'] = np.nan
data = data.drop_duplicates()
data = data.reset_index(drop=True)

In [113]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336 entries, 0 to 335
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Session Start Date   335 non-null    object
 1   tiempo               335 non-null    object
 2   partido              335 non-null    object
 3   Session Start        335 non-null    object
 4   Session End          335 non-null    object
 5   Evento               335 non-null    object
 6   Tag Notes            0 non-null      float64
 7   Tag Start            335 non-null    object
 8   Tag End              335 non-null    object
 9   Tag Duration (secs)  335 non-null    float64
 10  coord final          334 non-null    object
 11  Jugador 2            269 non-null    object
 12  Jugador 1            330 non-null    float64
 13  Calificacion         6 non-null      object
 14  coord inicial        330 non-null    float64
 15  Subevento            330 non-null    object
 16  Optional Column      0 non-null      float64
 17  segundos             335 non-null    float64
dtypes: float64(6), object(12)
memory usage: 47.4+ KB

In [114]:
data

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),coord final,Jugador 2,Jugador 1,Calificacion,coord inicial,Subevento,Optional Column,segundos
0,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,Pase,NaN,00:04:23,00:04:23,0.0,9,4,8.0,NaN,9.0,corto,NaN,263.0
1,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,Perdida,NaN,00:04:28,00:04:28,0.0,Volver,NaN,4.0,NaN,12.0,Balon afuera lateral,NaN,268.0
2,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,Pase,NaN,00:05:51,00:05:51,0.0,13,10,1.0,NaN,3.0,S arquero pie,NaN,351.0
3,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,Perdida,NaN,00:05:52,00:05:52,0.0,Volver,NaN,1.0,NaN,3.0,Interceptado,NaN,352.0
4,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,Pase,NaN,00:08:25,00:08:25,0.0,5,2,1.0,NaN,3.0,S arquero pie,NaN,505.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,Pase,NaN,01:54:56,01:54:56,0.0,15,4,6.0,NaN,9.0,corto,NaN,6896.0
332,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,Pase,NaN,01:55:02,01:55:02,0.0,15,18,4.0,NaN,15.0,corto,NaN,6902.0
333,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,Pase,NaN,01:55:05,01:55:05,0.0,15,4,18.0,NaN,15.0,corto,NaN,6905.0
334,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,Falta,NaN,01:55:18,01:55:18,0.0,Volver,NaN,18.0,NaN,15.0,Recibida,NaN,6918.0
335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
#data['segundos'] = np.random.randint(1, 600, data.shape[0])
#data

In [116]:
'''CORREGIR MAYUSCULAS Y COSAS DE EVENTOS'''

data['Evento'] = data['Evento'].str.lower().str.strip()
data['Subevento'] = data['Subevento'].str.lower().str.strip()

# Estadisticas basicas

In [117]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       rebote/despeje               2
              salvada/atajada              6
falta         hecha                        5
              offside                      2
              recibida                    14
pase          centro aereo                 1
              corto                      217
              largo                        7
              medio                       16
              s arquero mano               1
              s arquero pie               11
perdida       atajada                      3
              balon afuera fondo           4
              balon afuera lateral         6
              intercepcion aereo           1
              interceptado                25
remate cabeza dificil                      3
remate pie    corta distancia              3
              media distancia              2
              remate bloqueado             1

In [118]:
data.groupby(['Jugador 1','Evento','Subevento']).size().to_frame('cantidad')

                                      cantidad
Jugador 1 Evento     Subevento
1.0       arquero    rebote/despeje          2
                     salvada/atajada         6
          pase       corto                   4
                     largo                   3
                     s arquero mano          1
...                                        ...
21.0      pase       corto                   3
                     medio                   1
          perdida    interceptado            1
          remate pie corta distancia         1
22.0      pase       corto                   3

[76 rows x 1 columns]

# Filtros para la app

Disparos
---
- gol
- fuera
- al arco
- interceptado
- cabeza

Pase
---
- asistencia
- completado
- interceptado
- fuera
- inteligente

Centros
---
- asistencia
- completado
- interceptado
- bloqueado
- fuera

Duelos
---
- ganado
- perdido
- duelo aereo
- disputa suelo
- gambeta en contra
- gambeta a favor
- pivote

Faltas
---
- falta cometida
- falta recibida
- penal
- tarjeta amarilla
- tarjeta roja
- off-side

Recuperacion
---
- robo
- encontradas
- intercepcion suelo
- intercepcion aereo
- intercepcion anticipo
- disputa suelo

Pelota parada
---
- lateral completado
- lateral interceptado
- corner completado
- corner interceptado
- tiro libre

Perdida
---
- gambeta a favor
- robo
- intercepcion suelo
- intercepcion aereo
- error tecnico
- balon afuera
- genero situacion rival
- genero gol rival
- atajada rival

Arquero
---
- gol en contra
- atajada facil
- atajada dificil
- mano a mano
- rebote
- intercepcion aereo
- intercepcion aereo anticipo
- completado
- interceptado
- saque arquero pie
- saque arquero mano
- saque meta
- pase


LO QUE HAY QUE HACER ES CREAR UNA COLUMNA POR CADA UNO DE ESOS FILTROS CON 0-1. QUEDAR CON UNA SOLA FILA POR ACCION.

In [119]:
data_eventos = data.copy()
data_eventos.shape

(336, 18)

# Disparos

- gol: siempre tiene que haber un disparo antes de un gol? Que pasa cuando es en contra, por ejemplo. Asegurarse que siempre antes de un gol poner disparo porque si no no lo toma aca
- fuera: asegurarse de poner que pasa siempre despues de los remates
- al arco: tiene que haber una perdida en evento y atajada en subevento, desupes de un remate
- interceptado
- cabeza

In [120]:
#gol
'''si data[i] es remate y data[i+1] es gol'''

data_eventos['remate-Gol'] = 0
for i in range(len(data_eventos)-1):
    #if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') | (data_eventos.loc[i,'Evento']=='pelota parada'):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') :
        if (data_eventos.loc[i+1,'Evento']=='gol'):
            data_eventos.loc[i,'remate-Gol'] = 1
data_eventos.loc[data_eventos['remate-Gol'] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol]
Index: []

In [121]:
#fuera
'''si data[i] es remate y data[i+1] es perdida balon fuera'''
colname = 'remate-Fuera'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza'):
        if (data_eventos.loc[i+1,'Evento']=='perdida'):
            if('balon afuera' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),coord final,Jugador 2,Jugador 1,Calificacion,coord inicial,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera
222,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,remate pie,NaN,01:25:01,01:25:01,0.0,22,Rival,5.0,NaN,17.0,media distancia,NaN,5101.0,0,1

In [122]:
#al arco
'''si data[i] es remate y data[i+1] es perdida atajada'''

colname = 'remate-Al-arco'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza'):
        if (data_eventos.loc[i+1,'Evento']=='perdida'): 
            if('atajada' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Jugador 2,Jugador 1,Calificacion,coord inicial,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco
240,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,remate cabeza,NaN,01:28:45,01:28:45,0.0,...,Rival,2.0,NaN,21.0,dificil,NaN,5325.0,0,0,1
253,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,remate pie,NaN,01:32:50,01:32:50,0.0,...,Rival,8.0,NaN,17.0,corta distancia,NaN,5570.0,0,0,1
298,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,remate pie,NaN,01:47:41,01:47:41,0.0,...,Rival,7.0,NaN,18.0,media distancia,NaN,6461.0,0,0,1

In [123]:
#bloqueado
'''si data[i] es remate y data[i] es remate bloqueado o data[i+1] es perdida error tecnico'''

colname = 'remate-Interceptado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') :
        if (data_eventos.loc[i,'Subevento'] == 'remate bloqueado'): 
            data_eventos.loc[i,colname] = 1
        elif(data_eventos.loc[i+1,'Evento']=='perdida'):
            if('error tecnico' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Jugador 1,Calificacion,coord inicial,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado
60,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,remate pie,NaN,00:23:41,00:23:41,0.0,...,7.0,NaN,21.0,remate bloqueado,NaN,1421.0,0,0,0,1

In [124]:
#cabeza
'''si data[i] es remate cabeza'''

colname = 'remate-Cabeza'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='remate cabeza'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Calificacion,coord inicial,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza
8,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,remate cabeza,NaN,00:10:43,00:10:43,0.0,...,NaN,21.0,dificil,NaN,643.0,0,0,0,0,1
62,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,remate cabeza,NaN,00:24:22,00:24:22,0.0,...,NaN,21.0,dificil,NaN,1462.0,0,0,0,0,1
240,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,remate cabeza,NaN,01:28:45,01:28:45,0.0,...,NaN,21.0,dificil,NaN,5325.0,0,0,1,0,1

# Pase

- asistencia
- completado
- interceptado
- fuera
- inteligente

In [125]:
data[data.Evento=='pase'].groupby(['Evento','Subevento']).size().to_frame('cantidad')

                       cantidad
Evento Subevento
pase   centro aereo           1
       corto                217
       largo                  7
       medio                 16
       s arquero mano         1
       s arquero pie         11

In [126]:
data[(data.Evento=='pase') ]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),coord final,Jugador 2,Jugador 1,Calificacion,coord inicial,Subevento,Optional Column,segundos
0,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:04:23,00:04:23,0.0,9,4,8.0,NaN,9.0,corto,NaN,263.0
2,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:05:51,00:05:51,0.0,13,10,1.0,NaN,3.0,s arquero pie,NaN,351.0
4,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:08:25,00:08:25,0.0,5,2,1.0,NaN,3.0,s arquero pie,NaN,505.0
5,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:08:35,00:08:35,0.0,15,8,2.0,NaN,5.0,medio,NaN,515.0
10,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:11:53,00:11:53,0.0,7,6,2.0,NaN,8.0,corto,NaN,713.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:54:46,01:54:46,0.0,8,5,2.0,NaN,8.0,corto,NaN,6886.0
330,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:54:50,01:54:50,0.0,9,6,5.0,NaN,8.0,corto,NaN,6890.0
331,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:54:56,01:54:56,0.0,15,4,6.0,NaN,9.0,corto,NaN,6896.0
332,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:55:02,01:55:02,0.0,15,18,4.0,NaN,15.0,corto,NaN,6902.0
333,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:55:05,01:55:05,0.0,15,4,18.0,NaN,15.0,corto,NaN,6905.0

In [127]:
data_eventos.head()

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Calificacion,coord inicial,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza
0,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:04:23,00:04:23,0.0,...,NaN,9.0,corto,NaN,263.0,0,0,0,0,0
1,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,perdida,NaN,00:04:28,00:04:28,0.0,...,NaN,12.0,balon afuera lateral,NaN,268.0,0,0,0,0,0
2,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:05:51,00:05:51,0.0,...,NaN,3.0,s arquero pie,NaN,351.0,0,0,0,0,0
3,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,perdida,NaN,00:05:52,00:05:52,0.0,...,NaN,3.0,interceptado,NaN,352.0,0,0,0,0,0
4,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:08:25,00:08:25,0.0,...,NaN,3.0,s arquero pie,NaN,505.0,0,0,0,0,0

In [128]:
#asistencia
'''si data[i] es pase, data[i+1] es remate y data[i+2] es gol'''
colname = 'pase-Asistencia'
data_eventos[colname] = 0
for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Evento']=='pase'):
        if ('remate' in data_eventos.loc[i+1,'Evento']):
            if (data_eventos.loc[i+2,'Evento']=='gol'):
                data_eventos.loc[i,colname] = 1
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia]
Index: []

[0 rows x 24 columns]

In [129]:
##completado
'''si data[i] es pase no bloqueado y data[i+1] no es perdida interceptado o balon afuera'''

colname = 'pase-Completado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if ((data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']!='s arquero mano') & (data_eventos.loc[i,'Subevento']!='s arquero pie') & (data_eventos.loc[i,'Jugador 2'] != 'Rival')):
        if ((data_eventos.loc[i+1,'Evento'] != 'perdida') ):
            data_eventos.loc[i,colname] = 1
        
        #elif ('intercep' not in data_eventos.loc[i+1,'Subevento']) & ('balon afuera' not in data_eventos.loc[i+1,'Subevento']) & ('encontrad' not in data_eventos.loc[i+1,'Subevento']):
        #    data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado
5,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:08:35,00:08:35,0.0,...,medio,NaN,515.0,0,0,0,0,0,0,1
10,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:11:53,00:11:53,0.0,...,corto,NaN,713.0,0,0,0,0,0,0,1
11,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:11:58,00:11:58,0.0,...,corto,NaN,718.0,0,0,0,0,0,0,1
14,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:13:50,00:13:50,0.0,...,corto,NaN,830.0,0,0,0,0,0,0,1
15,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:13:54,00:13:54,0.0,...,corto,NaN,834.0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:54:46,01:54:46,0.0,...,corto,NaN,6886.0,0,0,0,0,0,0,1
330,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:54:50,01:54:50,0.0,...,corto,NaN,6890.0,0,0,0,0,0,0,1
331,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:54:56,01:54:56,0.0,...,corto,NaN,6896.0,0,0,0,0,0,0,1
332,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:55:02,01:55:02,0.0,...,corto,NaN,6902.0,0,0,0,0,0,0,1
333,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:55:05,01:55:05,0.0,...,corto,NaN,6905.0,0,0,0,0,0,0,1

In [130]:
data_eventos.loc[data_eventos[colname] == 1].Subevento.value_counts()

corto    197
medio     11
largo      3
Name: Subevento, dtype: int64

In [131]:
#Incompleto
'''si data[i] es pase no bloqueado y data[i+1] es perdida interceptado'''

colname = 'pase-Incompleto'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if ((data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']!='s arquero mano') & (data_eventos.loc[i,'Subevento']!='s arquero pie') ):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') ):
            #if ((data_eventos.loc[i,'pase-Completado'] != 1)):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado,pase-Incompleto
0,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:04:23,00:04:23,0.0,...,NaN,263.0,0,0,0,0,0,0,0,1
12,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:12:01,00:12:01,0.0,...,NaN,721.0,0,0,0,0,0,0,0,1
16,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:13:58,00:13:58,0.0,...,NaN,838.0,0,0,0,0,0,0,0,1
19,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:14:19,00:14:19,0.0,...,NaN,859.0,0,0,0,0,0,0,0,1
25,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:15:49,00:15:49,0.0,...,NaN,949.0,0,0,0,0,0,0,0,1
29,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:16:56,00:16:56,0.0,...,NaN,1016.0,0,0,0,0,0,0,0,1
37,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:17:40,00:17:40,0.0,...,NaN,1060.0,0,0,0,0,0,0,0,1
65,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:25:38,00:25:38,0.0,...,NaN,1538.0,0,0,0,0,0,0,0,1
92,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:29:51,00:29:51,0.0,...,NaN,1791.0,0,0,0,0,0,0,0,1
99,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:32:44,00:32:44,0.0,...,NaN,1964.0,0,0,0,0,0,0,0,1
111,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:40:42,00:40:42,0.0,...,NaN,2442.0,0,0,0,0,0,0,0,1
118,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:45:07,00:45:07,0.0,...,NaN,2707.0,0,0,0,0,0,0,0,1
122,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:46:39,00:46:39,0.0,...,NaN,2799.0,0,0,0,0,0,0,0,1
131,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:48:47,00:48:47,0.0,...,NaN,2927.0,0,0,0,0,0,0,0,1
140,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:08:23,01:08:23,0.0,...,NaN,4103.0,0,0,0,0,0,0,0,1
148,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:09:06,01:09:06,0.0,...,NaN,4146.0,0,0,0,0,0,0,0,1
156,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:12:20,01:12:20,0.0,...,NaN,4340.0,0,0,0,0,0,0,0,1
161,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:13:18,01:13:18,0.0,...,NaN,4398.0,0,0,0,0,0,0,0,1
164,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:14:02,01:14:02,0.0,...,NaN,4442.0,0,0,0,0,0,0,0,1
172,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:17:19,01:17:19,0.0,...,NaN,4639.0,0,0,0,0,0,0,0,1
183,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:17:58,01:17:58,0.0,...,NaN,4678.0,0,0,0,0,0,0,0,1
191,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:18:45,01:18:45,0.0,...,NaN,4725.0,0,0,0,0,0,0,0,1
195,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:19:29,01:19:29,0.0,...,NaN,4769.0,0,0,0,0,0,0,0,1
213,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:24:24,01:24:24,0.0,...,NaN,5064.0,0,0,0,0,0,0,0,1
227,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:26:35,01:26:35,0.0,...,NaN,5195.0,0,0,0,0,0,0,0,1
238,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:28:06,01:28:06,0.0,...,NaN,5286.0,0,0,0,0,0,0,0,1
261,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:37:18,01:37:18,0.0,...,NaN,5838.0,0,0,0,0,0,0,0,1
286,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:42:04,01:42:04,0.0,...,NaN,6124.0,0,0,0,0,0,0,0,1
320,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:52:46,01:52:46,0.0,...,NaN,6766.0,0,0,0,0,0,0,0,1
325,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:54:16,01:54:16,0.0,...,NaN,6856.0,0,0,0,0,0,0,0,1

In [132]:
# #fuera
# '''si data[i] es pase no bloqueado y data[i+1] es perdida fuera'''

# colname = 'pase-Fuera'
# data_eventos[colname] = 0
# for i in range(len(data_eventos)-1):
#     if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']!='pase bloqueado') & (data_eventos.loc[i,'Subevento']!='centro aereo'):
#         if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
#             if ('balon afuera' in data_eventos.loc[i+1,'Subevento']):
#                 data_eventos.loc[i,colname] = 1
            
# data_eventos.loc[data_eventos[colname] == 1]

In [133]:
#inteligente

colname = 'pase-Inteligente'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']=='inteligente'):
        if (data_eventos.loc[i+1,'Evento'] != 'perdida'):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente]
Index: []

[0 rows x 27 columns]

# Centros

- asistencia
- completado
- interceptado
- bloqueado
- fuera

In [134]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       rebote/despeje               2
              salvada/atajada              6
falta         hecha                        5
              offside                      2
              recibida                    14
pase          centro aereo                 1
              corto                      217
              largo                        7
              medio                       16
              s arquero mano               1
              s arquero pie               11
perdida       atajada                      3
              balon afuera fondo           4
              balon afuera lateral         6
              intercepcion aereo           1
              interceptado                25
remate cabeza dificil                      3
remate pie    corta distancia              3
              media distancia              2
              remate bloqueado             1

In [135]:
#asistencia

colname = 'centro-Asistencia'
data_eventos[colname] = 0
for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if ('remate' in data_eventos.loc[i+1,'Evento']):
            if (data_eventos.loc[i+2,'Evento']=='gol'):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia]
Index: []

[0 rows x 28 columns]

In [136]:
#completado

colname = 'centro-Completado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] != 'perdida')| (data_eventos.loc[i,'Jugador 1'] != data_eventos.loc[i+1,'Jugador 1']) :
            data_eventos.loc[i,colname] = 1

            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado]
Index: []

[0 rows x 29 columns]

In [137]:
#interceptado
'''si data[i] es pase no bloqueado y data[i+1] es perdida interceptado'''

colname = 'centro-Interceptado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
            if ('intercep' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado]
Index: []

[0 rows x 30 columns]

In [138]:
#bloqueado

colname = 'centro-Bloqueado'
data_eventos[colname] = 0
# for i in range(len(data_eventos)):
#     if (data_eventos.loc[i,'Subevento']=='centro bloqueado'):
#         data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado]
Index: []

[0 rows x 31 columns]

In [139]:
#fuera

colname = 'centro-Fuera'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
            if ('balon afuera' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,remate-Cabeza,pase-Asistencia,pase-Completado,pase-Incompleto,pase-Inteligente,centro-Asistencia,centro-Completado,centro-Interceptado,centro-Bloqueado,centro-Fuera
238,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:28:06,01:28:06,0.0,...,0,0,0,1,0,0,0,0,0,1

# Duelos

- ganado
- perdido
- duelo aereo
- disputa suelo
- gambeta en contra
- gambeta a favor
- pivote

In [140]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       rebote/despeje               2
              salvada/atajada              6
falta         hecha                        5
              offside                      2
              recibida                    14
pase          centro aereo                 1
              corto                      217
              largo                        7
              medio                       16
              s arquero mano               1
              s arquero pie               11
perdida       atajada                      3
              balon afuera fondo           4
              balon afuera lateral         6
              intercepcion aereo           1
              interceptado                25
remate cabeza dificil                      3
remate pie    corta distancia              3
              media distancia              2
              remate bloqueado             1

In [141]:
# dejar_index= []
# for i in range(len(data_eventos)-1):
#     if (data_eventos.loc[i,'Evento']=='duelo'):
#         dejar_index.append(i-1)
#         dejar_index.append(i)
#         dejar_index.append(i+1)
# data_eventos.loc[dejar_index].head(10)

In [142]:
#duelo aereo

colname1 = 'duelo-Aereo-Perdido'
data_eventos[colname1] = 0
colname2 = 'duelo-Aereo-Ganado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='aereo'):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo')): 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1


data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado]
Index: []

[0 rows x 34 columns]

In [143]:
data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado]
Index: []

[0 rows x 34 columns]

In [144]:
#disputa suelo

colname1 = 'duelo-Disputa-suelo-Perdida'
data_eventos[colname1] = 0
colname2 = 'duelo-Disputa-suelo-Ganada'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='disputa suelo'):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo')): 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada]
Index: []

[0 rows x 36 columns]

In [145]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada]
Index: []

[0 rows x 36 columns]

In [146]:
#gambeta en contra

colname1 = 'duelo-Gambeta-contra-Ganada'
data_eventos[colname1] = 0
colname2 = 'duelo-Gambeta-contra-Perdida'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='gambeta en contra'):
        if ((data_eventos.loc[i+1,'Evento'] == 'recuperacion') & ((data_eventos.loc[i+1,'Subevento'] == 'duelo') )): 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida]
Index: []

[0 rows x 38 columns]

In [147]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida]
Index: []

[0 rows x 38 columns]

In [148]:
#gambeta a favor

colname1 = 'duelo-Gambeta-favor-Perdida'
data_eventos[colname1] = 0
colname2 = 'duelo-Gambeta-favor-Ganada'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='gambeta a favor'):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & ((data_eventos.loc[i+1,'Subevento'] == 'duelo') | ('balon afuera' in data_eventos.loc[i+1,'Subevento']))) : 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada]
Index: []

[0 rows x 40 columns]

In [149]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada]
Index: []

[0 rows x 40 columns]

In [150]:
#pivote

colname1 = 'duelo-Pivote-Perdido'
data_eventos[colname1] = 0
colname2 = 'duelo-Pivote-Ganado'
data_eventos[colname2] = 0

#for i in range(len(data_eventos)):
#    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='pivote'):
#        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo')) : 
#            data_eventos.loc[i,colname1] = 1
#        else:
#            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado]
Index: []

[0 rows x 42 columns]

# Faltas

- falta cometida
- falta recibida
- penal
- tarjeta amarilla
- tarjeta roja
- off-side

In [151]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       rebote/despeje               2
              salvada/atajada              6
falta         hecha                        5
              offside                      2
              recibida                    14
pase          centro aereo                 1
              corto                      217
              largo                        7
              medio                       16
              s arquero mano               1
              s arquero pie               11
perdida       atajada                      3
              balon afuera fondo           4
              balon afuera lateral         6
              intercepcion aereo           1
              interceptado                25
remate cabeza dificil                      3
remate pie    corta distancia              3
              media distancia              2
              remate bloqueado             1

In [152]:
#falta cometida

colname = 'falta-Cometida'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='hecha'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Aereo-Ganado,duelo-Disputa-suelo-Perdida,duelo-Disputa-suelo-Ganada,duelo-Gambeta-contra-Ganada,duelo-Gambeta-contra-Perdida,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida
40,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,falta,NaN,00:20:29,00:20:29,0.0,...,0,0,0,0,0,0,0,0,0,1
113,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,falta,NaN,00:40:48,00:40:48,0.0,...,0,0,0,0,0,0,0,0,0,1
197,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,falta,NaN,01:19:47,01:19:47,0.0,...,0,0,0,0,0,0,0,0,0,1
242,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,falta,NaN,01:30:06,01:30:06,0.0,...,0,0,0,0,0,0,0,0,0,1
267,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,falta,NaN,01:38:13,01:38:13,0.0,...,0,0,0,0,0,0,0,0,0,1

In [153]:
#falta recibida

colname = 'falta-Recibida'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='recibida'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Disputa-suelo-Perdida,duelo-Disputa-suelo-Ganada,duelo-Gambeta-contra-Ganada,duelo-Gambeta-contra-Perdida,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida,falta-Recibida
6,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,falta,NaN,00:09:45,00:09:45,0.0,...,0,0,0,0,0,0,0,0,0,1
9,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,falta,NaN,00:11:30,00:11:30,0.0,...,0,0,0,0,0,0,0,0,0,1
39,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,falta,NaN,00:19:47,00:19:47,0.0,...,0,0,0,0,0,0,0,0,0,1
94,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,falta,NaN,00:31:12,00:31:12,0.0,...,0,0,0,0,0,0,0,0,0,1
101,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,falta,NaN,00:32:47,00:32:47,0.0,...,0,0,0,0,0,0,0,0,0,1
108,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,falta,NaN,00:40:03,00:40:03,0.0,...,0,0,0,0,0,0,0,0,0,1
126,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,falta,NaN,00:48:07,00:48:07,0.0,...,0,0,0,0,0,0,0,0,0,1
153,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,falta,NaN,01:11:50,01:11:50,0.0,...,0,0,0,0,0,0,0,0,0,1
163,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,falta,NaN,01:13:45,01:13:45,0.0,...,0,0,0,0,0,0,0,0,0,1
185,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,falta,NaN,01:18:04,01:18:04,0.0,...,0,0,0,0,0,0,0,0,0,1
224,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,falta,NaN,01:26:10,01:26:10,0.0,...,0,0,0,0,0,0,0,0,0,1
290,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,falta,NaN,01:43:48,01:43:48,0.0,...,0,0,0,0,0,0,0,0,0,1
309,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,falta,NaN,01:52:12,01:52:12,0.0,...,0,0,0,0,0,0,0,0,0,1
334,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,falta,NaN,01:55:18,01:55:18,0.0,...,0,0,0,0,0,0,0,0,0,1

In [154]:
#penal cometido

colname = 'falta-Penal-cometido'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='penal cometido'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido]
Index: []

[0 rows x 45 columns]

In [155]:
#penal_recibido

colname = 'falta-Penal-recibido'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='penal recibido'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido]
Index: []

[0 rows x 46 columns]

In [156]:
#offside

colname = 'falta-Offside'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='offside'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Gambeta-contra-Perdida,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida,falta-Recibida,falta-Penal-cometido,falta-Penal-recibido,falta-Offside
120,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,falta,NaN,00:45:39,00:45:39,0.0,...,0,0,0,0,0,0,0,0,0,1
135,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,falta,NaN,00:49:48,00:49:48,0.0,...,0,0,0,0,0,0,0,0,0,1

In [157]:
#tarjeta amarilla

colname = 'falta-Tarjeta-amarilla'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='hecha'):
        if (data_eventos.loc[i+1,'Evento']=='tarjeta') & (data_eventos.loc[i+1,'Subevento']=='amarilla'):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla]
Index: []

[0 rows x 48 columns]

In [158]:
#tarjeta roja

colname = 'falta-Tarjeta-roja'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='hecha'):
        if (data_eventos.loc[i+1,'Evento']=='tarjeta') & (data_eventos.loc[i+1,'Subevento']=='roja'):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja]
Index: []

[0 rows x 49 columns]

# Recuperacion

- robo
- encontradas
- intercepcion suelo
- intercepcion aereo
- intercepcion anticipo
- disputa suelo

In [159]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       rebote/despeje               2
              salvada/atajada              6
falta         hecha                        5
              offside                      2
              recibida                    14
pase          centro aereo                 1
              corto                      217
              largo                        7
              medio                       16
              s arquero mano               1
              s arquero pie               11
perdida       atajada                      3
              balon afuera fondo           4
              balon afuera lateral         6
              intercepcion aereo           1
              interceptado                25
remate cabeza dificil                      3
remate pie    corta distancia              3
              media distancia              2
              remate bloqueado             1

In [160]:
colname = 'recuperacion-Robo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if ((data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='robo')):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo]
Index: []

[0 rows x 50 columns]

In [161]:
#encontrada

colname = 'recuperacion-Encontrada'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='encontrada'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada]
Index: []

[0 rows x 51 columns]

In [162]:
#intercepcion suelo

colname = 'recuperacion-Intercepcion-suelo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='intercepcion'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo]
Index: []

[0 rows x 52 columns]

In [163]:
#intercepcion aereo

colname = 'recuperacion-Intercepcion-aereo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='intercepcion aereo'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo]
Index: []

[0 rows x 53 columns]

In [164]:
#intercepcion anticipo

colname = 'recuperacion-Intercepcion-anticipo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion'):
        if ('anticipo' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo]
Index: []

[0 rows x 54 columns]

In [165]:
#disputa suelo

colname = 'recuperacion-Disputa-suelo'
data_eventos[colname] = 0

for i in range(len(data_eventos)-1):
    #if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='disputa suelo'):
    if (data_eventos.loc[i,'Evento'] == 'recuperacion') & (data_eventos.loc[i,'Subevento'] == 'duelo'): 
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo]
Index: []

[0 rows x 55 columns]

# Pelota parada

- lateral completado
- lateral interceptado
- corner completado
- corner interceptado
- tiro libre

In [166]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       rebote/despeje               2
              salvada/atajada              6
falta         hecha                        5
              offside                      2
              recibida                    14
pase          centro aereo                 1
              corto                      217
              largo                        7
              medio                       16
              s arquero mano               1
              s arquero pie               11
perdida       atajada                      3
              balon afuera fondo           4
              balon afuera lateral         6
              intercepcion aereo           1
              interceptado                25
remate cabeza dificil                      3
remate pie    corta distancia              3
              media distancia              2
              remate bloqueado             1

In [167]:
#lateral

colname1 = 'parado-Lateral-interceptado'
data_eventos[colname1] = 0
colname2 = 'parado-Lateral-completado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if ('lateral' in data_eventos.loc[i,'Subevento']):

            if ((data_eventos.loc[i+1,'Evento']=='perdida') & (data_eventos.loc[i+1,'Subevento']=='intercepcion')):
                data_eventos.loc[i,colname1] = 1
            if (data_eventos.loc[i+1,'Evento']=='duelo') & ((data_eventos.loc[i+1,'Subevento']=='aereo') | (data_eventos.loc[i+1,'Subevento']=='disputa suelo')):
                if (data_eventos.loc[i+2,'Evento']=='perdida') & (data_eventos.loc[i+2,'Subevento']=='duelo'):
                    data_eventos.loc[i,colname1] = 1
                
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if ('lateral' in data_eventos.loc[i,'Subevento']):
            if (data_eventos.loc[i,colname1]!= 1):
                data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado]
Index: []

[0 rows x 57 columns]

In [168]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado]
Index: []

[0 rows x 57 columns]

In [169]:
#corner

colname1 = 'parado-Corner-interceptado'
data_eventos[colname1] = 0
colname2 = 'parado-Corner-completado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i,'Subevento']=='tiro de esquina'):

            if ('intercep' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname1] = 1
            if (data_eventos.loc[i+1,'Evento']=='duelo') & ((data_eventos.loc[i+1,'Subevento']=='aereo') | (data_eventos.loc[i+1,'Subevento']=='disputa suelo')):
                if (data_eventos.loc[i+2,'Evento']=='perdida') & (data_eventos.loc[i+2,'Subevento']=='duelo'):
                    data_eventos.loc[i,colname1] = 1
                
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i,'Subevento']=='tiro de esquina'):
            if (data_eventos.loc[i,colname1]!= 1):
                data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado]
Index: []

[0 rows x 59 columns]

In [170]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado]
Index: []

[0 rows x 59 columns]

In [171]:
#tiro libre
colname1 = 'parado-Tiro-libre-incompleto'
data_eventos[colname1] = 0
colname2 = 'parado-Tiro-libre-completado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pelota parada') & (data_eventos.loc[i,'Subevento']=='tiro libre') :
        if(data_eventos.loc[i+1,'Evento'] == 'perdida'):
            data_eventos.loc[i,colname1] = 1

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i,'Subevento']=='tiro libre'):
            if (data_eventos.loc[i,colname1]!= 1):
                data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado]
Index: []

[0 rows x 61 columns]

In [172]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado]
Index: []

[0 rows x 61 columns]

# Perdida

- gambeta a favor
- robo
- intercepcion
- error tecnico
- balon afuera
- genero situacion rival
- genero gol rival
- atajada rival

In [173]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       rebote/despeje               2
              salvada/atajada              6
falta         hecha                        5
              offside                      2
              recibida                    14
pase          centro aereo                 1
              corto                      217
              largo                        7
              medio                       16
              s arquero mano               1
              s arquero pie               11
perdida       atajada                      3
              balon afuera fondo           4
              balon afuera lateral         6
              intercepcion aereo           1
              interceptado                25
remate cabeza dificil                      3
remate pie    corta distancia              3
              media distancia              2
              remate bloqueado             1

In [ ]:
# data_eventos = data_eventos[~data_eventos.Subevento.isna()].reset_index(drop=True)

In [174]:
# data_eventos[data_eventos.Evento == 'perdida']

In [175]:
#gambeta a favor

colname = 'perdida-Gambeta'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    #if (data_eventos.loc[i-1,'Evento']=='duelo') & (data_eventos.loc[i-1,'Subevento']=='gambeta a favor'):
        if (data_eventos.loc[i,'Evento'] == 'perdida') & (data_eventos.loc[i,'Subevento'] == 'duelo'): 
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta]
Index: []

[0 rows x 62 columns]

In [176]:
#robo

colname = 'perdida-Robo'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida') & ((data_eventos.loc[i,'Subevento']=='robo')):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo]
Index: []

[0 rows x 63 columns]

In [177]:
#intercepcion

colname = 'perdida-Intercepcion'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida') & ('intercep' in str(data_eventos.loc[i,'Subevento'])):
        data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion]
Index: []

[0 rows x 64 columns]

In [178]:
#error tecnico

colname = 'perdida-Error-tecnico'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida') & (data_eventos.loc[i,'Subevento']=='error tecnico'):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico]
Index: []

[0 rows x 65 columns]

In [179]:
#balon afuera

colname = 'perdida-Balon-fuera'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida'):
        if ('balon afuera' in str(data_eventos.loc[i,'Subevento'])):
            data_eventos.loc[i,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera]
Index: []

[0 rows x 66 columns]

In [180]:
#situacion rival

colname = 'perdida-Error-tactico'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida'):
        if (data_eventos.loc[i,'Subevento']=='error tactico'):
            data_eventos.loc[i,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico]
Index: []

[0 rows x 67 columns]

In [181]:
#atajada

colname = 'perdida-Atajada'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida'):
        if (data_eventos.loc[i,'Subevento']=='atajada'):
            data_eventos.loc[i,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico, perdida-Atajada]
Index: []

[0 rows x 68 columns]

# Arquero

- gol en contra
- atajada facil
- atajada dificil
- mano a mano
- rebote
- intercepcion aereo
- intercepcion aereo anticipo
- completado
- interceptado
- saque arquero pie
- saque arquero mano
- saque meta
- pase


Cuando pongo el gol rival, atajadas y rebotes, tengo q poner q todas las cosas se marquen como arquero-x:
- el remate rival (coordenadas inicial y final)
- la atajada (coordenada inicial)
- rebote (coordenada incial y final)
- el centro (si hay intercepcion aereo) , etc

In [182]:
data[data['Jugador 1'] == 1].groupby(['Evento','Subevento']).size().to_frame('cantidad')

                              cantidad
Evento  Subevento
arquero rebote/despeje               2
        salvada/atajada              6
pase    corto                        4
        largo                        3
        s arquero mano               1
        s arquero pie               11
perdida balon afuera lateral         1
        intercepcion aereo           1
        interceptado                 4

In [183]:
#gol rival

colname1 = 'arquero-Gol-rival'
data_eventos[colname1] = 0
colname2 = 'arquero-Gol-rival-atajable'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='gol rival'):
        data_eventos.loc[i,colname1] = 1
        if ('remate atajable' in data_eventos.loc[i+1,'Subevento']):
            data_eventos.loc[i,colname2] = 1
        

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable]
Index: []

[0 rows x 70 columns]

In [184]:
#atajada

colname = 'arquero-Atajada'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='arquero'):
        if ('atajada' in data_eventos.loc[i,'Subevento']) | (data_eventos.loc[i,'Subevento']=='mano a mano'):
            data_eventos.loc[i,colname] = 1
            # if ('remate' in data_eventos.loc[i-1,'Evento']):
            #     data_eventos.loc[i-1,colname] = 1
            # elif ('remate' in data_eventos.loc[i-2,'Evento']):
            #     data_eventos.loc[i-2,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,perdida-Gambeta,perdida-Robo,perdida-Intercepcion,perdida-Error-tecnico,perdida-Balon-fuera,perdida-Error-tactico,perdida-Atajada,arquero-Gol-rival,arquero-Gol-rival-atajable,arquero-Atajada
23,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,arquero,NaN,00:15:38,00:15:38,0.0,...,0,0,0,0,0,0,0,0,0,1
166,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,arquero,NaN,01:15:46,01:15:46,0.0,...,0,0,0,0,0,0,0,0,0,1
193,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,arquero,NaN,01:19:16,01:19:16,0.0,...,0,0,0,0,0,0,0,0,0,1
243,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,arquero,NaN,01:31:10,01:31:10,0.0,...,0,0,0,0,0,0,0,0,0,1
255,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,arquero,NaN,01:36:47,01:36:47,0.0,...,0,0,0,0,0,0,0,0,0,1
327,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,arquero,NaN,01:54:41,01:54:41,0.0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
# #mano a mano
# data_eventos_con_rival = data.copy().reset_index(drop=True)

# colname = 'arquero-mano_a_mano'
# data_eventos_con_rival[colname] = 0

# for i in range(len(data_eventos_con_rival)):
#     if (data_eventos_con_rival.loc[i,'Evento']=='arquero'):
#         if ('mano a mano' in data_eventos_con_rival.loc[i,'Subevento']):
#             data_eventos_con_rival.loc[i,colname] = 1
#             if ('remate' in data_eventos_con_rival.loc[i-1,'Evento']):
#                 data_eventos_con_rival.loc[i,'Posicion incial'] = data_eventos_con_rival.loc[i-1,'Posicion incial']
#                 data_eventos_con_rival.loc[i,'Posicion final'] = data_eventos_con_rival.loc[i-1,'Posicion final']
#                 data_eventos_con_rival.loc[i,'coord inicial'] = data_eventos_con_rival.loc[i-1,'coord inicial']
#                 data_eventos_con_rival.loc[i,'coord final'] = data_eventos_con_rival.loc[i-1,'coord final']


# data_eventos_con_rival.loc[data_eventos_con_rival[colname] == 1]

In [185]:
#intercepcion aereo

colname = 'arquero-Intercepcion-aerea'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Jugador 1']==1):
        if ('intercepcion aereo' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea]
Index: []

[0 rows x 72 columns]

In [186]:
#intercepcion

colname = 'arquero-Intercepcion'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Jugador 1']==1):
        if (data_eventos.loc[i,'Subevento']=='intercepcion'):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion]
Index: []

[0 rows x 73 columns]

In [187]:
#anticipo

colname = 'arquero-Anticipo'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Jugador 1']==1):
        if ('anticipo' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion, arquero-Anticipo]
Index: []

[0 rows x 74 columns]

In [188]:
#saque arquero mano

colname = 'arquero-Saque-mano'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Jugador 1']==1):
        if ('s arquero mano' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,perdida-Balon-fuera,perdida-Error-tactico,perdida-Atajada,arquero-Gol-rival,arquero-Gol-rival-atajable,arquero-Atajada,arquero-Intercepcion-aerea,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano
24,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:15:42,00:15:42,0.0,...,0,0,0,0,0,0,0,0,0,1

In [189]:
#saque arquero pie

colname = 'arquero-Saque-pie'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Jugador 1']==1):
        if ('s arquero pie' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,perdida-Error-tactico,perdida-Atajada,arquero-Gol-rival,arquero-Gol-rival-atajable,arquero-Atajada,arquero-Intercepcion-aerea,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie
2,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:05:51,00:05:51,0.0,...,0,0,0,0,0,0,0,0,0,1
4,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:08:25,00:08:25,0.0,...,0,0,0,0,0,0,0,0,0,1
21,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:15:14,00:15:14,0.0,...,0,0,0,0,0,0,0,0,0,1
41,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:22:23,00:22:23,0.0,...,0,0,0,0,0,0,0,0,0,1
124,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:47:45,00:47:45,0.0,...,0,0,0,0,0,0,0,0,0,1
194,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:19:21,01:19:21,0.0,...,0,0,0,0,0,0,0,0,0,1
244,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:31:19,01:31:19,0.0,...,0,0,0,0,0,0,0,0,0,1
256,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:36:54,01:36:54,0.0,...,0,0,0,0,0,0,0,0,0,1
291,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:45:42,01:45:42,0.0,...,0,0,0,0,0,0,0,0,0,1
292,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:46:29,01:46:29,0.0,...,0,0,0,0,0,0,0,0,0,1
328,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:54:43,01:54:43,0.0,...,0,0,0,0,0,0,0,0,0,1

In [190]:
#saque de meta

colname = 'arquero-Saque-meta'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada') & (data_eventos.loc[i,'Jugador 1']==1):
        if ('saque de meta' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion, arquero-Anticipo, arquero-Saque-mano, arquero-Saque-pie, arquero-Saque-meta]
Index: []

[0 rows x 77 columns]

In [191]:
data_eventos.columns = [col.replace(' ','.') for col in data_eventos.columns]

In [192]:
data_eventos.iloc[:,:20]

,Session.Start.Date,tiempo,partido,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),coord.final,Jugador.2,Jugador.1,Calificacion,coord.inicial,Subevento,Optional.Column,segundos,remate-Gol,remate-Fuera
0,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:04:23,00:04:23,0.0,9,4,8.0,NaN,9.0,corto,NaN,263.0,0,0
1,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,perdida,NaN,00:04:28,00:04:28,0.0,Volver,NaN,4.0,NaN,12.0,balon afuera lateral,NaN,268.0,0,0
2,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:05:51,00:05:51,0.0,13,10,1.0,NaN,3.0,s arquero pie,NaN,351.0,0,0
3,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,perdida,NaN,00:05:52,00:05:52,0.0,Volver,NaN,1.0,NaN,3.0,interceptado,NaN,352.0,0,0
4,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,00:08:25,00:08:25,0.0,5,2,1.0,NaN,3.0,s arquero pie,NaN,505.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:54:56,01:54:56,0.0,15,4,6.0,NaN,9.0,corto,NaN,6896.0,0,0
332,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:55:02,01:55:02,0.0,15,18,4.0,NaN,15.0,corto,NaN,6902.0,0,0
333,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,pase,NaN,01:55:05,01:55:05,0.0,15,4,18.0,NaN,15.0,corto,NaN,6905.0,0,0
334,2022/07/11,Pases Arsenal,Pases Arsenal,21:22:05,23:24:23,falta,NaN,01:55:18,01:55:18,0.0,Volver,NaN,18.0,NaN,15.0,recibida,NaN,6918.0,0,0
335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

# Crear coordenadas

- Primero mapear la media de coordenadas para cada sector
- Segundo agregar aleatoriedad

In [193]:
data_eventos['coord.inicial'].value_counts()

13.0    34
7.0     33
10.0    32
11.0    29
9.0     27
12.0    26
8.0     25
15.0    20
3.0     20
17.0    15
14.0    13
18.0    12
16.0    11
21.0     8
2.0      8
19.0     5
20.0     4
5.0      2
1.0      2
4.0      2
24.0     1
23.0     1
Name: coord.inicial, dtype: int64

In [194]:
data_eventos['coord.final'].value_counts()

Volver    72
13        30
10        29
8         26
12        25
15        21
7         21
9         19
17        17
11        15
16        10
22        10
18         9
14         9
2          5
21         4
5          3
19         3
24         1
20         1
1          1
23         1
3          1
4          1
Name: coord.final, dtype: int64

In [195]:
map_zona_coord_x = {  
1:22,
2:21,
3:12,
4:33,
5:21,
6:20,
7:68,
8:66,
9:65,
10:109,
11:108,
12:105,
13:162,
14:161,
15:160,
16:205,
17:203,
18:203,
19:251,
20:250,
21:238,
22:260,
23:250,
24:250
}

In [196]:
map_zona_coord_y = {  
1:18,
2:43,
3:82,
4:83,
5:117,
6:147,
7:22,
8:81,
9:141,
10:22,
11:82,
12:138,
13:21,
14:81,
15:142,
16:23,
17:80,
18:141,
19:20,
20:45,
21:80,
22:81,
23:119,
24:147
}

In [197]:
data_eventos['coord.final.num'] = np.where(data_eventos['coord.final'] == 'Volver',None, data_eventos['coord.final']).astype('float')

In [198]:
data_eventos['coord.inicial.x'] = data_eventos['coord.inicial'].map(map_zona_coord_x)
data_eventos['coord.final.x'] = data_eventos['coord.final.num'].map(map_zona_coord_x)
data_eventos['coord.inicial.y'] = data_eventos['coord.inicial'].map(map_zona_coord_y)
data_eventos['coord.final.y'] = data_eventos['coord.final.num'].map(map_zona_coord_y)
data_eventos.iloc[:,-5:]

,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,9.0,65.0,65.0,141.0,141.0
1,NaN,105.0,NaN,138.0,NaN
2,13.0,12.0,162.0,82.0,21.0
3,NaN,12.0,NaN,82.0,NaN
4,5.0,12.0,21.0,82.0,117.0
...,...,...,...,...,...
331,15.0,65.0,160.0,141.0,142.0
332,15.0,160.0,160.0,142.0,142.0
333,15.0,160.0,160.0,142.0,142.0
334,NaN,160.0,NaN,142.0,NaN
335,NaN,NaN,NaN,NaN,NaN

In [199]:
data_eventos['coord.inicial.x'].describe() # de 0 a 272

count    330.000000
mean     117.439394
std       62.837690
min       12.000000
25%       66.000000
50%      108.000000
75%      162.000000
max      251.000000
Name: coord.inicial.x, dtype: float64

In [200]:
# añadirles aleatoriedad
data_eventos['coord.inicial.x'] = data_eventos['coord.inicial.x'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.inicial.x'].describe()

count    330.000000
mean     116.897930
std       64.456753
min       -3.720983
25%       65.781951
50%      106.782408
75%      165.568245
max      267.783133
Name: coord.inicial.x, dtype: float64

In [201]:
data_eventos['coord.inicial.x'] = np.where(data_eventos['coord.inicial.x']<0, 0, data_eventos['coord.inicial.x'])
data_eventos['coord.inicial.x'] = np.where(data_eventos['coord.inicial.x']>272, 272, data_eventos['coord.inicial.x'])

In [202]:
data_eventos['coord.inicial.y'].describe() # de 0 a 162

count    330.000000
mean      74.503030
std       46.871242
min       18.000000
25%       22.000000
50%       81.000000
75%      138.000000
max      147.000000
Name: coord.inicial.y, dtype: float64

In [203]:
data_eventos['coord.inicial.y'] = data_eventos['coord.inicial.y'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.inicial.y'].describe() # de 0 a 162

count    330.000000
mean      75.940789
std       48.346780
min        1.555427
25%       30.115600
50%       77.826407
75%      124.099982
max      159.980439
Name: coord.inicial.y, dtype: float64

In [204]:
data_eventos['coord.inicial.y'] = np.where(data_eventos['coord.inicial.y']<0, 0, data_eventos['coord.inicial.y'])
data_eventos['coord.inicial.y'] = np.where(data_eventos['coord.inicial.y']>162, 162, data_eventos['coord.inicial.y'])

In [205]:
data_eventos['coord.final.x'] = data_eventos['coord.final.x'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.final.x'] = np.where(data_eventos['coord.final.x']<0, 0, data_eventos['coord.final.x'])
data_eventos['coord.final.x'] = np.where(data_eventos['coord.final.x']>272, 272, data_eventos['coord.final.x'])

In [206]:
data_eventos['coord.final.y'] = data_eventos['coord.final.y'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.final.y'] = np.where(data_eventos['coord.final.y']<0, 0, data_eventos['coord.final.y'])
data_eventos['coord.final.y'] = np.where(data_eventos['coord.final.y']>162, 162, data_eventos['coord.final.y'])

In [207]:
data_eventos.iloc[:,-5:]

,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,9.0,62.658381,78.916693,125.392116,123.372336
1,NaN,124.968343,NaN,151.248373,NaN
2,13.0,14.746873,151.068396,66.778342,4.068515
3,NaN,20.206643,NaN,99.223305,NaN
4,5.0,8.795250,26.400820,68.604450,105.680818
...,...,...,...,...,...
331,15.0,51.062392,168.972318,146.965785,156.067176
332,15.0,174.047485,167.749909,135.271960,138.149345
333,15.0,178.714979,145.741868,139.886841,149.846091
334,NaN,178.854711,NaN,153.591904,NaN
335,NaN,NaN,NaN,NaN,NaN

In [208]:
round(data_eventos['coord.inicial.x'],0).astype('str')+','+round(data_eventos['coord.inicial.y'],0).astype('str')

0       63.0,125.0
1      125.0,151.0
2        15.0,67.0
3        20.0,99.0
4         9.0,69.0
          ...
331     51.0,147.0
332    174.0,135.0
333    179.0,140.0
334    179.0,154.0
335        nan,nan
Length: 336, dtype: object

In [209]:
# pasar en ambos formatos. Crear las dos cols originales q sean strings

data_eventos['coord.inicial'] = round(data_eventos['coord.inicial.x'],0).astype('str').str.split('.').str[0]+','+round(data_eventos['coord.inicial.y'],0).astype('str').str.split('.').str[0]
data_eventos['coord.final'] = round(data_eventos['coord.final.x'],0).astype('str').str.split('.').str[0]+','+round(data_eventos['coord.final.y'],0).astype('str').str.split('.').str[0]

In [210]:
data_eventos['coord.inicial'] = np.where(data_eventos['coord.inicial']=='nan,nan', None, data_eventos['coord.inicial'])
data_eventos['coord.final'] = np.where(data_eventos['coord.final']=='nan,nan', None, data_eventos['coord.final'])

In [211]:
data_eventos[['coord.inicial','coord.final']]

    coord.inicial coord.final
0          63,125      79,123
1         125,151        None
2           15,67       151,4
3           20,99        None
4            9,69      26,106
..            ...         ...
331        51,147     169,156
332       174,135     168,138
333       179,140     146,150
334       179,154        None
335          None        None

[336 rows x 2 columns]

# Escribir tabla filtros

In [212]:
data_eventos = data_eventos[~data_eventos['partido'].isna()].reset_index(drop=True)

In [213]:
data_eventos['partido'] = 'Arsenal'

In [214]:
data_eventos.tail()

,Session.Start.Date,tiempo,partido,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
330,2022/07/11,Pases Arsenal,Arsenal,21:22:05,23:24:23,pase,NaN,01:54:50,01:54:50,0.0,...,0,0,0,0,0,9.0,75.716017,56.106428,79.538838,131.775612
331,2022/07/11,Pases Arsenal,Arsenal,21:22:05,23:24:23,pase,NaN,01:54:56,01:54:56,0.0,...,0,0,0,0,0,15.0,51.062392,168.972318,146.965785,156.067176
332,2022/07/11,Pases Arsenal,Arsenal,21:22:05,23:24:23,pase,NaN,01:55:02,01:55:02,0.0,...,0,0,0,0,0,15.0,174.047485,167.749909,135.271960,138.149345
333,2022/07/11,Pases Arsenal,Arsenal,21:22:05,23:24:23,pase,NaN,01:55:05,01:55:05,0.0,...,0,0,0,0,0,15.0,178.714979,145.741868,139.886841,149.846091
334,2022/07/11,Pases Arsenal,Arsenal,21:22:05,23:24:23,falta,NaN,01:55:18,01:55:18,0.0,...,0,0,0,0,0,NaN,178.854711,NaN,153.591904,NaN

In [215]:
data_eventos.to_csv("../Datos generados para la app/reserva02-22-fecha6_arsenal-tabla_filtros2.csv",index=False)