In [331]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import glob
import os
#pd.set_option('display.max_rows', 200)

# Carga de datos

In [332]:
# merging the files
files_joined = os.path.join('..\\..\\datos etiquetas\\Tem2-2022\\Fecha 5 - Newells', "*.csv")

# Return a list of all joined files
list_files = glob.glob(files_joined)

#print("** Merging multiple csv files into a single pandas dataframe **")
# Merge files by joining all files
data = pd.concat(map(pd.read_csv, list_files), ignore_index=True)

In [333]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Session Start Date   276 non-null    object
 1   Event                276 non-null    object
 2   Session Name         276 non-null    object
 3   Session Start        276 non-null    object
 4   Session End          276 non-null    object
 5   Tag Description      276 non-null    object
 6   Tag Notes            0 non-null      float64
 7   Tag Start            276 non-null    object
 8   Tag End              276 non-null    object
 9   Tag Duration (secs)  276 non-null    float64
 10  Zonas_final          276 non-null    object
 11  Jugador2             207 non-null    object
 12  Calificacion         2 non-null      object
 13  Zonas                272 non-null    float64
 14  Jugador              272 non-null    float64
 15  Categoria            271 non-null    object
 16  Optional Column      0 non-null      float64
dtypes: float64(5), object(12)
memory usage: 36.8+ KB

In [334]:
# data.columns = ['Session Start Date','partido','tiempo','Session Start',
#        'Session End','Evento','Tag Notes','Tag Start', 'Tag End',
#        'Tag Duration (secs)','coord inicial','Subevento','Jugador 2','Jugador 1','coord final','Optional Column']

data.columns = ['Session Start Date','tiempo','partido','Session Start',
       'Session End','Evento','Tag Notes','Tag Start', 'Tag End',
       'Tag Duration (secs)','coord final','Jugador 2','Calificacion','coord inicial','Jugador 1','Subevento','Optional Column']

In [335]:
'''TIEMPO'''

from datetime import timedelta

def seconder(x):
    hr, mins, secs = map(float, x.split(':'))
    td = timedelta(hours= hr, minutes=mins, seconds=secs)
    return td.total_seconds()
data['segundos'] = data['Tag Start'].apply(seconder)

In [336]:
data = data.append(data.iloc[-1,:]).reset_index(drop=True)
data.loc[-1,'Evento'] = np.nan
data.loc[-1,'Subevento'] = np.nan
data = data.drop_duplicates()
data = data.reset_index(drop=True)

In [337]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Session Start Date   275 non-null    object
 1   tiempo               275 non-null    object
 2   partido              275 non-null    object
 3   Session Start        275 non-null    object
 4   Session End          275 non-null    object
 5   Evento               275 non-null    object
 6   Tag Notes            0 non-null      float64
 7   Tag Start            275 non-null    object
 8   Tag End              275 non-null    object
 9   Tag Duration (secs)  275 non-null    float64
 10  coord final          275 non-null    object
 11  Jugador 2            206 non-null    object
 12  Calificacion         2 non-null      object
 13  coord inicial        271 non-null    float64
 14  Jugador 1            271 non-null    float64
 15  Subevento            270 non-null    object
 16  Optional Column      0 non-null      float64
 17  segundos             275 non-null    float64
dtypes: float64(6), object(12)
memory usage: 38.9+ KB

In [338]:
data

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),coord final,Jugador 2,Calificacion,coord inicial,Jugador 1,Subevento,Optional Column,segundos
0,2022/07/13,pases Newells,pases,13:04:47,15:19:37,Pase,NaN,00:18:29,00:18:29,0.0,11,5,NaN,14.0,9.0,corto,NaN,1109.0
1,2022/07/13,pases Newells,pases,13:04:47,15:19:37,Pase,NaN,00:18:33,00:18:33,0.0,9,4,NaN,11.0,5.0,corto,NaN,1113.0
2,2022/07/13,pases Newells,pases,13:04:47,15:19:37,Pase,NaN,00:18:38,00:18:38,0.0,15,9,NaN,9.0,4.0,medio,NaN,1118.0
3,2022/07/13,pases Newells,pases,13:04:47,15:19:37,Pase,NaN,00:19:05,00:19:05,0.0,18,8,NaN,18.0,4.0,corto,NaN,1145.0
4,2022/07/13,pases Newells,pases,13:04:47,15:19:37,Pase,NaN,00:19:10,00:19:10,0.0,14,5,NaN,17.0,8.0,corto,NaN,1150.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,2022/07/13,pases Newells,pases,13:04:47,15:19:37,Pase,NaN,02:08:14,02:08:14,0.0,24,16,NaN,18.0,19.0,corto,NaN,7694.0
272,2022/07/13,pases Newells,pases,13:04:47,15:19:37,Perdida,NaN,02:08:15,02:08:15,0.0,Volver,NaN,NaN,18.0,19.0,Balon afuera fondo,NaN,7695.0
273,2022/07/13,pases Newells,pases,13:04:47,15:19:37,Remate cabeza,NaN,00:26:36,00:26:36,0.0,22,Rival,NaN,21.0,9.0,Dificil,NaN,1596.0
274,2022/07/13,pases Newells,pases,13:04:47,15:19:37,Perdida,NaN,00:26:38,00:26:38,0.0,Volver,NaN,NaN,21.0,9.0,Balon afuera fondo,NaN,1598.0
275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [339]:
#data['segundos'] = np.random.randint(1, 600, data.shape[0])
#data

In [340]:
'''CORREGIR MAYUSCULAS Y COSAS DE EVENTOS'''

data['Evento'] = data['Evento'].str.lower().str.strip()
data['Subevento'] = data['Subevento'].str.lower().str.strip()

# Estadisticas basicas

In [341]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       rebote/despeje               4
              salvada/atajada              2
falta         hecha                        6
              offside                      1
              recibida                    19
pase          centro aereo                 5
              corto                      160
              largo                        5
              medio                       15
              s arquero pie                6
perdida       atajada                      7
              balon afuera fondo           8
              balon afuera lateral         2
              interceptado                19
remate cabeza dificil                      2
remate pie    corta distancia              7
              larga distancia              1
              media distancia              1

In [342]:
data.groupby(['Jugador 1','Evento','Subevento']).size().to_frame('cantidad')

                                         cantidad
Jugador 1 Evento     Subevento
1.0       arquero    rebote/despeje             4
                     salvada/atajada            2
          pase       corto                      4
                     largo                      5
                     medio                      2
...                                           ...
19.0      perdida    atajada                    1
                     balon afuera fondo         2
          remate pie corta distancia            1
20.0      falta      recibida                   1
          pase       corto                      4

[78 rows x 1 columns]

# Filtros para la app

Disparos
---
- gol
- fuera
- al arco
- interceptado
- cabeza

Pase
---
- asistencia
- completado
- interceptado
- fuera
- inteligente

Centros
---
- asistencia
- completado
- interceptado
- bloqueado
- fuera

Duelos
---
- ganado
- perdido
- duelo aereo
- disputa suelo
- gambeta en contra
- gambeta a favor
- pivote

Faltas
---
- falta cometida
- falta recibida
- penal
- tarjeta amarilla
- tarjeta roja
- off-side

Recuperacion
---
- robo
- encontradas
- intercepcion suelo
- intercepcion aereo
- intercepcion anticipo
- disputa suelo

Pelota parada
---
- lateral completado
- lateral interceptado
- corner completado
- corner interceptado
- tiro libre

Perdida
---
- gambeta a favor
- robo
- intercepcion suelo
- intercepcion aereo
- error tecnico
- balon afuera
- genero situacion rival
- genero gol rival
- atajada rival

Arquero
---
- gol en contra
- atajada facil
- atajada dificil
- mano a mano
- rebote
- intercepcion aereo
- intercepcion aereo anticipo
- completado
- interceptado
- saque arquero pie
- saque arquero mano
- saque meta
- pase


LO QUE HAY QUE HACER ES CREAR UNA COLUMNA POR CADA UNO DE ESOS FILTROS CON 0-1. QUEDAR CON UNA SOLA FILA POR ACCION.

In [343]:
data_eventos = data.copy()
data_eventos.shape

(276, 18)

# Disparos

- gol: siempre tiene que haber un disparo antes de un gol? Que pasa cuando es en contra, por ejemplo. Asegurarse que siempre antes de un gol poner disparo porque si no no lo toma aca
- fuera: asegurarse de poner que pasa siempre despues de los remates
- al arco: tiene que haber una perdida en evento y atajada en subevento, desupes de un remate
- interceptado
- cabeza

In [344]:
#gol
'''si data[i] es remate y data[i+1] es gol'''

data_eventos['remate-Gol'] = 0
for i in range(len(data_eventos)-1):
    #if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') | (data_eventos.loc[i,'Evento']=='pelota parada'):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') :
        if (data_eventos.loc[i+1,'Evento']=='gol'):
            data_eventos.loc[i,'remate-Gol'] = 1
data_eventos.loc[data_eventos['remate-Gol'] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol]
Index: []

In [345]:
#fuera
'''si data[i] es remate y data[i+1] es perdida balon fuera'''
colname = 'remate-Fuera'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza'):
        if (data_eventos.loc[i+1,'Evento']=='perdida'):
            if('balon afuera' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),coord final,Jugador 2,Calificacion,coord inicial,Jugador 1,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera
54,2022/07/13,pases Newells,pases,13:04:47,15:19:37,remate pie,NaN,00:34:01,00:34:01,0.0,22,Rival,NaN,17.0,5.0,corta distancia,NaN,2041.0,0,1
111,2022/07/13,pases Newells,pases,13:04:47,15:19:37,remate pie,NaN,01:00:31,01:00:31,0.0,22,Rival,NaN,17.0,10.0,corta distancia,NaN,3631.0,0,1
142,2022/07/13,pases Newells,pases,13:04:47,15:19:37,remate pie,NaN,01:25:43,01:25:43,0.0,22,Rival,NaN,16.0,3.0,media distancia,NaN,5143.0,0,1
159,2022/07/13,pases Newells,pases,13:04:47,15:19:37,remate pie,NaN,01:28:57,01:28:57,0.0,23,Rival,NaN,15.0,2.0,larga distancia,NaN,5337.0,0,1
267,2022/07/13,pases Newells,pases,13:04:47,15:19:37,remate pie,NaN,02:07:25,02:07:25,0.0,22,Rival,NaN,20.0,16.0,corta distancia,NaN,7645.0,0,1
273,2022/07/13,pases Newells,pases,13:04:47,15:19:37,remate cabeza,NaN,00:26:36,00:26:36,0.0,22,Rival,NaN,21.0,9.0,dificil,NaN,1596.0,0,1

In [346]:
#al arco
'''si data[i] es remate y data[i+1] es perdida atajada'''

colname = 'remate-Al-arco'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza'):
        if (data_eventos.loc[i+1,'Evento']=='perdida'): 
            if('atajada' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Jugador 2,Calificacion,coord inicial,Jugador 1,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco
38,2022/07/13,pases Newells,pases,13:04:47,15:19:37,remate pie,NaN,00:30:11,00:30:11,0.0,...,Rival,NaN,23.0,9.0,corta distancia,NaN,1811.0,0,0,1
87,2022/07/13,pases Newells,pases,13:04:47,15:19:37,remate pie,NaN,00:49:46,00:49:46,0.0,...,Rival,NaN,17.0,5.0,corta distancia,NaN,2986.0,0,0,1
90,2022/07/13,pases Newells,pases,13:04:47,15:19:37,remate pie,NaN,00:50:31,00:50:31,0.0,...,Rival,NaN,17.0,10.0,corta distancia,NaN,3031.0,0,0,1
214,2022/07/13,pases Newells,pases,13:04:47,15:19:37,remate cabeza,NaN,01:48:37,01:48:37,0.0,...,Rival,NaN,21.0,6.0,dificil,NaN,6517.0,0,0,1
255,2022/07/13,pases Newells,pases,13:04:47,15:19:37,remate pie,NaN,01:59:48,01:59:48,0.0,...,Rival,NaN,21.0,19.0,corta distancia,NaN,7188.0,0,0,1

In [347]:
#bloqueado
'''si data[i] es remate y data[i] es remate bloqueado o data[i+1] es perdida error tecnico'''

colname = 'remate-Interceptado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') :
        if (data_eventos.loc[i,'Subevento'] == 'remate bloqueado'): 
            data_eventos.loc[i,colname] = 1
        elif(data_eventos.loc[i+1,'Evento']=='perdida'):
            if('error tecnico' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado]
Index: []

[0 rows x 22 columns]

In [348]:
#cabeza
'''si data[i] es remate cabeza'''

colname = 'remate-Cabeza'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='remate cabeza'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,coord inicial,Jugador 1,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza
214,2022/07/13,pases Newells,pases,13:04:47,15:19:37,remate cabeza,NaN,01:48:37,01:48:37,0.0,...,21.0,6.0,dificil,NaN,6517.0,0,0,1,0,1
273,2022/07/13,pases Newells,pases,13:04:47,15:19:37,remate cabeza,NaN,00:26:36,00:26:36,0.0,...,21.0,9.0,dificil,NaN,1596.0,0,1,0,0,1

# Pase

- asistencia
- completado
- interceptado
- fuera
- inteligente

In [349]:
data[data.Evento=='pase'].groupby(['Evento','Subevento']).size().to_frame('cantidad')

                      cantidad
Evento Subevento
pase   centro aereo          5
       corto               160
       largo                 5
       medio                15
       s arquero pie         6

In [350]:
data[(data.Evento=='pase')]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),coord final,Jugador 2,Calificacion,coord inicial,Jugador 1,Subevento,Optional Column,segundos
0,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:18:29,00:18:29,0.0,11,5,NaN,14.0,9.0,corto,NaN,1109.0
1,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:18:33,00:18:33,0.0,9,4,NaN,11.0,5.0,corto,NaN,1113.0
2,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:18:38,00:18:38,0.0,15,9,NaN,9.0,4.0,medio,NaN,1118.0
3,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:19:05,00:19:05,0.0,18,8,NaN,18.0,4.0,corto,NaN,1145.0
4,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:19:10,00:19:10,0.0,14,5,NaN,17.0,8.0,corto,NaN,1150.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,02:06:05,02:06:05,0.0,20,20,NaN,24.0,19.0,centro aereo,NaN,7565.0
266,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,02:07:20,02:07:20,0.0,13,16,NaN,13.0,15.0,corto,NaN,7640.0
269,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,02:08:09,02:08:09,0.0,17,5,NaN,17.0,16.0,corto,NaN,7689.0
270,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,02:08:11,02:08:11,0.0,18,19,NaN,17.0,5.0,corto,NaN,7691.0
271,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,02:08:14,02:08:14,0.0,24,16,NaN,18.0,19.0,corto,NaN,7694.0

In [351]:
data_eventos.head()

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,coord inicial,Jugador 1,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza
0,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:18:29,00:18:29,0.0,...,14.0,9.0,corto,NaN,1109.0,0,0,0,0,0
1,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:18:33,00:18:33,0.0,...,11.0,5.0,corto,NaN,1113.0,0,0,0,0,0
2,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:18:38,00:18:38,0.0,...,9.0,4.0,medio,NaN,1118.0,0,0,0,0,0
3,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:19:05,00:19:05,0.0,...,18.0,4.0,corto,NaN,1145.0,0,0,0,0,0
4,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:19:10,00:19:10,0.0,...,17.0,8.0,corto,NaN,1150.0,0,0,0,0,0

In [352]:
#asistencia
'''si data[i] es pase, data[i+1] es remate y data[i+2] es gol'''
colname = 'pase-Asistencia'
data_eventos[colname] = 0
for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Evento']=='pase'):
        if ('remate' in data_eventos.loc[i+1,'Evento']):
            if (data_eventos.loc[i+2,'Evento']=='gol'):
                data_eventos.loc[i,colname] = 1
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia]
Index: []

[0 rows x 24 columns]

In [353]:
##completado
'''si data[i] es pase no bloqueado y data[i+1] no es perdida interceptado o balon afuera'''

colname = 'pase-Completado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if ((data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']!='s arquero mano') & (data_eventos.loc[i,'Subevento']!='s arquero pie') & (data_eventos.loc[i,'Jugador 2'] != 'Rival')):
        if ((data_eventos.loc[i+1,'Evento'] != 'perdida') ):
            data_eventos.loc[i,colname] = 1
        
        #elif ('intercep' not in data_eventos.loc[i+1,'Subevento']) & ('balon afuera' not in data_eventos.loc[i+1,'Subevento']) & ('encontrad' not in data_eventos.loc[i+1,'Subevento']):
        #    data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado
0,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:18:29,00:18:29,0.0,...,corto,NaN,1109.0,0,0,0,0,0,0,1
1,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:18:33,00:18:33,0.0,...,corto,NaN,1113.0,0,0,0,0,0,0,1
2,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:18:38,00:18:38,0.0,...,medio,NaN,1118.0,0,0,0,0,0,0,1
3,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:19:05,00:19:05,0.0,...,corto,NaN,1145.0,0,0,0,0,0,0,1
4,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:19:10,00:19:10,0.0,...,corto,NaN,1150.0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,02:02:00,02:02:00,0.0,...,medio,NaN,7320.0,0,0,0,0,0,0,1
263,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,02:06:02,02:06:02,0.0,...,largo,NaN,7562.0,0,0,0,0,0,0,1
266,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,02:07:20,02:07:20,0.0,...,corto,NaN,7640.0,0,0,0,0,0,0,1
269,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,02:08:09,02:08:09,0.0,...,corto,NaN,7689.0,0,0,0,0,0,0,1
270,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,02:08:11,02:08:11,0.0,...,corto,NaN,7691.0,0,0,0,0,0,0,1

In [354]:
data_eventos.loc[data_eventos[colname] == 1].Subevento.value_counts()

corto           145
medio            13
largo             4
centro aereo      1
Name: Subevento, dtype: int64

In [355]:
#Incompleto
'''si data[i] es pase no bloqueado y data[i+1] es perdida interceptado'''

colname = 'pase-Incompleto'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if ((data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']!='s arquero mano') & (data_eventos.loc[i,'Subevento']!='s arquero pie') ):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') ):
            #if ((data_eventos.loc[i,'pase-Completado'] != 1)):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado,pase-Incompleto
6,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:19:19,00:19:19,0.0,...,NaN,1159.0,0,0,0,0,0,0,0,1
10,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:19:40,00:19:40,0.0,...,NaN,1180.0,0,0,0,0,0,0,0,1
25,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:24:53,00:24:53,0.0,...,NaN,1493.0,0,0,0,0,0,0,0,1
35,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:29:52,00:29:52,0.0,...,NaN,1792.0,0,0,0,0,0,0,0,1
46,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:32:18,00:32:18,0.0,...,NaN,1938.0,0,0,0,0,0,0,0,1
51,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:32:49,00:32:49,0.0,...,NaN,1969.0,0,0,0,0,0,0,0,1
60,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:38:25,00:38:25,0.0,...,NaN,2305.0,0,0,0,0,0,0,0,1
84,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:46:56,00:46:56,0.0,...,NaN,2816.0,0,0,0,0,0,0,0,1
115,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,01:22:30,01:22:30,0.0,...,NaN,4950.0,0,0,0,0,0,0,0,1
122,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,01:23:48,01:23:48,0.0,...,NaN,5028.0,0,0,0,0,0,0,0,1
128,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,01:24:08,01:24:08,0.0,...,NaN,5048.0,0,0,0,0,0,0,0,1
137,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,01:25:03,01:25:03,0.0,...,NaN,5103.0,0,0,0,0,0,0,0,1
140,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,01:25:33,01:25:33,0.0,...,NaN,5133.0,0,0,0,0,0,0,0,1
166,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,01:31:03,01:31:03,0.0,...,NaN,5463.0,0,0,0,0,0,0,0,1
175,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,01:31:29,01:31:29,0.0,...,NaN,5489.0,0,0,0,0,0,0,0,1
185,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,01:34:13,01:34:13,0.0,...,NaN,5653.0,0,0,0,0,0,0,0,1
191,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,01:36:16,01:36:16,0.0,...,NaN,5776.0,0,0,0,0,0,0,0,1
200,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,01:42:18,01:42:18,0.0,...,NaN,6138.0,0,0,0,0,0,0,0,1
211,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,01:46:54,01:46:54,0.0,...,NaN,6414.0,0,0,0,0,0,0,0,1
225,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,01:49:48,01:49:48,0.0,...,NaN,6588.0,0,0,0,0,0,0,0,1
264,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,02:06:05,02:06:05,0.0,...,NaN,7565.0,0,0,0,0,0,0,0,1
271,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,02:08:14,02:08:14,0.0,...,NaN,7694.0,0,0,0,0,0,0,0,1

In [356]:
# #fuera
# '''si data[i] es pase no bloqueado y data[i+1] es perdida fuera'''

# colname = 'pase-Fuera'
# data_eventos[colname] = 0
# for i in range(len(data_eventos)-1):
#     if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']!='pase bloqueado') & (data_eventos.loc[i,'Subevento']!='centro aereo'):
#         if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
#             if ('balon afuera' in data_eventos.loc[i+1,'Subevento']):
#                 data_eventos.loc[i,colname] = 1
            
# data_eventos.loc[data_eventos[colname] == 1]

In [357]:
#inteligente

colname = 'pase-Inteligente'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']=='inteligente'):
        if (data_eventos.loc[i+1,'Evento'] != 'perdida') | (data_eventos.loc[i,'Jugador 1'] != data_eventos.loc[i+1,'Jugador 1']):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente]
Index: []

[0 rows x 27 columns]

# Centros

- asistencia
- completado
- interceptado
- bloqueado
- fuera

In [358]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       rebote/despeje               4
              salvada/atajada              2
falta         hecha                        6
              offside                      1
              recibida                    19
pase          centro aereo                 5
              corto                      160
              largo                        5
              medio                       15
              s arquero pie                6
perdida       atajada                      7
              balon afuera fondo           8
              balon afuera lateral         2
              interceptado                19
remate cabeza dificil                      2
remate pie    corta distancia              7
              larga distancia              1
              media distancia              1

In [359]:
#asistencia

colname = 'centro-Asistencia'
data_eventos[colname] = 0
for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if ('remate' in data_eventos.loc[i+1,'Evento']):
            if (data_eventos.loc[i+2,'Evento']=='gol'):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia]
Index: []

[0 rows x 28 columns]

In [360]:
#completado

colname = 'centro-Completado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] != 'perdida')| (data_eventos.loc[i,'Jugador 1'] != data_eventos.loc[i+1,'Jugador 1']) :
            data_eventos.loc[i,colname] = 1

            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado,pase-Incompleto,pase-Inteligente,centro-Asistencia,centro-Completado
33,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:26:34,00:26:34,0.0,...,0,0,0,0,0,1,0,0,0,1
140,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,01:25:33,01:25:33,0.0,...,0,0,0,0,0,0,1,0,0,1

In [361]:
#interceptado
'''si data[i] es pase no bloqueado y data[i+1] es perdida interceptado'''

colname = 'centro-Interceptado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
            if ('intercep' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado,pase-Incompleto,pase-Inteligente,centro-Asistencia,centro-Completado,centro-Interceptado
140,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,01:25:33,01:25:33,0.0,...,0,0,0,0,0,1,0,0,1,1

In [362]:
#bloqueado

colname = 'centro-Bloqueado'
data_eventos[colname] = 0
# for i in range(len(data_eventos)):
#     if (data_eventos.loc[i,'Subevento']=='centro bloqueado'):
#         data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado]
Index: []

[0 rows x 31 columns]

In [363]:
#fuera

colname = 'centro-Fuera'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
            if ('balon afuera' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,remate-Cabeza,pase-Asistencia,pase-Completado,pase-Incompleto,pase-Inteligente,centro-Asistencia,centro-Completado,centro-Interceptado,centro-Bloqueado,centro-Fuera
264,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,02:06:05,02:06:05,0.0,...,0,0,0,1,0,0,0,0,0,1

# Duelos

- ganado
- perdido
- duelo aereo
- disputa suelo
- gambeta en contra
- gambeta a favor
- pivote

In [364]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       rebote/despeje               4
              salvada/atajada              2
falta         hecha                        6
              offside                      1
              recibida                    19
pase          centro aereo                 5
              corto                      160
              largo                        5
              medio                       15
              s arquero pie                6
perdida       atajada                      7
              balon afuera fondo           8
              balon afuera lateral         2
              interceptado                19
remate cabeza dificil                      2
remate pie    corta distancia              7
              larga distancia              1
              media distancia              1

In [365]:
# dejar_index= []
# for i in range(len(data_eventos)-1):
#     if (data_eventos.loc[i,'Evento']=='duelo'):
#         dejar_index.append(i-1)
#         dejar_index.append(i)
#         dejar_index.append(i+1)
# data_eventos.loc[dejar_index].head(10)

In [366]:
#duelo aereo

colname1 = 'duelo-Aereo-Perdido'
data_eventos[colname1] = 0
colname2 = 'duelo-Aereo-Ganado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='aereo'):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo')): 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1


data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado]
Index: []

[0 rows x 34 columns]

In [367]:
data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado]
Index: []

[0 rows x 34 columns]

In [368]:
#disputa suelo

colname1 = 'duelo-Disputa-suelo-Perdida'
data_eventos[colname1] = 0
colname2 = 'duelo-Disputa-suelo-Ganada'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='disputa suelo'):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo')): 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada]
Index: []

[0 rows x 36 columns]

In [369]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada]
Index: []

[0 rows x 36 columns]

In [370]:
#gambeta en contra

colname1 = 'duelo-Gambeta-contra-Ganada'
data_eventos[colname1] = 0
colname2 = 'duelo-Gambeta-contra-Perdida'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='gambeta en contra'):
        if ((data_eventos.loc[i+1,'Evento'] == 'recuperacion') & ((data_eventos.loc[i+1,'Subevento'] == 'duelo') )): 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida]
Index: []

[0 rows x 38 columns]

In [371]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida]
Index: []

[0 rows x 38 columns]

In [372]:
#gambeta a favor

colname1 = 'duelo-Gambeta-favor-Perdida'
data_eventos[colname1] = 0
colname2 = 'duelo-Gambeta-favor-Ganada'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='gambeta a favor'):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & ((data_eventos.loc[i+1,'Subevento'] == 'duelo') | ('balon afuera' in data_eventos.loc[i+1,'Subevento']))) : 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada]
Index: []

[0 rows x 40 columns]

In [373]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada]
Index: []

[0 rows x 40 columns]

In [374]:
#pivote

colname1 = 'duelo-Pivote-Perdido'
data_eventos[colname1] = 0
colname2 = 'duelo-Pivote-Ganado'
data_eventos[colname2] = 0

#for i in range(len(data_eventos)):
#    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='pivote'):
#        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo')) : 
#            data_eventos.loc[i,colname1] = 1
#        else:
#            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado]
Index: []

[0 rows x 42 columns]

# Faltas

- falta cometida
- falta recibida
- penal
- tarjeta amarilla
- tarjeta roja
- off-side

In [375]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       rebote/despeje               4
              salvada/atajada              2
falta         hecha                        6
              offside                      1
              recibida                    19
pase          centro aereo                 5
              corto                      160
              largo                        5
              medio                       15
              s arquero pie                6
perdida       atajada                      7
              balon afuera fondo           8
              balon afuera lateral         2
              interceptado                19
remate cabeza dificil                      2
remate pie    corta distancia              7
              larga distancia              1
              media distancia              1

In [376]:
#falta cometida

colname = 'falta-Cometida'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='hecha'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Aereo-Ganado,duelo-Disputa-suelo-Perdida,duelo-Disputa-suelo-Ganada,duelo-Gambeta-contra-Ganada,duelo-Gambeta-contra-Perdida,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida
22,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,00:22:25,00:22:25,0.0,...,0,0,0,0,0,0,0,0,0,1
66,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,00:41:59,00:41:59,0.0,...,0,0,0,0,0,0,0,0,0,1
73,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,00:42:49,00:42:49,0.0,...,0,0,0,0,0,0,0,0,0,1
74,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,00:43:15,00:43:15,0.0,...,0,0,0,0,0,0,0,0,0,1
154,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,01:27:41,01:27:41,0.0,...,0,0,0,0,0,0,0,0,0,1
244,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,01:57:47,01:57:47,0.0,...,0,0,0,0,0,0,0,0,0,1

In [377]:
#falta recibida

colname = 'falta-Recibida'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='recibida'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Disputa-suelo-Perdida,duelo-Disputa-suelo-Ganada,duelo-Gambeta-contra-Ganada,duelo-Gambeta-contra-Perdida,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida,falta-Recibida
14,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,00:20:51,00:20:51,0.0,...,0,0,0,0,0,0,0,0,0,1
31,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,00:25:26,00:25:26,0.0,...,0,0,0,0,0,0,0,0,0,1
48,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,00:32:27,00:32:27,0.0,...,0,0,0,0,0,0,0,0,0,1
53,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,00:32:54,00:32:54,0.0,...,0,0,0,0,0,0,0,0,0,1
65,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,00:39:27,00:39:27,0.0,...,0,0,0,0,0,0,0,0,0,1
67,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,00:42:22,00:42:22,0.0,...,0,0,0,0,0,0,0,0,0,1
75,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,00:44:09,00:44:09,0.0,...,0,0,0,0,0,0,0,0,0,1
108,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,00:56:36,00:56:36,0.0,...,0,0,0,0,0,0,0,0,0,1
113,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,01:19:45,01:19:45,0.0,...,0,0,0,0,0,0,0,0,0,1
144,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,01:26:49,01:26:49,0.0,...,0,0,0,0,0,0,0,0,0,1
161,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,01:30:06,01:30:06,0.0,...,0,0,0,0,0,0,0,0,0,1
162,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,01:30:24,01:30:24,0.0,...,0,0,0,0,0,0,0,0,0,1
178,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,01:31:44,01:31:44,0.0,...,0,0,0,0,0,0,0,0,0,1
202,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,01:42:28,01:42:28,0.0,...,0,0,0,0,0,0,0,0,0,1
204,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,01:44:44,01:44:44,0.0,...,0,0,0,0,0,0,0,0,0,1
205,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,01:46:32,01:46:32,0.0,...,0,0,0,0,0,0,0,0,0,1
213,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,01:47:56,01:47:56,0.0,...,0,0,0,0,0,0,0,0,0,1
258,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,02:01:15,02:01:15,0.0,...,0,0,0,0,0,0,0,0,0,1
260,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,02:02:28,02:02:28,0.0,...,0,0,0,0,0,0,0,0,0,1

In [378]:
#penal cometido

colname = 'falta-Penal-cometido'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='penal cometido'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido]
Index: []

[0 rows x 45 columns]

In [379]:
#penal_recibido

colname = 'falta-Penal-recibido'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='penal recibido'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido]
Index: []

[0 rows x 46 columns]

In [380]:
#offside

colname = 'falta-Offside'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='offside'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Gambeta-contra-Perdida,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida,falta-Recibida,falta-Penal-cometido,falta-Penal-recibido,falta-Offside
109,2022/07/13,pases Newells,pases,13:04:47,15:19:37,falta,NaN,00:59:41,00:59:41,0.0,...,0,0,0,0,0,0,0,0,0,1

In [381]:
#tarjeta amarilla

colname = 'falta-Tarjeta-amarilla'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='hecha'):
        if (data_eventos.loc[i+1,'Evento']=='tarjeta') & (data_eventos.loc[i+1,'Subevento']=='amarilla'):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla]
Index: []

[0 rows x 48 columns]

In [382]:
#tarjeta roja

colname = 'falta-Tarjeta-roja'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='hecha'):
        if (data_eventos.loc[i+1,'Evento']=='tarjeta') & (data_eventos.loc[i+1,'Subevento']=='roja'):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja]
Index: []

[0 rows x 49 columns]

# Recuperacion

- robo
- encontradas
- intercepcion suelo
- intercepcion aereo
- intercepcion anticipo
- disputa suelo

In [383]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       rebote/despeje               4
              salvada/atajada              2
falta         hecha                        6
              offside                      1
              recibida                    19
pase          centro aereo                 5
              corto                      160
              largo                        5
              medio                       15
              s arquero pie                6
perdida       atajada                      7
              balon afuera fondo           8
              balon afuera lateral         2
              interceptado                19
remate cabeza dificil                      2
remate pie    corta distancia              7
              larga distancia              1
              media distancia              1

In [384]:
colname = 'recuperacion-Robo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if ((data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='robo')):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo]
Index: []

[0 rows x 50 columns]

In [385]:
#encontrada

colname = 'recuperacion-Encontrada'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='encontrada'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada]
Index: []

[0 rows x 51 columns]

In [386]:
#intercepcion suelo

colname = 'recuperacion-Intercepcion-suelo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='intercepcion'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo]
Index: []

[0 rows x 52 columns]

In [387]:
#intercepcion aereo

colname = 'recuperacion-Intercepcion-aereo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='intercepcion aereo'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo]
Index: []

[0 rows x 53 columns]

In [388]:
#intercepcion anticipo

colname = 'recuperacion-Intercepcion-anticipo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion'):
        if ('anticipo' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo]
Index: []

[0 rows x 54 columns]

In [389]:
#disputa suelo

colname = 'recuperacion-Disputa-suelo'
data_eventos[colname] = 0

for i in range(len(data_eventos)-1):
    #if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='disputa suelo'):
        if (data_eventos.loc[i,'Evento'] == 'recuperacion') & (data_eventos.loc[i,'Subevento'] == 'duelo'): 
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo]
Index: []

[0 rows x 55 columns]

# Pelota parada

- lateral completado
- lateral interceptado
- corner completado
- corner interceptado
- tiro libre

In [390]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       rebote/despeje               4
              salvada/atajada              2
falta         hecha                        6
              offside                      1
              recibida                    19
pase          centro aereo                 5
              corto                      160
              largo                        5
              medio                       15
              s arquero pie                6
perdida       atajada                      7
              balon afuera fondo           8
              balon afuera lateral         2
              interceptado                19
remate cabeza dificil                      2
remate pie    corta distancia              7
              larga distancia              1
              media distancia              1

In [391]:
#lateral

colname1 = 'parado-Lateral-interceptado'
data_eventos[colname1] = 0
colname2 = 'parado-Lateral-completado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if ('lateral' in data_eventos.loc[i,'Subevento']):

            if ((data_eventos.loc[i+1,'Evento']=='perdida') & (data_eventos.loc[i+1,'Subevento']=='intercepcion')):
                data_eventos.loc[i,colname1] = 1
            if (data_eventos.loc[i+1,'Evento']=='duelo') & ((data_eventos.loc[i+1,'Subevento']=='aereo') | (data_eventos.loc[i+1,'Subevento']=='disputa suelo')):
                if (data_eventos.loc[i+2,'Evento']=='perdida') & (data_eventos.loc[i+2,'Subevento']=='duelo'):
                    data_eventos.loc[i,colname1] = 1
                
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if ('lateral' in data_eventos.loc[i,'Subevento']):
            if (data_eventos.loc[i,colname1]!= 1):
                data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado]
Index: []

[0 rows x 57 columns]

In [392]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado]
Index: []

[0 rows x 57 columns]

In [393]:
#corner

colname1 = 'parado-Corner-interceptado'
data_eventos[colname1] = 0
colname2 = 'parado-Corner-completado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i,'Subevento']=='tiro de esquina'):

            if ('intercep' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname1] = 1
            if (data_eventos.loc[i+1,'Evento']=='duelo') & ((data_eventos.loc[i+1,'Subevento']=='aereo') | (data_eventos.loc[i+1,'Subevento']=='disputa suelo')):
                if (data_eventos.loc[i+2,'Evento']=='perdida') & (data_eventos.loc[i+2,'Subevento']=='duelo'):
                    data_eventos.loc[i,colname1] = 1
                
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i,'Subevento']=='tiro de esquina'):
            if (data_eventos.loc[i,colname1]!= 1):
                data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado]
Index: []

[0 rows x 59 columns]

In [394]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado]
Index: []

[0 rows x 59 columns]

In [395]:
#tiro libre
colname1 = 'parado-Tiro-libre-incompleto'
data_eventos[colname1] = 0
colname2 = 'parado-Tiro-libre-completado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pelota parada') & (data_eventos.loc[i,'Subevento']=='tiro libre') :
        if(data_eventos.loc[i+1,'Evento'] == 'perdida'):
            data_eventos.loc[i,colname1] = 1

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i,'Subevento']=='tiro libre'):
            if (data_eventos.loc[i,colname1]!= 1):
                data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado]
Index: []

[0 rows x 61 columns]

In [396]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado]
Index: []

[0 rows x 61 columns]

# Perdida

- gambeta a favor
- robo
- intercepcion
- error tecnico
- balon afuera
- genero situacion rival
- genero gol rival
- atajada rival

In [397]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       rebote/despeje               4
              salvada/atajada              2
falta         hecha                        6
              offside                      1
              recibida                    19
pase          centro aereo                 5
              corto                      160
              largo                        5
              medio                       15
              s arquero pie                6
perdida       atajada                      7
              balon afuera fondo           8
              balon afuera lateral         2
              interceptado                19
remate cabeza dificil                      2
remate pie    corta distancia              7
              larga distancia              1
              media distancia              1

In [398]:
# data_eventos = data_eventos[~data_eventos.Subevento.isna()].reset_index(drop=True)

In [399]:
data_eventos[data_eventos.Evento == 'perdida']

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,recuperacion-Intercepcion-suelo,recuperacion-Intercepcion-aereo,recuperacion-Intercepcion-anticipo,recuperacion-Disputa-suelo,parado-Lateral-interceptado,parado-Lateral-completado,parado-Corner-interceptado,parado-Corner-completado,parado-Tiro-libre-incompleto,parado-Tiro-libre-completado
7,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,00:19:19,00:19:19,0.0,...,0,0,0,0,0,0,0,0,0,0
11,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,00:19:40,00:19:40,0.0,...,0,0,0,0,0,0,0,0,0,0
13,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,00:20:17,00:20:17,0.0,...,0,0,0,0,0,0,0,0,0,0
26,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,00:24:54,00:24:54,0.0,...,0,0,0,0,0,0,0,0,0,0
36,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,00:29:54,00:29:54,0.0,...,0,0,0,0,0,0,0,0,0,0
39,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,00:30:11,00:30:11,0.0,...,0,0,0,0,0,0,0,0,0,0
47,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,00:32:18,00:32:18,0.0,...,0,0,0,0,0,0,0,0,0,0
52,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,00:32:50,00:32:50,0.0,...,0,0,0,0,0,0,0,0,0,0
55,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,00:34:02,00:34:02,0.0,...,0,0,0,0,0,0,0,0,0,0
57,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,00:37:05,00:37:05,0.0,...,0,0,0,0,0,0,0,0,0,0
61,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,00:38:31,00:38:31,0.0,...,0,0,0,0,0,0,0,0,0,0
78,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,00:45:43,00:45:43,0.0,...,0,0,0,0,0,0,0,0,0,0
85,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,00:46:56,00:46:56,0.0,...,0,0,0,0,0,0,0,0,0,0
88,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,00:49:46,00:49:46,0.0,...,0,0,0,0,0,0,0,0,0,0
91,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,00:50:31,00:50:31,0.0,...,0,0,0,0,0,0,0,0,0,0
112,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,01:00:32,01:00:32,0.0,...,0,0,0,0,0,0,0,0,0,0
116,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,01:22:31,01:22:31,0.0,...,0,0,0,0,0,0,0,0,0,0
123,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,01:23:48,01:23:48,0.0,...,0,0,0,0,0,0,0,0,0,0
129,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,01:24:09,01:24:09,0.0,...,0,0,0,0,0,0,0,0,0,0
138,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,01:25:03,01:25:03,0.0,...,0,0,0,0,0,0,0,0,0,0
141,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,01:25:34,01:25:34,0.0,...,0,0,0,0,0,0,0,0,0,0
143,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,01:25:43,01:25:43,0.0,...,0,0,0,0,0,0,0,0,0,0
160,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,01:28:56,01:28:56,0.0,...,0,0,0,0,0,0,0,0,0,0
167,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,01:31:03,01:31:03,0.0,...,0,0,0,0,0,0,0,0,0,0
176,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,01:31:29,01:31:29,0.0,...,0,0,0,0,0,0,0,0,0,0
186,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,01:34:13,01:34:13,0.0,...,0,0,0,0,0,0,0,0,0,0
192,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,01:36:16,01:36:16,0.0,...,0,0,0,0,0,0,0,0,0,0
201,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,01:42:18,01:42:18,0.0,...,0,0,0,0,0,0,0,0,0,0
212,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,01:46:55,01:46:55,0.0,...,0,0,0,0,0,0,0,0,0,0
215,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,01:48:38,01:48:38,0.0,...,0,0,0,0,0,0,0,0,0,0
226,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,01:49:49,01:49:49,0.0,...,0,0,0,0,0,0,0,0,0,0
256,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,01:59:50,01:59:50,0.0,...,0,0,0,0,0,0,0,0,0,0
265,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,02:06:06,02:06:06,0.0,...,0,0,0,0,0,0,0,0,0,0
268,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,02:07:25,02:07:25,0.0,...,0,0,0,0,0,0,0,0,0,0
272,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,02:08:15,02:08:15,0.0,...,0,0,0,0,0,0,0,0,0,0
274,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,00:26:38,00:26:38,0.0,...,0,0,0,0,0,0,0,0,0,0

In [400]:
#gambeta a favor

colname = 'perdida-Gambeta'
data_eventos[colname] = 0

# for i in range(len(data_eventos)):
#     #if (data_eventos.loc[i-1,'Evento']=='duelo') & (data_eventos.loc[i-1,'Subevento']=='gambeta a favor'):
#         if (data_eventos.loc[i,'Evento'] == 'perdida') & (data_eventos.loc[i,'Subevento'] == 'duelo'): 
#             data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta]
Index: []

[0 rows x 62 columns]

In [401]:
#robo

colname = 'perdida-Robo'
data_eventos[colname] = 0

# for i in range(len(data_eventos)):
#     if (data_eventos.loc[i,'Evento']=='perdida') & ((data_eventos.loc[i,'Subevento']=='robo')):
#             data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo]
Index: []

[0 rows x 63 columns]

In [402]:
#intercepcion

colname = 'perdida-Intercepcion'
data_eventos[colname] = 0

# for i in range(len(data_eventos)):
#     if (data_eventos.loc[i,'Evento']=='perdida') & ('intercep' in str(data_eventos.loc[i,'Subevento'])):
#         data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion]
Index: []

[0 rows x 64 columns]

In [403]:
#error tecnico

colname = 'perdida-Error-tecnico'
data_eventos[colname] = 0

# for i in range(len(data_eventos)):
#     if (data_eventos.loc[i,'Evento']=='perdida') & (data_eventos.loc[i,'Subevento']=='error tecnico'):
#             data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico]
Index: []

[0 rows x 65 columns]

In [404]:
#balon afuera

colname = 'perdida-Balon-fuera'
data_eventos[colname] = 0

# for i in range(len(data_eventos)):
#     if (data_eventos.loc[i,'Evento']=='perdida'):
#         if ('balon afuera' in str(data_eventos.loc[i,'Subevento'])):
#             data_eventos.loc[i,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera]
Index: []

[0 rows x 66 columns]

In [405]:
#situacion rival

colname = 'perdida-Error-tactico'
data_eventos[colname] = 0

# for i in range(len(data_eventos)):
#     if (data_eventos.loc[i,'Evento']=='perdida'):
#         if (data_eventos.loc[i,'Subevento']=='error tactico'):
#             data_eventos.loc[i,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico]
Index: []

[0 rows x 67 columns]

In [406]:
#atajada

colname = 'perdida-Atajada'
data_eventos[colname] = 0

# for i in range(len(data_eventos)):
#     if (data_eventos.loc[i,'Evento']=='perdida'):
#         if (data_eventos.loc[i,'Subevento']=='atajada'):
#             data_eventos.loc[i,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico, perdida-Atajada]
Index: []

[0 rows x 68 columns]

# Arquero

- gol en contra
- atajada facil
- atajada dificil
- mano a mano
- rebote
- intercepcion aereo
- intercepcion aereo anticipo
- completado
- interceptado
- saque arquero pie
- saque arquero mano
- saque meta
- pase


Cuando pongo el gol rival, atajadas y rebotes, tengo q poner q todas las cosas se marquen como arquero-x:
- el remate rival (coordenadas inicial y final)
- la atajada (coordenada inicial)
- rebote (coordenada incial y final)
- el centro (si hay intercepcion aereo) , etc

In [407]:
data[data['Jugador 1'] == 1].groupby(['Evento','Subevento']).size().to_frame('cantidad')

                         cantidad
Evento  Subevento
arquero rebote/despeje          4
        salvada/atajada         2
pase    corto                   4
        largo                   5
        medio                   2
        s arquero pie           6
perdida interceptado            4

In [408]:
#gol rival

colname1 = 'arquero-Gol-rival'
data_eventos[colname1] = 0
colname2 = 'arquero-Gol-rival-atajable'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='gol rival'):
        data_eventos.loc[i,colname1] = 1
        if ('remate atajable' in data_eventos.loc[i+1,'Subevento']):
            data_eventos.loc[i,colname2] = 1
        

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable]
Index: []

[0 rows x 70 columns]

In [409]:
#atajada

colname = 'arquero-Atajada'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='arquero'):
        if ('atajada' in data_eventos.loc[i,'Subevento']) | (data_eventos.loc[i,'Subevento']=='mano a mano'):
            data_eventos.loc[i,colname] = 1
            if ('remate' in data_eventos.loc[i-1,'Evento']):
                data_eventos.loc[i-1,colname] = 1
            elif ('remate' in data_eventos.loc[i-2,'Evento']):
                data_eventos.loc[i-2,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,perdida-Gambeta,perdida-Robo,perdida-Intercepcion,perdida-Error-tecnico,perdida-Balon-fuera,perdida-Error-tactico,perdida-Atajada,arquero-Gol-rival,arquero-Gol-rival-atajable,arquero-Atajada
261,2022/07/13,pases Newells,pases,13:04:47,15:19:37,arquero,NaN,02:05:18,02:05:18,0.0,...,0,0,0,0,0,0,0,0,0,1
262,2022/07/13,pases Newells,pases,13:04:47,15:19:37,arquero,NaN,02:05:37,02:05:37,0.0,...,0,0,0,0,0,0,0,0,0,1

In [410]:
# #mano a mano
# data_eventos_con_rival = data.copy().reset_index(drop=True)

# colname = 'arquero-mano_a_mano'
# data_eventos_con_rival[colname] = 0

# for i in range(len(data_eventos_con_rival)):
#     if (data_eventos_con_rival.loc[i,'Evento']=='arquero'):
#         if ('mano a mano' in data_eventos_con_rival.loc[i,'Subevento']):
#             data_eventos_con_rival.loc[i,colname] = 1
#             if ('remate' in data_eventos_con_rival.loc[i-1,'Evento']):
#                 data_eventos_con_rival.loc[i,'Posicion incial'] = data_eventos_con_rival.loc[i-1,'Posicion incial']
#                 data_eventos_con_rival.loc[i,'Posicion final'] = data_eventos_con_rival.loc[i-1,'Posicion final']
#                 data_eventos_con_rival.loc[i,'coord inicial'] = data_eventos_con_rival.loc[i-1,'coord inicial']
#                 data_eventos_con_rival.loc[i,'coord final'] = data_eventos_con_rival.loc[i-1,'coord final']


# data_eventos_con_rival.loc[data_eventos_con_rival[colname] == 1]

In [411]:
#intercepcion aereo

colname = 'arquero-Intercepcion-aerea'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Jugador 1']==1):
        if ('intercepcion aereo' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea]
Index: []

[0 rows x 72 columns]

In [412]:
#intercepcion

colname = 'arquero-Intercepcion'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Jugador 1']==1):
        if (data_eventos.loc[i,'Subevento']=='intercepcion'):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion]
Index: []

[0 rows x 73 columns]

In [413]:
#anticipo

colname = 'arquero-Anticipo'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Jugador 1']==1):
        if ('anticipo' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion, arquero-Anticipo]
Index: []

[0 rows x 74 columns]

In [414]:
#saque arquero mano

colname = 'arquero-Saque-mano'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Jugador 1']==1):
        if ('s arquero mano' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion, arquero-Anticipo, arquero-Saque-mano]
Index: []

[0 rows x 75 columns]

In [415]:
#saque arquero pie

colname = 'arquero-Saque-pie'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Jugador 1']==1):
        if ('s arquero pie' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,perdida-Error-tactico,perdida-Atajada,arquero-Gol-rival,arquero-Gol-rival-atajable,arquero-Atajada,arquero-Intercepcion-aerea,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie
12,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:20:16,00:20:16,0.0,...,0,0,0,0,0,0,0,0,0,1
56,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:37:05,00:37:05,0.0,...,0,0,0,0,0,0,0,0,0,1
77,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:45:31,00:45:31,0.0,...,0,0,0,0,0,0,0,0,0,1
94,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:52:17,00:52:17,0.0,...,0,0,0,0,0,0,0,0,0,1
119,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,01:23:32,01:23:32,0.0,...,0,0,0,0,0,0,0,0,0,1
168,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,01:31:12,01:31:12,0.0,...,0,0,0,0,0,0,0,0,0,1

In [416]:
#saque de meta

colname = 'arquero-Saque-meta'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada') & (data_eventos.loc[i,'Jugador 1']==1):
        if ('saque de meta' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion, arquero-Anticipo, arquero-Saque-mano, arquero-Saque-pie, arquero-Saque-meta]
Index: []

[0 rows x 77 columns]

In [417]:
data_eventos.columns = [col.replace(' ','.') for col in data_eventos.columns]

In [418]:
data_eventos.iloc[:,:20]

,Session.Start.Date,tiempo,partido,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),coord.final,Jugador.2,Calificacion,coord.inicial,Jugador.1,Subevento,Optional.Column,segundos,remate-Gol,remate-Fuera
0,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:18:29,00:18:29,0.0,11,5,NaN,14.0,9.0,corto,NaN,1109.0,0,0
1,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:18:33,00:18:33,0.0,9,4,NaN,11.0,5.0,corto,NaN,1113.0,0,0
2,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:18:38,00:18:38,0.0,15,9,NaN,9.0,4.0,medio,NaN,1118.0,0,0
3,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:19:05,00:19:05,0.0,18,8,NaN,18.0,4.0,corto,NaN,1145.0,0,0
4,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,00:19:10,00:19:10,0.0,14,5,NaN,17.0,8.0,corto,NaN,1150.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,2022/07/13,pases Newells,pases,13:04:47,15:19:37,pase,NaN,02:08:14,02:08:14,0.0,24,16,NaN,18.0,19.0,corto,NaN,7694.0,0,0
272,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,02:08:15,02:08:15,0.0,Volver,NaN,NaN,18.0,19.0,balon afuera fondo,NaN,7695.0,0,0
273,2022/07/13,pases Newells,pases,13:04:47,15:19:37,remate cabeza,NaN,00:26:36,00:26:36,0.0,22,Rival,NaN,21.0,9.0,dificil,NaN,1596.0,0,1
274,2022/07/13,pases Newells,pases,13:04:47,15:19:37,perdida,NaN,00:26:38,00:26:38,0.0,Volver,NaN,NaN,21.0,9.0,balon afuera fondo,NaN,1598.0,0,0
275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

# Crear coordenadas

- Primero mapear la media de coordenadas para cada sector
- Segundo agregar aleatoriedad

In [419]:
data_eventos['coord.inicial'].value_counts()

17.0    35
10.0    25
18.0    24
7.0     22
13.0    19
15.0    18
16.0    17
14.0    16
8.0     15
3.0     13
9.0     12
11.0    12
4.0      8
12.0     8
24.0     7
23.0     6
21.0     6
20.0     3
19.0     2
1.0      2
2.0      1
Name: coord.inicial, dtype: int64

In [420]:
data_eventos['coord.final'].value_counts()

Volver    74
18        23
17        22
10        20
16        18
13        16
8         14
15        13
14        12
7         11
22        11
9          8
11         7
21         5
12         5
23         4
2          3
24         3
20         2
4          2
1          1
19         1
Name: coord.final, dtype: int64

In [421]:
map_zona_coord_x = {  
1:22,
2:21,
3:12,
4:33,
5:21,
6:20,
7:68,
8:66,
9:65,
10:109,
11:108,
12:105,
13:162,
14:161,
15:160,
16:205,
17:203,
18:203,
19:251,
20:250,
21:238,
22:260,
23:250,
24:250
}

In [422]:
map_zona_coord_y = {  
1:18,
2:43,
3:82,
4:83,
5:117,
6:147,
7:22,
8:81,
9:141,
10:22,
11:82,
12:138,
13:21,
14:81,
15:142,
16:23,
17:80,
18:141,
19:20,
20:45,
21:80,
22:81,
23:119,
24:147
}

In [423]:
data_eventos['coord.final.num'] = np.where(data_eventos['coord.final'] == 'Volver',None, data_eventos['coord.final']).astype('float')

In [424]:
data_eventos['coord.inicial.x'] = data_eventos['coord.inicial'].map(map_zona_coord_x)
data_eventos['coord.final.x'] = data_eventos['coord.final.num'].map(map_zona_coord_x)
data_eventos['coord.inicial.y'] = data_eventos['coord.inicial'].map(map_zona_coord_y)
data_eventos['coord.final.y'] = data_eventos['coord.final.num'].map(map_zona_coord_y)
data_eventos.iloc[:,-5:]

,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,11.0,161.0,108.0,81.0,82.0
1,9.0,108.0,65.0,82.0,141.0
2,15.0,65.0,160.0,141.0,142.0
3,18.0,203.0,203.0,141.0,141.0
4,14.0,203.0,161.0,80.0,81.0
...,...,...,...,...,...
271,24.0,203.0,250.0,141.0,147.0
272,NaN,203.0,NaN,141.0,NaN
273,22.0,238.0,260.0,80.0,81.0
274,NaN,238.0,NaN,80.0,NaN
275,NaN,NaN,NaN,NaN,NaN

In [425]:
data_eventos['coord.inicial.x'].describe() # de 0 a 272

count    271.000000
mean     142.206642
std       68.323534
min       12.000000
25%       68.000000
50%      160.000000
75%      203.000000
max      251.000000
Name: coord.inicial.x, dtype: float64

In [426]:
# añadirles aleatoriedad
data_eventos['coord.inicial.x'] = data_eventos['coord.inicial.x'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.inicial.x'].describe()

count    271.000000
mean     141.091703
std       69.111850
min        2.096403
25%       82.016316
50%      150.412889
75%      202.908306
max      262.601875
Name: coord.inicial.x, dtype: float64

In [427]:
data_eventos['coord.inicial.x'] = np.where(data_eventos['coord.inicial.x']<0, 0, data_eventos['coord.inicial.x'])
data_eventos['coord.inicial.x'] = np.where(data_eventos['coord.inicial.x']>272, 272, data_eventos['coord.inicial.x'])

In [428]:
data_eventos['coord.inicial.y'].describe() # de 0 a 162

count    271.000000
mean      77.719557
std       45.899031
min       18.000000
25%       22.000000
50%       81.000000
75%      138.000000
max      147.000000
Name: coord.inicial.y, dtype: float64

In [429]:
data_eventos['coord.inicial.y'] = data_eventos['coord.inicial.y'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.inicial.y'].describe() # de 0 a 162

count    271.000000
mean      78.286855
std       46.153575
min        1.608052
25%       34.125957
50%       77.999246
75%      122.440714
max      160.947046
Name: coord.inicial.y, dtype: float64

In [430]:
data_eventos['coord.inicial.y'] = np.where(data_eventos['coord.inicial.y']<0, 0, data_eventos['coord.inicial.y'])
data_eventos['coord.inicial.y'] = np.where(data_eventos['coord.inicial.y']>162, 162, data_eventos['coord.inicial.y'])

In [431]:
data_eventos['coord.final.x'] = data_eventos['coord.final.x'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.final.x'] = np.where(data_eventos['coord.final.x']<0, 0, data_eventos['coord.final.x'])
data_eventos['coord.final.x'] = np.where(data_eventos['coord.final.x']>272, 272, data_eventos['coord.final.x'])

In [432]:
data_eventos['coord.final.y'] = data_eventos['coord.final.y'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.final.y'] = np.where(data_eventos['coord.final.y']<0, 0, data_eventos['coord.final.y'])
data_eventos['coord.final.y'] = np.where(data_eventos['coord.final.y']>162, 162, data_eventos['coord.final.y'])

In [433]:
data_eventos.iloc[:,-5:]

,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,11.0,150.273337,119.231393,82.053293,91.307659
1,9.0,88.953359,80.114737,92.916749,123.009878
2,15.0,65.332869,146.781376,130.044702,155.141366
3,18.0,215.021608,183.387491,136.639923,123.114333
4,14.0,201.152574,177.163279,74.207076,65.669339
...,...,...,...,...,...
271,24.0,205.234104,259.494863,140.144141,153.700247
272,NaN,208.272543,NaN,129.453943,NaN
273,22.0,242.614287,269.522140,65.686581,76.794665
274,NaN,220.371855,NaN,84.594949,NaN
275,NaN,NaN,NaN,NaN,NaN

In [434]:
round(data_eventos['coord.inicial.x'],0).astype('str')+','+round(data_eventos['coord.inicial.y'],0).astype('str')

0       150.0,82.0
1        89.0,93.0
2       65.0,130.0
3      215.0,137.0
4       201.0,74.0
          ...
271    205.0,140.0
272    208.0,129.0
273     243.0,66.0
274     220.0,85.0
275        nan,nan
Length: 276, dtype: object

In [435]:
# pasar en ambos formatos. Crear las dos cols originales q sean strings

data_eventos['coord.inicial'] = round(data_eventos['coord.inicial.x'],0).astype('str').str.split('.').str[0]+','+round(data_eventos['coord.inicial.y'],0).astype('str').str.split('.').str[0]
data_eventos['coord.final'] = round(data_eventos['coord.final.x'],0).astype('str').str.split('.').str[0]+','+round(data_eventos['coord.final.y'],0).astype('str').str.split('.').str[0]

In [436]:
data_eventos['coord.inicial'] = np.where(data_eventos['coord.inicial']=='nan,nan', None, data_eventos['coord.inicial'])
data_eventos['coord.final'] = np.where(data_eventos['coord.final']=='nan,nan', None, data_eventos['coord.final'])

In [437]:
data_eventos[['coord.inicial','coord.final']]

    coord.inicial coord.final
0          150,82      119,91
1           89,93      80,123
2          65,130     147,155
3         215,137     183,123
4          201,74      177,66
..            ...         ...
271       205,140     259,154
272       208,129        None
273        243,66      270,77
274        220,85        None
275          None        None

[276 rows x 2 columns]

# Escribir tabla filtros

In [438]:
data_eventos = data_eventos[~data_eventos['partido'].isna()].reset_index(drop=True)

In [439]:
data_eventos['partido'] = 'Newells'

In [440]:
data_eventos.tail()

,Session.Start.Date,tiempo,partido,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
270,2022/07/13,pases Newells,Newells,13:04:47,15:19:37,pase,NaN,02:08:11,02:08:11,0.0,...,0,0,0,0,0,18.0,218.976325,222.711686,61.908675,160.479105
271,2022/07/13,pases Newells,Newells,13:04:47,15:19:37,pase,NaN,02:08:14,02:08:14,0.0,...,0,0,0,0,0,24.0,205.234104,259.494863,140.144141,153.700247
272,2022/07/13,pases Newells,Newells,13:04:47,15:19:37,perdida,NaN,02:08:15,02:08:15,0.0,...,0,0,0,0,0,NaN,208.272543,NaN,129.453943,NaN
273,2022/07/13,pases Newells,Newells,13:04:47,15:19:37,remate cabeza,NaN,00:26:36,00:26:36,0.0,...,0,0,0,0,0,22.0,242.614287,269.522140,65.686581,76.794665
274,2022/07/13,pases Newells,Newells,13:04:47,15:19:37,perdida,NaN,00:26:38,00:26:38,0.0,...,0,0,0,0,0,NaN,220.371855,NaN,84.594949,NaN

In [441]:
data_eventos.partido.value_counts()

Newells    275
Name: partido, dtype: int64

In [442]:
data_eventos.to_csv("../Datos generados para la app/reserva02-22-fecha5_newells-tabla_filtros2.csv",index=False)