In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import glob
import os
#pd.set_option('display.max_rows', 200)

# Carga de datos

In [49]:
# merging the files
files_joined = os.path.join('..\\..\\datos etiquetas\\Tem2-2022\\Fecha 8 - Tigre', "*.csv")

# Return a list of all joined files
list_files = glob.glob(files_joined)

#print("** Merging multiple csv files into a single pandas dataframe **")
# Merge files by joining all files
data = pd.concat(map(pd.read_csv, list_files), ignore_index=True)

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Session Start Date   418 non-null    object
 1   Event                418 non-null    object
 2   Session Name         418 non-null    object
 3   Session Start        418 non-null    object
 4   Session End          418 non-null    object
 5   Tag Description      418 non-null    object
 6   Tag Notes            0 non-null      float64
 7   Tag Start            418 non-null    object
 8   Tag End              418 non-null    object
 9   Tag Duration (secs)  418 non-null    float64
 10  Zonas_final          418 non-null    object
 11  Jugador2             347 non-null    object
 12  Jugador              411 non-null    float64
 13  Calificacion         1 non-null      object
 14  Zonas                413 non-null    float64
 15  Categoria            413 non-null    object
 16  Optional Column      0 non-null      float64
dtypes: float64(5), object(12)
memory usage: 55.6+ KB

In [51]:
# data.columns = ['Session Start Date','partido','tiempo','Session Start',
#        'Session End','Evento','Tag Notes','Tag Start', 'Tag End',
#        'Tag Duration (secs)','coord inicial','Subevento','Jugador 2','Jugador 1','coord final','Optional Column']

data.columns = ['Session Start Date','tiempo','partido','Session Start',
       'Session End','Evento','Tag Notes','Tag Start', 'Tag End',
       'Tag Duration (secs)','coord final','Jugador 2','Jugador 1','Calificacion','coord inicial','Subevento','Optional Column']

In [52]:
'''TIEMPO'''

from datetime import timedelta

def seconder(x):
    hr, mins, secs = map(float, x.split(':'))
    td = timedelta(hours= hr, minutes=mins, seconds=secs)
    return td.total_seconds()
data['segundos'] = data['Tag Start'].apply(seconder)

In [53]:
data = data.append(data.iloc[-1,:]).reset_index(drop=True)
data.loc[-1,'Evento'] = np.nan
data.loc[-1,'Subevento'] = np.nan
data = data.drop_duplicates()
data = data.reset_index(drop=True)

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 419 entries, 0 to 418
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Session Start Date   418 non-null    object
 1   tiempo               418 non-null    object
 2   partido              418 non-null    object
 3   Session Start        418 non-null    object
 4   Session End          418 non-null    object
 5   Evento               418 non-null    object
 6   Tag Notes            0 non-null      float64
 7   Tag Start            418 non-null    object
 8   Tag End              418 non-null    object
 9   Tag Duration (secs)  418 non-null    float64
 10  coord final          418 non-null    object
 11  Jugador 2            347 non-null    object
 12  Jugador 1            411 non-null    float64
 13  Calificacion         1 non-null      object
 14  coord inicial        413 non-null    float64
 15  Subevento            413 non-null    object
 16  Optional Column      0 non-null      float64
 17  segundos             418 non-null    float64
dtypes: float64(6), object(12)
memory usage: 59.0+ KB

In [55]:
data

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),coord final,Jugador 2,Jugador 1,Calificacion,coord inicial,Subevento,Optional Column,segundos
0,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,Falta,NaN,00:18:50,00:18:50,0.0,Volver,NaN,8.0,NaN,7.0,Hecha,NaN,1130.0
1,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,Pase,NaN,00:20:03,00:20:03,0.0,16,3,5.0,NaN,16.0,corto,NaN,1203.0
2,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,Pase,NaN,00:20:05,00:20:05,0.0,21,9,3.0,NaN,16.0,centro aereo,NaN,1205.0
3,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,Pase,NaN,00:20:57,00:20:57,0.0,2,6,1.0,NaN,3.0,S arquero pie,NaN,1257.0
4,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,Pase,NaN,00:21:05,00:21:05,0.0,5,2,6.0,NaN,2.0,corto,NaN,1265.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,Perdida,NaN,02:07:28,02:07:28,0.0,Volver,NaN,16.0,NaN,16.0,Atajada,NaN,7648.0
415,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,Pase,NaN,02:08:42,02:08:42,0.0,10,3,5.0,NaN,11.0,corto,NaN,7722.0
416,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,Pase,NaN,02:08:49,02:08:49,0.0,21,19,3.0,NaN,16.0,centro aereo,NaN,7729.0
417,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,Perdida,NaN,02:08:49,02:08:49,0.0,Volver,NaN,3.0,NaN,16.0,Interceptado,NaN,7729.0
418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
#data['segundos'] = np.random.randint(1, 600, data.shape[0])
#data

In [57]:
'''CORREGIR MAYUSCULAS Y COSAS DE EVENTOS'''

data['Evento'] = data['Evento'].str.lower().str.strip()
data['Subevento'] = data['Subevento'].str.lower().str.strip()

# Estadisticas basicas

In [59]:
# data.Evento = data.Evento.str.replace('tag','pase')

In [60]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                 cantidad
Evento     Subevento
arquero    rebote/despeje               2
           remate atajable              1
           remate no atajable           2
           salvada/atajada              1
falta      hecha                       14
           recibida                     3
gol rival  indirecta                    2
pase       centro aereo                 8
           corto                      280
           largo                        5
           medio                       29
           s arquero mano               2
           s arquero pie               14
perdida    atajada                      3
           balon afuera fondo           4
           balon afuera lateral         1
           interceptado                34
remate pie corta distancia              2
           media distancia              2
tarjeta    amarilla                     4

In [61]:
data.groupby(['Jugador 1','Evento','Subevento']).size().to_frame('cantidad')

                                         cantidad
Jugador 1 Evento     Subevento
1.0       arquero    rebote/despeje             2
                     remate atajable            1
                     remate no atajable         2
                     salvada/atajada            1
          pase       corto                     12
...                                           ...
19.0      pase       corto                      1
20.0      pase       corto                      5
          perdida    balon afuera fondo         1
                     interceptado               1
          remate pie media distancia            1

[76 rows x 1 columns]

# Filtros para la app

Disparos
---
- gol
- fuera
- al arco
- interceptado
- cabeza

Pase
---
- asistencia
- completado
- interceptado
- fuera
- inteligente

Centros
---
- asistencia
- completado
- interceptado
- bloqueado
- fuera

Duelos
---
- ganado
- perdido
- duelo aereo
- disputa suelo
- gambeta en contra
- gambeta a favor
- pivote

Faltas
---
- falta cometida
- falta recibida
- penal
- tarjeta amarilla
- tarjeta roja
- off-side

Recuperacion
---
- robo
- encontradas
- intercepcion suelo
- intercepcion aereo
- intercepcion anticipo
- disputa suelo

Pelota parada
---
- lateral completado
- lateral interceptado
- corner completado
- corner interceptado
- tiro libre

Perdida
---
- gambeta a favor
- robo
- intercepcion suelo
- intercepcion aereo
- error tecnico
- balon afuera
- genero situacion rival
- genero gol rival
- atajada rival

Arquero
---
- gol en contra
- atajada facil
- atajada dificil
- mano a mano
- rebote
- intercepcion aereo
- intercepcion aereo anticipo
- completado
- interceptado
- saque arquero pie
- saque arquero mano
- saque meta
- pase


LO QUE HAY QUE HACER ES CREAR UNA COLUMNA POR CADA UNO DE ESOS FILTROS CON 0-1. QUEDAR CON UNA SOLA FILA POR ACCION.

In [62]:
data_eventos = data.copy()
data_eventos.shape

(419, 18)

# Disparos

- gol: siempre tiene que haber un disparo antes de un gol? Que pasa cuando es en contra, por ejemplo. Asegurarse que siempre antes de un gol poner disparo porque si no no lo toma aca
- fuera: asegurarse de poner que pasa siempre despues de los remates
- al arco: tiene que haber una perdida en evento y atajada en subevento, desupes de un remate
- interceptado
- cabeza

In [63]:
#gol
'''si data[i] es remate y data[i+1] es gol'''

data_eventos['remate-Gol'] = 0
for i in range(len(data_eventos)-1):
    #if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') | (data_eventos.loc[i,'Evento']=='pelota parada'):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') :
        if (data_eventos.loc[i+1,'Evento']=='gol'):
            data_eventos.loc[i,'remate-Gol'] = 1
            
data_eventos.loc[data_eventos['remate-Gol'] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol]
Index: []

In [64]:
#fuera
'''si data[i] es remate y data[i+1] es perdida balon fuera'''
colname = 'remate-Fuera'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza'):
        if (data_eventos.loc[i+1,'Evento']=='perdida'):
            if('balon afuera' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),coord final,Jugador 2,Jugador 1,Calificacion,coord inicial,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera
187,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,remate pie,NaN,00:53:33,00:53:33,0.0,22,Rival,7.0,NaN,21.0,corta distancia,NaN,3213.0,0,1
373,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,remate pie,NaN,01:55:34,01:55:34,0.0,22,Rival,20.0,NaN,17.0,media distancia,NaN,6934.0,0,1

In [65]:
#al arco
'''si data[i] es remate y data[i+1] es perdida atajada'''

colname = 'remate-Al-arco'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza'):
        if (data_eventos.loc[i+1,'Evento']=='perdida'): 
            if('atajada' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Jugador 2,Jugador 1,Calificacion,coord inicial,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco
363,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,remate pie,NaN,01:51:52,01:51:52,0.0,...,Rival,11.0,NaN,21.0,corta distancia,NaN,6712.0,0,0,1
413,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,remate pie,NaN,02:07:27,02:07:27,0.0,...,Rival,16.0,NaN,16.0,media distancia,NaN,7647.0,0,0,1

In [66]:
#bloqueado
'''si data[i] es remate y data[i] es remate bloqueado o data[i+1] es perdida error tecnico'''

colname = 'remate-Interceptado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') :
        if (data_eventos.loc[i,'Subevento'] == 'remate bloqueado'): 
            data_eventos.loc[i,colname] = 1
        elif(data_eventos.loc[i+1,'Evento']=='perdida'):
            if('error tecnico' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado]
Index: []

[0 rows x 22 columns]

In [67]:
#cabeza
'''si data[i] es remate cabeza'''

colname = 'remate-Cabeza'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='remate cabeza'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza]
Index: []

[0 rows x 23 columns]

# Pase

- asistencia
- completado
- interceptado
- fuera
- inteligente

In [68]:
data[data.Evento=='pase'].groupby(['Evento','Subevento']).size().to_frame('cantidad')

                       cantidad
Evento Subevento
pase   centro aereo           8
       corto                280
       largo                  5
       medio                 29
       s arquero mano         2
       s arquero pie         14

In [69]:
data[(data.Evento=='pase') ]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),coord final,Jugador 2,Jugador 1,Calificacion,coord inicial,Subevento,Optional Column,segundos
1,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:20:03,00:20:03,0.0,16,3,5.0,NaN,16.0,corto,NaN,1203.0
2,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:20:05,00:20:05,0.0,21,9,3.0,NaN,16.0,centro aereo,NaN,1205.0
3,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:20:57,00:20:57,0.0,2,6,1.0,NaN,3.0,s arquero pie,NaN,1257.0
4,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:21:05,00:21:05,0.0,5,2,6.0,NaN,2.0,corto,NaN,1265.0
5,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:21:10,00:21:10,0.0,2,6,2.0,NaN,9.0,medio,NaN,1270.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,02:07:15,02:07:15,0.0,13,3,6.0,NaN,13.0,corto,NaN,7635.0
411,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,02:07:19,02:07:19,0.0,13,18,3.0,NaN,13.0,corto,NaN,7639.0
412,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,02:07:23,02:07:23,0.0,16,16,18.0,NaN,13.0,corto,NaN,7643.0
415,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,02:08:42,02:08:42,0.0,10,3,5.0,NaN,11.0,corto,NaN,7722.0
416,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,02:08:49,02:08:49,0.0,21,19,3.0,NaN,16.0,centro aereo,NaN,7729.0

In [70]:
data_eventos.head()

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Calificacion,coord inicial,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza
0,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,falta,NaN,00:18:50,00:18:50,0.0,...,NaN,7.0,hecha,NaN,1130.0,0,0,0,0,0
1,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:20:03,00:20:03,0.0,...,NaN,16.0,corto,NaN,1203.0,0,0,0,0,0
2,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:20:05,00:20:05,0.0,...,NaN,16.0,centro aereo,NaN,1205.0,0,0,0,0,0
3,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:20:57,00:20:57,0.0,...,NaN,3.0,s arquero pie,NaN,1257.0,0,0,0,0,0
4,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:21:05,00:21:05,0.0,...,NaN,2.0,corto,NaN,1265.0,0,0,0,0,0

In [71]:
#asistencia
'''si data[i] es pase, data[i+1] es remate y data[i+2] es gol'''
colname = 'pase-Asistencia'
data_eventos[colname] = 0
for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Evento']=='pase'):
        if ('remate' in data_eventos.loc[i+1,'Evento']):
            if (data_eventos.loc[i+2,'Evento']=='gol'):
                data_eventos.loc[i,colname] = 1
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia]
Index: []

[0 rows x 24 columns]

In [72]:
##completado
'''si data[i] es pase no bloqueado y data[i+1] no es perdida interceptado o balon afuera'''

colname = 'pase-Completado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if ((data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']!='s arquero mano') & (data_eventos.loc[i,'Subevento']!='s arquero pie') & (data_eventos.loc[i,'Jugador 2'] != 'Rival')):
        if ((data_eventos.loc[i+1,'Evento'] != 'perdida') ):
            data_eventos.loc[i,colname] = 1
        
        #elif ('intercep' not in data_eventos.loc[i+1,'Subevento']) & ('balon afuera' not in data_eventos.loc[i+1,'Subevento']) & ('encontrad' not in data_eventos.loc[i+1,'Subevento']):
        #    data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado
1,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:20:03,00:20:03,0.0,...,corto,NaN,1203.0,0,0,0,0,0,0,1
2,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:20:05,00:20:05,0.0,...,centro aereo,NaN,1205.0,0,0,0,0,0,0,1
4,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:21:05,00:21:05,0.0,...,corto,NaN,1265.0,0,0,0,0,0,0,1
5,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:21:10,00:21:10,0.0,...,medio,NaN,1270.0,0,0,0,0,0,0,1
6,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:21:17,00:21:17,0.0,...,medio,NaN,1277.0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,02:07:11,02:07:11,0.0,...,corto,NaN,7631.0,0,0,0,0,0,0,1
410,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,02:07:15,02:07:15,0.0,...,corto,NaN,7635.0,0,0,0,0,0,0,1
411,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,02:07:19,02:07:19,0.0,...,corto,NaN,7639.0,0,0,0,0,0,0,1
412,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,02:07:23,02:07:23,0.0,...,corto,NaN,7643.0,0,0,0,0,0,0,1
415,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,02:08:42,02:08:42,0.0,...,corto,NaN,7722.0,0,0,0,0,0,0,1

In [73]:
data_eventos.loc[data_eventos[colname] == 1].Subevento.value_counts()

corto           259
medio            20
centro aereo      3
largo             2
Name: Subevento, dtype: int64

In [74]:
#Incompleto
'''si data[i] es pase no bloqueado y data[i+1] es perdida interceptado'''

colname = 'pase-Incompleto'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if ((data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']!='s arquero mano') & (data_eventos.loc[i,'Subevento']!='s arquero pie') ):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') ):
            #if ((data_eventos.loc[i,'pase-Completado'] != 1)):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado,pase-Incompleto
12,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:21:41,00:21:41,0.0,...,NaN,1301.0,0,0,0,0,0,0,0,1
19,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:22:13,00:22:13,0.0,...,NaN,1333.0,0,0,0,0,0,0,0,1
27,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:23:56,00:23:56,0.0,...,NaN,1436.0,0,0,0,0,0,0,0,1
48,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:25:46,00:25:46,0.0,...,NaN,1546.0,0,0,0,0,0,0,0,1
69,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:29:35,00:29:35,0.0,...,NaN,1775.0,0,0,0,0,0,0,0,1
76,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:29:56,00:29:56,0.0,...,NaN,1796.0,0,0,0,0,0,0,0,1
90,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:32:23,00:32:23,0.0,...,NaN,1943.0,0,0,0,0,0,0,0,1
102,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:33:56,00:33:56,0.0,...,NaN,2036.0,0,0,0,0,0,0,0,1
105,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:34:18,00:34:18,0.0,...,NaN,2058.0,0,0,0,0,0,0,0,1
112,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:36:36,00:36:36,0.0,...,NaN,2196.0,0,0,0,0,0,0,0,1
119,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:37:33,00:37:33,0.0,...,NaN,2253.0,0,0,0,0,0,0,0,1
128,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:39:13,00:39:13,0.0,...,NaN,2353.0,0,0,0,0,0,0,0,1
132,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:39:45,00:39:45,0.0,...,NaN,2385.0,0,0,0,0,0,0,0,1
156,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:46:44,00:46:44,0.0,...,NaN,2804.0,0,0,0,0,0,0,0,1
165,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:47:59,00:47:59,0.0,...,NaN,2879.0,0,0,0,0,0,0,0,1
171,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:49:45,00:49:45,0.0,...,NaN,2985.0,0,0,0,0,0,0,0,1
179,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:51:28,00:51:28,0.0,...,NaN,3088.0,0,0,0,0,0,0,0,1
184,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:53:25,00:53:25,0.0,...,NaN,3205.0,0,0,0,0,0,0,0,1
193,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:56:48,00:56:48,0.0,...,NaN,3408.0,0,0,0,0,0,0,0,1
196,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:58:18,00:58:18,0.0,...,NaN,3498.0,0,0,0,0,0,0,0,1
201,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:59:21,00:59:21,0.0,...,NaN,3561.0,0,0,0,0,0,0,0,1
205,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:59:46,00:59:46,0.0,...,NaN,3586.0,0,0,0,0,0,0,0,1
244,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,01:24:21,01:24:21,0.0,...,NaN,5061.0,0,0,0,0,0,0,0,1
256,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,01:26:03,01:26:03,0.0,...,NaN,5163.0,0,0,0,0,0,0,0,1
273,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,01:29:56,01:29:56,0.0,...,NaN,5396.0,0,0,0,0,0,0,0,1
292,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,01:33:20,01:33:20,0.0,...,NaN,5600.0,0,0,0,0,0,0,0,1
302,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,01:36:36,01:36:36,0.0,...,NaN,5796.0,0,0,0,0,0,0,0,1
307,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,01:37:08,01:37:08,0.0,...,NaN,5828.0,0,0,0,0,0,0,0,1
317,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,01:37:45,01:37:45,0.0,...,NaN,5865.0,0,0,0,0,0,0,0,1
320,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,01:38:56,01:38:56,0.0,...,NaN,5936.0,0,0,0,0,0,0,0,1
343,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,01:43:30,01:43:30,0.0,...,NaN,6210.0,0,0,0,0,0,0,0,1
348,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,01:47:08,01:47:08,0.0,...,NaN,6428.0,0,0,0,0,0,0,0,1
351,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,01:49:00,01:49:00,0.0,...,NaN,6540.0,0,0,0,0,0,0,0,1
360,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,01:50:16,01:50:16,0.0,...,NaN,6616.0,0,0,0,0,0,0,0,1
380,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,01:58:49,01:58:49,0.0,...,NaN,7129.0,0,0,0,0,0,0,0,1
387,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,02:01:55,02:01:55,0.0,...,NaN,7315.0,0,0,0,0,0,0,0,1
406,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,02:06:58,02:06:58,0.0,...,NaN,7618.0,0,0,0,0,0,0,0,1
416,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,02:08:49,02:08:49,0.0,...,NaN,7729.0,0,0,0,0,0,0,0,1

In [ ]:
# #fuera
# '''si data[i] es pase no bloqueado y data[i+1] es perdida fuera'''

# colname = 'pase-Fuera'
# data_eventos[colname] = 0
# for i in range(len(data_eventos)-1):
#     if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']!='pase bloqueado') & (data_eventos.loc[i,'Subevento']!='centro aereo'):
#         if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
#             if ('balon afuera' in data_eventos.loc[i+1,'Subevento']):
#                 data_eventos.loc[i,colname] = 1
            
# data_eventos.loc[data_eventos[colname] == 1]

In [75]:
#inteligente

colname = 'pase-Inteligente'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']=='inteligente'):
        if (data_eventos.loc[i+1,'Evento'] != 'perdida'):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente]
Index: []

[0 rows x 27 columns]

# Centros

- asistencia
- completado
- interceptado
- bloqueado
- fuera

In [76]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                 cantidad
Evento     Subevento
arquero    rebote/despeje               2
           remate atajable              1
           remate no atajable           2
           salvada/atajada              1
falta      hecha                       14
           recibida                     3
gol rival  indirecta                    2
pase       centro aereo                 8
           corto                      280
           largo                        5
           medio                       29
           s arquero mano               2
           s arquero pie               14
perdida    atajada                      3
           balon afuera fondo           4
           balon afuera lateral         1
           interceptado                34
remate pie corta distancia              2
           media distancia              2
tarjeta    amarilla                     4

In [77]:
#asistencia

colname = 'centro-Asistencia'
data_eventos[colname] = 0
for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if ('remate' in data_eventos.loc[i+1,'Evento']):
            if (data_eventos.loc[i+2,'Evento']=='gol'):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia]
Index: []

[0 rows x 28 columns]

In [78]:
#completado

colname = 'centro-Completado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] != 'perdida')| (data_eventos.loc[i,'Jugador 1'] != data_eventos.loc[i+1,'Jugador 1']) :
            data_eventos.loc[i,colname] = 1

            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado,pase-Incompleto,pase-Inteligente,centro-Asistencia,centro-Completado
2,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:20:05,00:20:05,0.0,...,0,0,0,0,0,1,0,0,0,1
52,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:27:47,00:27:47,0.0,...,0,0,0,0,0,1,0,0,0,1
328,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,01:40:39,01:40:39,0.0,...,0,0,0,0,0,1,0,0,0,1

In [79]:
#interceptado
'''si data[i] es pase no bloqueado y data[i+1] es perdida interceptado'''

colname = 'centro-Interceptado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
            if ('intercep' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado,pase-Incompleto,pase-Inteligente,centro-Asistencia,centro-Completado,centro-Interceptado
27,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:23:56,00:23:56,0.0,...,0,0,0,0,0,1,0,0,0,1
201,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:59:21,00:59:21,0.0,...,0,0,0,0,0,1,0,0,0,1
380,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,01:58:49,01:58:49,0.0,...,0,0,0,0,0,1,0,0,0,1
406,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,02:06:58,02:06:58,0.0,...,0,0,0,0,0,1,0,0,0,1
416,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,02:08:49,02:08:49,0.0,...,0,0,0,0,0,1,0,0,0,1

In [80]:
#bloqueado

colname = 'centro-Bloqueado'
data_eventos[colname] = 0
# for i in range(len(data_eventos)):
#     if (data_eventos.loc[i,'Subevento']=='centro bloqueado'):
#         data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado]
Index: []

[0 rows x 31 columns]

In [81]:
#fuera

colname = 'centro-Fuera'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
            if ('balon afuera' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera]
Index: []

[0 rows x 32 columns]

# Duelos

- ganado
- perdido
- duelo aereo
- disputa suelo
- gambeta en contra
- gambeta a favor
- pivote

In [82]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                 cantidad
Evento     Subevento
arquero    rebote/despeje               2
           remate atajable              1
           remate no atajable           2
           salvada/atajada              1
falta      hecha                       14
           recibida                     3
gol rival  indirecta                    2
pase       centro aereo                 8
           corto                      280
           largo                        5
           medio                       29
           s arquero mano               2
           s arquero pie               14
perdida    atajada                      3
           balon afuera fondo           4
           balon afuera lateral         1
           interceptado                34
remate pie corta distancia              2
           media distancia              2
tarjeta    amarilla                     4

In [ ]:
# dejar_index= []
# for i in range(len(data_eventos)-1):
#     if (data_eventos.loc[i,'Evento']=='duelo'):
#         dejar_index.append(i-1)
#         dejar_index.append(i)
#         dejar_index.append(i+1)
# data_eventos.loc[dejar_index].head(10)

In [83]:
#duelo aereo

colname1 = 'duelo-Aereo-Perdido'
data_eventos[colname1] = 0
colname2 = 'duelo-Aereo-Ganado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='aereo'):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo')): 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1


data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado]
Index: []

[0 rows x 34 columns]

In [84]:
data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado]
Index: []

[0 rows x 34 columns]

In [85]:
#disputa suelo

colname1 = 'duelo-Disputa-suelo-Perdida'
data_eventos[colname1] = 0
colname2 = 'duelo-Disputa-suelo-Ganada'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='disputa suelo'):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo')): 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada]
Index: []

[0 rows x 36 columns]

In [86]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada]
Index: []

[0 rows x 36 columns]

In [87]:
#gambeta en contra

colname1 = 'duelo-Gambeta-contra-Ganada'
data_eventos[colname1] = 0
colname2 = 'duelo-Gambeta-contra-Perdida'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='gambeta en contra'):
        if ((data_eventos.loc[i+1,'Evento'] == 'recuperacion') & ((data_eventos.loc[i+1,'Subevento'] == 'duelo') )): 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida]
Index: []

[0 rows x 38 columns]

In [88]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida]
Index: []

[0 rows x 38 columns]

In [89]:
#gambeta a favor

colname1 = 'duelo-Gambeta-favor-Perdida'
data_eventos[colname1] = 0
colname2 = 'duelo-Gambeta-favor-Ganada'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='gambeta a favor'):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & ((data_eventos.loc[i+1,'Subevento'] == 'duelo') | ('balon afuera' in data_eventos.loc[i+1,'Subevento']))) : 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada]
Index: []

[0 rows x 40 columns]

In [90]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada]
Index: []

[0 rows x 40 columns]

In [91]:
#pivote

colname1 = 'duelo-Pivote-Perdido'
data_eventos[colname1] = 0
colname2 = 'duelo-Pivote-Ganado'
data_eventos[colname2] = 0

#for i in range(len(data_eventos)):
#    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='pivote'):
#        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo')) : 
#            data_eventos.loc[i,colname1] = 1
#        else:
#            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado]
Index: []

[0 rows x 42 columns]

# Faltas

- falta cometida
- falta recibida
- penal
- tarjeta amarilla
- tarjeta roja
- off-side

In [92]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                 cantidad
Evento     Subevento
arquero    rebote/despeje               2
           remate atajable              1
           remate no atajable           2
           salvada/atajada              1
falta      hecha                       14
           recibida                     3
gol rival  indirecta                    2
pase       centro aereo                 8
           corto                      280
           largo                        5
           medio                       29
           s arquero mano               2
           s arquero pie               14
perdida    atajada                      3
           balon afuera fondo           4
           balon afuera lateral         1
           interceptado                34
remate pie corta distancia              2
           media distancia              2
tarjeta    amarilla                     4

In [93]:
#falta cometida

colname = 'falta-Cometida'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='hecha'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Aereo-Ganado,duelo-Disputa-suelo-Perdida,duelo-Disputa-suelo-Ganada,duelo-Gambeta-contra-Ganada,duelo-Gambeta-contra-Perdida,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida
0,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,falta,NaN,00:18:50,00:18:50,0.0,...,0,0,0,0,0,0,0,0,0,1
21,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,falta,NaN,00:22:24,00:22:24,0.0,...,0,0,0,0,0,0,0,0,0,1
53,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,falta,NaN,00:27:51,00:27:51,0.0,...,0,0,0,0,0,0,0,0,0,1
80,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,falta,NaN,00:30:52,00:30:52,0.0,...,0,0,0,0,0,0,0,0,0,1
107,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,falta,NaN,00:34:26,00:34:26,0.0,...,0,0,0,0,0,0,0,0,0,1
149,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,falta,NaN,00:42:58,00:42:58,0.0,...,0,0,0,0,0,0,0,0,0,1
173,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,falta,NaN,00:50:13,00:50:13,0.0,...,0,0,0,0,0,0,0,0,0,1
225,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,falta,NaN,01:21:52,01:21:52,0.0,...,0,0,0,0,0,0,0,0,0,1
294,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,falta,NaN,01:34:00,01:34:00,0.0,...,0,0,0,0,0,0,0,0,0,1
337,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,falta,NaN,01:41:41,01:41:41,0.0,...,0,0,0,0,0,0,0,0,0,1
345,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,falta,NaN,01:45:49,01:45:49,0.0,...,0,0,0,0,0,0,0,0,0,1
353,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,falta,NaN,01:49:12,01:49:12,0.0,...,0,0,0,0,0,0,0,0,0,1
382,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,falta,NaN,01:59:21,01:59:21,0.0,...,0,0,0,0,0,0,0,0,0,1
393,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,falta,NaN,02:02:14,02:02:14,0.0,...,0,0,0,0,0,0,0,0,0,1

In [94]:
#falta recibida

colname = 'falta-Recibida'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='recibida'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Disputa-suelo-Perdida,duelo-Disputa-suelo-Ganada,duelo-Gambeta-contra-Ganada,duelo-Gambeta-contra-Perdida,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida,falta-Recibida
286,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,falta,NaN,01:31:42,01:31:42,0.0,...,0,0,0,0,0,0,0,0,0,1
289,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,falta,NaN,01:33:03,01:33:03,0.0,...,0,0,0,0,0,0,0,0,0,1
404,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,falta,NaN,02:04:13,02:04:13,0.0,...,0,0,0,0,0,0,0,0,0,1

In [95]:
#penal cometido

colname = 'falta-Penal-cometido'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='penal cometido'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido]
Index: []

[0 rows x 45 columns]

In [96]:
#penal_recibido

colname = 'falta-Penal-recibido'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='penal recibido'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido]
Index: []

[0 rows x 46 columns]

In [97]:
#offside

colname = 'falta-Offside'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='offside'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside]
Index: []

[0 rows x 47 columns]

In [98]:
#tarjeta amarilla

colname = 'falta-Tarjeta-amarilla'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    # if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='hecha'):
        if (data_eventos.loc[i,'Evento']=='tarjeta') & (data_eventos.loc[i,'Subevento']=='amarilla'):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida,falta-Recibida,falta-Penal-cometido,falta-Penal-recibido,falta-Offside,falta-Tarjeta-amarilla
174,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,tarjeta,NaN,00:50:14,00:50:14,0.0,...,0,0,0,0,0,0,0,0,0,1
295,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,tarjeta,NaN,01:34:00,01:34:00,0.0,...,0,0,0,0,0,0,0,0,0,1
338,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,tarjeta,NaN,01:41:41,01:41:41,0.0,...,0,0,0,0,0,0,0,0,0,1
394,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,tarjeta,NaN,02:02:20,02:02:20,0.0,...,0,0,0,0,0,0,0,0,0,1

In [99]:
#tarjeta roja

colname = 'falta-Tarjeta-roja'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    # if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='hecha'):
        if (data_eventos.loc[i,'Evento']=='tarjeta') & (data_eventos.loc[i,'Subevento']=='roja'):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja]
Index: []

[0 rows x 49 columns]

# Recuperacion

- robo
- encontradas
- intercepcion suelo
- intercepcion aereo
- intercepcion anticipo
- disputa suelo

In [100]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                 cantidad
Evento     Subevento
arquero    rebote/despeje               2
           remate atajable              1
           remate no atajable           2
           salvada/atajada              1
falta      hecha                       14
           recibida                     3
gol rival  indirecta                    2
pase       centro aereo                 8
           corto                      280
           largo                        5
           medio                       29
           s arquero mano               2
           s arquero pie               14
perdida    atajada                      3
           balon afuera fondo           4
           balon afuera lateral         1
           interceptado                34
remate pie corta distancia              2
           media distancia              2
tarjeta    amarilla                     4

In [101]:
colname = 'recuperacion-Robo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if ((data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='robo')):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo]
Index: []

[0 rows x 50 columns]

In [102]:
#encontrada

colname = 'recuperacion-Encontrada'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='encontrada'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada]
Index: []

[0 rows x 51 columns]

In [103]:
#intercepcion suelo

colname = 'recuperacion-Intercepcion-suelo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='intercepcion'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo]
Index: []

[0 rows x 52 columns]

In [104]:
#intercepcion aereo

colname = 'recuperacion-Intercepcion-aereo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='intercepcion aereo'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo]
Index: []

[0 rows x 53 columns]

In [105]:
#intercepcion anticipo

colname = 'recuperacion-Intercepcion-anticipo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion'):
        if ('anticipo' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo]
Index: []

[0 rows x 54 columns]

In [106]:
#disputa suelo

colname = 'recuperacion-Disputa-suelo'
data_eventos[colname] = 0

for i in range(len(data_eventos)-1):
    #if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='disputa suelo'):
    if (data_eventos.loc[i,'Evento'] == 'recuperacion') & (data_eventos.loc[i,'Subevento'] == 'duelo'): 
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo]
Index: []

[0 rows x 55 columns]

# Pelota parada

- lateral completado
- lateral interceptado
- corner completado
- corner interceptado
- tiro libre

In [107]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                 cantidad
Evento     Subevento
arquero    rebote/despeje               2
           remate atajable              1
           remate no atajable           2
           salvada/atajada              1
falta      hecha                       14
           recibida                     3
gol rival  indirecta                    2
pase       centro aereo                 8
           corto                      280
           largo                        5
           medio                       29
           s arquero mano               2
           s arquero pie               14
perdida    atajada                      3
           balon afuera fondo           4
           balon afuera lateral         1
           interceptado                34
remate pie corta distancia              2
           media distancia              2
tarjeta    amarilla                     4

In [108]:
#lateral

colname1 = 'parado-Lateral-interceptado'
data_eventos[colname1] = 0
colname2 = 'parado-Lateral-completado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if ('lateral' in data_eventos.loc[i,'Subevento']):

            if ((data_eventos.loc[i+1,'Evento']=='perdida') & (data_eventos.loc[i+1,'Subevento']=='intercepcion')):
                data_eventos.loc[i,colname1] = 1
            if (data_eventos.loc[i+1,'Evento']=='duelo') & ((data_eventos.loc[i+1,'Subevento']=='aereo') | (data_eventos.loc[i+1,'Subevento']=='disputa suelo')):
                if (data_eventos.loc[i+2,'Evento']=='perdida') & (data_eventos.loc[i+2,'Subevento']=='duelo'):
                    data_eventos.loc[i,colname1] = 1
                
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if ('lateral' in data_eventos.loc[i,'Subevento']):
            if (data_eventos.loc[i,colname1]!= 1):
                data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado]
Index: []

[0 rows x 57 columns]

In [109]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado]
Index: []

[0 rows x 57 columns]

In [110]:
#corner

colname1 = 'parado-Corner-interceptado'
data_eventos[colname1] = 0
colname2 = 'parado-Corner-completado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i,'Subevento']=='tiro de esquina'):

            if ('intercep' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname1] = 1
            if (data_eventos.loc[i+1,'Evento']=='duelo') & ((data_eventos.loc[i+1,'Subevento']=='aereo') | (data_eventos.loc[i+1,'Subevento']=='disputa suelo')):
                if (data_eventos.loc[i+2,'Evento']=='perdida') & (data_eventos.loc[i+2,'Subevento']=='duelo'):
                    data_eventos.loc[i,colname1] = 1
                
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i,'Subevento']=='tiro de esquina'):
            if (data_eventos.loc[i,colname1]!= 1):
                data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado]
Index: []

[0 rows x 59 columns]

In [111]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado]
Index: []

[0 rows x 59 columns]

In [112]:
#tiro libre
colname1 = 'parado-Tiro-libre-incompleto'
data_eventos[colname1] = 0
colname2 = 'parado-Tiro-libre-completado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pelota parada') & (data_eventos.loc[i,'Subevento']=='tiro libre') :
        if(data_eventos.loc[i+1,'Evento'] == 'perdida'):
            data_eventos.loc[i,colname1] = 1

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i,'Subevento']=='tiro libre'):
            if (data_eventos.loc[i,colname1]!= 1):
                data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado]
Index: []

[0 rows x 61 columns]

In [113]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado]
Index: []

[0 rows x 61 columns]

# Perdida

- gambeta a favor
- robo
- intercepcion
- error tecnico
- balon afuera
- genero situacion rival
- genero gol rival
- atajada rival

In [114]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                 cantidad
Evento     Subevento
arquero    rebote/despeje               2
           remate atajable              1
           remate no atajable           2
           salvada/atajada              1
falta      hecha                       14
           recibida                     3
gol rival  indirecta                    2
pase       centro aereo                 8
           corto                      280
           largo                        5
           medio                       29
           s arquero mano               2
           s arquero pie               14
perdida    atajada                      3
           balon afuera fondo           4
           balon afuera lateral         1
           interceptado                34
remate pie corta distancia              2
           media distancia              2
tarjeta    amarilla                     4

In [ ]:
# data_eventos = data_eventos[~data_eventos.Subevento.isna()].reset_index(drop=True)

In [115]:
data_eventos[data_eventos.Evento == 'perdida']

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,recuperacion-Intercepcion-suelo,recuperacion-Intercepcion-aereo,recuperacion-Intercepcion-anticipo,recuperacion-Disputa-suelo,parado-Lateral-interceptado,parado-Lateral-completado,parado-Corner-interceptado,parado-Corner-completado,parado-Tiro-libre-incompleto,parado-Tiro-libre-completado
13,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,00:21:42,00:21:42,0.0,...,0,0,0,0,0,0,0,0,0,0
20,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,00:22:13,00:22:13,0.0,...,0,0,0,0,0,0,0,0,0,0
28,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,00:23:57,00:23:57,0.0,...,0,0,0,0,0,0,0,0,0,0
49,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,00:25:46,00:25:46,0.0,...,0,0,0,0,0,0,0,0,0,0
70,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,00:29:36,00:29:36,0.0,...,0,0,0,0,0,0,0,0,0,0
77,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,00:29:56,00:29:56,0.0,...,0,0,0,0,0,0,0,0,0,0
91,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,00:32:24,00:32:24,0.0,...,0,0,0,0,0,0,0,0,0,0
103,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,00:33:56,00:33:56,0.0,...,0,0,0,0,0,0,0,0,0,0
106,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,00:34:18,00:34:18,0.0,...,0,0,0,0,0,0,0,0,0,0
113,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,00:36:36,00:36:36,0.0,...,0,0,0,0,0,0,0,0,0,0
120,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,00:37:34,00:37:34,0.0,...,0,0,0,0,0,0,0,0,0,0
129,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,00:39:15,00:39:15,0.0,...,0,0,0,0,0,0,0,0,0,0
133,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,00:39:45,00:39:45,0.0,...,0,0,0,0,0,0,0,0,0,0
157,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,00:46:46,00:46:46,0.0,...,0,0,0,0,0,0,0,0,0,0
166,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,00:47:59,00:47:59,0.0,...,0,0,0,0,0,0,0,0,0,0
172,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,00:49:47,00:49:47,0.0,...,0,0,0,0,0,0,0,0,0,0
180,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,00:51:28,00:51:28,0.0,...,0,0,0,0,0,0,0,0,0,0
185,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,00:53:26,00:53:26,0.0,...,0,0,0,0,0,0,0,0,0,0
188,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,00:53:33,00:53:33,0.0,...,0,0,0,0,0,0,0,0,0,0
194,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,00:56:48,00:56:48,0.0,...,0,0,0,0,0,0,0,0,0,0
197,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,00:58:18,00:58:18,0.0,...,0,0,0,0,0,0,0,0,0,0
202,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,00:59:21,00:59:21,0.0,...,0,0,0,0,0,0,0,0,0,0
206,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,00:59:47,00:59:47,0.0,...,0,0,0,0,0,0,0,0,0,0
245,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,01:24:21,01:24:21,0.0,...,0,0,0,0,0,0,0,0,0,0
257,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,01:26:03,01:26:03,0.0,...,0,0,0,0,0,0,0,0,0,0
274,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,01:29:56,01:29:56,0.0,...,0,0,0,0,0,0,0,0,0,0
293,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,01:33:22,01:33:22,0.0,...,0,0,0,0,0,0,0,0,0,0
303,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,01:36:36,01:36:36,0.0,...,0,0,0,0,0,0,0,0,0,0
308,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,01:37:08,01:37:08,0.0,...,0,0,0,0,0,0,0,0,0,0
318,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,01:37:45,01:37:45,0.0,...,0,0,0,0,0,0,0,0,0,0
321,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,01:38:57,01:38:57,0.0,...,0,0,0,0,0,0,0,0,0,0
344,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,01:43:30,01:43:30,0.0,...,0,0,0,0,0,0,0,0,0,0
349,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,01:47:08,01:47:08,0.0,...,0,0,0,0,0,0,0,0,0,0
352,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,01:49:00,01:49:00,0.0,...,0,0,0,0,0,0,0,0,0,0
361,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,01:50:17,01:50:17,0.0,...,0,0,0,0,0,0,0,0,0,0
364,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,01:51:53,01:51:53,0.0,...,0,0,0,0,0,0,0,0,0,0
374,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,01:55:34,01:55:34,0.0,...,0,0,0,0,0,0,0,0,0,0
381,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,01:58:50,01:58:50,0.0,...,0,0,0,0,0,0,0,0,0,0
388,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,02:01:55,02:01:55,0.0,...,0,0,0,0,0,0,0,0,0,0
407,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,02:06:58,02:06:58,0.0,...,0,0,0,0,0,0,0,0,0,0
414,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,02:07:28,02:07:28,0.0,...,0,0,0,0,0,0,0,0,0,0
417,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,02:08:49,02:08:49,0.0,...,0,0,0,0,0,0,0,0,0,0

In [116]:
#gambeta a favor

colname = 'perdida-Gambeta'
data_eventos[colname] = 0

# for i in range(len(data_eventos)):
#     #if (data_eventos.loc[i-1,'Evento']=='duelo') & (data_eventos.loc[i-1,'Subevento']=='gambeta a favor'):
#         if (data_eventos.loc[i,'Evento'] == 'perdida') & (data_eventos.loc[i,'Subevento'] == 'duelo'): 
#             data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta]
Index: []

[0 rows x 62 columns]

In [117]:
#robo

colname = 'perdida-Robo'
data_eventos[colname] = 0

# for i in range(len(data_eventos)):
#     if (data_eventos.loc[i,'Evento']=='perdida') & ((data_eventos.loc[i,'Subevento']=='robo')):
#             data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo]
Index: []

[0 rows x 63 columns]

In [118]:
#intercepcion

colname = 'perdida-Intercepcion'
data_eventos[colname] = 0

# for i in range(len(data_eventos)):
#     if (data_eventos.loc[i,'Evento']=='perdida') & ('intercep' in str(data_eventos.loc[i,'Subevento'])):
#         data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion]
Index: []

[0 rows x 64 columns]

In [119]:
#error tecnico

colname = 'perdida-Error-tecnico'
data_eventos[colname] = 0

# for i in range(len(data_eventos)):
#     if (data_eventos.loc[i,'Evento']=='perdida') & (data_eventos.loc[i,'Subevento']=='error tecnico'):
#             data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico]
Index: []

[0 rows x 65 columns]

In [120]:
#balon afuera

colname = 'perdida-Balon-fuera'
data_eventos[colname] = 0

# for i in range(len(data_eventos)):
#     if (data_eventos.loc[i,'Evento']=='perdida'):
#         if ('balon afuera' in str(data_eventos.loc[i,'Subevento'])):
#             data_eventos.loc[i,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera]
Index: []

[0 rows x 66 columns]

In [121]:
#situacion rival

colname = 'perdida-Error-tactico'
data_eventos[colname] = 0

# for i in range(len(data_eventos)):
#     if (data_eventos.loc[i,'Evento']=='perdida'):
#         if (data_eventos.loc[i,'Subevento']=='error tactico'):
#             data_eventos.loc[i,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico]
Index: []

[0 rows x 67 columns]

In [122]:
#atajada

colname = 'perdida-Atajada'
data_eventos[colname] = 0

# for i in range(len(data_eventos)):
#     if (data_eventos.loc[i,'Evento']=='perdida'):
#         if (data_eventos.loc[i,'Subevento']=='atajada'):
#             data_eventos.loc[i,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico, perdida-Atajada]
Index: []

[0 rows x 68 columns]

# Arquero

- gol en contra
- atajada facil
- atajada dificil
- mano a mano
- rebote
- intercepcion aereo
- intercepcion aereo anticipo
- completado
- interceptado
- saque arquero pie
- saque arquero mano
- saque meta
- pase


Cuando pongo el gol rival, atajadas y rebotes, tengo q poner q todas las cosas se marquen como arquero-x:
- el remate rival (coordenadas inicial y final)
- la atajada (coordenada inicial)
- rebote (coordenada incial y final)
- el centro (si hay intercepcion aereo) , etc

In [123]:
data[data['Jugador 1'] == 1].groupby(['Evento','Subevento']).size().to_frame('cantidad')

                              cantidad
Evento  Subevento
arquero rebote/despeje               2
        remate atajable              1
        remate no atajable           2
        salvada/atajada              1
pase    corto                       12
        medio                        3
        s arquero mano               2
        s arquero pie               14
perdida balon afuera lateral         1
        interceptado                 3

In [124]:
#gol rival

colname1 = 'arquero-Gol-rival'
data_eventos[colname1] = 0
colname2 = 'arquero-Gol-rival-atajable'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='gol rival'):
        data_eventos.loc[i,colname1] = 1
        if ('remate atajable' in data_eventos.loc[i+1,'Subevento']):
            data_eventos.loc[i,colname2] = 1
        

data_eventos.loc[data_eventos[colname1] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,parado-Tiro-libre-completado,perdida-Gambeta,perdida-Robo,perdida-Intercepcion,perdida-Error-tecnico,perdida-Balon-fuera,perdida-Error-tactico,perdida-Atajada,arquero-Gol-rival,arquero-Gol-rival-atajable
246,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,gol rival,NaN,01:24:36,01:24:36,0.0,...,0,0,0,0,0,0,0,0,1,0
249,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,gol rival,NaN,00:35:27,00:35:27,0.0,...,0,0,0,0,0,0,0,0,1,0

In [125]:
#atajada

colname = 'arquero-Atajada'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='arquero'):
        if ('atajada' in data_eventos.loc[i,'Subevento']) | (data_eventos.loc[i,'Subevento']=='mano a mano'):
            data_eventos.loc[i,colname] = 1
            if ('remate' in data_eventos.loc[i-1,'Evento']):
                data_eventos.loc[i-1,colname] = 1
            elif ('remate' in data_eventos.loc[i-2,'Evento']):
                data_eventos.loc[i-2,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,perdida-Gambeta,perdida-Robo,perdida-Intercepcion,perdida-Error-tecnico,perdida-Balon-fuera,perdida-Error-tactico,perdida-Atajada,arquero-Gol-rival,arquero-Gol-rival-atajable,arquero-Atajada
54,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,arquero,NaN,00:28:26,00:28:26,0.0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
# #mano a mano
# data_eventos_con_rival = data.copy().reset_index(drop=True)

# colname = 'arquero-mano_a_mano'
# data_eventos_con_rival[colname] = 0

# for i in range(len(data_eventos_con_rival)):
#     if (data_eventos_con_rival.loc[i,'Evento']=='arquero'):
#         if ('mano a mano' in data_eventos_con_rival.loc[i,'Subevento']):
#             data_eventos_con_rival.loc[i,colname] = 1
#             if ('remate' in data_eventos_con_rival.loc[i-1,'Evento']):
#                 data_eventos_con_rival.loc[i,'Posicion incial'] = data_eventos_con_rival.loc[i-1,'Posicion incial']
#                 data_eventos_con_rival.loc[i,'Posicion final'] = data_eventos_con_rival.loc[i-1,'Posicion final']
#                 data_eventos_con_rival.loc[i,'coord inicial'] = data_eventos_con_rival.loc[i-1,'coord inicial']
#                 data_eventos_con_rival.loc[i,'coord final'] = data_eventos_con_rival.loc[i-1,'coord final']


# data_eventos_con_rival.loc[data_eventos_con_rival[colname] == 1]

In [126]:
#intercepcion aereo

colname = 'arquero-Intercepcion-aerea'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Jugador 1']==1):
        if ('intercepcion aereo' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea]
Index: []

[0 rows x 72 columns]

In [127]:
#intercepcion

colname = 'arquero-Intercepcion'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Jugador 1']==1):
        if (data_eventos.loc[i,'Subevento']=='intercepcion'):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion]
Index: []

[0 rows x 73 columns]

In [128]:
#anticipo

colname = 'arquero-Anticipo'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Jugador 1']==1):
        if ('anticipo' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion, arquero-Anticipo]
Index: []

[0 rows x 74 columns]

In [129]:
#saque arquero mano

colname = 'arquero-Saque-mano'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Jugador 1']==1):
        if ('s arquero mano' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,perdida-Balon-fuera,perdida-Error-tactico,perdida-Atajada,arquero-Gol-rival,arquero-Gol-rival-atajable,arquero-Atajada,arquero-Intercepcion-aerea,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano
168,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:49:34,00:49:34,0.0,...,0,0,0,0,0,0,0,0,0,1
270,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,01:29:37,01:29:37,0.0,...,0,0,0,0,0,0,0,0,0,1

In [130]:
#saque arquero pie

colname = 'arquero-Saque-pie'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Jugador 1']==1):
        if ('s arquero pie' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,tiempo,partido,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,perdida-Error-tactico,perdida-Atajada,arquero-Gol-rival,arquero-Gol-rival-atajable,arquero-Atajada,arquero-Intercepcion-aerea,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie
3,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:20:57,00:20:57,0.0,...,0,0,0,0,0,0,0,0,0,1
50,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:27:26,00:27:26,0.0,...,0,0,0,0,0,0,0,0,0,1
55,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:28:46,00:28:46,0.0,...,0,0,0,0,0,0,0,0,0,1
138,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:40:14,00:40:14,0.0,...,0,0,0,0,0,0,0,0,0,1
140,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:40:58,00:40:58,0.0,...,0,0,0,0,0,0,0,0,0,1
150,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:44:25,00:44:25,0.0,...,0,0,0,0,0,0,0,0,0,1
175,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:51:14,00:51:14,0.0,...,0,0,0,0,0,0,0,0,0,1
181,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:53:07,00:53:13,6.0,...,0,0,0,0,0,0,0,0,0,1
195,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:58:12,00:58:12,0.0,...,0,0,0,0,0,0,0,0,0,1
275,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,01:30:42,01:30:42,0.0,...,0,0,0,0,0,0,0,0,0,1
296,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,01:35:26,01:35:26,0.0,...,0,0,0,0,0,0,0,0,0,1
309,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,01:37:22,01:37:22,0.0,...,0,0,0,0,0,0,0,0,0,1
350,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,01:48:58,01:48:58,0.0,...,0,0,0,0,0,0,0,0,0,1
383,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,02:01:32,02:01:32,0.0,...,0,0,0,0,0,0,0,0,0,1

In [131]:
#saque de meta

colname = 'arquero-Saque-meta'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada') & (data_eventos.loc[i,'Jugador 1']==1):
        if ('saque de meta' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, tiempo, partido, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord final, Jugador 2, Jugador 1, Calificacion, coord inicial, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Incompleto, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Error-tactico, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion, arquero-Anticipo, arquero-Saque-mano, arquero-Saque-pie, arquero-Saque-meta]
Index: []

[0 rows x 77 columns]

In [132]:
data_eventos.columns = [col.replace(' ','.') for col in data_eventos.columns]

In [133]:
data_eventos.iloc[:,:20]

,Session.Start.Date,tiempo,partido,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),coord.final,Jugador.2,Jugador.1,Calificacion,coord.inicial,Subevento,Optional.Column,segundos,remate-Gol,remate-Fuera
0,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,falta,NaN,00:18:50,00:18:50,0.0,Volver,NaN,8.0,NaN,7.0,hecha,NaN,1130.0,0,0
1,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:20:03,00:20:03,0.0,16,3,5.0,NaN,16.0,corto,NaN,1203.0,0,0
2,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:20:05,00:20:05,0.0,21,9,3.0,NaN,16.0,centro aereo,NaN,1205.0,0,0
3,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:20:57,00:20:57,0.0,2,6,1.0,NaN,3.0,s arquero pie,NaN,1257.0,0,0
4,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,00:21:05,00:21:05,0.0,5,2,6.0,NaN,2.0,corto,NaN,1265.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,02:07:28,02:07:28,0.0,Volver,NaN,16.0,NaN,16.0,atajada,NaN,7648.0,0,0
415,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,02:08:42,02:08:42,0.0,10,3,5.0,NaN,11.0,corto,NaN,7722.0,0,0
416,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,pase,NaN,02:08:49,02:08:49,0.0,21,19,3.0,NaN,16.0,centro aereo,NaN,7729.0,0,0
417,2022/07/20,Pases tigre,Pases tigre,15:54:37,18:07:03,perdida,NaN,02:08:49,02:08:49,0.0,Volver,NaN,3.0,NaN,16.0,interceptado,NaN,7729.0,0,0
418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

# Crear coordenadas

- Primero mapear la media de coordenadas para cada sector
- Segundo agregar aleatoriedad

In [134]:
data_eventos['coord.inicial'].value_counts()

10.0    43
7.0     39
9.0     39
13.0    39
12.0    38
18.0    28
8.0     25
11.0    22
16.0    21
14.0    21
15.0    20
4.0     16
17.0    11
3.0     11
19.0     9
2.0      9
21.0     8
6.0      4
24.0     4
5.0      3
1.0      3
Name: coord.inicial, dtype: int64

In [135]:
data_eventos['coord.final'].value_counts()

Volver    77
10        37
7         33
13        32
12        29
15        27
9         27
16        22
8         20
18        18
14        17
11        15
2         13
17        12
21        11
5          7
4          5
22         4
20         3
6          3
19         2
1          2
23         2
Name: coord.final, dtype: int64

In [136]:
map_zona_coord_x = {  
1:22,
2:21,
3:12,
4:33,
5:21,
6:20,
7:68,
8:66,
9:65,
10:109,
11:108,
12:105,
13:162,
14:161,
15:160,
16:205,
17:203,
18:203,
19:251,
20:250,
21:238,
22:260,
23:250,
24:250
}

In [137]:
map_zona_coord_y = {  
1:18,
2:43,
3:82,
4:83,
5:117,
6:147,
7:22,
8:81,
9:141,
10:22,
11:82,
12:138,
13:21,
14:81,
15:142,
16:23,
17:80,
18:141,
19:20,
20:45,
21:80,
22:81,
23:119,
24:147
}

In [138]:
data_eventos['coord.final.num'] = np.where(data_eventos['coord.final'] == 'Volver',None, data_eventos['coord.final']).astype('float')

In [139]:
data_eventos['coord.inicial.x'] = data_eventos['coord.inicial'].map(map_zona_coord_x)
data_eventos['coord.final.x'] = data_eventos['coord.final.num'].map(map_zona_coord_x)
data_eventos['coord.inicial.y'] = data_eventos['coord.inicial'].map(map_zona_coord_y)
data_eventos['coord.final.y'] = data_eventos['coord.final.num'].map(map_zona_coord_y)
data_eventos.iloc[:,-5:]

,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,NaN,68.0,NaN,22.0,NaN
1,16.0,205.0,205.0,23.0,23.0
2,21.0,205.0,238.0,23.0,80.0
3,2.0,12.0,21.0,82.0,43.0
4,5.0,21.0,21.0,43.0,117.0
...,...,...,...,...,...
414,NaN,205.0,NaN,23.0,NaN
415,10.0,108.0,109.0,82.0,22.0
416,21.0,205.0,238.0,23.0,80.0
417,NaN,205.0,NaN,23.0,NaN
418,NaN,NaN,NaN,NaN,NaN

In [140]:
data_eventos['coord.inicial.x'].describe() # de 0 a 272

count    413.000000
mean     119.205811
std       63.067954
min       12.000000
25%       66.000000
50%      108.000000
75%      162.000000
max      251.000000
Name: coord.inicial.x, dtype: float64

In [141]:
# añadirles aleatoriedad
data_eventos['coord.inicial.x'] = data_eventos['coord.inicial.x'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.inicial.x'].describe()

count    413.000000
mean     118.575877
std       64.315090
min       -6.930678
25%       66.823974
50%      108.532571
75%      167.841910
max      270.375762
Name: coord.inicial.x, dtype: float64

In [142]:
data_eventos['coord.inicial.x'] = np.where(data_eventos['coord.inicial.x']<0, 0, data_eventos['coord.inicial.x'])
data_eventos['coord.inicial.x'] = np.where(data_eventos['coord.inicial.x']>272, 272, data_eventos['coord.inicial.x'])

In [143]:
data_eventos['coord.inicial.y'].describe() # de 0 a 162

count    413.000000
mean      77.639225
std       49.955010
min       18.000000
25%       22.000000
50%       81.000000
75%      138.000000
max      147.000000
Name: coord.inicial.y, dtype: float64

In [144]:
data_eventos['coord.inicial.y'] = data_eventos['coord.inicial.y'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.inicial.y'].describe() # de 0 a 162

count    413.000000
mean      77.707357
std       50.754022
min        2.045308
25%       29.775149
50%       75.072705
75%      130.032465
max      161.887653
Name: coord.inicial.y, dtype: float64

In [145]:
data_eventos['coord.inicial.y'] = np.where(data_eventos['coord.inicial.y']<0, 0, data_eventos['coord.inicial.y'])
data_eventos['coord.inicial.y'] = np.where(data_eventos['coord.inicial.y']>162, 162, data_eventos['coord.inicial.y'])

In [146]:
data_eventos['coord.final.x'] = data_eventos['coord.final.x'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.final.x'] = np.where(data_eventos['coord.final.x']<0, 0, data_eventos['coord.final.x'])
data_eventos['coord.final.x'] = np.where(data_eventos['coord.final.x']>272, 272, data_eventos['coord.final.x'])

In [147]:
data_eventos['coord.final.y'] = data_eventos['coord.final.y'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.final.y'] = np.where(data_eventos['coord.final.y']<0, 0, data_eventos['coord.final.y'])
data_eventos['coord.final.y'] = np.where(data_eventos['coord.final.y']>162, 162, data_eventos['coord.final.y'])

In [148]:
data_eventos.iloc[:,-5:]

,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,NaN,70.737490,NaN,16.971166,NaN
1,16.0,196.735724,213.556106,7.087370,15.886475
2,21.0,222.888741,248.769088,41.209513,78.070137
3,2.0,21.534530,7.634156,77.788423,23.846668
4,5.0,40.254599,19.133356,23.056375,122.572878
...,...,...,...,...,...
414,NaN,203.178337,NaN,8.293114,NaN
415,10.0,100.466525,96.358059,89.538974,7.728493
416,21.0,213.786601,231.272976,17.616515,76.571807
417,NaN,218.776684,NaN,14.800158,NaN
418,NaN,NaN,NaN,NaN,NaN

In [149]:
round(data_eventos['coord.inicial.x'],0).astype('str')+','+round(data_eventos['coord.inicial.y'],0).astype('str')

0       71.0,17.0
1       197.0,7.0
2      223.0,41.0
3       22.0,78.0
4       40.0,23.0
          ...
414     203.0,8.0
415    100.0,90.0
416    214.0,18.0
417    219.0,15.0
418       nan,nan
Length: 419, dtype: object

In [150]:
# pasar en ambos formatos. Crear las dos cols originales q sean strings

data_eventos['coord.inicial'] = round(data_eventos['coord.inicial.x'],0).astype('str').str.split('.').str[0]+','+round(data_eventos['coord.inicial.y'],0).astype('str').str.split('.').str[0]
data_eventos['coord.final'] = round(data_eventos['coord.final.x'],0).astype('str').str.split('.').str[0]+','+round(data_eventos['coord.final.y'],0).astype('str').str.split('.').str[0]

In [151]:
data_eventos['coord.inicial'] = np.where(data_eventos['coord.inicial']=='nan,nan', None, data_eventos['coord.inicial'])
data_eventos['coord.final'] = np.where(data_eventos['coord.final']=='nan,nan', None, data_eventos['coord.final'])

In [152]:
data_eventos[['coord.inicial','coord.final']]

    coord.inicial coord.final
0           71,17        None
1           197,7      214,16
2          223,41      249,78
3           22,78        8,24
4           40,23      19,123
..            ...         ...
414         203,8        None
415        100,90        96,8
416        214,18      231,77
417        219,15        None
418          None        None

[419 rows x 2 columns]

# Escribir tabla filtros

In [153]:
data_eventos = data_eventos[~data_eventos['partido'].isna()].reset_index(drop=True)

In [154]:
data_eventos['partido'] = 'Tigre'

In [155]:
data_eventos.tail()

,Session.Start.Date,tiempo,partido,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
413,2022/07/20,Pases tigre,Tigre,15:54:37,18:07:03,remate pie,NaN,02:07:27,02:07:27,0.0,...,0,0,0,0,0,22.0,207.828585,257.045008,31.867579,94.919695
414,2022/07/20,Pases tigre,Tigre,15:54:37,18:07:03,perdida,NaN,02:07:28,02:07:28,0.0,...,0,0,0,0,0,NaN,203.178337,NaN,8.293114,NaN
415,2022/07/20,Pases tigre,Tigre,15:54:37,18:07:03,pase,NaN,02:08:42,02:08:42,0.0,...,0,0,0,0,0,10.0,100.466525,96.358059,89.538974,7.728493
416,2022/07/20,Pases tigre,Tigre,15:54:37,18:07:03,pase,NaN,02:08:49,02:08:49,0.0,...,0,0,0,0,0,21.0,213.786601,231.272976,17.616515,76.571807
417,2022/07/20,Pases tigre,Tigre,15:54:37,18:07:03,perdida,NaN,02:08:49,02:08:49,0.0,...,0,0,0,0,0,NaN,218.776684,NaN,14.800158,NaN

In [156]:
data_eventos.to_csv("../Datos generados para la app/reserva02-22-fecha8_tigre-tabla_filtros2.csv",index=False)