In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import glob
import os
#pd.set_option('display.max_rows', 200)

# Carga de datos

In [4]:
# merging the files
files_joined = os.path.join('..\\..\\datos etiquetas\\Fecha 12 - Colon', "*.csv")

# Return a list of all joined files
list_files = glob.glob(files_joined)

#print("** Merging multiple csv files into a single pandas dataframe **")
# Merge files by joining all files
data = pd.concat(map(pd.read_csv, list_files), ignore_index=True)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Session Start Date   332 non-null    object
 1   Event                332 non-null    object
 2   Session Name         332 non-null    object
 3   Session Start        332 non-null    object
 4   Session End          332 non-null    object
 5   Tag Description      332 non-null    object
 6   Tag Notes            0 non-null      float64
 7   Tag Start            332 non-null    object
 8   Tag End              332 non-null    object
 9   Tag Duration (secs)  332 non-null    float64
 10  Zonas                332 non-null    int64
 11  Categoria            332 non-null    object
 12  Jugador2             60 non-null     float64
 13  Jugador              332 non-null    int64
 14  Zonas_final          332 non-null    object
 15  Optional Column      0 non-null      float64
dtypes: float64(4), int64(2), object(10)
memory usage: 41.6+ KB

In [6]:
data.columns = ['Session Start Date','partido','tiempo','Session Start',
       'Session End','Evento','Tag Notes','Tag Start', 'Tag End',
       'Tag Duration (secs)','coord inicial','Subevento','Jugador 2','Jugador 1','coord final','Optional Column']

In [7]:
'''TIEMPO'''

from datetime import timedelta

def seconder(x):
    hr, mins, secs = map(float, x.split(':'))
    td = timedelta(hours= hr, minutes=mins, seconds=secs)
    return td.total_seconds()
data['segundos'] = data['Tag Start'].apply(seconder)

In [8]:
data = data.append(data.iloc[-1,:]).reset_index(drop=True)
data.loc[-1,'Evento'] = np.nan
data.loc[-1,'Subevento'] = np.nan
data = data.drop_duplicates()
data = data.reset_index(drop=True)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Session Start Date   332 non-null    object
 1   partido              332 non-null    object
 2   tiempo               332 non-null    object
 3   Session Start        332 non-null    object
 4   Session End          332 non-null    object
 5   Evento               332 non-null    object
 6   Tag Notes            0 non-null      float64
 7   Tag Start            332 non-null    object
 8   Tag End              332 non-null    object
 9   Tag Duration (secs)  332 non-null    float64
 10  coord inicial        332 non-null    float64
 11  Subevento            332 non-null    object
 12  Jugador 2            60 non-null     float64
 13  Jugador 1            332 non-null    float64
 14  coord final          332 non-null    object
 15  Optional Column      0 non-null      float64
 16  segundos             332 non-null    float64
dtypes: float64(7), object(10)
memory usage: 44.4+ KB

In [10]:
data

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),coord inicial,Subevento,Jugador 2,Jugador 1,coord final,Optional Column,segundos
0,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,Perdida,NaN,00:00:35,00:00:35,0.0,10.0,Error tecnico,NaN,3.0,Volver,NaN,35.0
1,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,Perdida,NaN,00:00:38,00:00:38,0.0,10.0,Balon afuera fondo,NaN,3.0,Volver,NaN,38.0
2,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,Perdida,NaN,00:00:59,00:00:59,0.0,5.0,Interceptado,11.0,4.0,9,NaN,59.0
3,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,Duelo,NaN,00:01:22,00:01:22,0.0,1.0,Disputa suelo,NaN,3.0,Volver,NaN,82.0
4,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,Recuperacion,NaN,00:01:24,00:01:24,0.0,1.0,Duelo,NaN,3.0,Volver,NaN,84.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,Duelo,NaN,00:45:41,00:45:41,0.0,23.0,Disputa suelo,NaN,22.0,Volver,NaN,2741.0
329,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,Perdida,NaN,00:45:42,00:45:42,0.0,23.0,Duelo,NaN,22.0,Volver,NaN,2742.0
330,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,Pelota parada,NaN,00:46:25,00:46:25,0.0,8.0,Tiro libre,NaN,1.0,Volver,NaN,2785.0
331,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,Perdida,NaN,00:46:25,00:46:25,0.0,8.0,Error tecnico,NaN,1.0,Volver,NaN,2785.0
332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
#data['segundos'] = np.random.randint(1, 600, data.shape[0])
#data

In [11]:
'''CORREGIR MAYUSCULAS Y COSAS DE EVENTOS'''

data['Evento'] = data['Evento'].str.lower().str.strip()
data['Subevento'] = data['Subevento'].str.lower().str.strip()

# Estadisticas basicas

In [12]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                     cantidad
Evento        Subevento
duelo         aereo                        31
              disputa suelo                46
              gambeta a favor              13
falta         hecha                         1
pelota parada lateral corto                10
              lateral largo                24
              tiro de esquina               3
              tiro libre                   13
perdida       atajada                       3
              balon afuera fondo            8
              balon afuera lateral          9
              duelo                        43
              error tecnico                17
              interceptado                 20
              robo                          6
recuperacion  duelo                        15
              encontrada                   32
              intercepcion                 10
              intercepcion aereo           10
              intercepcion anticipo         8
              robo                         10

In [13]:
data.groupby(['Jugador 1','Evento','Subevento']).size().to_frame('cantidad')

                                       cantidad
Jugador 1 Evento        Subevento
1.0       pelota parada tiro libre            4
          perdida       error tecnico         2
                        interceptado          2
          recuperacion  encontrada            3
2.0       duelo         aereo                 2
...                                         ...
22.0      duelo         disputa suelo         1
          perdida       atajada               2
                        duelo                 2
                        error tecnico         1
          recuperacion  encontrada            1

[131 rows x 1 columns]

# Filtros para la app

Disparos
---
- gol
- fuera
- al arco
- interceptado
- cabeza

Pase
---
- asistencia
- completado
- interceptado
- fuera
- inteligente

Centros
---
- asistencia
- completado
- interceptado
- bloqueado
- fuera

Duelos
---
- ganado
- perdido
- duelo aereo
- disputa suelo
- gambeta en contra
- gambeta a favor
- pivote

Faltas
---
- falta cometida
- falta recibida
- penal
- tarjeta amarilla
- tarjeta roja
- off-side

Recuperacion
---
- robo
- encontradas
- intercepcion suelo
- intercepcion aereo
- intercepcion anticipo
- disputa suelo

Pelota parada
---
- lateral completado
- lateral interceptado
- corner completado
- corner interceptado
- tiro libre

Perdida
---
- gambeta a favor
- robo
- intercepcion suelo
- intercepcion aereo
- error tecnico
- balon afuera
- genero situacion rival
- genero gol rival
- atajada rival

Arquero
---
- gol en contra
- atajada facil
- atajada dificil
- mano a mano
- rebote
- intercepcion aereo
- intercepcion aereo anticipo
- completado
- interceptado
- saque arquero pie
- saque arquero mano
- saque meta
- pase


LO QUE HAY QUE HACER ES CREAR UNA COLUMNA POR CADA UNO DE ESOS FILTROS CON 0-1. QUEDAR CON UNA SOLA FILA POR ACCION.

In [14]:
data_eventos = data.copy()
data_eventos.shape

(333, 17)

# Disparos

- gol: siempre tiene que haber un disparo antes de un gol? Que pasa cuando es en contra, por ejemplo. Asegurarse que siempre antes de un gol poner disparo porque si no no lo toma aca
- fuera: asegurarse de poner que pasa siempre despues de los remates
- al arco: tiene que haber una perdida en evento y atajada en subevento, desupes de un remate
- interceptado
- cabeza

In [20]:
#gol
'''si data[i] es remate y data[i+1] es gol'''

data_eventos['remate-Gol'] = 0
for i in range(len(data_eventos)-1):
    #if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') | (data_eventos.loc[i,'Evento']=='pelota parada'):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') :
        if (data_eventos.loc[i+1,'Evento']=='gol'):
            data_eventos.loc[i,'remate-Gol'] = 1
data_eventos.loc[data_eventos['remate-Gol'] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado]
Index: []

[0 rows x 21 columns]

In [21]:
#fuera
'''si data[i] es remate y data[i+1] es perdida balon fuera'''
colname = 'remate-Fuera'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza'):
        if (data_eventos.loc[i+1,'Evento']=='perdida'):
            if('balon afuera' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado]
Index: []

[0 rows x 21 columns]

In [22]:
#al arco
'''si data[i] es remate y data[i+1] es perdida atajada'''

colname = 'remate-Al-arco'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza'):
        if (data_eventos.loc[i+1,'Evento']=='perdida'): 
            if('atajada' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado]
Index: []

[0 rows x 21 columns]

In [23]:
#bloqueado
'''si data[i] es remate y data[i] es remate bloqueado o data[i+1] es perdida error tecnico'''

colname = 'remate-Interceptado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') :
        if (data_eventos.loc[i,'Subevento'] == 'remate bloqueado'): 
            data_eventos.loc[i,colname] = 1
        elif(data_eventos.loc[i+1,'Evento']=='perdida'):
            if('error tecnico' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado]
Index: []

[0 rows x 21 columns]

In [24]:
#cabeza
'''si data[i] es remate cabeza'''

colname = 'remate-Cabeza'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='remate cabeza'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza]
Index: []

[0 rows x 22 columns]

# Pase

- asistencia
- completado
- interceptado
- fuera
- inteligente

In [25]:
data[data.Evento=='pase'].groupby(['Evento','Subevento']).size().to_frame('cantidad')

Empty DataFrame
Columns: [cantidad]
Index: []

In [26]:
data[(data.Evento=='pase')]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos]
Index: []

In [27]:
data_eventos.head()

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Jugador 2,Jugador 1,coord final,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza
0,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:00:35,00:00:35,0.0,...,NaN,3.0,Volver,NaN,35.0,0,0,0,0,0
1,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:00:38,00:00:38,0.0,...,NaN,3.0,Volver,NaN,38.0,0,0,0,0,0
2,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:00:59,00:00:59,0.0,...,11.0,4.0,9,NaN,59.0,0,0,0,0,0
3,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:01:22,00:01:22,0.0,...,NaN,3.0,Volver,NaN,82.0,0,0,0,0,0
4,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:01:24,00:01:24,0.0,...,NaN,3.0,Volver,NaN,84.0,0,0,0,0,0

In [28]:
#asistencia
'''si data[i] es pase, data[i+1] es remate y data[i+2] es gol'''
colname = 'pase-Asistencia'
data_eventos[colname] = 0
for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Evento']=='pase'):
        if ('remate' in data_eventos.loc[i+1,'Evento']):
            if (data_eventos.loc[i+2,'Evento']=='gol'):
                data_eventos.loc[i,colname] = 1
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia]
Index: []

[0 rows x 23 columns]

In [29]:
##completado
'''si data[i] es pase no bloqueado y data[i+1] no es perdida interceptado o balon afuera'''

colname = 'pase-Completado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']!='centro aereo') & (data_eventos.loc[i,'Subevento']!='s arquero mano') & (data_eventos.loc[i,'Subevento']!='bloqueado'):
        if (data_eventos.loc[i+1,'Evento'] != 'perdida') | (data_eventos.loc[i,'Jugador 1'] != data_eventos.loc[i+1,'Jugador 1']) | (data_eventos.loc[i+1,'Subevento'] == 'offside' ):
            data_eventos.loc[i,colname] = 1
        
        #elif ('intercep' not in data_eventos.loc[i+1,'Subevento']) & ('balon afuera' not in data_eventos.loc[i+1,'Subevento']) & ('encontrad' not in data_eventos.loc[i+1,'Subevento']):
        #    data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado]
Index: []

[0 rows x 24 columns]

In [30]:
data_eventos.loc[data_eventos[colname] == 1].Subevento.value_counts()

Series([], Name: Subevento, dtype: int64)

In [31]:
#interceptado
'''si data[i] es pase no bloqueado y data[i+1] es perdida interceptado'''

colname = 'pase-Interceptado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']!='pase bloqueado') & (data_eventos.loc[i,'Subevento']!='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
            if ('intercep' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado]
Index: []

[0 rows x 25 columns]

In [32]:
#fuera
'''si data[i] es pase no bloqueado y data[i+1] es perdida fuera'''

colname = 'pase-Fuera'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']!='pase bloqueado') & (data_eventos.loc[i,'Subevento']!='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
            if ('balon afuera' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera]
Index: []

[0 rows x 26 columns]

In [33]:
#inteligente

colname = 'pase-Inteligente'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']=='inteligente'):
        if (data_eventos.loc[i+1,'Evento'] != 'perdida') | (data_eventos.loc[i,'Jugador 1'] != data_eventos.loc[i+1,'Jugador 1']):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente]
Index: []

[0 rows x 27 columns]

# Centros

- asistencia
- completado
- interceptado
- bloqueado
- fuera

In [34]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                     cantidad
Evento        Subevento
duelo         aereo                        31
              disputa suelo                46
              gambeta a favor              13
falta         hecha                         1
pelota parada lateral corto                10
              lateral largo                24
              tiro de esquina               3
              tiro libre                   13
perdida       atajada                       3
              balon afuera fondo            8
              balon afuera lateral          9
              duelo                        43
              error tecnico                17
              interceptado                 20
              robo                          6
recuperacion  duelo                        15
              encontrada                   32
              intercepcion                 10
              intercepcion aereo           10
              intercepcion anticipo         8
              robo                         10

In [35]:
#asistencia

colname = 'centro-Asistencia'
data_eventos[colname] = 0
for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if ('remate' in data_eventos.loc[i+1,'Evento']):
            if (data_eventos.loc[i+2,'Evento']=='gol'):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia]
Index: []

[0 rows x 28 columns]

In [36]:
#completado

colname = 'centro-Completado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] != 'perdida')| (data_eventos.loc[i,'Jugador 1'] != data_eventos.loc[i+1,'Jugador 1']) :
            data_eventos.loc[i,colname] = 1

            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado]
Index: []

[0 rows x 29 columns]

In [37]:
#interceptado
'''si data[i] es pase no bloqueado y data[i+1] es perdida interceptado'''

colname = 'centro-Interceptado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
            if ('intercep' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado]
Index: []

[0 rows x 30 columns]

In [38]:
#bloqueado

colname = 'centro-Bloqueado'
data_eventos[colname] = 0
# for i in range(len(data_eventos)):
#     if (data_eventos.loc[i,'Subevento']=='centro bloqueado'):
#         data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado]
Index: []

[0 rows x 31 columns]

In [39]:
#fuera

colname = 'centro-Fuera'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
            if ('balon afuera' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera]
Index: []

[0 rows x 32 columns]

# Duelos

- ganado
- perdido
- duelo aereo
- disputa suelo
- gambeta en contra
- gambeta a favor
- pivote

In [40]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                     cantidad
Evento        Subevento
duelo         aereo                        31
              disputa suelo                46
              gambeta a favor              13
falta         hecha                         1
pelota parada lateral corto                10
              lateral largo                24
              tiro de esquina               3
              tiro libre                   13
perdida       atajada                       3
              balon afuera fondo            8
              balon afuera lateral          9
              duelo                        43
              error tecnico                17
              interceptado                 20
              robo                          6
recuperacion  duelo                        15
              encontrada                   32
              intercepcion                 10
              intercepcion aereo           10
              intercepcion anticipo         8
              robo                         10

In [41]:
dejar_index= []
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo'):
        dejar_index.append(i-1)
        dejar_index.append(i)
        dejar_index.append(i+1)
data_eventos.loc[dejar_index].head(100)

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,pase-Asistencia,pase-Completado,pase-Interceptado,pase-Fuera,pase-Inteligente,centro-Asistencia,centro-Completado,centro-Interceptado,centro-Bloqueado,centro-Fuera
2,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:00:59,00:00:59,0.0,...,0,0,0,0,0,0,0,0,0,0
3,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:01:22,00:01:22,0.0,...,0,0,0,0,0,0,0,0,0,0
4,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:01:24,00:01:24,0.0,...,0,0,0,0,0,0,0,0,0,0
9,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:02:10,00:02:10,0.0,...,0,0,0,0,0,0,0,0,0,0
10,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:02:13,00:02:13,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:32:10,00:32:10,0.0,...,0,0,0,0,0,0,0,0,0,0
127,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:32:10,00:32:10,0.0,...,0,0,0,0,0,0,0,0,0,0
128,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:32:32,00:32:32,0.0,...,0,0,0,0,0,0,0,0,0,0
129,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:32:34,00:32:34,0.0,...,0,0,0,0,0,0,0,0,0,0
131,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:32:44,00:32:44,0.0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
#duelo aereo

colname1 = 'duelo-Aereo-Perdido'
data_eventos[colname1] = 0
colname2 = 'duelo-Aereo-Ganado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='aereo'):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo')): 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1


data_eventos.loc[data_eventos[colname2] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,pase-Interceptado,pase-Fuera,pase-Inteligente,centro-Asistencia,centro-Completado,centro-Interceptado,centro-Bloqueado,centro-Fuera,duelo-Aereo-Perdido,duelo-Aereo-Ganado
10,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:02:13,00:02:13,0.0,...,0,0,0,0,0,0,0,0,0,1
17,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:03:12,00:03:12,0.0,...,0,0,0,0,0,0,0,0,0,1
25,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:05:14,00:05:14,0.0,...,0,0,0,0,0,0,0,0,0,1
34,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:07:19,00:07:19,0.0,...,0,0,0,0,0,0,0,0,0,1
85,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:24:00,00:24:00,0.0,...,0,0,0,0,0,0,0,0,0,1
99,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:26:44,00:26:44,0.0,...,0,0,0,0,0,0,0,0,0,1
147,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:36:54,00:36:54,0.0,...,0,0,0,0,0,0,0,0,0,1
156,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:38:46,00:38:46,0.0,...,0,0,0,0,0,0,0,0,0,1
182,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:00:59,00:00:59,0.0,...,0,0,0,0,0,0,0,0,0,1
192,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:03:14,00:03:14,0.0,...,0,0,0,0,0,0,0,0,0,1
201,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:04:17,00:04:17,0.0,...,0,0,0,0,0,0,0,0,0,1
248,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:21:12,00:21:12,0.0,...,0,0,0,0,0,0,0,0,0,1
259,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:23:29,00:23:29,0.0,...,0,0,0,0,0,0,0,0,0,1
263,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:25:45,00:25:45,0.0,...,0,0,0,0,0,0,0,0,0,1
289,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:35:09,00:35:09,0.0,...,0,0,0,0,0,0,0,0,0,1
299,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:37:25,00:37:25,0.0,...,0,0,0,0,0,0,0,0,0,1

In [43]:
data_eventos.loc[data_eventos[colname1] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,pase-Interceptado,pase-Fuera,pase-Inteligente,centro-Asistencia,centro-Completado,centro-Interceptado,centro-Bloqueado,centro-Fuera,duelo-Aereo-Perdido,duelo-Aereo-Ganado
57,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:14:17,00:14:17,0.0,...,0,0,0,0,0,0,0,0,1,0
60,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:14:39,00:14:39,0.0,...,0,0,0,0,0,0,0,0,1,0
115,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:29:23,00:29:23,0.0,...,0,0,0,0,0,0,0,0,1,0
128,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:32:32,00:32:32,0.0,...,0,0,0,0,0,0,0,0,1,0
135,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:33:25,00:33:25,0.0,...,0,0,0,0,0,0,0,0,1,0
140,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:33:55,00:33:55,0.0,...,0,0,0,0,0,0,0,0,1,0
163,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:41:36,00:41:36,0.0,...,0,0,0,0,0,0,0,0,1,0
174,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:44:24,00:44:24,0.0,...,0,0,0,0,0,0,0,0,1,0
207,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:05:24,00:05:24,0.0,...,0,0,0,0,0,0,0,0,1,0
224,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:11:55,00:11:55,0.0,...,0,0,0,0,0,0,0,0,1,0
271,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:27:24,00:27:24,0.0,...,0,0,0,0,0,0,0,0,1,0
283,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:33:56,00:33:56,0.0,...,0,0,0,0,0,0,0,0,1,0
287,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:35:05,00:35:05,0.0,...,0,0,0,0,0,0,0,0,1,0
316,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:41:46,00:41:46,0.0,...,0,0,0,0,0,0,0,0,1,0
322,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:43:58,00:43:58,0.0,...,0,0,0,0,0,0,0,0,1,0

In [44]:
#disputa suelo

colname1 = 'duelo-Disputa-suelo-Perdida'
data_eventos[colname1] = 0
colname2 = 'duelo-Disputa-suelo-Ganada'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='disputa suelo'):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo')): 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,pase-Inteligente,centro-Asistencia,centro-Completado,centro-Interceptado,centro-Bloqueado,centro-Fuera,duelo-Aereo-Perdido,duelo-Aereo-Ganado,duelo-Disputa-suelo-Perdida,duelo-Disputa-suelo-Ganada
55,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:13:58,00:13:58,0.0,...,0,0,0,0,0,0,0,0,1,0
74,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:18:26,00:18:26,0.0,...,0,0,0,0,0,0,0,0,1,0
78,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:19:35,00:19:35,0.0,...,0,0,0,0,0,0,0,0,1,0
88,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:25:16,00:25:16,0.0,...,0,0,0,0,0,0,0,0,1,0
92,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:25:37,00:25:37,0.0,...,0,0,0,0,0,0,0,0,1,0
97,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:26:19,00:26:19,0.0,...,0,0,0,0,0,0,0,0,1,0
107,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:28:07,00:28:07,0.0,...,0,0,0,0,0,0,0,0,1,0
112,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:29:01,00:29:01,0.0,...,0,0,0,0,0,0,0,0,1,0
126,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:32:09,00:32:09,0.0,...,0,0,0,0,0,0,0,0,1,0
154,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:38:10,00:38:10,0.0,...,0,0,0,0,0,0,0,0,1,0
158,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:39:16,00:39:16,0.0,...,0,0,0,0,0,0,0,0,1,0
168,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:43:25,00:43:25,0.0,...,0,0,0,0,0,0,0,0,1,0
170,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:43:36,00:43:36,0.0,...,0,0,0,0,0,0,0,0,1,0
190,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:03:06,00:03:06,0.0,...,0,0,0,0,0,0,0,0,1,0
214,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:06:49,00:06:49,0.0,...,0,0,0,0,0,0,0,0,1,0
219,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:08:01,00:08:01,0.0,...,0,0,0,0,0,0,0,0,1,0
228,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:13:39,00:13:39,0.0,...,0,0,0,0,0,0,0,0,1,0
233,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:16:57,00:16:57,0.0,...,0,0,0,0,0,0,0,0,1,0
235,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:17:11,00:17:11,0.0,...,0,0,0,0,0,0,0,0,1,0
269,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:26:48,00:26:48,0.0,...,0,0,0,0,0,0,0,0,1,0
279,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:32:30,00:32:30,0.0,...,0,0,0,0,0,0,0,0,1,0
295,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:36:00,00:36:00,0.0,...,0,0,0,0,0,0,0,0,1,0
302,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:39:11,00:39:11,0.0,...,0,0,0,0,0,0,0,0,1,0
305,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:39:27,00:39:27,0.0,...,0,0,0,0,0,0,0,0,1,0
310,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:40:54,00:40:54,0.0,...,0,0,0,0,0,0,0,0,1,0
328,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:45:41,00:45:41,0.0,...,0,0,0,0,0,0,0,0,1,0

In [45]:
data_eventos.loc[data_eventos[colname2] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,pase-Inteligente,centro-Asistencia,centro-Completado,centro-Interceptado,centro-Bloqueado,centro-Fuera,duelo-Aereo-Perdido,duelo-Aereo-Ganado,duelo-Disputa-suelo-Perdida,duelo-Disputa-suelo-Ganada
3,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:01:22,00:01:22,0.0,...,0,0,0,0,0,0,0,0,0,1
20,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:03:32,00:03:32,0.0,...,0,0,0,0,0,0,0,0,0,1
29,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:05:49,00:05:49,0.0,...,0,0,0,0,0,0,0,0,0,1
53,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:13:49,00:13:49,0.0,...,0,0,0,0,0,0,0,0,0,1
70,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:15:48,00:15:48,0.0,...,0,0,0,0,0,0,0,0,0,1
109,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:28:43,00:28:43,0.0,...,0,0,0,0,0,0,0,0,0,1
132,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:33:02,00:33:02,0.0,...,0,0,0,0,0,0,0,0,0,1
142,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:34:44,00:34:44,0.0,...,0,0,0,0,0,0,0,0,0,1
199,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:04:09,00:04:09,0.0,...,0,0,0,0,0,0,0,0,0,1
210,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:05:54,00:05:54,0.0,...,0,0,0,0,0,0,0,0,0,1
216,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:07:23,00:07:23,0.0,...,0,0,0,0,0,0,0,0,0,1
226,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:13:24,00:13:24,0.0,...,0,0,0,0,0,0,0,0,0,1
240,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:18:55,00:18:55,0.0,...,0,0,0,0,0,0,0,0,0,1
245,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:20:40,00:20:40,0.0,...,0,0,0,0,0,0,0,0,0,1
252,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:21:29,00:21:29,0.0,...,0,0,0,0,0,0,0,0,0,1
266,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:26:39,00:26:39,0.0,...,0,0,0,0,0,0,0,0,0,1
276,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:31:16,00:31:16,0.0,...,0,0,0,0,0,0,0,0,0,1
293,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:35:57,00:35:57,0.0,...,0,0,0,0,0,0,0,0,0,1
324,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:44:12,00:44:12,0.0,...,0,0,0,0,0,0,0,0,0,1
326,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:45:32,00:45:32,0.0,...,0,0,0,0,0,0,0,0,0,1

In [46]:
#gambeta en contra

colname1 = 'duelo-Gambeta-contra-Ganada'
data_eventos[colname1] = 0
colname2 = 'duelo-Gambeta-contra-Perdida'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='gambeta en contra'):
        if ((data_eventos.loc[i+1,'Evento'] == 'recuperacion') & ((data_eventos.loc[i+1,'Subevento'] == 'duelo') )): 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida]
Index: []

[0 rows x 38 columns]

In [47]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida]
Index: []

[0 rows x 38 columns]

In [48]:
#gambeta a favor

colname1 = 'duelo-Gambeta-favor-Perdida'
data_eventos[colname1] = 0
colname2 = 'duelo-Gambeta-favor-Ganada'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='gambeta a favor'):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & ((data_eventos.loc[i+1,'Subevento'] == 'duelo') | ('balon afuera' in data_eventos.loc[i+1,'Subevento']))) : 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,centro-Bloqueado,centro-Fuera,duelo-Aereo-Perdido,duelo-Aereo-Ganado,duelo-Disputa-suelo-Perdida,duelo-Disputa-suelo-Ganada,duelo-Gambeta-contra-Ganada,duelo-Gambeta-contra-Perdida,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada
101,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:26:49,00:26:49,0.0,...,0,0,0,0,0,0,0,0,1,0
194,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:03:17,00:03:17,0.0,...,0,0,0,0,0,0,0,0,1,0

In [49]:
data_eventos.loc[data_eventos[colname2] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,centro-Bloqueado,centro-Fuera,duelo-Aereo-Perdido,duelo-Aereo-Ganado,duelo-Disputa-suelo-Perdida,duelo-Disputa-suelo-Ganada,duelo-Gambeta-contra-Ganada,duelo-Gambeta-contra-Perdida,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada
16,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:03:06,00:03:06,0.0,...,0,0,0,0,0,0,0,0,0,1
44,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:08:52,00:08:52,0.0,...,0,0,0,0,0,0,0,0,0,1
47,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:09:36,00:09:36,0.0,...,0,0,0,0,0,0,0,0,0,1
64,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:14:46,00:14:46,0.0,...,0,0,0,0,0,0,0,0,0,1
83,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:20:54,00:20:54,0.0,...,0,0,0,0,0,0,0,0,0,1
91,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:25:30,00:25:30,0.0,...,0,0,0,0,0,0,0,0,0,1
124,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:30:48,00:30:48,0.0,...,0,0,0,0,0,0,0,0,0,1
138,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:33:31,00:33:31,0.0,...,0,0,0,0,0,0,0,0,0,1
180,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:00:43,00:00:43,0.0,...,0,0,0,0,0,0,0,0,0,1
275,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:31:06,00:31:06,0.0,...,0,0,0,0,0,0,0,0,0,1
315,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:41:34,00:41:34,0.0,...,0,0,0,0,0,0,0,0,0,1

In [50]:
#pivote

colname1 = 'duelo-Pivote-Perdido'
data_eventos[colname1] = 0
colname2 = 'duelo-Pivote-Ganado'
data_eventos[colname2] = 0

#for i in range(len(data_eventos)):
#    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='pivote'):
#        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo')) : 
#            data_eventos.loc[i,colname1] = 1
#        else:
#            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado]
Index: []

[0 rows x 42 columns]

# Faltas

- falta cometida
- falta recibida
- penal
- tarjeta amarilla
- tarjeta roja
- off-side

In [51]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                     cantidad
Evento        Subevento
duelo         aereo                        31
              disputa suelo                46
              gambeta a favor              13
falta         hecha                         1
pelota parada lateral corto                10
              lateral largo                24
              tiro de esquina               3
              tiro libre                   13
perdida       atajada                       3
              balon afuera fondo            8
              balon afuera lateral          9
              duelo                        43
              error tecnico                17
              interceptado                 20
              robo                          6
recuperacion  duelo                        15
              encontrada                   32
              intercepcion                 10
              intercepcion aereo           10
              intercepcion anticipo         8
              robo                         10

In [52]:
#falta cometida

colname = 'falta-Cometida'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='hecha'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Aereo-Ganado,duelo-Disputa-suelo-Perdida,duelo-Disputa-suelo-Ganada,duelo-Gambeta-contra-Ganada,duelo-Gambeta-contra-Perdida,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida
325,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,falta,NaN,00:44:14,00:44:14,0.0,...,0,0,0,0,0,0,0,0,0,1

In [53]:
#falta recibida

colname = 'falta-Recibida'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='recibida'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida]
Index: []

[0 rows x 44 columns]

In [54]:
#penal cometido

colname = 'falta-Penal-cometido'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='penal cometido'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido]
Index: []

[0 rows x 45 columns]

In [55]:
#penal_recibido

colname = 'falta-Penal-recibido'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='penal recibido'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido]
Index: []

[0 rows x 46 columns]

In [56]:
#offside

colname = 'falta-Offside'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='offside'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside]
Index: []

[0 rows x 47 columns]

In [57]:
#tarjeta amarilla

colname = 'falta-Tarjeta-amarilla'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='hecha'):
        if (data_eventos.loc[i+1,'Evento']=='tarjeta') & (data_eventos.loc[i+1,'Subevento']=='amarilla'):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla]
Index: []

[0 rows x 48 columns]

In [58]:
#tarjeta roja

colname = 'falta-Tarjeta-roja'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='hecha'):
        if (data_eventos.loc[i+1,'Evento']=='tarjeta') & (data_eventos.loc[i+1,'Subevento']=='roja'):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja]
Index: []

[0 rows x 49 columns]

# Recuperacion

- robo
- encontradas
- intercepcion suelo
- intercepcion aereo
- intercepcion anticipo
- disputa suelo

In [59]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                     cantidad
Evento        Subevento
duelo         aereo                        31
              disputa suelo                46
              gambeta a favor              13
falta         hecha                         1
pelota parada lateral corto                10
              lateral largo                24
              tiro de esquina               3
              tiro libre                   13
perdida       atajada                       3
              balon afuera fondo            8
              balon afuera lateral          9
              duelo                        43
              error tecnico                17
              interceptado                 20
              robo                          6
recuperacion  duelo                        15
              encontrada                   32
              intercepcion                 10
              intercepcion aereo           10
              intercepcion anticipo         8
              robo                         10

In [60]:
colname = 'recuperacion-Robo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if ((data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='robo')):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida,falta-Recibida,falta-Penal-cometido,falta-Penal-recibido,falta-Offside,falta-Tarjeta-amarilla,falta-Tarjeta-roja,recuperacion-Robo
21,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:03:33,00:03:33,0.0,...,0,0,0,0,0,0,0,0,0,1
30,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:05:50,00:05:50,0.0,...,0,0,0,0,0,0,0,0,0,1
54,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:13:50,00:13:50,0.0,...,0,0,0,0,0,0,0,0,0,1
77,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:19:28,00:19:28,0.0,...,0,0,0,0,0,0,0,0,0,1
184,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:01:20,00:01:20,0.0,...,0,0,0,0,0,0,0,0,0,1
200,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:04:10,00:04:10,0.0,...,0,0,0,0,0,0,0,0,0,1
217,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:07:25,00:07:25,0.0,...,0,0,0,0,0,0,0,0,0,1
267,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:26:40,00:26:40,0.0,...,0,0,0,0,0,0,0,0,0,1
281,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:32:50,00:32:50,0.0,...,0,0,0,0,0,0,0,0,0,1
327,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:45:32,00:45:32,0.0,...,0,0,0,0,0,0,0,0,0,1

In [61]:
#encontrada

colname = 'recuperacion-Encontrada'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='encontrada'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Pivote-Ganado,falta-Cometida,falta-Recibida,falta-Penal-cometido,falta-Penal-recibido,falta-Offside,falta-Tarjeta-amarilla,falta-Tarjeta-roja,recuperacion-Robo,recuperacion-Encontrada
7,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:01:57,00:01:57,0.0,...,0,0,0,0,0,0,0,0,0,1
12,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:02:25,00:02:25,0.0,...,0,0,0,0,0,0,0,0,0,1
14,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:02:49,00:02:49,0.0,...,0,0,0,0,0,0,0,0,0,1
15,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:03:01,00:03:01,0.0,...,0,0,0,0,0,0,0,0,0,1
24,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:04:43,00:04:43,0.0,...,0,0,0,0,0,0,0,0,0,1
32,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:06:29,00:06:29,0.0,...,0,0,0,0,0,0,0,0,0,1
39,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:08:01,00:08:01,0.0,...,0,0,0,0,0,0,0,0,0,1
41,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:08:34,00:08:34,0.0,...,0,0,0,0,0,0,0,0,0,1
46,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:09:18,00:09:18,0.0,...,0,0,0,0,0,0,0,0,0,1
52,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:13:41,00:13:41,0.0,...,0,0,0,0,0,0,0,0,0,1
59,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:14:29,00:14:29,0.0,...,0,0,0,0,0,0,0,0,0,1
67,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:15:25,00:15:25,0.0,...,0,0,0,0,0,0,0,0,0,1
94,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:25:40,00:25:40,0.0,...,0,0,0,0,0,0,0,0,0,1
105,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:27:53,00:27:53,0.0,...,0,0,0,0,0,0,0,0,0,1
117,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:29:29,00:29:29,0.0,...,0,0,0,0,0,0,0,0,0,1
121,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:30:30,00:30:30,0.0,...,0,0,0,0,0,0,0,0,0,1
123,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:30:47,00:30:47,0.0,...,0,0,0,0,0,0,0,0,0,1
125,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:31:51,00:31:51,0.0,...,0,0,0,0,0,0,0,0,0,1
130,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:32:37,00:32:37,0.0,...,0,0,0,0,0,0,0,0,0,1
153,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:38:03,00:38:03,0.0,...,0,0,0,0,0,0,0,0,0,1
165,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:42:20,00:42:20,0.0,...,0,0,0,0,0,0,0,0,0,1
167,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:43:19,00:43:19,0.0,...,0,0,0,0,0,0,0,0,0,1
172,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:43:47,00:43:47,0.0,...,0,0,0,0,0,0,0,0,0,1
176,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:45:06,00:45:06,0.0,...,0,0,0,0,0,0,0,0,0,1
177,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:00:25,00:00:25,0.0,...,0,0,0,0,0,0,0,0,0,1
187,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:02:36,00:02:36,0.0,...,0,0,0,0,0,0,0,0,0,1
197,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:04:00,00:04:00,0.0,...,0,0,0,0,0,0,0,0,0,1
232,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:14:53,00:14:53,0.0,...,0,0,0,0,0,0,0,0,0,1
239,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:18:47,00:18:47,0.0,...,0,0,0,0,0,0,0,0,0,1
285,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:34:01,00:34:01,0.0,...,0,0,0,0,0,0,0,0,0,1
297,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:37:06,00:37:06,0.0,...,0,0,0,0,0,0,0,0,0,1
309,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:40:51,00:40:51,0.0,...,0,0,0,0,0,0,0,0,0,1

In [62]:
#intercepcion suelo

colname = 'recuperacion-Intercepcion-suelo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='intercepcion'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,falta-Cometida,falta-Recibida,falta-Penal-cometido,falta-Penal-recibido,falta-Offside,falta-Tarjeta-amarilla,falta-Tarjeta-roja,recuperacion-Robo,recuperacion-Encontrada,recuperacion-Intercepcion-suelo
62,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:14:44,00:14:44,0.0,...,0,0,0,0,0,0,0,0,0,1
69,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:15:44,00:15:44,0.0,...,0,0,0,0,0,0,0,0,0,1
76,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:18:33,00:18:33,0.0,...,0,0,0,0,0,0,0,0,0,1
119,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:29:52,00:29:52,0.0,...,0,0,0,0,0,0,0,0,0,1
137,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:33:27,00:33:27,0.0,...,0,0,0,0,0,0,0,0,0,1
179,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:00:38,00:00:38,0.0,...,0,0,0,0,0,0,0,0,0,1
204,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:04:59,00:04:59,0.0,...,0,0,0,0,0,0,0,0,0,1
206,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:05:20,00:05:20,0.0,...,0,0,0,0,0,0,0,0,0,1
242,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:19:07,00:19:07,0.0,...,0,0,0,0,0,0,0,0,0,1
304,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:39:23,00:39:23,0.0,...,0,0,0,0,0,0,0,0,0,1

In [63]:
#intercepcion aereo

colname = 'recuperacion-Intercepcion-aereo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='intercepcion aereo'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,falta-Recibida,falta-Penal-cometido,falta-Penal-recibido,falta-Offside,falta-Tarjeta-amarilla,falta-Tarjeta-roja,recuperacion-Robo,recuperacion-Encontrada,recuperacion-Intercepcion-suelo,recuperacion-Intercepcion-aereo
35,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:07:20,00:07:20,0.0,...,0,0,0,0,0,0,0,0,0,1
51,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:12:00,00:12:00,0.0,...,0,0,0,0,0,0,0,0,0,1
90,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:25:24,00:25:24,0.0,...,0,0,0,0,0,0,0,0,0,1
148,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:36:55,00:36:55,0.0,...,0,0,0,0,0,0,0,0,0,1
151,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:37:33,00:37:33,0.0,...,0,0,0,0,0,0,0,0,0,1
196,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:03:38,00:03:38,0.0,...,0,0,0,0,0,0,0,0,0,1
249,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:21:13,00:21:13,0.0,...,0,0,0,0,0,0,0,0,0,1
254,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:21:44,00:21:44,0.0,...,0,0,0,0,0,0,0,0,0,1
257,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:23:00,00:23:00,0.0,...,0,0,0,0,0,0,0,0,0,1
314,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:41:25,00:41:25,0.0,...,0,0,0,0,0,0,0,0,0,1

In [64]:
#intercepcion anticipo

colname = 'recuperacion-Intercepcion-anticipo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion'):
        if ('anticipo' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,falta-Penal-cometido,falta-Penal-recibido,falta-Offside,falta-Tarjeta-amarilla,falta-Tarjeta-roja,recuperacion-Robo,recuperacion-Encontrada,recuperacion-Intercepcion-suelo,recuperacion-Intercepcion-aereo,recuperacion-Intercepcion-anticipo
9,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:02:10,00:02:10,0.0,...,0,0,0,0,0,0,0,0,0,1
43,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:08:46,00:08:46,0.0,...,0,0,0,0,0,0,0,0,0,1
80,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:20:12,00:20:12,0.0,...,0,0,0,0,0,0,0,0,0,1
106,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:27:59,00:27:59,0.0,...,0,0,0,0,0,0,0,0,0,1
251,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:21:16,00:21:16,0.0,...,0,0,0,0,0,0,0,0,0,1
273,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:29:35,00:29:35,0.0,...,0,0,0,0,0,0,0,0,0,1
274,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:31:03,00:31:03,0.0,...,0,0,0,0,0,0,0,0,0,1
320,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:43:21,00:43:21,0.0,...,0,0,0,0,0,0,0,0,0,1

In [65]:
#disputa suelo

colname = 'recuperacion-Disputa-suelo'
data_eventos[colname] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='disputa suelo'):
        if (data_eventos.loc[i+1,'Evento'] == 'recuperacion') & (data_eventos.loc[i+1,'Subevento'] == 'duelo'): 
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,falta-Penal-recibido,falta-Offside,falta-Tarjeta-amarilla,falta-Tarjeta-roja,recuperacion-Robo,recuperacion-Encontrada,recuperacion-Intercepcion-suelo,recuperacion-Intercepcion-aereo,recuperacion-Intercepcion-anticipo,recuperacion-Disputa-suelo
3,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:01:22,00:01:22,0.0,...,0,0,0,0,0,0,0,0,0,1
109,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:28:43,00:28:43,0.0,...,0,0,0,0,0,0,0,0,0,1
132,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:33:02,00:33:02,0.0,...,0,0,0,0,0,0,0,0,0,1
142,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:34:44,00:34:44,0.0,...,0,0,0,0,0,0,0,0,0,1
210,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:05:54,00:05:54,0.0,...,0,0,0,0,0,0,0,0,0,1
226,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:13:24,00:13:24,0.0,...,0,0,0,0,0,0,0,0,0,1
245,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:20:40,00:20:40,0.0,...,0,0,0,0,0,0,0,0,0,1
293,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:35:57,00:35:57,0.0,...,0,0,0,0,0,0,0,0,0,1

# Pelota parada

- lateral completado
- lateral interceptado
- corner completado
- corner interceptado
- tiro libre

In [135]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                           cantidad
Evento        Subevento
duelo         aereo                              18
              disputa suelo                      46
              gambeta a favor                    20
pelota parada lateral corto                       8
              lateral largo                      11
              tiro de esquina                     6
              tiro libre                          4
perdida       atajada                             4
              balon afuera fondo                  9
              balon afuera lateral                9
              duelo                              22
              error tecnico                       9
              intercepcion aereo                  5
              interceptado                       20
              robo                                1
recuperacion  duelo                               6
              intercepcion                        1
              intercepcion aereo                  4
              intercepcion anticipo               3
              intercepcion anticipo aereo         1
              robo                               17

In [66]:
#lateral

colname1 = 'parado-Lateral-interceptado'
data_eventos[colname1] = 0
colname2 = 'parado-Lateral-completado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if ('lateral' in data_eventos.loc[i,'Subevento']):

            if ((data_eventos.loc[i+1,'Evento']=='perdida') & (data_eventos.loc[i+1,'Subevento']=='intercepcion')):
                data_eventos.loc[i,colname1] = 1
            if (data_eventos.loc[i+1,'Evento']=='duelo') & ((data_eventos.loc[i+1,'Subevento']=='aereo') | (data_eventos.loc[i+1,'Subevento']=='disputa suelo')):
                if (data_eventos.loc[i+2,'Evento']=='perdida') & (data_eventos.loc[i+2,'Subevento']=='duelo'):
                    data_eventos.loc[i,colname1] = 1
                
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if ('lateral' in data_eventos.loc[i,'Subevento']):
            if (data_eventos.loc[i,colname1]!= 1):
                data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,falta-Tarjeta-amarilla,falta-Tarjeta-roja,recuperacion-Robo,recuperacion-Encontrada,recuperacion-Intercepcion-suelo,recuperacion-Intercepcion-aereo,recuperacion-Intercepcion-anticipo,recuperacion-Disputa-suelo,parado-Lateral-interceptado,parado-Lateral-completado
87,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:25:13,00:25:13,0.0,...,0,0,0,0,0,0,0,0,1,0
96,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:26:16,00:26:16,0.0,...,0,0,0,0,0,0,0,0,1,0
111,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:28:52,00:28:52,0.0,...,0,0,0,0,0,0,0,0,1,0
114,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:29:22,00:29:22,0.0,...,0,0,0,0,0,0,0,0,1,0
134,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:33:24,00:33:24,0.0,...,0,0,0,0,0,0,0,0,1,0
157,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:39:13,00:39:13,0.0,...,0,0,0,0,0,0,0,0,1,0
189,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:03:02,00:03:02,0.0,...,0,0,0,0,0,0,0,0,1,0
213,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:06:46,00:06:46,0.0,...,0,0,0,0,0,0,0,0,1,0

In [67]:
data_eventos.loc[data_eventos[colname2] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,falta-Tarjeta-amarilla,falta-Tarjeta-roja,recuperacion-Robo,recuperacion-Encontrada,recuperacion-Intercepcion-suelo,recuperacion-Intercepcion-aereo,recuperacion-Intercepcion-anticipo,recuperacion-Disputa-suelo,parado-Lateral-interceptado,parado-Lateral-completado
5,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:01:36,00:01:36,0.0,...,0,0,0,0,0,0,0,0,0,1
6,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:01:55,00:01:55,0.0,...,0,0,0,0,0,0,0,0,0,1
22,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:04:20,00:04:20,0.0,...,0,0,0,0,0,0,0,0,0,1
27,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:05:35,00:05:35,0.0,...,0,0,0,0,0,0,0,0,0,1
36,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:07:39,00:07:39,0.0,...,0,0,0,0,0,0,0,0,0,1
37,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:07:50,00:07:50,0.0,...,0,0,0,0,0,0,0,0,0,1
48,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:10:14,00:10:14,0.0,...,0,0,0,0,0,0,0,0,0,1
65,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:15:21,00:15:21,0.0,...,0,0,0,0,0,0,0,0,0,1
71,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:16:08,00:16:08,0.0,...,0,0,0,0,0,0,0,0,0,1
82,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:20:48,00:20:48,0.0,...,0,0,0,0,0,0,0,0,0,1
103,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:27:35,00:27:35,0.0,...,0,0,0,0,0,0,0,0,0,1
145,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:35:39,00:35:39,0.0,...,0,0,0,0,0,0,0,0,0,1
160,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:39:34,00:39:34,0.0,...,0,0,0,0,0,0,0,0,0,1
185,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:02:13,00:02:13,0.0,...,0,0,0,0,0,0,0,0,0,1
186,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:02:33,00:02:33,0.0,...,0,0,0,0,0,0,0,0,0,1
202,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:04:36,00:04:36,0.0,...,0,0,0,0,0,0,0,0,0,1
203,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:04:53,00:04:53,0.0,...,0,0,0,0,0,0,0,0,0,1
209,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:05:46,00:05:46,0.0,...,0,0,0,0,0,0,0,0,0,1
230,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:14:27,00:14:27,0.0,...,0,0,0,0,0,0,0,0,0,1
237,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:17:35,00:17:35,0.0,...,0,0,0,0,0,0,0,0,0,1
262,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:25:45,00:25:45,0.0,...,0,0,0,0,0,0,0,0,0,1
265,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:26:30,00:26:30,0.0,...,0,0,0,0,0,0,0,0,0,1
307,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:40:41,00:40:41,0.0,...,0,0,0,0,0,0,0,0,0,1
312,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:41:15,00:41:15,0.0,...,0,0,0,0,0,0,0,0,0,1
318,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:42:55,00:42:55,0.0,...,0,0,0,0,0,0,0,0,0,1
319,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:43:16,00:43:16,0.0,...,0,0,0,0,0,0,0,0,0,1

In [68]:
#corner

colname1 = 'parado-Corner-interceptado'
data_eventos[colname1] = 0
colname2 = 'parado-Corner-completado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i,'Subevento']=='tiro de esquina'):

            if ('intercep' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname1] = 1
            if (data_eventos.loc[i+1,'Evento']=='duelo') & ((data_eventos.loc[i+1,'Subevento']=='aereo') | (data_eventos.loc[i+1,'Subevento']=='disputa suelo')):
                if (data_eventos.loc[i+2,'Evento']=='perdida') & (data_eventos.loc[i+2,'Subevento']=='duelo'):
                    data_eventos.loc[i,colname1] = 1
                
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i,'Subevento']=='tiro de esquina'):
            if (data_eventos.loc[i,colname1]!= 1):
                data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,recuperacion-Robo,recuperacion-Encontrada,recuperacion-Intercepcion-suelo,recuperacion-Intercepcion-aereo,recuperacion-Intercepcion-anticipo,recuperacion-Disputa-suelo,parado-Lateral-interceptado,parado-Lateral-completado,parado-Corner-interceptado,parado-Corner-completado
161,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:40:14,00:40:14,0.0,...,0,0,0,0,0,0,0,0,1,0
321,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:43:57,00:43:57,0.0,...,0,0,0,0,0,0,0,0,1,0

In [69]:
data_eventos.loc[data_eventos[colname2] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,recuperacion-Robo,recuperacion-Encontrada,recuperacion-Intercepcion-suelo,recuperacion-Intercepcion-aereo,recuperacion-Intercepcion-anticipo,recuperacion-Disputa-suelo,parado-Lateral-interceptado,parado-Lateral-completado,parado-Corner-interceptado,parado-Corner-completado
291,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:35:42,00:35:42,0.0,...,0,0,0,0,0,0,0,0,0,1

In [70]:
#tiro libre
colname1 = 'parado-Tiro-libre-incompleto'
data_eventos[colname1] = 0
colname2 = 'parado-Tiro-libre-completado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pelota parada') & (data_eventos.loc[i,'Subevento']=='tiro libre') :
        if(data_eventos.loc[i+1,'Evento'] == 'perdida'):
            data_eventos.loc[i,colname1] = 1

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i,'Subevento']=='tiro libre'):
            if (data_eventos.loc[i,colname1]!= 1):
                data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,recuperacion-Intercepcion-suelo,recuperacion-Intercepcion-aereo,recuperacion-Intercepcion-anticipo,recuperacion-Disputa-suelo,parado-Lateral-interceptado,parado-Lateral-completado,parado-Corner-interceptado,parado-Corner-completado,parado-Tiro-libre-incompleto,parado-Tiro-libre-completado
49,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:11:24,00:11:24,0.0,...,0,0,0,0,0,0,0,0,1,0
72,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:16:57,00:16:57,0.0,...,0,0,0,0,0,0,0,0,1,0
149,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:37:22,00:37:22,0.0,...,0,0,0,0,0,0,0,0,1,0
221,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:10:08,00:10:08,0.0,...,0,0,0,0,0,0,0,0,1,0
243,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:19:56,00:19:56,0.0,...,0,0,0,0,0,0,0,0,1,0
255,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:22:45,00:22:45,0.0,...,0,0,0,0,0,0,0,0,1,0
277,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:32:06,00:32:06,0.0,...,0,0,0,0,0,0,0,0,1,0
330,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:46:25,00:46:25,0.0,...,0,0,0,0,0,0,0,0,1,0

In [71]:
data_eventos.loc[data_eventos[colname2] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,recuperacion-Intercepcion-suelo,recuperacion-Intercepcion-aereo,recuperacion-Intercepcion-anticipo,recuperacion-Disputa-suelo,parado-Lateral-interceptado,parado-Lateral-completado,parado-Corner-interceptado,parado-Corner-completado,parado-Tiro-libre-incompleto,parado-Tiro-libre-completado
31,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:06:24,00:06:24,0.0,...,0,0,0,0,0,0,0,0,0,1
144,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:35:27,00:35:27,0.0,...,0,0,0,0,0,0,0,0,0,1
166,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:43:18,00:43:18,0.0,...,0,0,0,0,0,0,0,0,0,1
173,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,pelota parada,NaN,00:44:17,00:44:17,0.0,...,0,0,0,0,0,0,0,0,0,1
261,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:24:39,00:24:39,0.0,...,0,0,0,0,0,0,0,0,0,1

# Perdida

- gambeta a favor
- robo
- intercepcion
- error tecnico
- balon afuera
- genero situacion rival
- genero gol rival
- atajada rival

In [72]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                     cantidad
Evento        Subevento
duelo         aereo                        31
              disputa suelo                46
              gambeta a favor              13
falta         hecha                         1
pelota parada lateral corto                10
              lateral largo                24
              tiro de esquina               3
              tiro libre                   13
perdida       atajada                       3
              balon afuera fondo            8
              balon afuera lateral          9
              duelo                        43
              error tecnico                17
              interceptado                 20
              robo                          6
recuperacion  duelo                        15
              encontrada                   32
              intercepcion                 10
              intercepcion aereo           10
              intercepcion anticipo         8
              robo                         10

In [73]:
#gambeta a favor

colname = 'perdida-Gambeta-favor'
data_eventos[colname] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='gambeta a favor'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo'): 
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,recuperacion-Intercepcion-aereo,recuperacion-Intercepcion-anticipo,recuperacion-Disputa-suelo,parado-Lateral-interceptado,parado-Lateral-completado,parado-Corner-interceptado,parado-Corner-completado,parado-Tiro-libre-incompleto,parado-Tiro-libre-completado,perdida-Gambeta-favor
194,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:03:17,00:03:17,0.0,...,0,0,0,0,0,0,0,0,0,1

In [74]:
#robo

colname = 'perdida-Robo'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida') & (data_eventos.loc[i,'Subevento']=='robo'):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,recuperacion-Intercepcion-anticipo,recuperacion-Disputa-suelo,parado-Lateral-interceptado,parado-Lateral-completado,parado-Corner-interceptado,parado-Corner-completado,parado-Tiro-libre-incompleto,parado-Tiro-libre-completado,perdida-Gambeta-favor,perdida-Robo
11,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:02:16,00:02:16,0.0,...,0,0,0,0,0,0,0,0,0,1
19,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:03:17,00:03:17,0.0,...,0,0,0,0,0,0,0,0,0,1
38,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:07:54,00:07:54,0.0,...,0,0,0,0,0,0,0,0,0,1
42,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:08:42,00:08:42,0.0,...,0,0,0,0,0,0,0,0,0,1
63,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:14:49,00:14:49,0.0,...,0,0,0,0,0,0,0,0,0,1
218,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:07:28,00:07:28,0.0,...,0,0,0,0,0,0,0,0,0,1

In [75]:
#intercepcion

colname = 'perdida-Intercepcion'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida') & ('intercep' in str(data_eventos.loc[i,'Subevento'])):
        data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,recuperacion-Disputa-suelo,parado-Lateral-interceptado,parado-Lateral-completado,parado-Corner-interceptado,parado-Corner-completado,parado-Tiro-libre-incompleto,parado-Tiro-libre-completado,perdida-Gambeta-favor,perdida-Robo,perdida-Intercepcion
2,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:00:59,00:00:59,0.0,...,0,0,0,0,0,0,0,0,0,1
8,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:02:02,00:02:02,0.0,...,0,0,0,0,0,0,0,0,0,1
13,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:02:33,00:02:33,0.0,...,0,0,0,0,0,0,0,0,0,1
28,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:05:35,00:05:35,0.0,...,0,0,0,0,0,0,0,0,0,1
40,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:08:09,00:08:09,0.0,...,0,0,0,0,0,0,0,0,0,1
45,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:09:01,00:09:01,0.0,...,0,0,0,0,0,0,0,0,0,1
86,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:24:02,00:24:02,0.0,...,0,0,0,0,0,0,0,0,0,1
104,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:27:36,00:27:36,0.0,...,0,0,0,0,0,0,0,0,0,1
118,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:29:46,00:29:46,0.0,...,0,0,0,0,0,0,0,0,0,1
120,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:29:57,00:29:57,0.0,...,0,0,0,0,0,0,0,0,0,1
122,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:30:42,00:30:42,0.0,...,0,0,0,0,0,0,0,0,0,1
139,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:33:52,00:33:52,0.0,...,0,0,0,0,0,0,0,0,0,1
162,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:40:20,00:40:20,0.0,...,0,0,0,0,0,0,0,0,0,1
178,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:00:28,00:00:28,0.0,...,0,0,0,0,0,0,0,0,0,1
198,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:04:03,00:04:03,0.0,...,0,0,0,0,0,0,0,0,0,1
205,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:05:13,00:05:13,0.0,...,0,0,0,0,0,0,0,0,0,1
222,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:10:11,00:10:11,0.0,...,0,0,0,0,0,0,0,0,0,1
223,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:11:16,00:11:16,0.0,...,0,0,0,0,0,0,0,0,0,1
247,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:20:44,00:20:44,0.0,...,0,0,0,0,0,0,0,0,0,1
264,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:25:52,00:25:52,0.0,...,0,0,0,0,0,0,0,0,0,1

In [76]:
#error tecnico

colname = 'perdida-Error-tecnico'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida') & (data_eventos.loc[i,'Subevento']=='error tecnico'):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,parado-Lateral-interceptado,parado-Lateral-completado,parado-Corner-interceptado,parado-Corner-completado,parado-Tiro-libre-incompleto,parado-Tiro-libre-completado,perdida-Gambeta-favor,perdida-Robo,perdida-Intercepcion,perdida-Error-tecnico
0,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:00:35,00:00:35,0.0,...,0,0,0,0,0,0,0,0,0,1
68,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:15:35,00:15:35,0.0,...,0,0,0,0,0,0,0,0,0,1
81,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:20:16,00:20:16,0.0,...,0,0,0,0,0,0,0,0,0,1
84,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:23:54,00:23:54,0.0,...,0,0,0,0,0,0,0,0,0,1
131,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:32:44,00:32:44,0.0,...,0,0,0,0,0,0,0,0,0,1
150,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:37:23,00:37:23,0.0,...,0,0,0,0,0,0,0,0,0,1
152,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:37:39,00:37:39,0.0,...,0,0,0,0,0,0,0,0,0,1
181,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:00:47,00:00:47,0.0,...,0,0,0,0,0,0,0,0,0,1
188,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:02:40,00:02:40,0.0,...,0,0,0,0,0,0,0,0,0,1
231,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:14:37,00:14:37,0.0,...,0,0,0,0,0,0,0,0,0,1
241,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:19:03,00:19:03,0.0,...,0,0,0,0,0,0,0,0,0,1
250,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:21:13,00:21:13,0.0,...,0,0,0,0,0,0,0,0,0,1
258,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:23:14,00:23:14,0.0,...,0,0,0,0,0,0,0,0,0,1
268,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:26:42,00:26:42,0.0,...,0,0,0,0,0,0,0,0,0,1
301,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:37:28,00:37:28,0.0,...,0,0,0,0,0,0,0,0,0,1
308,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:40:42,00:40:42,0.0,...,0,0,0,0,0,0,0,0,0,1
331,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:46:25,00:46:25,0.0,...,0,0,0,0,0,0,0,0,0,1

In [77]:
#balon afuera

colname = 'perdida-Balon-fuera'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida'):
        if ('balon afuera' in str(data_eventos.loc[i,'Subevento'])):
            data_eventos.loc[i,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,parado-Lateral-completado,parado-Corner-interceptado,parado-Corner-completado,parado-Tiro-libre-incompleto,parado-Tiro-libre-completado,perdida-Gambeta-favor,perdida-Robo,perdida-Intercepcion,perdida-Error-tecnico,perdida-Balon-fuera
1,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:00:38,00:00:38,0.0,...,0,0,0,0,0,0,0,0,0,1
33,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:06:47,00:06:47,0.0,...,0,0,0,0,0,0,0,0,0,1
50,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:11:26,00:11:26,0.0,...,0,0,0,0,0,0,0,0,0,1
73,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:17:08,00:17:08,0.0,...,0,0,0,0,0,0,0,0,0,1
95,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:25:46,00:25:46,0.0,...,0,0,0,0,0,0,0,0,0,1
102,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:27:03,00:27:03,0.0,...,0,0,0,0,0,0,0,0,0,1
146,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:35:50,00:35:50,0.0,...,0,0,0,0,0,0,0,0,0,1
183,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:01:02,00:01:02,0.0,...,0,0,0,0,0,0,0,0,0,1
212,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:06:02,00:06:02,0.0,...,0,0,0,0,0,0,0,0,0,1
238,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:17:40,00:17:40,0.0,...,0,0,0,0,0,0,0,0,0,1
244,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:20:02,00:20:02,0.0,...,0,0,0,0,0,0,0,0,0,1
253,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:21:31,00:21:31,0.0,...,0,0,0,0,0,0,0,0,0,1
256,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:22:46,00:22:46,0.0,...,0,0,0,0,0,0,0,0,0,1
278,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:32:08,00:32:08,0.0,...,0,0,0,0,0,0,0,0,0,1
282,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:32:54,00:32:54,0.0,...,0,0,0,0,0,0,0,0,0,1
286,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:34:46,00:34:46,0.0,...,0,0,0,0,0,0,0,0,0,1
313,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:41:18,00:41:18,0.0,...,0,0,0,0,0,0,0,0,0,1

In [78]:
#situacion rival

colname = 'perdida-Situacion-rival'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='situacion rival'):
        if (data_eventos.loc[i,'Subevento']=='directa'):
            data_eventos.loc[i,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival]
Index: []

[0 rows x 67 columns]

In [79]:
#atajada

colname = 'perdida-Atajada'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida'):
        if (data_eventos.loc[i,'Subevento']=='atajada'):
            data_eventos.loc[i,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,parado-Corner-completado,parado-Tiro-libre-incompleto,parado-Tiro-libre-completado,perdida-Gambeta-favor,perdida-Robo,perdida-Intercepcion,perdida-Error-tecnico,perdida-Balon-fuera,perdida-Situacion-rival,perdida-Atajada
23,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:04:22,00:04:22,0.0,...,0,0,0,0,0,0,0,0,0,1
292,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:35:43,00:35:43,0.0,...,0,0,0,0,0,0,0,0,0,1
298,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:37:12,00:37:12,0.0,...,0,0,0,0,0,0,0,0,0,1

# Arquero

- gol en contra
- atajada facil
- atajada dificil
- mano a mano
- rebote
- intercepcion aereo
- intercepcion aereo anticipo
- completado
- interceptado
- saque arquero pie
- saque arquero mano
- saque meta
- pase


Cuando pongo el gol rival, atajadas y rebotes, tengo q poner q todas las cosas se marquen como arquero-x:
- el remate rival (coordenadas inicial y final)
- la atajada (coordenada inicial)
- rebote (coordenada incial y final)
- el centro (si hay intercepcion aereo) , etc

In [150]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                           cantidad
Evento        Subevento
duelo         aereo                              18
              disputa suelo                      46
              gambeta a favor                    20
pelota parada lateral corto                       8
              lateral largo                      11
              tiro de esquina                     6
              tiro libre                          4
perdida       atajada                             4
              balon afuera fondo                  9
              balon afuera lateral                9
              duelo                              22
              error tecnico                       9
              intercepcion aereo                  5
              interceptado                       20
              robo                                1
recuperacion  duelo                               6
              intercepcion                        1
              intercepcion aereo                  4
              intercepcion anticipo               3
              intercepcion anticipo aereo         1
              robo                               17

In [80]:
#gol rival

colname1 = 'arquero-Gol-rival'
data_eventos[colname1] = 0
colname2 = 'arquero-Gol-rival-atajable'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='gol rival'):
        data_eventos.loc[i,colname1] = 1
        if ('remate atajable' in data_eventos.loc[i+1,'Subevento']):
            data_eventos.loc[i,colname2] = 1
        

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable]
Index: []

[0 rows x 70 columns]

In [81]:
#atajada

colname = 'arquero-Atajada'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='arquero'):
        if ('atajada' in data_eventos.loc[i,'Subevento']) | (data_eventos.loc[i,'Subevento']=='mano a mano'):
            data_eventos.loc[i,colname] = 1
            if ('remate' in data_eventos.loc[i-1,'Evento']):
                data_eventos.loc[i-1,colname] = 1
            elif ('remate' in data_eventos.loc[i-2,'Evento']):
                data_eventos.loc[i-2,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada]
Index: []

[0 rows x 71 columns]

In [153]:
# #mano a mano
# data_eventos_con_rival = data.copy().reset_index(drop=True)

# colname = 'arquero-mano_a_mano'
# data_eventos_con_rival[colname] = 0

# for i in range(len(data_eventos_con_rival)):
#     if (data_eventos_con_rival.loc[i,'Evento']=='arquero'):
#         if ('mano a mano' in data_eventos_con_rival.loc[i,'Subevento']):
#             data_eventos_con_rival.loc[i,colname] = 1
#             if ('remate' in data_eventos_con_rival.loc[i-1,'Evento']):
#                 data_eventos_con_rival.loc[i,'Posicion incial'] = data_eventos_con_rival.loc[i-1,'Posicion incial']
#                 data_eventos_con_rival.loc[i,'Posicion final'] = data_eventos_con_rival.loc[i-1,'Posicion final']
#                 data_eventos_con_rival.loc[i,'coord inicial'] = data_eventos_con_rival.loc[i-1,'coord inicial']
#                 data_eventos_con_rival.loc[i,'coord final'] = data_eventos_con_rival.loc[i-1,'coord final']


# data_eventos_con_rival.loc[data_eventos_con_rival[colname] == 1]

In [82]:
#intercepcion aereo

colname = 'arquero-Intercepcion-aerea'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Jugador 1']=='1'):
        if ('intercepcion aereo' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea]
Index: []

[0 rows x 72 columns]

In [83]:
#intercepcion

colname = 'arquero-Intercepcion'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Jugador 1']=='1'):
        if (data_eventos.loc[i,'Subevento']=='intercepcion'):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion]
Index: []

[0 rows x 73 columns]

In [84]:
#anticipo

colname = 'arquero-Anticipo'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Jugador 1']=='1'):
        if ('anticipo' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion, arquero-Anticipo]
Index: []

[0 rows x 74 columns]

In [85]:
#saque arquero mano

colname = 'arquero-Saque-mano'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Jugador 1']=='1'):
        if ('s arquero mano' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion, arquero-Anticipo, arquero-Saque-mano]
Index: []

[0 rows x 75 columns]

In [86]:
#saque arquero pie

colname = 'arquero-Saque-pie'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Jugador 1']=='1'):
        if ('s arquero pie' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion, arquero-Anticipo, arquero-Saque-mano, arquero-Saque-pie]
Index: []

[0 rows x 76 columns]

In [87]:
#saque de meta

colname = 'arquero-Saque-meta'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada') & (data_eventos.loc[i,'Jugador 1']=='1'):
        if ('saque de meta' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), coord inicial, Subevento, Jugador 2, Jugador 1, coord final, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion, arquero-Anticipo, arquero-Saque-mano, arquero-Saque-pie, arquero-Saque-meta]
Index: []

[0 rows x 77 columns]

In [88]:
data_eventos.columns = [col.replace(' ','.') for col in data_eventos.columns]

In [89]:
data_eventos.iloc[:,:20]

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),coord.inicial,Subevento,Jugador.2,Jugador.1,coord.final,Optional.Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco
0,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:00:35,00:00:35,0.0,10.0,error tecnico,NaN,3.0,Volver,NaN,35.0,0,0,0
1,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:00:38,00:00:38,0.0,10.0,balon afuera fondo,NaN,3.0,Volver,NaN,38.0,0,0,0
2,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,perdida,NaN,00:00:59,00:00:59,0.0,5.0,interceptado,11.0,4.0,9,NaN,59.0,0,0,0
3,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,duelo,NaN,00:01:22,00:01:22,0.0,1.0,disputa suelo,NaN,3.0,Volver,NaN,82.0,0,0,0
4,2022/04/28,COLON_1T,COLON1T,08:46:59,09:32:19,recuperacion,NaN,00:01:24,00:01:24,0.0,1.0,duelo,NaN,3.0,Volver,NaN,84.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,duelo,NaN,00:45:41,00:45:41,0.0,23.0,disputa suelo,NaN,22.0,Volver,NaN,2741.0,0,0,0
329,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:45:42,00:45:42,0.0,23.0,duelo,NaN,22.0,Volver,NaN,2742.0,0,0,0
330,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:46:25,00:46:25,0.0,8.0,tiro libre,NaN,1.0,Volver,NaN,2785.0,0,0,0
331,2022/04/28,COLON_2T,COLON2T,12:05:04,12:53:31,perdida,NaN,00:46:25,00:46:25,0.0,8.0,error tecnico,NaN,1.0,Volver,NaN,2785.0,0,0,0
332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0

# Crear coordenadas

- Primero mapear la media de coordenadas para cada sector
- Segundo agregar aleatoriedad

In [90]:
data_eventos['coord.inicial'].value_counts()

14.0    34
11.0    32
13.0    30
17.0    26
10.0    25
8.0     25
18.0    21
7.0     20
24.0    20
9.0     13
15.0    12
12.0    11
1.0     11
19.0    10
16.0    10
4.0      9
23.0     9
21.0     7
5.0      3
3.0      1
20.0     1
2.0      1
22.0     1
Name: coord.inicial, dtype: int64

In [91]:
data_eventos['coord.final'].value_counts()

Volver    272
16         11
17          7
14          6
23          6
21          5
10          5
18          4
13          3
19          3
9           2
7           2
24          2
15          2
8           1
11          1
Name: coord.final, dtype: int64

In [92]:
map_zona_coord_x = {  
1:22,
2:21,
3:12,
4:33,
5:21,
6:20,
7:68,
8:66,
9:65,
10:109,
11:108,
12:105,
13:162,
14:161,
15:160,
16:205,
17:203,
18:203,
19:251,
20:250,
21:238,
22:260,
23:250,
24:250
}

In [93]:
map_zona_coord_y = {  
1:18,
2:43,
3:82,
4:83,
5:117,
6:147,
7:22,
8:81,
9:141,
10:22,
11:82,
12:138,
13:21,
14:81,
15:142,
16:23,
17:80,
18:141,
19:20,
20:45,
21:80,
22:81,
23:119,
24:147
}

In [94]:
data_eventos['coord.final.num'] = np.where(data_eventos['coord.final'] == 'Volver',None, data_eventos['coord.final']).astype('float')

In [95]:
data_eventos['coord.inicial.x'] = data_eventos['coord.inicial'].map(map_zona_coord_x)
data_eventos['coord.final.x'] = data_eventos['coord.final.num'].map(map_zona_coord_x)
data_eventos['coord.inicial.y'] = data_eventos['coord.inicial'].map(map_zona_coord_y)
data_eventos['coord.final.y'] = data_eventos['coord.final.num'].map(map_zona_coord_y)
data_eventos.iloc[:,-5:]

,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,NaN,109.0,NaN,22.0,NaN
1,NaN,109.0,NaN,22.0,NaN
2,9.0,21.0,65.0,117.0,141.0
3,NaN,22.0,NaN,18.0,NaN
4,NaN,22.0,NaN,18.0,NaN
...,...,...,...,...,...
328,NaN,250.0,NaN,119.0,NaN
329,NaN,250.0,NaN,119.0,NaN
330,NaN,66.0,NaN,81.0,NaN
331,NaN,66.0,NaN,81.0,NaN
332,NaN,NaN,NaN,NaN,NaN

In [96]:
data_eventos['coord.inicial.x'].describe() # de 0 a 272

count    332.000000
mean     143.394578
std       68.216939
min       12.000000
25%       95.750000
50%      161.000000
75%      203.000000
max      260.000000
Name: coord.inicial.x, dtype: float64

In [97]:
# añadirles aleatoriedad
data_eventos['coord.inicial.x'] = data_eventos['coord.inicial.x'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.inicial.x'].describe()

count    332.000000
mean     143.406452
std       69.658840
min        3.022529
25%       86.912977
50%      147.632226
75%      198.824620
max      268.985530
Name: coord.inicial.x, dtype: float64

In [98]:
data_eventos['coord.inicial.x'] = np.where(data_eventos['coord.inicial.x']<0, 0, data_eventos['coord.inicial.x'])
data_eventos['coord.inicial.x'] = np.where(data_eventos['coord.inicial.x']>272, 272, data_eventos['coord.inicial.x'])

In [99]:
data_eventos['coord.inicial.y'].describe() # de 0 a 162

count    332.000000
mean      77.310241
std       45.467396
min       18.000000
25%       22.000000
50%       81.000000
75%      119.000000
max      147.000000
Name: coord.inicial.y, dtype: float64

In [100]:
data_eventos['coord.inicial.y'] = data_eventos['coord.inicial.y'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.inicial.y'].describe() # de 0 a 162

count    332.000000
mean      77.032134
std       46.389886
min       -0.371007
25%       32.766447
50%       78.650884
75%      114.065950
max      166.780733
Name: coord.inicial.y, dtype: float64

In [101]:
data_eventos['coord.inicial.y'] = np.where(data_eventos['coord.inicial.y']<0, 0, data_eventos['coord.inicial.y'])
data_eventos['coord.inicial.y'] = np.where(data_eventos['coord.inicial.y']>162, 162, data_eventos['coord.inicial.y'])

In [102]:
data_eventos['coord.final.x'] = data_eventos['coord.final.x'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.final.x'] = np.where(data_eventos['coord.final.x']<0, 0, data_eventos['coord.final.x'])
data_eventos['coord.final.x'] = np.where(data_eventos['coord.final.x']>272, 272, data_eventos['coord.final.x'])

In [103]:
data_eventos['coord.final.y'] = data_eventos['coord.final.y'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.final.y'] = np.where(data_eventos['coord.final.y']<0, 0, data_eventos['coord.final.y'])
data_eventos['coord.final.y'] = np.where(data_eventos['coord.final.y']>162, 162, data_eventos['coord.final.y'])

In [104]:
data_eventos.iloc[:,-5:]

,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,NaN,96.049776,NaN,11.227084,NaN
1,NaN,97.761199,NaN,27.483089,NaN
2,9.0,39.269629,72.476893,126.098041,140.679581
3,NaN,20.492382,NaN,18.362701,NaN
4,NaN,38.385439,NaN,33.518420,NaN
...,...,...,...,...,...
328,NaN,253.944314,NaN,103.022681,NaN
329,NaN,248.970670,NaN,124.772284,NaN
330,NaN,82.510775,NaN,92.750242,NaN
331,NaN,52.045712,NaN,70.055348,NaN
332,NaN,NaN,NaN,NaN,NaN

In [105]:
round(data_eventos['coord.inicial.x'],0).astype('str')+','+round(data_eventos['coord.inicial.y'],0).astype('str')

0        96.0,11.0
1        98.0,27.0
2       39.0,126.0
3        20.0,18.0
4        38.0,34.0
          ...
328    254.0,103.0
329    249.0,125.0
330      83.0,93.0
331      52.0,70.0
332        nan,nan
Length: 333, dtype: object

In [106]:
# pasar en ambos formatos. Crear las dos cols originales q sean strings

data_eventos['coord.inicial'] = round(data_eventos['coord.inicial.x'],0).astype('str').str.split('.').str[0]+','+round(data_eventos['coord.inicial.y'],0).astype('str').str.split('.').str[0]
data_eventos['coord.final'] = round(data_eventos['coord.final.x'],0).astype('str').str.split('.').str[0]+','+round(data_eventos['coord.final.y'],0).astype('str').str.split('.').str[0]

In [107]:
data_eventos['coord.inicial'] = np.where(data_eventos['coord.inicial']=='nan,nan', None, data_eventos['coord.inicial'])
data_eventos['coord.final'] = np.where(data_eventos['coord.final']=='nan,nan', None, data_eventos['coord.final'])

In [108]:
data_eventos[['coord.inicial','coord.final']]

    coord.inicial coord.final
0           96,11        None
1           98,27        None
2          39,126      72,141
3           20,18        None
4           38,34        None
..            ...         ...
328       254,103        None
329       249,125        None
330         83,93        None
331         52,70        None
332          None        None

[333 rows x 2 columns]

# Escribir tabla filtros

In [109]:
data_eventos = data_eventos[~data_eventos['partido'].isna()].reset_index(drop=True)

In [111]:
data_eventos['partido'] = 'Colon'

In [112]:
data_eventos.tail()

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
327,2022/04/28,Colon,COLON2T,12:05:04,12:53:31,recuperacion,NaN,00:45:32,00:45:32,0.0,...,0,0,0,0,0,NaN,53.692639,NaN,135.300611,NaN
328,2022/04/28,Colon,COLON2T,12:05:04,12:53:31,duelo,NaN,00:45:41,00:45:41,0.0,...,0,0,0,0,0,NaN,253.944314,NaN,103.022681,NaN
329,2022/04/28,Colon,COLON2T,12:05:04,12:53:31,perdida,NaN,00:45:42,00:45:42,0.0,...,0,0,0,0,0,NaN,248.970670,NaN,124.772284,NaN
330,2022/04/28,Colon,COLON2T,12:05:04,12:53:31,pelota parada,NaN,00:46:25,00:46:25,0.0,...,0,0,0,0,0,NaN,82.510775,NaN,92.750242,NaN
331,2022/04/28,Colon,COLON2T,12:05:04,12:53:31,perdida,NaN,00:46:25,00:46:25,0.0,...,0,0,0,0,0,NaN,52.045712,NaN,70.055348,NaN

In [183]:
data_eventos.to_csv("../Datos generados para la app/reserva22-fecha12-colon-tabla_filtros.csv",index=False)

In [184]:
data_eventos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 82 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Session.Start.Date                  224 non-null    object
 1   partido                             224 non-null    object
 2   tiempo                              224 non-null    object
 3   Session.Start                       224 non-null    object
 4   Session.End                         224 non-null    object
 5   Evento                              224 non-null    object
 6   Tag.Notes                           0 non-null      float64
 7   Tag.Start                           224 non-null    object
 8   Tag.End                             224 non-null    object
 9   Tag.Duration.(secs)                 224 non-null    float64
 10  coord.inicial                       224 non-null    object
 11  Subevento                           224 non-null    object
 12  Jugador.2                           40 non-null     float64
 13  Jugador.1                           224 non-null    float64
 14  coord.final                         40 non-null     object
 15  Optional.Column                     0 non-null      float64
 16  segundos                            224 non-null    float64
 17  remate-Gol                          224 non-null    int64
 18  remate-Fuera                        224 non-null    int64
 19  remate-Al-arco                      224 non-null    int64
 20  remate-Interceptado                 224 non-null    int64
 21  remate-Cabeza                       224 non-null    int64
 22  pase-Asistencia                     224 non-null    int64
 23  pase-Completado                     224 non-null    int64
 24  pase-Interceptado                   224 non-null    int64
 25  pase-Fuera                          224 non-null    int64
 26  pase-Inteligente                    224 non-null    int64
 27  centro-Asistencia                   224 non-null    int64
 28  centro-Completado                   224 non-null    int64
 29  centro-Interceptado                 224 non-null    int64
 30  centro-Bloqueado                    224 non-null    int64
 31  centro-Fuera                        224 non-null    int64
 32  duelo-Aereo-Perdido                 224 non-null    int64
 33  duelo-Aereo-Ganado                  224 non-null    int64
 34  duelo-Disputa-suelo-Perdida         224 non-null    int64
 35  duelo-Disputa-suelo-Ganada          224 non-null    int64
 36  duelo-Gambeta-contra-Ganada         224 non-null    int64
 37  duelo-Gambeta-contra-Perdida        224 non-null    int64
 38  duelo-Gambeta-favor-Perdida         224 non-null    int64
 39  duelo-Gambeta-favor-Ganada          224 non-null    int64
 40  duelo-Pivote-Perdido                224 non-null    int64
 41  duelo-Pivote-Ganado                 224 non-null    int64
 42  falta-Cometida                      224 non-null    int64
 43  falta-Recibida                      224 non-null    int64
 44  falta-Penal-cometido                224 non-null    int64
 45  falta-Penal-recibido                224 non-null    int64
 46  falta-Offside                       224 non-null    int64
 47  falta-Tarjeta-amarilla              224 non-null    int64
 48  falta-Tarjeta-roja                  224 non-null    int64
 49  recuperacion-Robo                   224 non-null    int64
 50  recuperacion-Encontrada             224 non-null    int64
 51  recuperacion-Intercepcion-suelo     224 non-null    int64
 52  recuperacion-Intercepcion-aereo     224 non-null    int64
 53  recuperacion-Intercepcion-anticipo  224 non-null    int64
 54  recuperacion-Disputa-suelo          224 non-null    int64
 55  parado-Lateral-interceptado         224 non-null    int64
 56  parado-Lateral-completado           224 non-null    int64
 57  parado-Corner-interceptado          224 non-null    int64
 58  parado-Corner-completado            224 non-null    int64
 59  parado-Tiro-libre-incompleto        224 non-null    int64
 60  parado-Tiro-libre-completado        224 non-null    int64
 61  perdida-Gambeta-favor               224 non-null    int64
 62  perdida-Robo                        224 non-null    int64
 63  perdida-Intercepcion                224 non-null    int64
 64  perdida-Error-tecnico               224 non-null    int64
 65  perdida-Balon-fuera                 224 non-null    int64
 66  perdida-Situacion-rival             224 non-null    int64
 67  perdida-Atajada                     224 non-null    int64
 68  arquero-Gol-rival                   224 non-null    int64
 69  arquero-Gol-rival-atajable          224 non-null    int64
 70  arquero-Atajada                     224 non-null    int64
 71  arquero-Intercepcion-aerea          224 non-null    int64
 72  arquero-Intercepcion                224 non-null    int64
 73  arquero-Anticipo                    224 non-null    int64
 74  arquero-Saque-mano                  224 non-null    int64
 75  arquero-Saque-pie                   224 non-null    int64
 76  arquero-Saque-meta                  224 non-null    int64
 77  coord.final.num                     40 non-null     float64
 78  coord.inicial.x                     224 non-null    float64
 79  coord.final.x                       40 non-null     float64
 80  coord.inicial.y                     224 non-null    float64
 81  coord.final.y                       40 non-null     float64
dtypes: float64(11), int64(60), object(11)
memory usage: 143.6+ KB

In [ ]:
data_eventos[[col for col in data_eventos.columns if 'perdida' in col]].sum()

In [ ]:
data_eventos[data_eventos['Jugador.1']==3][['Jugador.1','coord.inicial','coord.final','Subevento']+[col for col in data_eventos.columns if 'perdida' in col]]

# Agregar

ARQUERO
- que siempre que hay una atajada haya un remate antes para saber desde donde proviene
- que el remate antes de gol o atajada tenga coord inicio y final
- agregar rebote
- ver como poner los mano a mano
- INTERCEPCIONES (poner antes de donde proviene del rival)

In [ ]:
data_eventos.info()

In [ ]:
data_eventos.iloc[:,12:].apply(lambda x: x.sum(), axis='rows')