In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import glob
import os
#pd.set_option('display.max_rows', 200)

# Carga de datos

In [2]:
# merging the files
files_joined = os.path.join('..\\..\\datos etiquetas\\Final - Lanus', "*.csv")

# Return a list of all joined files
list_files = glob.glob(files_joined)

#print("** Merging multiple csv files into a single pandas dataframe **")
# Merge files by joining all files
data = pd.concat(map(pd.read_csv, list_files), ignore_index=True)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 313 entries, 0 to 312
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Session Start Date   313 non-null    object
 1   Event                313 non-null    object
 2   Session Name         313 non-null    object
 3   Session Start        313 non-null    object
 4   Session End          313 non-null    object
 5   Tag Description      313 non-null    object
 6   Tag Notes            0 non-null      float64
 7   Tag Start            313 non-null    object
 8   Tag End              313 non-null    object
 9   Tag Duration (secs)  313 non-null    float64
 10  Dificultad           2 non-null      object
 11  Jugador2             234 non-null    object
 12  Zonas_final          311 non-null    object
 13  Calificacion         1 non-null      object
 14  Zonas                308 non-null    float64
 15  Jugador              309 non-null    float64
 16  Categoria            308 non-null    object
 17  Optional Column      0 non-null      float64
dtypes: float64(5), object(13)
memory usage: 44.1+ KB

In [5]:
# data.columns = ['Session Start Date','partido','tiempo','Session Start',
#        'Session End','Evento','Tag Notes','Tag Start', 'Tag End',
#        'Tag Duration (secs)','coord inicial','Subevento','Jugador 2','Jugador 1','coord final','Optional Column']

data.columns = ['Session Start Date','partido','tiempo','Session Start',
       'Session End','Evento','Tag Notes','Tag Start', 'Tag End',
       'Tag Duration (secs)','Dificultad','Jugador 2','coord final','Calificacion','coord inicial','Jugador 1','Subevento','Optional Column']

In [6]:
'''TIEMPO'''

from datetime import timedelta

def seconder(x):
    hr, mins, secs = map(float, x.split(':'))
    td = timedelta(hours= hr, minutes=mins, seconds=secs)
    return td.total_seconds()
data['segundos'] = data['Tag Start'].apply(seconder)

In [7]:
data = data.append(data.iloc[-1,:]).reset_index(drop=True)
data.loc[-1,'Evento'] = np.nan
data.loc[-1,'Subevento'] = np.nan
data = data.drop_duplicates()
data = data.reset_index(drop=True)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314 entries, 0 to 313
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Session Start Date   313 non-null    object
 1   partido              313 non-null    object
 2   tiempo               313 non-null    object
 3   Session Start        313 non-null    object
 4   Session End          313 non-null    object
 5   Evento               313 non-null    object
 6   Tag Notes            0 non-null      float64
 7   Tag Start            313 non-null    object
 8   Tag End              313 non-null    object
 9   Tag Duration (secs)  313 non-null    float64
 10  Dificultad           2 non-null      object
 11  Jugador 2            234 non-null    object
 12  coord final          311 non-null    object
 13  Calificacion         1 non-null      object
 14  coord inicial        308 non-null    float64
 15  Jugador 1            309 non-null    float64
 16  Subevento            308 non-null    object
 17  Optional Column      0 non-null      float64
 18  segundos             313 non-null    float64
dtypes: float64(6), object(13)
memory usage: 46.7+ KB

In [9]:
data

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),Dificultad,Jugador 2,coord final,Calificacion,coord inicial,Jugador 1,Subevento,Optional Column,segundos
0,2022/05/31,LANUS,completo,16:25:14,19:08:14,Falta,NaN,00:25:09,00:25:09,0.0,NaN,NaN,Volver,NaN,14.0,9.0,Hecha,NaN,1509.0
1,2022/05/31,LANUS,completo,16:25:14,19:08:14,Pase,NaN,00:27:08,00:27:08,0.0,NaN,6,2,NaN,3.0,1.0,S arquero pie,NaN,1628.0
2,2022/05/31,LANUS,completo,16:25:14,19:08:14,Pase,NaN,00:27:13,00:27:13,0.0,NaN,10,14,NaN,7.0,6.0,largo,NaN,1633.0
3,2022/05/31,LANUS,completo,16:25:14,19:08:14,Pase,NaN,00:27:15,00:27:15,0.0,NaN,8,14,NaN,14.0,10.0,corto,NaN,1635.0
4,2022/05/31,LANUS,completo,16:25:14,19:08:14,Pase,NaN,00:27:15,00:27:15,0.0,NaN,10,14,NaN,14.0,8.0,corto,NaN,1635.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,2022/05/31,LANUS,completo,16:25:14,19:08:14,Pase,NaN,02:14:18,02:14:18,0.0,NaN,20,9,NaN,5.0,2.0,corto,NaN,8058.0
310,2022/05/31,LANUS,completo,16:25:14,19:08:14,Remate pie,NaN,02:14:26,02:14:26,0.0,NaN,Rival,22,NaN,18.0,20.0,Larga distancia,NaN,8066.0
311,2022/05/31,LANUS,completo,16:25:14,19:08:14,Perdida,NaN,02:14:26,02:14:26,0.0,NaN,NaN,Volver,NaN,18.0,20.0,Atajada,NaN,8066.0
312,2022/05/31,LANUS,completo,16:25:14,19:08:14,Perdida,NaN,00:53:37,00:53:37,0.0,NaN,NaN,Volver,NaN,21.0,9.0,Balon afuera fondo,NaN,3217.0
313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#data['segundos'] = np.random.randint(1, 600, data.shape[0])
#data

In [10]:
'''CORREGIR MAYUSCULAS Y COSAS DE EVENTOS'''

data['Evento'] = data['Evento'].str.lower().str.strip()
data['Subevento'] = data['Subevento'].str.lower().str.strip()

# Estadisticas basicas

In [11]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       remate atajable              3
              salida suelo                 1
              salvada/atajada              2
falta         hecha                        9
              recibida                    15
gol rival     directa                      1
pase          corto                      157
              largo                       13
              medio                       44
              s arquero mano               2
              s arquero pie                7
perdida       atajada                      1
              balon afuera fondo           6
              balon afuera lateral         2
              interceptado                22
              robo                         4
remate cabeza dificil                      1
              facil                        1
remate pie    corta distancia              4
              larga distancia              1
              media distancia              8
tarjeta       amarilla                     4

In [12]:
data.groupby(['Jugador 1','Evento','Subevento']).size().to_frame('cantidad')

                                      cantidad
Jugador 1 Evento     Subevento
1.0       arquero    remate atajable         3
                     salida suelo            1
                     salvada/atajada         2
          pase       corto                   2
                     medio                   3
...                                        ...
20.0      pase       corto                   1
          perdida    atajada                 1
                     interceptado            1
          remate pie larga distancia         1
                     media distancia         1

[92 rows x 1 columns]

# Filtros para la app

Disparos
---
- gol
- fuera
- al arco
- interceptado
- cabeza

Pase
---
- asistencia
- completado
- interceptado
- fuera
- inteligente

Centros
---
- asistencia
- completado
- interceptado
- bloqueado
- fuera

Duelos
---
- ganado
- perdido
- duelo aereo
- disputa suelo
- gambeta en contra
- gambeta a favor
- pivote

Faltas
---
- falta cometida
- falta recibida
- penal
- tarjeta amarilla
- tarjeta roja
- off-side

Recuperacion
---
- robo
- encontradas
- intercepcion suelo
- intercepcion aereo
- intercepcion anticipo
- disputa suelo

Pelota parada
---
- lateral completado
- lateral interceptado
- corner completado
- corner interceptado
- tiro libre

Perdida
---
- gambeta a favor
- robo
- intercepcion suelo
- intercepcion aereo
- error tecnico
- balon afuera
- genero situacion rival
- genero gol rival
- atajada rival

Arquero
---
- gol en contra
- atajada facil
- atajada dificil
- mano a mano
- rebote
- intercepcion aereo
- intercepcion aereo anticipo
- completado
- interceptado
- saque arquero pie
- saque arquero mano
- saque meta
- pase


LO QUE HAY QUE HACER ES CREAR UNA COLUMNA POR CADA UNO DE ESOS FILTROS CON 0-1. QUEDAR CON UNA SOLA FILA POR ACCION.

In [13]:
data_eventos = data.copy()
data_eventos.shape

(314, 19)

# Disparos

- gol: siempre tiene que haber un disparo antes de un gol? Que pasa cuando es en contra, por ejemplo. Asegurarse que siempre antes de un gol poner disparo porque si no no lo toma aca
- fuera: asegurarse de poner que pasa siempre despues de los remates
- al arco: tiene que haber una perdida en evento y atajada en subevento, desupes de un remate
- interceptado
- cabeza

In [14]:
#gol
'''si data[i] es remate y data[i+1] es gol'''

data_eventos['remate-Gol'] = 0
for i in range(len(data_eventos)-1):
    #if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') | (data_eventos.loc[i,'Evento']=='pelota parada'):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') :
        if (data_eventos.loc[i+1,'Evento']=='gol'):
            data_eventos.loc[i,'remate-Gol'] = 1
data_eventos.loc[data_eventos['remate-Gol'] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol]
Index: []

In [15]:
#fuera
'''si data[i] es remate y data[i+1] es perdida balon fuera'''
colname = 'remate-Fuera'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza'):
        if (data_eventos.loc[i+1,'Evento']=='perdida'):
            if('balon afuera' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Jugador 2,coord final,Calificacion,coord inicial,Jugador 1,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera
22,2022/05/31,LANUS,completo,16:25:14,19:08:14,remate pie,NaN,00:32:29,00:32:29,0.0,...,Rival,22,NaN,20.0,11.0,corta distancia,NaN,1949.0,0,1
125,2022/05/31,LANUS,completo,16:25:14,19:08:14,remate pie,NaN,00:59:50,00:59:50,0.0,...,Rival,22,NaN,20.0,9.0,corta distancia,NaN,3590.0,0,1
224,2022/05/31,LANUS,completo,16:25:14,19:08:14,remate cabeza,NaN,01:46:09,01:46:09,0.0,...,Rival,22,NaN,21.0,2.0,dificil,NaN,6369.0,0,1

In [16]:
#al arco
'''si data[i] es remate y data[i+1] es perdida atajada'''

colname = 'remate-Al-arco'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza'):
        if (data_eventos.loc[i+1,'Evento']=='perdida'): 
            if('atajada' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,coord final,Calificacion,coord inicial,Jugador 1,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco
310,2022/05/31,LANUS,completo,16:25:14,19:08:14,remate pie,NaN,02:14:26,02:14:26,0.0,...,22,NaN,18.0,20.0,larga distancia,NaN,8066.0,0,0,1

In [17]:
#bloqueado
'''si data[i] es remate y data[i] es remate bloqueado o data[i+1] es perdida error tecnico'''

colname = 'remate-Interceptado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='remate pie') | (data_eventos.loc[i,'Evento']=='remate cabeza') :
        if (data_eventos.loc[i,'Subevento'] == 'remate bloqueado'): 
            data_eventos.loc[i,colname] = 1
        elif(data_eventos.loc[i+1,'Evento']=='perdida'):
            if('error tecnico' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado]
Index: []

[0 rows x 23 columns]

In [18]:
#cabeza
'''si data[i] es remate cabeza'''

colname = 'remate-Cabeza'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='remate cabeza'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,coord inicial,Jugador 1,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza
98,2022/05/31,LANUS,completo,16:25:14,19:08:14,remate cabeza,NaN,00:53:36,00:53:36,0.0,...,21.0,9.0,facil,NaN,3216.0,0,0,0,0,1
224,2022/05/31,LANUS,completo,16:25:14,19:08:14,remate cabeza,NaN,01:46:09,01:46:09,0.0,...,21.0,2.0,dificil,NaN,6369.0,0,1,0,0,1

# Pase

- asistencia
- completado
- interceptado
- fuera
- inteligente

In [19]:
data[data.Evento=='pase'].groupby(['Evento','Subevento']).size().to_frame('cantidad')

                       cantidad
Evento Subevento
pase   corto                157
       largo                 13
       medio                 44
       s arquero mano         2
       s arquero pie          7

In [20]:
data[(data.Evento=='pase')]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),Dificultad,Jugador 2,coord final,Calificacion,coord inicial,Jugador 1,Subevento,Optional Column,segundos
1,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:27:08,00:27:08,0.0,NaN,6,2,NaN,3.0,1.0,s arquero pie,NaN,1628.0
2,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:27:13,00:27:13,0.0,NaN,10,14,NaN,7.0,6.0,largo,NaN,1633.0
3,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:27:15,00:27:15,0.0,NaN,8,14,NaN,14.0,10.0,corto,NaN,1635.0
4,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:27:15,00:27:15,0.0,NaN,10,14,NaN,14.0,8.0,corto,NaN,1635.0
5,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:27:20,00:27:20,0.0,NaN,11,19,NaN,14.0,10.0,largo,NaN,1640.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,02:13:23,02:13:23,0.0,NaN,18,16,NaN,16.0,15.0,corto,NaN,8003.0
304,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,02:13:25,02:13:25,0.0,NaN,5,17,NaN,16.0,18.0,corto,NaN,8005.0
305,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,02:13:28,02:13:28,0.0,NaN,2,14,NaN,14.0,5.0,corto,NaN,8008.0
308,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,02:14:18,02:14:18,0.0,NaN,2,4,NaN,3.0,2.0,s arquero pie,NaN,8058.0
309,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,02:14:18,02:14:18,0.0,NaN,20,9,NaN,5.0,2.0,corto,NaN,8058.0

In [21]:
data_eventos.head()

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,coord inicial,Jugador 1,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza
0,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,00:25:09,00:25:09,0.0,...,14.0,9.0,hecha,NaN,1509.0,0,0,0,0,0
1,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:27:08,00:27:08,0.0,...,3.0,1.0,s arquero pie,NaN,1628.0,0,0,0,0,0
2,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:27:13,00:27:13,0.0,...,7.0,6.0,largo,NaN,1633.0,0,0,0,0,0
3,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:27:15,00:27:15,0.0,...,14.0,10.0,corto,NaN,1635.0,0,0,0,0,0
4,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:27:15,00:27:15,0.0,...,14.0,8.0,corto,NaN,1635.0,0,0,0,0,0

In [22]:
#asistencia
'''si data[i] es pase, data[i+1] es remate y data[i+2] es gol'''
colname = 'pase-Asistencia'
data_eventos[colname] = 0
for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Evento']=='pase'):
        if ('remate' in data_eventos.loc[i+1,'Evento']):
            if (data_eventos.loc[i+2,'Evento']=='gol'):
                data_eventos.loc[i,colname] = 1
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia]
Index: []

[0 rows x 25 columns]

In [23]:
##completado
'''si data[i] es pase no bloqueado y data[i+1] no es perdida interceptado o balon afuera'''

colname = 'pase-Completado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']!='centro aereo') & (data_eventos.loc[i,'Subevento']!='s arquero mano') & (data_eventos.loc[i,'Subevento']!='bloqueado'):
        if (data_eventos.loc[i+1,'Evento'] != 'perdida') | (data_eventos.loc[i,'Jugador 1'] != data_eventos.loc[i+1,'Jugador 1']) | (data_eventos.loc[i+1,'Subevento'] == 'offside' ):
            data_eventos.loc[i,colname] = 1
        
        #elif ('intercep' not in data_eventos.loc[i+1,'Subevento']) & ('balon afuera' not in data_eventos.loc[i+1,'Subevento']) & ('encontrad' not in data_eventos.loc[i+1,'Subevento']):
        #    data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Subevento,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado
1,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:27:08,00:27:08,0.0,...,s arquero pie,NaN,1628.0,0,0,0,0,0,0,1
2,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:27:13,00:27:13,0.0,...,largo,NaN,1633.0,0,0,0,0,0,0,1
3,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:27:15,00:27:15,0.0,...,corto,NaN,1635.0,0,0,0,0,0,0,1
4,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:27:15,00:27:15,0.0,...,corto,NaN,1635.0,0,0,0,0,0,0,1
7,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:28:45,00:28:45,0.0,...,medio,NaN,1725.0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,02:13:23,02:13:23,0.0,...,corto,NaN,8003.0,0,0,0,0,0,0,1
304,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,02:13:25,02:13:25,0.0,...,corto,NaN,8005.0,0,0,0,0,0,0,1
305,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,02:13:28,02:13:28,0.0,...,corto,NaN,8008.0,0,0,0,0,0,0,1
308,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,02:14:18,02:14:18,0.0,...,s arquero pie,NaN,8058.0,0,0,0,0,0,0,1
309,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,02:14:18,02:14:18,0.0,...,corto,NaN,8058.0,0,0,0,0,0,0,1

In [24]:
data_eventos.loc[data_eventos[colname] == 1].Subevento.value_counts()

corto            145
medio             37
largo             10
s arquero pie      5
Name: Subevento, dtype: int64

In [25]:
#interceptado
'''si data[i] es pase no bloqueado y data[i+1] es perdida interceptado'''

colname = 'pase-Interceptado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']!='pase bloqueado') & (data_eventos.loc[i,'Subevento']!='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
            if ('intercep' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,Optional Column,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado,pase-Interceptado
24,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:34:06,00:34:06,0.0,...,NaN,2046.0,0,0,0,0,0,0,1,1
48,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:38:32,00:38:32,0.0,...,NaN,2312.0,0,0,0,0,0,0,0,1
59,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:40:44,00:40:44,0.0,...,NaN,2444.0,0,0,0,0,0,0,1,1
65,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:43:12,00:43:12,0.0,...,NaN,2592.0,0,0,0,0,0,0,0,1
79,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:52:00,00:52:00,0.0,...,NaN,3120.0,0,0,0,0,0,0,0,1
108,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:58:30,00:58:30,0.0,...,NaN,3510.0,0,0,0,0,0,0,0,1
116,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:59:16,00:59:16,0.0,...,NaN,3556.0,0,0,0,0,0,0,0,1
130,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,01:03:59,01:03:59,0.0,...,NaN,3839.0,0,0,0,0,0,0,0,1
135,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,01:05:47,01:05:47,0.0,...,NaN,3947.0,0,0,0,0,0,0,0,1
145,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,01:06:28,01:06:28,0.0,...,NaN,3988.0,0,0,0,0,0,0,0,1
166,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,01:28:00,01:28:00,0.0,...,NaN,5280.0,0,0,0,0,0,0,0,1
176,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,01:30:50,01:30:50,0.0,...,NaN,5450.0,0,0,0,0,0,0,0,1
196,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,01:37:30,01:37:30,0.0,...,NaN,5850.0,0,0,0,0,0,0,0,1
205,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,01:42:28,01:42:28,0.0,...,NaN,6148.0,0,0,0,0,0,0,0,1
216,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,01:45:33,01:45:33,0.0,...,NaN,6333.0,0,0,0,0,0,0,0,1
238,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,01:54:06,01:54:06,0.0,...,NaN,6846.0,0,0,0,0,0,0,0,1
247,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,01:54:53,01:54:53,0.0,...,NaN,6893.0,0,0,0,0,0,0,0,1
273,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,02:03:01,02:03:01,0.0,...,NaN,7381.0,0,0,0,0,0,0,0,1
285,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,02:04:35,02:04:35,0.0,...,NaN,7475.0,0,0,0,0,0,0,0,1
296,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,02:11:08,02:11:08,0.0,...,NaN,7868.0,0,0,0,0,0,0,0,1
299,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,02:12:48,02:12:48,0.0,...,NaN,7968.0,0,0,0,0,0,0,0,1

In [26]:
#fuera
'''si data[i] es pase no bloqueado y data[i+1] es perdida fuera'''

colname = 'pase-Fuera'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']!='pase bloqueado') & (data_eventos.loc[i,'Subevento']!='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
            if ('balon afuera' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,segundos,remate-Gol,remate-Fuera,remate-Al-arco,remate-Interceptado,remate-Cabeza,pase-Asistencia,pase-Completado,pase-Interceptado,pase-Fuera
5,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:27:20,00:27:20,0.0,...,1640.0,0,0,0,0,0,0,0,0,1
11,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:29:00,00:29:00,0.0,...,1740.0,0,0,0,0,0,0,1,0,1
28,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:34:23,00:34:23,0.0,...,2063.0,0,0,0,0,0,0,1,0,1
261,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,02:00:01,02:00:01,0.0,...,7201.0,0,0,0,0,0,0,1,0,1

In [27]:
#inteligente

colname = 'pase-Inteligente'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Subevento']=='inteligente'):
        if (data_eventos.loc[i+1,'Evento'] != 'perdida') | (data_eventos.loc[i,'Jugador 1'] != data_eventos.loc[i+1,'Jugador 1']):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente]
Index: []

[0 rows x 29 columns]

# Centros

- asistencia
- completado
- interceptado
- bloqueado
- fuera

In [28]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       remate atajable              3
              salida suelo                 1
              salvada/atajada              2
falta         hecha                        9
              recibida                    15
gol rival     directa                      1
pase          corto                      157
              largo                       13
              medio                       44
              s arquero mano               2
              s arquero pie                7
perdida       atajada                      1
              balon afuera fondo           6
              balon afuera lateral         2
              interceptado                22
              robo                         4
remate cabeza dificil                      1
              facil                        1
remate pie    corta distancia              4
              larga distancia              1
              media distancia              8
tarjeta       amarilla                     4

In [29]:
#asistencia

colname = 'centro-Asistencia'
data_eventos[colname] = 0
for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if ('remate' in data_eventos.loc[i+1,'Evento']):
            if (data_eventos.loc[i+2,'Evento']=='gol'):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia]
Index: []

[0 rows x 30 columns]

In [30]:
#completado

colname = 'centro-Completado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] != 'perdida')| (data_eventos.loc[i,'Jugador 1'] != data_eventos.loc[i+1,'Jugador 1']) :
            data_eventos.loc[i,colname] = 1

            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado]
Index: []

[0 rows x 31 columns]

In [31]:
#interceptado
'''si data[i] es pase no bloqueado y data[i+1] es perdida interceptado'''

colname = 'centro-Interceptado'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
            if ('intercep' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado]
Index: []

[0 rows x 32 columns]

In [32]:
#bloqueado

colname = 'centro-Bloqueado'
data_eventos[colname] = 0
# for i in range(len(data_eventos)):
#     if (data_eventos.loc[i,'Subevento']=='centro bloqueado'):
#         data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado]
Index: []

[0 rows x 33 columns]

In [33]:
#fuera

colname = 'centro-Fuera'
data_eventos[colname] = 0
for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Subevento']=='centro aereo'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida'):
            if ('balon afuera' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera]
Index: []

[0 rows x 34 columns]

# Duelos

- ganado
- perdido
- duelo aereo
- disputa suelo
- gambeta en contra
- gambeta a favor
- pivote

In [34]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       remate atajable              3
              salida suelo                 1
              salvada/atajada              2
falta         hecha                        9
              recibida                    15
gol rival     directa                      1
pase          corto                      157
              largo                       13
              medio                       44
              s arquero mano               2
              s arquero pie                7
perdida       atajada                      1
              balon afuera fondo           6
              balon afuera lateral         2
              interceptado                22
              robo                         4
remate cabeza dificil                      1
              facil                        1
remate pie    corta distancia              4
              larga distancia              1
              media distancia              8
tarjeta       amarilla                     4

In [ ]:
# dejar_index= []
# for i in range(len(data_eventos)-1):
#     if (data_eventos.loc[i,'Evento']=='duelo'):
#         dejar_index.append(i-1)
#         dejar_index.append(i)
#         dejar_index.append(i+1)
# data_eventos.loc[dejar_index].head(10)

In [35]:
#duelo aereo

colname1 = 'duelo-Aereo-Perdido'
data_eventos[colname1] = 0
colname2 = 'duelo-Aereo-Ganado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='aereo'):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo')): 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1


data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado]
Index: []

[0 rows x 36 columns]

In [36]:
data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado]
Index: []

[0 rows x 36 columns]

In [37]:
#disputa suelo

colname1 = 'duelo-Disputa-suelo-Perdida'
data_eventos[colname1] = 0
colname2 = 'duelo-Disputa-suelo-Ganada'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='disputa suelo'):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo')): 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada]
Index: []

[0 rows x 38 columns]

In [38]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada]
Index: []

[0 rows x 38 columns]

In [39]:
#gambeta en contra

colname1 = 'duelo-Gambeta-contra-Ganada'
data_eventos[colname1] = 0
colname2 = 'duelo-Gambeta-contra-Perdida'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='gambeta en contra'):
        if ((data_eventos.loc[i+1,'Evento'] == 'recuperacion') & ((data_eventos.loc[i+1,'Subevento'] == 'duelo') )): 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida]
Index: []

[0 rows x 40 columns]

In [40]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida]
Index: []

[0 rows x 40 columns]

In [41]:
#gambeta a favor

colname1 = 'duelo-Gambeta-favor-Perdida'
data_eventos[colname1] = 0
colname2 = 'duelo-Gambeta-favor-Ganada'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='gambeta a favor'):
        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & ((data_eventos.loc[i+1,'Subevento'] == 'duelo') | ('balon afuera' in data_eventos.loc[i+1,'Subevento']))) : 
            data_eventos.loc[i,colname1] = 1
        else:
            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada]
Index: []

[0 rows x 42 columns]

In [42]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada]
Index: []

[0 rows x 42 columns]

In [43]:
#pivote

colname1 = 'duelo-Pivote-Perdido'
data_eventos[colname1] = 0
colname2 = 'duelo-Pivote-Ganado'
data_eventos[colname2] = 0

#for i in range(len(data_eventos)):
#    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='pivote'):
#        if ((data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo')) : 
#            data_eventos.loc[i,colname1] = 1
#        else:
#            data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado]
Index: []

[0 rows x 44 columns]

# Faltas

- falta cometida
- falta recibida
- penal
- tarjeta amarilla
- tarjeta roja
- off-side

In [44]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       remate atajable              3
              salida suelo                 1
              salvada/atajada              2
falta         hecha                        9
              recibida                    15
gol rival     directa                      1
pase          corto                      157
              largo                       13
              medio                       44
              s arquero mano               2
              s arquero pie                7
perdida       atajada                      1
              balon afuera fondo           6
              balon afuera lateral         2
              interceptado                22
              robo                         4
remate cabeza dificil                      1
              facil                        1
remate pie    corta distancia              4
              larga distancia              1
              media distancia              8
tarjeta       amarilla                     4

In [45]:
#falta cometida

colname = 'falta-Cometida'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='hecha'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Aereo-Ganado,duelo-Disputa-suelo-Perdida,duelo-Disputa-suelo-Ganada,duelo-Gambeta-contra-Ganada,duelo-Gambeta-contra-Perdida,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida
0,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,00:25:09,00:25:09,0.0,...,0,0,0,0,0,0,0,0,0,1
58,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,00:39:19,00:39:19,0.0,...,0,0,0,0,0,0,0,0,0,1
61,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,00:41:01,00:41:01,0.0,...,0,0,0,0,0,0,0,0,0,1
67,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,00:43:44,00:43:44,0.0,...,0,0,0,0,0,0,0,0,0,1
168,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,01:29:18,01:29:18,0.0,...,0,0,0,0,0,0,0,0,0,1
184,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,01:34:20,01:34:20,0.0,...,0,0,0,0,0,0,0,0,0,1
193,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,01:36:08,01:36:08,0.0,...,0,0,0,0,0,0,0,0,0,1
207,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,01:42:50,01:42:50,0.0,...,0,0,0,0,0,0,0,0,0,1
222,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,01:46:14,01:46:14,0.0,...,0,0,0,0,0,0,0,0,0,1

In [46]:
#falta recibida

colname = 'falta-Recibida'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='recibida'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Disputa-suelo-Perdida,duelo-Disputa-suelo-Ganada,duelo-Gambeta-contra-Ganada,duelo-Gambeta-contra-Perdida,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida,falta-Recibida
16,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,00:31:15,00:31:15,0.0,...,0,0,0,0,0,0,0,0,0,1
20,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,00:31:37,00:31:37,0.0,...,0,0,0,0,0,0,0,0,0,1
38,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,00:36:29,00:36:29,0.0,...,0,0,0,0,0,0,0,0,0,1
63,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,00:42:28,00:42:28,0.0,...,0,0,0,0,0,0,0,0,0,1
104,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,00:56:38,00:56:38,0.0,...,0,0,0,0,0,0,0,0,0,1
127,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,01:02:32,01:02:32,0.0,...,0,0,0,0,0,0,0,0,0,1
164,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,01:27:13,01:27:13,0.0,...,0,0,0,0,0,0,0,0,0,1
183,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,01:33:08,01:33:08,0.0,...,0,0,0,0,0,0,0,0,0,1
199,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,01:38:04,01:38:04,0.0,...,0,0,0,0,0,0,0,0,0,1
226,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,01:48:03,01:48:03,0.0,...,0,0,0,0,0,0,0,0,0,1
232,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,01:49:27,01:49:27,0.0,...,0,0,0,0,0,0,0,0,0,1
233,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,01:51:37,01:51:37,0.0,...,0,0,0,0,0,0,0,0,0,1
275,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,02:03:26,02:03:26,0.0,...,0,0,0,0,0,0,0,0,0,1
289,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,02:05:37,02:05:37,0.0,...,0,0,0,0,0,0,0,0,0,1
290,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,02:07:52,02:07:52,0.0,...,0,0,0,0,0,0,0,0,0,1

In [47]:
#penal cometido

colname = 'falta-Penal-cometido'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='penal cometido'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido]
Index: []

[0 rows x 47 columns]

In [48]:
#penal_recibido

colname = 'falta-Penal-recibido'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='penal recibido'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido]
Index: []

[0 rows x 48 columns]

In [49]:
#offside

colname = 'falta-Offside'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='offside'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside]
Index: []

[0 rows x 49 columns]

In [50]:
#tarjeta amarilla

colname = 'falta-Tarjeta-amarilla'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='hecha'):
        if (data_eventos.loc[i+1,'Evento']=='tarjeta') & (data_eventos.loc[i+1,'Subevento']=='amarilla'):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,duelo-Gambeta-favor-Perdida,duelo-Gambeta-favor-Ganada,duelo-Pivote-Perdido,duelo-Pivote-Ganado,falta-Cometida,falta-Recibida,falta-Penal-cometido,falta-Penal-recibido,falta-Offside,falta-Tarjeta-amarilla
67,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,00:43:44,00:43:44,0.0,...,0,0,0,0,1,0,0,0,0,1
184,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,01:34:20,01:34:20,0.0,...,0,0,0,0,1,0,0,0,0,1
222,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,01:46:14,01:46:14,0.0,...,0,0,0,0,1,0,0,0,0,1

In [51]:
#tarjeta roja

colname = 'falta-Tarjeta-roja'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='falta') & (data_eventos.loc[i,'Subevento']=='hecha'):
        if (data_eventos.loc[i+1,'Evento']=='tarjeta') & (data_eventos.loc[i+1,'Subevento']=='roja'):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja]
Index: []

[0 rows x 51 columns]

# Recuperacion

- robo
- encontradas
- intercepcion suelo
- intercepcion aereo
- intercepcion anticipo
- disputa suelo

In [52]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       remate atajable              3
              salida suelo                 1
              salvada/atajada              2
falta         hecha                        9
              recibida                    15
gol rival     directa                      1
pase          corto                      157
              largo                       13
              medio                       44
              s arquero mano               2
              s arquero pie                7
perdida       atajada                      1
              balon afuera fondo           6
              balon afuera lateral         2
              interceptado                22
              robo                         4
remate cabeza dificil                      1
              facil                        1
remate pie    corta distancia              4
              larga distancia              1
              media distancia              8
tarjeta       amarilla                     4

In [53]:
colname = 'recuperacion-Robo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if ((data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='robo')):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo]
Index: []

[0 rows x 52 columns]

In [54]:
#encontrada

colname = 'recuperacion-Encontrada'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='encontrada'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada]
Index: []

[0 rows x 53 columns]

In [55]:
#intercepcion suelo

colname = 'recuperacion-Intercepcion-suelo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='intercepcion'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo]
Index: []

[0 rows x 54 columns]

In [56]:
#intercepcion aereo

colname = 'recuperacion-Intercepcion-aereo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Subevento']=='intercepcion aereo'):
        data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo]
Index: []

[0 rows x 55 columns]

In [57]:
#intercepcion anticipo

colname = 'recuperacion-Intercepcion-anticipo'
data_eventos[colname] = 0
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion'):
        if ('anticipo' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1
            
data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo]
Index: []

[0 rows x 56 columns]

In [58]:
#disputa suelo

colname = 'recuperacion-Disputa-suelo'
data_eventos[colname] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='disputa suelo'):
        if (data_eventos.loc[i+1,'Evento'] == 'recuperacion') & (data_eventos.loc[i+1,'Subevento'] == 'duelo'): 
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo]
Index: []

[0 rows x 57 columns]

# Pelota parada

- lateral completado
- lateral interceptado
- corner completado
- corner interceptado
- tiro libre

In [59]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       remate atajable              3
              salida suelo                 1
              salvada/atajada              2
falta         hecha                        9
              recibida                    15
gol rival     directa                      1
pase          corto                      157
              largo                       13
              medio                       44
              s arquero mano               2
              s arquero pie                7
perdida       atajada                      1
              balon afuera fondo           6
              balon afuera lateral         2
              interceptado                22
              robo                         4
remate cabeza dificil                      1
              facil                        1
remate pie    corta distancia              4
              larga distancia              1
              media distancia              8
tarjeta       amarilla                     4

In [60]:
#lateral

colname1 = 'parado-Lateral-interceptado'
data_eventos[colname1] = 0
colname2 = 'parado-Lateral-completado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if ('lateral' in data_eventos.loc[i,'Subevento']):

            if ((data_eventos.loc[i+1,'Evento']=='perdida') & (data_eventos.loc[i+1,'Subevento']=='intercepcion')):
                data_eventos.loc[i,colname1] = 1
            if (data_eventos.loc[i+1,'Evento']=='duelo') & ((data_eventos.loc[i+1,'Subevento']=='aereo') | (data_eventos.loc[i+1,'Subevento']=='disputa suelo')):
                if (data_eventos.loc[i+2,'Evento']=='perdida') & (data_eventos.loc[i+2,'Subevento']=='duelo'):
                    data_eventos.loc[i,colname1] = 1
                
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if ('lateral' in data_eventos.loc[i,'Subevento']):
            if (data_eventos.loc[i,colname1]!= 1):
                data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado]
Index: []

[0 rows x 59 columns]

In [61]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado]
Index: []

[0 rows x 59 columns]

In [62]:
#corner

colname1 = 'parado-Corner-interceptado'
data_eventos[colname1] = 0
colname2 = 'parado-Corner-completado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-2):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i,'Subevento']=='tiro de esquina'):

            if ('intercep' in data_eventos.loc[i+1,'Subevento']):
                data_eventos.loc[i,colname1] = 1
            if (data_eventos.loc[i+1,'Evento']=='duelo') & ((data_eventos.loc[i+1,'Subevento']=='aereo') | (data_eventos.loc[i+1,'Subevento']=='disputa suelo')):
                if (data_eventos.loc[i+2,'Evento']=='perdida') & (data_eventos.loc[i+2,'Subevento']=='duelo'):
                    data_eventos.loc[i,colname1] = 1
                
for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i,'Subevento']=='tiro de esquina'):
            if (data_eventos.loc[i,colname1]!= 1):
                data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado]
Index: []

[0 rows x 61 columns]

In [63]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado]
Index: []

[0 rows x 61 columns]

In [64]:
#tiro libre
colname1 = 'parado-Tiro-libre-incompleto'
data_eventos[colname1] = 0
colname2 = 'parado-Tiro-libre-completado'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='pelota parada') & (data_eventos.loc[i,'Subevento']=='tiro libre') :
        if(data_eventos.loc[i+1,'Evento'] == 'perdida'):
            data_eventos.loc[i,colname1] = 1

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada'):
        if (data_eventos.loc[i,'Subevento']=='tiro libre'):
            if (data_eventos.loc[i,colname1]!= 1):
                data_eventos.loc[i,colname2] = 1

data_eventos.loc[data_eventos[colname1] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado]
Index: []

[0 rows x 63 columns]

In [65]:
data_eventos.loc[data_eventos[colname2] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado]
Index: []

[0 rows x 63 columns]

# Perdida

- gambeta a favor
- robo
- intercepcion
- error tecnico
- balon afuera
- genero situacion rival
- genero gol rival
- atajada rival

In [66]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       remate atajable              3
              salida suelo                 1
              salvada/atajada              2
falta         hecha                        9
              recibida                    15
gol rival     directa                      1
pase          corto                      157
              largo                       13
              medio                       44
              s arquero mano               2
              s arquero pie                7
perdida       atajada                      1
              balon afuera fondo           6
              balon afuera lateral         2
              interceptado                22
              robo                         4
remate cabeza dificil                      1
              facil                        1
remate pie    corta distancia              4
              larga distancia              1
              media distancia              8
tarjeta       amarilla                     4

In [67]:
#gambeta a favor

colname = 'perdida-Gambeta-favor'
data_eventos[colname] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='duelo') & (data_eventos.loc[i,'Subevento']=='gambeta a favor'):
        if (data_eventos.loc[i+1,'Evento'] == 'perdida') & (data_eventos.loc[i+1,'Subevento'] == 'duelo'): 
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor]
Index: []

[0 rows x 64 columns]

In [68]:
#robo

colname = 'perdida-Robo'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida') & (data_eventos.loc[i,'Subevento']=='robo'):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo]
Index: []

[0 rows x 65 columns]

In [69]:
#intercepcion

colname = 'perdida-Intercepcion'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida') & ('intercep' in str(data_eventos.loc[i,'Subevento'])):
        data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion]
Index: []

[0 rows x 66 columns]

In [70]:
#error tecnico

colname = 'perdida-Error-tecnico'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida') & (data_eventos.loc[i,'Subevento']=='error tecnico'):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico]
Index: []

[0 rows x 67 columns]

In [71]:
#balon afuera

colname = 'perdida-Balon-fuera'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida'):
        if ('balon afuera' in str(data_eventos.loc[i,'Subevento'])):
            data_eventos.loc[i,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera]
Index: []

[0 rows x 68 columns]

In [72]:
#situacion rival

colname = 'perdida-Situacion-rival'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='situacion rival'):
        if (data_eventos.loc[i,'Subevento']=='directa'):
            data_eventos.loc[i,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival]
Index: []

[0 rows x 69 columns]

In [73]:
#atajada

colname = 'perdida-Atajada'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='perdida'):
        if (data_eventos.loc[i,'Subevento']=='atajada'):
            data_eventos.loc[i,colname] = 1
            

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada]
Index: []

[0 rows x 70 columns]

# Arquero

- gol en contra
- atajada facil
- atajada dificil
- mano a mano
- rebote
- intercepcion aereo
- intercepcion aereo anticipo
- completado
- interceptado
- saque arquero pie
- saque arquero mano
- saque meta
- pase


Cuando pongo el gol rival, atajadas y rebotes, tengo q poner q todas las cosas se marquen como arquero-x:
- el remate rival (coordenadas inicial y final)
- la atajada (coordenada inicial)
- rebote (coordenada incial y final)
- el centro (si hay intercepcion aereo) , etc

In [74]:
data.groupby(['Evento','Subevento']).size().to_frame('cantidad')

                                    cantidad
Evento        Subevento
arquero       remate atajable              3
              salida suelo                 1
              salvada/atajada              2
falta         hecha                        9
              recibida                    15
gol rival     directa                      1
pase          corto                      157
              largo                       13
              medio                       44
              s arquero mano               2
              s arquero pie                7
perdida       atajada                      1
              balon afuera fondo           6
              balon afuera lateral         2
              interceptado                22
              robo                         4
remate cabeza dificil                      1
              facil                        1
remate pie    corta distancia              4
              larga distancia              1
              media distancia              8
tarjeta       amarilla                     4

In [75]:
#gol rival

colname1 = 'arquero-Gol-rival'
data_eventos[colname1] = 0
colname2 = 'arquero-Gol-rival-atajable'
data_eventos[colname2] = 0

for i in range(len(data_eventos)-1):
    if (data_eventos.loc[i,'Evento']=='gol rival'):
        data_eventos.loc[i,colname1] = 1
        if ('remate atajable' in data_eventos.loc[i+1,'Subevento']):
            data_eventos.loc[i,colname2] = 1
        

data_eventos.loc[data_eventos[colname1] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,parado-Tiro-libre-completado,perdida-Gambeta-favor,perdida-Robo,perdida-Intercepcion,perdida-Error-tecnico,perdida-Balon-fuera,perdida-Situacion-rival,perdida-Atajada,arquero-Gol-rival,arquero-Gol-rival-atajable
70,2022/05/31,LANUS,completo,16:25:14,19:08:14,gol rival,NaN,00:47:12,00:47:12,0.0,...,0,0,0,0,0,0,0,0,1,0

In [76]:
#atajada

colname = 'arquero-Atajada'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='arquero'):
        if ('atajada' in data_eventos.loc[i,'Subevento']) | (data_eventos.loc[i,'Subevento']=='mano a mano'):
            data_eventos.loc[i,colname] = 1
            if ('remate' in data_eventos.loc[i-1,'Evento']):
                data_eventos.loc[i-1,colname] = 1
            elif ('remate' in data_eventos.loc[i-2,'Evento']):
                data_eventos.loc[i-2,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

,Session Start Date,partido,tiempo,Session Start,Session End,Evento,Tag Notes,Tag Start,Tag End,Tag Duration (secs),...,perdida-Gambeta-favor,perdida-Robo,perdida-Intercepcion,perdida-Error-tecnico,perdida-Balon-fuera,perdida-Situacion-rival,perdida-Atajada,arquero-Gol-rival,arquero-Gol-rival-atajable,arquero-Atajada
62,2022/05/31,LANUS,completo,16:25:14,19:08:14,arquero,NaN,00:41:48,00:41:48,0.0,...,0,0,0,0,0,0,0,0,0,1
152,2022/05/31,LANUS,completo,16:25:14,19:08:14,arquero,NaN,01:07:09,01:07:09,0.0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
# #mano a mano
# data_eventos_con_rival = data.copy().reset_index(drop=True)

# colname = 'arquero-mano_a_mano'
# data_eventos_con_rival[colname] = 0

# for i in range(len(data_eventos_con_rival)):
#     if (data_eventos_con_rival.loc[i,'Evento']=='arquero'):
#         if ('mano a mano' in data_eventos_con_rival.loc[i,'Subevento']):
#             data_eventos_con_rival.loc[i,colname] = 1
#             if ('remate' in data_eventos_con_rival.loc[i-1,'Evento']):
#                 data_eventos_con_rival.loc[i,'Posicion incial'] = data_eventos_con_rival.loc[i-1,'Posicion incial']
#                 data_eventos_con_rival.loc[i,'Posicion final'] = data_eventos_con_rival.loc[i-1,'Posicion final']
#                 data_eventos_con_rival.loc[i,'coord inicial'] = data_eventos_con_rival.loc[i-1,'coord inicial']
#                 data_eventos_con_rival.loc[i,'coord final'] = data_eventos_con_rival.loc[i-1,'coord final']


# data_eventos_con_rival.loc[data_eventos_con_rival[colname] == 1]

In [77]:
#intercepcion aereo

colname = 'arquero-Intercepcion-aerea'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Jugador 1']=='1'):
        if ('intercepcion aereo' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea]
Index: []

[0 rows x 74 columns]

In [78]:
#intercepcion

colname = 'arquero-Intercepcion'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Jugador 1']=='1'):
        if (data_eventos.loc[i,'Subevento']=='intercepcion'):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion]
Index: []

[0 rows x 75 columns]

In [79]:
#anticipo

colname = 'arquero-Anticipo'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='recuperacion') & (data_eventos.loc[i,'Jugador 1']=='1'):
        if ('anticipo' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion, arquero-Anticipo]
Index: []

[0 rows x 76 columns]

In [80]:
#saque arquero mano

colname = 'arquero-Saque-mano'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Jugador 1']=='1'):
        if ('s arquero mano' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion, arquero-Anticipo, arquero-Saque-mano]
Index: []

[0 rows x 77 columns]

In [81]:
#saque arquero pie

colname = 'arquero-Saque-pie'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pase') & (data_eventos.loc[i,'Jugador 1']=='1'):
        if ('s arquero pie' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion, arquero-Anticipo, arquero-Saque-mano, arquero-Saque-pie]
Index: []

[0 rows x 78 columns]

In [82]:
#saque de meta

colname = 'arquero-Saque-meta'
data_eventos[colname] = 0

for i in range(len(data_eventos)):
    if (data_eventos.loc[i,'Evento']=='pelota parada') & (data_eventos.loc[i,'Jugador 1']=='1'):
        if ('saque de meta' in data_eventos.loc[i,'Subevento']):
            data_eventos.loc[i,colname] = 1

data_eventos.loc[data_eventos[colname] == 1]

Empty DataFrame
Columns: [Session Start Date, partido, tiempo, Session Start, Session End, Evento, Tag Notes, Tag Start, Tag End, Tag Duration (secs), Dificultad, Jugador 2, coord final, Calificacion, coord inicial, Jugador 1, Subevento, Optional Column, segundos, remate-Gol, remate-Fuera, remate-Al-arco, remate-Interceptado, remate-Cabeza, pase-Asistencia, pase-Completado, pase-Interceptado, pase-Fuera, pase-Inteligente, centro-Asistencia, centro-Completado, centro-Interceptado, centro-Bloqueado, centro-Fuera, duelo-Aereo-Perdido, duelo-Aereo-Ganado, duelo-Disputa-suelo-Perdida, duelo-Disputa-suelo-Ganada, duelo-Gambeta-contra-Ganada, duelo-Gambeta-contra-Perdida, duelo-Gambeta-favor-Perdida, duelo-Gambeta-favor-Ganada, duelo-Pivote-Perdido, duelo-Pivote-Ganado, falta-Cometida, falta-Recibida, falta-Penal-cometido, falta-Penal-recibido, falta-Offside, falta-Tarjeta-amarilla, falta-Tarjeta-roja, recuperacion-Robo, recuperacion-Encontrada, recuperacion-Intercepcion-suelo, recuperacion-Intercepcion-aereo, recuperacion-Intercepcion-anticipo, recuperacion-Disputa-suelo, parado-Lateral-interceptado, parado-Lateral-completado, parado-Corner-interceptado, parado-Corner-completado, parado-Tiro-libre-incompleto, parado-Tiro-libre-completado, perdida-Gambeta-favor, perdida-Robo, perdida-Intercepcion, perdida-Error-tecnico, perdida-Balon-fuera, perdida-Situacion-rival, perdida-Atajada, arquero-Gol-rival, arquero-Gol-rival-atajable, arquero-Atajada, arquero-Intercepcion-aerea, arquero-Intercepcion, arquero-Anticipo, arquero-Saque-mano, arquero-Saque-pie, arquero-Saque-meta]
Index: []

[0 rows x 79 columns]

In [83]:
data_eventos.columns = [col.replace(' ','.') for col in data_eventos.columns]

In [84]:
data_eventos.iloc[:,:20]

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),Dificultad,Jugador.2,coord.final,Calificacion,coord.inicial,Jugador.1,Subevento,Optional.Column,segundos,remate-Gol
0,2022/05/31,LANUS,completo,16:25:14,19:08:14,falta,NaN,00:25:09,00:25:09,0.0,NaN,NaN,Volver,NaN,14.0,9.0,hecha,NaN,1509.0,0
1,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:27:08,00:27:08,0.0,NaN,6,2,NaN,3.0,1.0,s arquero pie,NaN,1628.0,0
2,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:27:13,00:27:13,0.0,NaN,10,14,NaN,7.0,6.0,largo,NaN,1633.0,0
3,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:27:15,00:27:15,0.0,NaN,8,14,NaN,14.0,10.0,corto,NaN,1635.0,0
4,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,00:27:15,00:27:15,0.0,NaN,10,14,NaN,14.0,8.0,corto,NaN,1635.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,2022/05/31,LANUS,completo,16:25:14,19:08:14,pase,NaN,02:14:18,02:14:18,0.0,NaN,20,9,NaN,5.0,2.0,corto,NaN,8058.0,0
310,2022/05/31,LANUS,completo,16:25:14,19:08:14,remate pie,NaN,02:14:26,02:14:26,0.0,NaN,Rival,22,NaN,18.0,20.0,larga distancia,NaN,8066.0,0
311,2022/05/31,LANUS,completo,16:25:14,19:08:14,perdida,NaN,02:14:26,02:14:26,0.0,NaN,NaN,Volver,NaN,18.0,20.0,atajada,NaN,8066.0,0
312,2022/05/31,LANUS,completo,16:25:14,19:08:14,perdida,NaN,00:53:37,00:53:37,0.0,NaN,NaN,Volver,NaN,21.0,9.0,balon afuera fondo,NaN,3217.0,0
313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

# Crear coordenadas

- Primero mapear la media de coordenadas para cada sector
- Segundo agregar aleatoriedad

In [85]:
data_eventos['coord.inicial'].value_counts()

16.0    31
17.0    30
18.0    30
13.0    25
12.0    24
9.0     24
14.0    22
11.0    22
3.0     17
15.0    15
10.0    14
8.0     14
7.0      8
19.0     8
20.0     7
4.0      4
21.0     4
5.0      3
24.0     2
6.0      1
23.0     1
1.0      1
2.0      1
Name: coord.inicial, dtype: int64

In [86]:
data_eventos['coord.final'].value_counts()

Volver    78
16        27
17        26
13        21
15        17
12        17
18        16
22        16
9         15
14        13
10        12
11        12
8          8
21         7
19         6
7          5
20         5
4          3
2          2
3          2
5          1
24         1
23         1
Name: coord.final, dtype: int64

In [87]:
map_zona_coord_x = {  
1:22,
2:21,
3:12,
4:33,
5:21,
6:20,
7:68,
8:66,
9:65,
10:109,
11:108,
12:105,
13:162,
14:161,
15:160,
16:205,
17:203,
18:203,
19:251,
20:250,
21:238,
22:260,
23:250,
24:250
}

In [88]:
map_zona_coord_y = {  
1:18,
2:43,
3:82,
4:83,
5:117,
6:147,
7:22,
8:81,
9:141,
10:22,
11:82,
12:138,
13:21,
14:81,
15:142,
16:23,
17:80,
18:141,
19:20,
20:45,
21:80,
22:81,
23:119,
24:147
}

In [89]:
data_eventos['coord.final.num'] = np.where(data_eventos['coord.final'] == 'Volver',None, data_eventos['coord.final']).astype('float')

In [90]:
data_eventos['coord.inicial.x'] = data_eventos['coord.inicial'].map(map_zona_coord_x)
data_eventos['coord.final.x'] = data_eventos['coord.final.num'].map(map_zona_coord_x)
data_eventos['coord.inicial.y'] = data_eventos['coord.inicial'].map(map_zona_coord_y)
data_eventos['coord.final.y'] = data_eventos['coord.final.num'].map(map_zona_coord_y)
data_eventos.iloc[:,-5:]

,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,NaN,161.0,NaN,81.0,NaN
1,2.0,12.0,21.0,82.0,43.0
2,14.0,68.0,161.0,22.0,81.0
3,14.0,161.0,161.0,81.0,81.0
4,14.0,161.0,161.0,81.0,81.0
...,...,...,...,...,...
309,9.0,21.0,65.0,117.0,141.0
310,22.0,203.0,260.0,141.0,81.0
311,NaN,203.0,NaN,141.0,NaN
312,NaN,238.0,NaN,80.0,NaN
313,NaN,NaN,NaN,NaN,NaN

In [91]:
data_eventos['coord.inicial.x'].describe() # de 0 a 272

count    308.000000
mean     142.529221
std       67.063603
min       12.000000
25%      105.000000
50%      161.000000
75%      203.000000
max      251.000000
Name: coord.inicial.x, dtype: float64

In [92]:
# añadirles aleatoriedad
data_eventos['coord.inicial.x'] = data_eventos['coord.inicial.x'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.inicial.x'].describe()

count    308.000000
mean     142.988820
std       66.619144
min       -7.852838
25%       91.676956
50%      151.589649
75%      200.690586
max      270.206379
Name: coord.inicial.x, dtype: float64

In [93]:
data_eventos['coord.inicial.x'] = np.where(data_eventos['coord.inicial.x']<0, 0, data_eventos['coord.inicial.x'])
data_eventos['coord.inicial.x'] = np.where(data_eventos['coord.inicial.x']>272, 272, data_eventos['coord.inicial.x'])

In [94]:
data_eventos['coord.inicial.y'].describe() # de 0 a 162

count    308.000000
mean      82.438312
std       46.407129
min       18.000000
25%       23.000000
50%       81.000000
75%      138.000000
max      147.000000
Name: coord.inicial.y, dtype: float64

In [95]:
data_eventos['coord.inicial.y'] = data_eventos['coord.inicial.y'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.inicial.y'].describe() # de 0 a 162

count    308.000000
mean      81.303733
std       47.658597
min        0.660883
25%       36.508594
50%       79.292803
75%      127.501618
max      160.654076
Name: coord.inicial.y, dtype: float64

In [96]:
data_eventos['coord.inicial.y'] = np.where(data_eventos['coord.inicial.y']<0, 0, data_eventos['coord.inicial.y'])
data_eventos['coord.inicial.y'] = np.where(data_eventos['coord.inicial.y']>162, 162, data_eventos['coord.inicial.y'])

In [97]:
data_eventos['coord.final.x'] = data_eventos['coord.final.x'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.final.x'] = np.where(data_eventos['coord.final.x']<0, 0, data_eventos['coord.final.x'])
data_eventos['coord.final.x'] = np.where(data_eventos['coord.final.x']>272, 272, data_eventos['coord.final.x'])

In [98]:
data_eventos['coord.final.y'] = data_eventos['coord.final.y'] + np.random.uniform(-20,20,len(data_eventos))
data_eventos['coord.final.y'] = np.where(data_eventos['coord.final.y']<0, 0, data_eventos['coord.final.y'])
data_eventos['coord.final.y'] = np.where(data_eventos['coord.final.y']>162, 162, data_eventos['coord.final.y'])

In [99]:
data_eventos.iloc[:,-5:]

,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
0,NaN,141.483556,NaN,72.695666,NaN
1,2.0,29.207410,7.601449,98.667601,61.846023
2,14.0,66.919334,171.237285,37.209992,91.823134
3,14.0,162.084571,159.042266,89.782271,94.334705
4,14.0,141.222583,173.651122,100.901186,72.444414
...,...,...,...,...,...
309,9.0,24.096663,72.401853,103.012419,137.958540
310,22.0,185.155718,243.521667,136.411414,62.865206
311,NaN,222.337564,NaN,144.722291,NaN
312,NaN,219.510846,NaN,89.685318,NaN
313,NaN,NaN,NaN,NaN,NaN

In [100]:
round(data_eventos['coord.inicial.x'],0).astype('str')+','+round(data_eventos['coord.inicial.y'],0).astype('str')

0       141.0,73.0
1        29.0,99.0
2        67.0,37.0
3       162.0,90.0
4      141.0,101.0
          ...
309     24.0,103.0
310    185.0,136.0
311    222.0,145.0
312     220.0,90.0
313        nan,nan
Length: 314, dtype: object

In [101]:
# pasar en ambos formatos. Crear las dos cols originales q sean strings

data_eventos['coord.inicial'] = round(data_eventos['coord.inicial.x'],0).astype('str').str.split('.').str[0]+','+round(data_eventos['coord.inicial.y'],0).astype('str').str.split('.').str[0]
data_eventos['coord.final'] = round(data_eventos['coord.final.x'],0).astype('str').str.split('.').str[0]+','+round(data_eventos['coord.final.y'],0).astype('str').str.split('.').str[0]

In [102]:
data_eventos['coord.inicial'] = np.where(data_eventos['coord.inicial']=='nan,nan', None, data_eventos['coord.inicial'])
data_eventos['coord.final'] = np.where(data_eventos['coord.final']=='nan,nan', None, data_eventos['coord.final'])

In [103]:
data_eventos[['coord.inicial','coord.final']]

    coord.inicial coord.final
0          141,73        None
1           29,99        8,62
2           67,37      171,92
3          162,90      159,94
4         141,101      174,72
..            ...         ...
309        24,103      72,138
310       185,136      244,63
311       222,145        None
312        220,90        None
313          None        None

[314 rows x 2 columns]

# Escribir tabla filtros

In [104]:
data_eventos = data_eventos[~data_eventos['partido'].isna()].reset_index(drop=True)

In [105]:
data_eventos['partido'] = 'Lanus Final'

In [106]:
data_eventos.tail()

,Session.Start.Date,partido,tiempo,Session.Start,Session.End,Evento,Tag.Notes,Tag.Start,Tag.End,Tag.Duration.(secs),...,arquero-Intercepcion,arquero-Anticipo,arquero-Saque-mano,arquero-Saque-pie,arquero-Saque-meta,coord.final.num,coord.inicial.x,coord.final.x,coord.inicial.y,coord.final.y
308,2022/05/31,Lanus Final,completo,16:25:14,19:08:14,pase,NaN,02:14:18,02:14:18,0.0,...,0,0,0,0,0,4.0,10.295893,29.057410,101.108698,83.873904
309,2022/05/31,Lanus Final,completo,16:25:14,19:08:14,pase,NaN,02:14:18,02:14:18,0.0,...,0,0,0,0,0,9.0,24.096663,72.401853,103.012419,137.958540
310,2022/05/31,Lanus Final,completo,16:25:14,19:08:14,remate pie,NaN,02:14:26,02:14:26,0.0,...,0,0,0,0,0,22.0,185.155718,243.521667,136.411414,62.865206
311,2022/05/31,Lanus Final,completo,16:25:14,19:08:14,perdida,NaN,02:14:26,02:14:26,0.0,...,0,0,0,0,0,NaN,222.337564,NaN,144.722291,NaN
312,2022/05/31,Lanus Final,completo,16:25:14,19:08:14,perdida,NaN,00:53:37,00:53:37,0.0,...,0,0,0,0,0,NaN,219.510846,NaN,89.685318,NaN

In [107]:
data_eventos.to_csv("../Datos generados para la app/reserva22-final_lanus-tabla_filtros2.csv",index=False)

In [108]:
data_eventos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 313 entries, 0 to 312
Data columns (total 84 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Session.Start.Date                  313 non-null    object
 1   partido                             313 non-null    object
 2   tiempo                              313 non-null    object
 3   Session.Start                       313 non-null    object
 4   Session.End                         313 non-null    object
 5   Evento                              313 non-null    object
 6   Tag.Notes                           0 non-null      float64
 7   Tag.Start                           313 non-null    object
 8   Tag.End                             313 non-null    object
 9   Tag.Duration.(secs)                 313 non-null    float64
 10  Dificultad                          2 non-null      object
 11  Jugador.2                           234 non-null    object
 12  coord.final                         233 non-null    object
 13  Calificacion                        1 non-null      object
 14  coord.inicial                       308 non-null    object
 15  Jugador.1                           309 non-null    float64
 16  Subevento                           308 non-null    object
 17  Optional.Column                     0 non-null      float64
 18  segundos                            313 non-null    float64
 19  remate-Gol                          313 non-null    int64
 20  remate-Fuera                        313 non-null    int64
 21  remate-Al-arco                      313 non-null    int64
 22  remate-Interceptado                 313 non-null    int64
 23  remate-Cabeza                       313 non-null    int64
 24  pase-Asistencia                     313 non-null    int64
 25  pase-Completado                     313 non-null    int64
 26  pase-Interceptado                   313 non-null    int64
 27  pase-Fuera                          313 non-null    int64
 28  pase-Inteligente                    313 non-null    int64
 29  centro-Asistencia                   313 non-null    int64
 30  centro-Completado                   313 non-null    int64
 31  centro-Interceptado                 313 non-null    int64
 32  centro-Bloqueado                    313 non-null    int64
 33  centro-Fuera                        313 non-null    int64
 34  duelo-Aereo-Perdido                 313 non-null    int64
 35  duelo-Aereo-Ganado                  313 non-null    int64
 36  duelo-Disputa-suelo-Perdida         313 non-null    int64
 37  duelo-Disputa-suelo-Ganada          313 non-null    int64
 38  duelo-Gambeta-contra-Ganada         313 non-null    int64
 39  duelo-Gambeta-contra-Perdida        313 non-null    int64
 40  duelo-Gambeta-favor-Perdida         313 non-null    int64
 41  duelo-Gambeta-favor-Ganada          313 non-null    int64
 42  duelo-Pivote-Perdido                313 non-null    int64
 43  duelo-Pivote-Ganado                 313 non-null    int64
 44  falta-Cometida                      313 non-null    int64
 45  falta-Recibida                      313 non-null    int64
 46  falta-Penal-cometido                313 non-null    int64
 47  falta-Penal-recibido                313 non-null    int64
 48  falta-Offside                       313 non-null    int64
 49  falta-Tarjeta-amarilla              313 non-null    int64
 50  falta-Tarjeta-roja                  313 non-null    int64
 51  recuperacion-Robo                   313 non-null    int64
 52  recuperacion-Encontrada             313 non-null    int64
 53  recuperacion-Intercepcion-suelo     313 non-null    int64
 54  recuperacion-Intercepcion-aereo     313 non-null    int64
 55  recuperacion-Intercepcion-anticipo  313 non-null    int64
 56  recuperacion-Disputa-suelo          313 non-null    int64
 57  parado-Lateral-interceptado         313 non-null    int64
 58  parado-Lateral-completado           313 non-null    int64
 59  parado-Corner-interceptado          313 non-null    int64
 60  parado-Corner-completado            313 non-null    int64
 61  parado-Tiro-libre-incompleto        313 non-null    int64
 62  parado-Tiro-libre-completado        313 non-null    int64
 63  perdida-Gambeta-favor               313 non-null    int64
 64  perdida-Robo                        313 non-null    int64
 65  perdida-Intercepcion                313 non-null    int64
 66  perdida-Error-tecnico               313 non-null    int64
 67  perdida-Balon-fuera                 313 non-null    int64
 68  perdida-Situacion-rival             313 non-null    int64
 69  perdida-Atajada                     313 non-null    int64
 70  arquero-Gol-rival                   313 non-null    int64
 71  arquero-Gol-rival-atajable          313 non-null    int64
 72  arquero-Atajada                     313 non-null    int64
 73  arquero-Intercepcion-aerea          313 non-null    int64
 74  arquero-Intercepcion                313 non-null    int64
 75  arquero-Anticipo                    313 non-null    int64
 76  arquero-Saque-mano                  313 non-null    int64
 77  arquero-Saque-pie                   313 non-null    int64
 78  arquero-Saque-meta                  313 non-null    int64
 79  coord.final.num                     233 non-null    float64
 80  coord.inicial.x                     308 non-null    float64
 81  coord.final.x                       233 non-null    float64
 82  coord.inicial.y                     308 non-null    float64
 83  coord.final.y                       233 non-null    float64
dtypes: float64(10), int64(60), object(14)
memory usage: 205.5+ KB

In [ ]:
data_eventos[[col for col in data_eventos.columns if 'perdida' in col]].sum()

In [ ]:
data_eventos[data_eventos['Jugador.1']==3][['Jugador.1','coord.inicial','coord.final','Subevento']+[col for col in data_eventos.columns if 'perdida' in col]]

# Agregar

ARQUERO
- que siempre que hay una atajada haya un remate antes para saber desde donde proviene
- que el remate antes de gol o atajada tenga coord inicio y final
- agregar rebote
- ver como poner los mano a mano
- INTERCEPCIONES (poner antes de donde proviene del rival)

In [ ]:
data_eventos.info()

In [ ]:
data_eventos.iloc[:,12:].apply(lambda x: x.sum(), axis='rows')